<%= form_with(model: kesenjangan) do |form| %>
  <% if kesenjangan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kesenjangan.errors.count, "error") %> prohibited this kesenjangan from being saved:</h2>

      <ul>
        <% kesenjangan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :akses %>
    <%= form.text_field :akses %>
  </div>

  <div class="field">
    <%= form.label :partisipasi %>
    <%= form.text_field :partisipasi %>
  </div>

  <div class="field">
    <%= form.label :kontrol %>
    <%= form.text_field :kontrol %>
  </div>

  <div class="field">
    <%= form.label :manfaat %>
    <%= form.text_field :manfaat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
