<%= form_with(model: kepegawaian) do |form| %>
  <% if kepegawaian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kepegawaian.errors.count, "error") %> prohibited this kepegawaian from being saved:</h2>

      <ul>
        <% kepegawaian.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status_kepegawaian %>
    <%= form.text_field :status_kepegawaian %>
  </div>

  <div class="field">
    <%= form.label :jumlah %>
    <%= form.text_field :jumlah %>
  </div>

  <div class="field">
    <%= form.label :jabatan_id %>
    <%= form.text_field :jabatan_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
