<p id="notice"><%= notice %></p>

<h1>Kepegawaians</h1>

<table>
  <thead>
    <tr>
      <th>Status kepegawaian</th>
      <th>Jumlah</th>
      <th>Jabatan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kepegawaians.each do |kepegawaian| %>
      <tr>
        <td><%= kepegawaian.status_kepegawaian %></td>
        <td><%= kepegawaian.jumlah %></td>
        <td><%= kepegawaian.jabatan_id %></td>
        <td><%= link_to 'Show', kepegawaian %></td>
        <td><%= link_to 'Edit', edit_kepegawaian_path(kepegawaian) %></td>
        <td><%= link_to 'Destroy', kepegawaian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kepegawaian', new_kepegawaian_path %>
