<%= form_with(model: inovasi,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(inovasi),
                form_ajax_type_param: inovasi.new_record? ? 'afterbegin' : '',
                action: 'ajax:complete->form-ajax#processAjax'
              }) do |form| %>
  <% if inovasi.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= inovasi.errors.count %> kesalahan :</h2>
      <ol>
        <% inovasi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: 'form-label' %>
    <%= form.text_field :opd, class: 'form-control', readonly: true %>
  </div>
  <div class="field">
    <%= form.label :nip, class: 'form-label' %>
    <%= form.text_field :nip_asn, class: 'form-control', readonly: true %>
  </div>
  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.text_field :tahun, class: 'form-control', readonly: true %>
  </div>
  <div class="field">
    <%= form.label :usulan, class: 'form-label' %>
    <%= form.text_field :usulan, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :manfaat, class: 'form-label' %>
    <%= form.text_field :manfaat, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :uraian, class: 'form-label' %>
    <%= form.text_area :uraian, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit "Simpan Inisiatif Walikota baru" %>
  </div>
<% end %>
