<%= form_with(model: inovasi,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(inovasi),
                form_ajax_type_param: inovasi.new_record? ? 'afterbegin' : '',
                action: 'ajax:complete->form-ajax#processAjax'
}) do |form| %>
  <% if inovasi.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= inovasi.errors.count %> kesalahan :</h2>
      <ol>
        <% inovasi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: 'form-label' %>
    <%= form.select :opd, [],
     { include_blank: true, required: true },
     data: {
       placeholder: 'Pilih Opd',
       controller: 'dropdown',
       dropdown_jenis_value: 'extra',
       dropdown_parent_value: '#form-modal',
       dropdown_url_value: '/opds/filter_selected.json',
       dropdown_selected_value: @kode_opd,
     }  %>
  </div>
  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.text_field :tahun, class: 'form-control', readonly: true %>
    <%= form.hidden_field :is_active %>
    <%= form.hidden_field :is_from_kota %>
    <%= form.hidden_field :status %>
  </div>
  <div class="field">
    <%= form.label :nip, class: 'form-label' %>
    <%= form.text_field :nip_asn, class: 'form-control', readonly: true %>
  </div>
  <div class="field">
    <%= form.label :usulan, "Program Unggulan Walikota", class: 'form-label' %>
    <%= form.text_field :usulan, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :misi, class: 'form-label' %>
    <%= form.select :misi_id, [],
     { include_blank: true, required: true },
     data: {
       placeholder: 'Misi Kepala Daerah',
       controller: 'dropdown',
       dropdown_jenis_value: 'extra',
       dropdown_parent_value: '#form-modal',
       dropdown_url_value: '/misi_kota/lists.json',
       dropdown_selected_value: form.object.misi_id,
       action: 'change-visi@document->dropdown#updateKode'
     }  %>
  </div>

  <div class="field">
    <%= form.label :manfaat, "ASTA KARYA", class: 'form-label' %>
    <%= form.text_field :manfaat, class: 'form-control', required: true %>
  </div>
  <div class="field">
    <%= form.label :uraian, class: 'form-label' %>
    <%= form.text_area :uraian, class: 'form-control', required: true %>
  </div>
  <div class="actions">
    <%= form.submit "Simpan Inisiatif Walikota baru" %>
  </div>
<% end %>
