<tr id="<%= dom_id(inovasi) %>" class="<%= inovasi.pengusul_kota? ? '' : 'table-warning' %>">
  <td class="border text-gray-900 fw-bolder" scope="row"></td>
  <td class="border fw-bolder text-wrap"><%= inovasi.tahun %></td>
  <td class="border fw-bolder text-wrap program-unggulan"><%= inovasi.usulan %></td>
  <td class="border fw-bolder text-wrap asta-karya"><%= inovasi.manfaat %></td>
  <td class="border fw-bolder text-wrap"><%= inovasi.misi_with_urutan %></td>
  <td class="border fw-bolder"><%= inovasi.tag_dan_status %></td>
  <td class="border fw-bolder text-wrap"><%= inovasi.uraian_tag %></td>
  <td class="border fw-bolder text-wrap"><%= inovasi.uraian %></td>
  <td class="border fw-bolder text-wrap pengusul"><%= inovasi.asn_pengusul %></td>
  <td class="border fw-bolder text-wrap"><%= inovasi.opd_inovasi %></td>
  <td class="border fw-bolder text-wrap"><%= inovasi.keterangan_kolabs_opd(@kode_opd) %></td>
  <td class="border action-<%= dom_id(inovasi) %> text-center align-middle">
    <button class="btn btn-primary">Jumlah rekin: <span class="badge text-bg-warning text-center"><%= inovasi.all_usulans.size %></span></button>
  </td>
  <td class="fw-bolder border-bottom align-middle text-center">
    <% if !guest? && super_admin? %>
      <div class="d-grid gap-3">
        <%= link_to edit_inovasi_path(inovasi),
                    remote: true,
                    class: 'btn btn-sm btn-info',
                    data: {
                      controller: 'form-modal',
                      action: 'ajax:complete->form-modal#success:prevent',
                      bs_toggle: 'modal',
                      bs_target: '#form-modal'
                    } do %>
          <i class="fas fa-edit"></i>
          <span>Edit</span>
        <% end %>
        <%= link_to inovasi_path(inovasi),
                    method: :delete,
                    remote: true,
                    class: 'btn btn-sm btn-danger',
                    data: {
                      controller: 'form-ajax',
                      form_ajax_element_id_value: dom_id(inovasi),
                      confirm_swal: 'Hapus usulan inisiatif?',
                      action: 'ajax:success->form-ajax#ajaxDelete'
                    } do %>
          <i class="fas fa-trash"></i>
          <span>Hapus</span>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
