<%= content_for :html_title, "Inisiatif Walikota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Usulan</li>
  <li class="breadcrumb-item active" aria-current="page">Inisiatif Walikota</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-3">
          <h2 class="fs-5 fw-bold mb-0">Filter</h2>
        </div>
        <div class="col filter-form">
          <%= form_with url: filter_opd_tahun_inovasis_path, local: false,
                        method: :get, class: 'row',
                        data: {
                          controller: 'filter-render',
                          filter_render_target_id_value: 'inovasi-results',
                          action: 'ajax:success->filter-render#append'
                        } do |form| %>
            <div class="col">
              <%= form.select :opd, [],
               { include_blank: true },
               data: {
                 placeholder: 'Opd',
                 controller: 'dropdown',
                 dropdown_jenis_value: 'extra',
                 dropdown_url_value: '/opds/filter_selected.json',
                 dropdown_selected_value: @kode_opd,
                 dropdown_scope_value: 'all'
               }  %>
            </div>
            <div class="col">
              <%= form.select :tahun, [],
               { include_blank: true },
               data: {
                 placeholder: 'Tahun',
                 controller: 'dropdown',
                 dropdown_jenis_value: 'extra',
                 dropdown_url_value: '/tahuns.json',
                 dropdown_selected_value: @tahun
               }  %>
            </div>
            <div class="col-auto">
              <%= form.submit 'Filter', name: 'filter', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="inovasi-results">
      <%= render 'inovasis/content_inovasi' %>
    </div>
  </div>
<% end %>
