<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Usulan Inisiatif", inovasis_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Usulan Inisiatif</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush datatable" data-datatable>
            <thead class="thead-light">
              <tr>
                <th class="border-bottom text-gray-700" scope="col">No.</th>
                <th class="border-bottom text-gray-700" scope="col">Usulan</th>
                <th class="border-bottom text-gray-700" scope="col">Manfaat</th>
                <th class="border-bottom text-gray-700" scope="col">Uraian</th>
                <th class="border-bottom text-gray-700" scope="col">Pengusul</th>
                <th class="border-bottom text-gray-700" scope="col">Opd</th>
                <th class="border-bottom text-gray-700 text-center" scope="col">Status</th>
                <th class="border-bottom text-gray-700 text-center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @inovasis.each.with_index(1) do |inovasi, i| %>
                <% if inovasi.opd_pemilik == current_user.opd.kode_opd %>
                  <tr id="<%= dom_id(inovasi) %>">
                    <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                    <td class="fw-bolder text-wrap"><%= inovasi.usulan %></td>
                    <td class="fw-bolder text-wrap"><%= inovasi.manfaat %></td>
                    <td class="fw-bolder text-wrap"><%= inovasi.uraian %></td>
                    <td class="fw-bolder text-wrap"><%= inovasi.asn_pengusul %></td>
                    <td class="fw-bolder text-wrap"><%= inovasi.opd_asn %></td>
                    <td class="action-<%= dom_id(inovasi) %> text-center align-middle">
                      <% unless inovasi.is_active %>
                        <%= button_to toggle_is_active_inovasi_path(inovasi), remote: true, class: 'btn btn-primary d-inline-flex align-items-center toggle-active' do %>
                          Aktifkan
                          <i class="fas fa-check-circle text-success icon icon-xs ms-2"></i>
                        <% end %>
                      <% else %>
                        <% if inovasi.sasaran_aktif? %>
                          <button class="btn btn-success text-dark" disabled>Diambil Sasaran</button>
                        <% else %>
                          <button class='btn btn-primary d-inline-flex align-items-center toggle-active' disabled>
                            Aktif
                            <i class="fas fa-key text-success icon icon-xs ms-2"></i>
                          </button>
                        <% end %>
                      <% end %>
                    </td>
                    <td class="fw-bolder align-middle text-center">
                      <%= link_to edit_inovasi_path(inovasi), remote: true, class: 'mx-3', data: {'bs-toggle': 'modal', 'bs-target': '#form-inovasi'} do %>
                        <i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit usulan inovasi"></i>
                      <% end %>
                      <%= link_to inovasi_path(inovasi), method: :delete, remote: true, class: 'mx-3', data: {'confirm-swal': 'Hapus usulan?'} do %>
                        <i class="fas fa-trash" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus usulan inovasi"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'modal' %>
