<%= form_with(url: simpan_serapan_pagu_anggarans_path,
              method: :post,
              local: false,
              class: 'px-2',
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: "#serapan-#{kode}",
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <div class="field mb-3">
    <%= label_tag :bidang_urusan, "Bidang Urusan", class: 'form-label' %>
    <%= text_field :bidang_urusan, "bidang_urusan", class: 'form-control text-bold', value: bidang_urusan, disabled: true, style: "font-weight: bold;" %>
  </div>
  <div class="field mt-3 row" id="target-indikator">
    <h5>Pagu Anggaran</h5>
    <% pagu_anggarans.each do |pagu| %>
      <%= form.fields_for "pagu_serapans[]", pagu do |pg| %>
        <fieldset class="tahun col">
          <div class="field">
            <%= pg.label :tahun, class: 'form-label' %>
            <%= pg.text_field :tahun, { class: 'form-control', readonly: true } %>
            <%= pg.hidden_field :id %>
            <%= pg.hidden_field :jenis %>
            <%= pg.hidden_field :sub_jenis %>
            <%= pg.hidden_field :kode %>
            <%= pg.hidden_field :kode_opd %>
          </div>
          <div class="field">
            <%= pg.label :anggaran, { class: "form-label" } %>
            <%= pg.number_field :anggaran, { class: "form-control", step: 50_000_000 } %>
          </div>
          <div class="field">
            <%= pg.label :realisasi, { class: "form-label" } %>
            <%= pg.number_field :anggaran_realisasi, { class: "form-control", step: 50_000_000 } %>
          </div>
        </fieldset>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
