<%= form_with(model: @pagu_anggaran) do |form| %>
  <% if @pagu_anggaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagu_anggaran.errors.count, "error") %>, harap isi form berikut:</h2>
      <ul>
        <% @pagu_anggaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="card">
    <div class="card-body">
      <div class="field">
        <%= form.label :anggaran, class: "form-label" %>
        <%= form.number_field :anggaran, class: "form-control", step: 0.0000001, value: @anggaran %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

    </div>
  </div>
<% end %>
