<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>Program Kegiatan</h4>
      </div>
    </div>
  </div>
  <div class="card-body program-kegiatan">
    <table class="table table-bordered">
      <tr>
        <td class="w-35"><strong>Lembaga</strong></td>
        <td><%= programKegiatan.opd.lembaga.nama_lembaga %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Unit Eselon I/II</strong></td>
        <td><%= programKegiatan.opd.nama_opd %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Tahun</strong></td>
        <td><%= programKegiatan.tahun || @tahun %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Urusan</strong></td>
        <td><%= programKegiatan.nama_urusan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Bidang Urusan</strong></td>
        <td><%= programKegiatan.nama_bidang_urusan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Program</strong></td>
        <td><%= programKegiatan.nama_program %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Indikator Program (Outcome)</strong></td>
        <td><%= programKegiatan.indikator_program %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Target</strong></td>
        <td><%= programKegiatan.target_program %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Satuan</strong></td>
        <td><%= programKegiatan.satuan_target_program %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Kegiatan</strong></td>
        <td><%= programKegiatan.nama_kegiatan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Indikator Kinerja Kegiatan (Output)</strong></td>
        <td><%= programKegiatan.indikator_kinerja %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Volume Keluaran (target)</strong></td>
        <td><%= programKegiatan.target %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Satuan Ukur Keluaran (Output)</strong></td>
        <td><%= programKegiatan.satuan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Sub Kegiatan</strong></td>
        <td><%= programKegiatan.nama_subkegiatan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Indikator Sub Kegiatan (Output)</strong></td>
        <td><%= programKegiatan.indikator_subkegiatan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Target</strong></td>
        <td><%= programKegiatan.target_subkegiatan %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Satuan</strong></td>
        <td><%= programKegiatan.satuan_target_subkegiatan %></td>
      </tr>
    </table>
  </div>
</div>
