<div class="card">
  <div class="program-kegiatan">
    <table class="table table-bordered">
      <tr>
        <td>Lembaga</td>
        <td><%= programKegiatan.opd.lembaga.nama_lembaga %></td>
      </tr>
      <tr>
        <td>Unit Eselon I/II</td>
        <td><%= programKegiatan.opd.nama_opd %></td>
      </tr>
      <tr>
        <td>Program</td>
        <td><%= programKegiatan.nama_program %></td>
      </tr>
      <tr>
        <td>Indikator Program (Outcome)</td>
        <td><%= programKegiatan.indikator_program %></td>
      </tr>
      <tr>
        <td>Target</td>
        <td><%= programKegiatan.target_program %></td>
      </tr>
      <tr>
        <td>Satuan</td>
        <td><%= programKegiatan.satuan_target_program %></td>
      </tr>
      <tr>
        <td>Kegiatan</td>
        <td><%= programKegiatan.nama_kegiatan %></td>
      </tr>
      <tr>
        <td>Indikator Kinerja Kegiatan (Output)</td>
        <td><%= programKegiatan.indikator_kinerja %></td>
      </tr>
      <tr>
        <td>Volume Keluaran (target)</td>
        <td><%= programKegiatan.target %></td>
      </tr>
      <tr>
        <td>Satuan Ukur Keluaran (Output)</td>
        <td><%= programKegiatan.satuan %></td>
      </tr>
      <tr>
        <td>Sub Kegiatan</td>
        <td><%= programKegiatan.nama_subkegiatan %></td>
      </tr>
      <tr>
        <td>Indikator Sub Kegiatan (Output)</td>
        <td><%= programKegiatan.indikator_subkegiatan %></td>
      </tr>
      <tr>
        <td>Target</td>
        <td><%= programKegiatan.target_subkegiatan %></td>
      </tr>
      <tr>
        <td>Satuan</td>
        <td><%= programKegiatan.satuan_target_subkegiatan %></td>
      </tr>
    </table>
  </div>
</div>
