<%= form_with model: programKegiatan, local: false, class: "mt-2" do |form| %>
  <% if programKegiatan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programKegiatan.errors.count, "error") %> prohibited this programKegiatan from being saved:</h2>
      <ul>
        <% programKegiatan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :kode_opd_induk , class: "form-label" %>
    <%= form.select :kode_opd, Opd.pluck(:nama_opd, :kode_opd), {include_blank: true} ,
     { data: { "placeholder": "Pilih OPD",
       controller: 'dropdown',
       dropdown_parent_value: '#form-programkegiatan'
     } } %>
  </div>
  <div class="field">
    <%= form.label :kode_sub_opd , class: "form-label" %>
    <%= form.select :kode_sub_skpd, Opd.pluck(:nama_opd, :kode_unik_opd), {include_blank: true} ,
     { data: { "placeholder": "Pilih OPD",
       controller: 'dropdown',
       dropdown_parent_value: '#form-programkegiatan'
     } } %>
    <p>
      <small>Samakan dengan induk jika tidak ada sub opd</small>
    </p>
  </div>
  <div class="field">
    <%= form.label :tahun, class: "form-label" %>
    <%= form.select(:tahun, (['',2020,2021,2022,2023,2024,2025,2026,2027]), {},
                    {
                      data: {"placeholder": "Pilih Tahun",
                             controller: 'dropdown',
                             dropdown_parent_value: '#form-programkegiatan'
    }}) %>
  </div>
  <div class="field">
    <%= form.label :kode_urusan, class: "form-label" %>
    <%= form.text_field :kode_urusan, class: "form-control", pattern: '\d' %>
    <small>Contoh format: 1</small>
  </div>
  <div class="field">
    <%= form.label :nama_urusan, class: "form-label" %>
    <%= form.text_area :nama_urusan, class: "form-control", placeholder: "contoh: URUSAN WAJIB" %>
  </div>
  <div class="field">
    <%= form.label :kode_bidang_urusan, class: "form-label" %>
    <%= form.text_field :kode_bidang_urusan, class: "form-control", pattern: '\d+\.\d{2}' %>
    <small>Contoh format: 1.01</small>
  </div>
  <div class="field">
    <%= form.label :nama_bidang_urusan, class: "form-label" %>
    <%= form.text_area :nama_bidang_urusan, class: "form-control", placeholder: "..." %>
  </div>
  <hr/>
  <div class="field">
    <%= form.label :kode_program, class: "form-label" %>
    <%= form.text_field :kode_program, class: "form-control", pattern: '\d+\.\d{2}\.\d{2}' %>
    <small>Contoh format: 1.01.01</small>
  </div>
  <div class="field">
    <%= form.label :program, class: "form-label" %>
    <%= form.text_area :nama_program, class: "form-control", placeholder: "..." %>
  </div>
  <hr/>
  <div class="field">
    <%= form.label :kode_kegiatan, class: "form-label" %>
    <%= form.text_field :kode_giat, class: "form-control", pattern: '\d+\.\d{2}\.\d{2}\.\d+\.\d{2}' %>
    <small>Contoh format: 1.01.01.2.01</small>
  </div>
  <div class="field">
    <%= form.label :kegiatan, class: "form-label" %>
    <%= form.text_area :nama_kegiatan, class: "form-control", placeholder: "..." %>
  </div>
  <hr/>
  <div class="field">
    <%= form.label :kode_subkegiatan, class: "form-label" %>
    <%= form.text_field :kode_sub_giat , class: "form-control", pattern: '\d+\.\d{2}\.\d{2}\.\d+\.\d{2}\.\d{4}' %>
    <small>Contoh format: 1.01.01.2.01.0001</small>
  </div>
  <div class="field">
    <%= form.label :subkegiatan, class: "form-label" %>
    <%= form.text_area :nama_subkegiatan , class: "form-control", placeholder: "..." %>
  </div>
  <div class="actions mt-5">
    <%= form.submit class: "btn btn-tertiary w-100" %>
  </div>
<% end %>
