<%= form_with model: programKegiatan, local: false, class: "mt-2" do |form| %>
  <% if programKegiatan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programKegiatan.errors.count, "error") %> prohibited this programKegiatan from being saved:</h2>
      <ul>
        <% programKegiatan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% options = options_from_collection_for_select(Opd.all, 'kode_opd', 'nama_opd') %>
    <%= form.label :kode_opd , class: "form-label" %>
    <%= form.select :kode_opd, Opd.pluck(:nama_opd, :kode_opd), {include_blank: true} , {class: "select2-program", "data-placeholder": "Pilih OPD"} %>
  </div>
  <div class="field">
    <%= form.label :kode_urusan, class: "form-label" %>
    <%= form.text_field :kode_urusan, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :nama_urusan, class: "form-label" %>
    <%= form.text_field :nama_urusan, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :kode_bidang_urusan, class: "form-label" %>
    <%= form.text_field :kode_bidang_urusan, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :nama_bidang_urusan, class: "form-label" %>
    <%= form.text_field :nama_bidang_urusan, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :program, class: "form-label" %>
    <%= form.text_field :nama_program, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :indikator_program, class: "form-label" %>
    <%= form.text_field :indikator_program, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :target_program, class: "form-label" %>
    <%= form.number_field :target_program, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :satuan_target_program, class: "form-label" %>
    <%= form.text_field :satuan_target_program, class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :kegiatan, class: "form-label" %>
    <%= form.text_field :nama_kegiatan, class: "form-control", placeholder: "..."  %>
  </div>
  <div class="field">
    <%= form.label :indikator_kinerja_kegiatan, class: "form-label" %>
    <%= form.text_field :indikator_kinerja , class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label "Volume Keluaran (target)", class: "form-label" %>
    <%= form.number_field :target , class: "form-control", placeholder: "0" %>
  </div>
  <div class="field">
    <%= form.label "Satuan Ukur Keluaran (Output)", class: "form-label" %>
    <%= form.text_field :satuan , class: "form-control", placeholder: "%" %>
  </div>
  <div class="field">
    <%= form.label :subkegiatan, class: "form-label" %>
    <%= form.text_field :nama_subkegiatan , class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :indikator_subkegiatan, class: "form-label" %>
    <%= form.text_field :indikator_subkegiatan , class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :target_subkegiatan, class: "form-label" %>
    <%= form.number_field :target_subkegiatan , class: "form-control", placeholder: "0" %>
  </div>
  <div class="field">
    <%= form.label :satuan_target_subkegiatan, class: "form-label" %>
    <%= form.text_field :satuan_target_subkegiatan , class: "form-control", placeholder: "%" %>
  </div>
  <div class="actions mt-5">
    <%= form.submit class: "btn btn-tertiary w-100"  %>
  </div>
<% end %>
