<%= form_with model: programKegiatan do |form| %>
  <% if programKegiatan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programKegiatan.errors.count, "error") %> prohibited this programKegiatan from being saved:</h2>

      <ul>
        <% programKegiatan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama_program %>
    <%= form.text_field :nama_program %>
  </div>

  <div class="field">
    <%= form.label :nama_kegiatan %>
    <%= form.text_field :nama_kegiatan %>
  </div>

  <div class="field">
    <%= form.label :nama_subkegiatan %>
    <%= form.text_field :nama_subkegiatan %>
  </div>

 <div class="field">
    <%= form.label :indikator_kinerja %>
    <%= form.text_field :indikator_kinerja %>
  </div>

 <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  
 <div class="field">
    <%= form.label :satuan %>
    <%= form.text_field :satuan %>
  </div>

<!--TODO: Kasih select dropdown -->
 <div class="field">
    <%= form.label :opd_id %>
    <%= form.text_field :opd_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
