<%= form_with model: programKegiatan, url: program_update_program_kegiatan_path(programKegiatan), local: false, class: "mt-2" do |form| %>
  <%= form.hidden_field :row_num, value: @row_num %>
  <%= form.hidden_field :id_program_sipd, value: programKegiatan.id_program_sipd %>
  <div class="field">
    <%= form.label :tahun, class: "form-label" %>
    <%= form.text_field :tahun , class: "form-control", placeholder: "...", readonly: true %>
  </div>
  <div class="field">
    <%= form.label :kegiatan, class: "form-label" %>
    <%= form.text_field :nama_kegiatan , class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :indikator_kegiatan, class: "form-label" %>
    <%= form.text_field :indikator_kinerja , class: "form-control", placeholder: "..." %>
  </div>
  <div class="field">
    <%= form.label :target_kegiatan, class: "form-label" %>
    <%= form.text_field :target , class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :satuan_target_kegiatan, class: "form-label" %>
    <%= form.text_field :satuan , class: "form-control", placeholder: "%" %>
  </div>
  <div class="actions mt-5">
    <%= form.submit class: "btn btn-tertiary w-100"  %>
  </div>
<% end %>
