<div class="card-header">
  <div class="row align-items-center">
    <div class="col-8">
      <% opd = Opd.find_by(kode_unik_opd: @kode_opd) %>
      <h2 class="fs-5 fw-bold mb-0">Renja Kegiatan <%= opd.nama_opd %></h2>
    </div>
    <div class="col">
      <h5 class="fw-bold">Tahun - <%= @tahun %></h5>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table align-items-center" id="filter-program">
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom" scope="col">Tahun</th>
          <th class="border-bottom" scope="col">Nama Kegiatan</th>
          <th class="border-bottom" scope="col">Indikator Kegiatan</th>
          <th class="border-bottom" scope="col">Target</th>
          <th class="border-bottom" scope="col">Satuan</th>
          <th class="border-bottom" scope="col">Jumlah Sasaran</th>
          <th class="border-bottom" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @programKegiatans.each.with_index(1) do |prog, i| %>
          <tr id="<%= dom_id(prog) %>" class="<%= 'bg-warning' if prog.jumlah_sasaran.zero? %>">
            <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.tahun %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.nama_kegiatan %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.indikator_kinerja %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.target %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.satuan %></td>
            <td class="fw-bolder text-gray-500 text-center" style="white-space: initial !important;"><%= prog.jumlah_sasaran %></td>
            <td class="fw-bolder text-gray-500">
              <% unless prog.id_giat.nil? %>
                <%= link_to giat_edit_program_kegiatan_path(prog, row_num: i), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-programkegiatan"}, class: "m-3" do %>
                  <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                <% end %>
              <% end %>
              <%= link_to prog, class: "m-3" do %>
                <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
              <% end %>
              <%= link_to prog, method: :delete, data: { 'confirm-swal': "Hapus #{prog.nama_program} ?"}, class: "m-3" do %>
                <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
