<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Rincian Belanja</h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %></span>
        |
        <span><%= current_user.nik %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_laporan_kak">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom border-start border-end" scope="col" rowspan="2">No.</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Pemilik Rencana</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Status</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Sub Kegiatan KAK</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Pagu Sub Kegiatan KAK</th>
            <th class="border-bottom text-center border-start border-end" scope="col" colspan="2">Informasi KaK</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Action</th>
          </tr>
          <tr>
            <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
            <th class="border-bottom text-center border-start border-end">Pagu Anggaran</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |collections, nomor|  %>
            <% collections.each do |user, program_kegiatans|  %>
              <% rowspan_atas = program_kegiatans.size + 1 %>
              <% row_class = 'border-bottom border-start border-end text-wrap' %>
              <tr class="border-bottom">
                <td class="<%= row_class %>" scope="rowgroup" width="50px" rowspan="<%= rowspan_atas %>"><%= nomor %></td>
                <td class="<%= program_kegiatans.empty? ? row_class + ' bg-danger text-white' : row_class  %>" scope="rowgroup" width="50px" rowspan="<%= rowspan_atas %>"><%= user.nama %></td>
                <td class="border-start border-end text-wrap" scope="rowgroup" width="50px" rowspan="<%= rowspan_atas %>"><%= render 'sasarans/table_status_sasaran', user: user %></td>
                <% program_kegiatans.each do |(program_kegiatan, sasaran)| %>
                  <tr>
                    <td class="text-gray-900 text-wrap border-start border-end" width="100px" scope="rowgroup"><%= program_kegiatan&.nama_subkegiatan || '-' %></td>
                    <td class="text-gray-900 text-wrap border-start border-end" width="100px" scope="rowgroup">Rp. <%= number_with_delimiter(sasaran.total_anggaran) %></td>
                    <td class="text-wrap border-start border-end <%= warna_sasaran(sasaran.status_sasaran) %>" width="100px">
                      <%= sasaran.sasaran_kinerja %>
                    </td>
                    <td class="border-start border-end border-bottom text-center <%= warna_sasaran(sasaran.status_sasaran) %>" width="100px">
                      Rp. <%= number_with_delimiter(sasaran.total_anggaran) or 0 %>
                    </td>
                    <td class="fw-bolder text-gray-500 text-center" scope="rowgroup">
                      <%= link_to "/pdf_rka/#{program_kegiatan&.id}/#{@tahun}.pdf", class: "btn btn-sm btn-secondary" do %>
                        <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
                        Cetak RaB
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
