<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <% opd = Opd.find_by(kode_unik_opd: @kode_opd) %>
      <h2 class="fs-5 fw-bold mb-0">Sub Kegiatan <%= opd.nama_opd %> <%= @tahun %> </h2>
    </div>
    <% if current_user.has_role? :super_admin %>
      <div class="col-2 text-end">
        <%= link_to sync_subkegiatan_opd_path(kode_opd: opd.id_opd_skp, tahun: @tahun),
          remote: true,
          data: { disable_with: 'Memproses....'},
          class:"btn btn-sm btn-tertiary" do %>
          <i class="fas fa-sync me-2"></i>
          Sync Tahun <%= @tahun %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table align-items-center counter" id="filter-program">
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom" scope="col">Kode</th>
          <th class="border-bottom" scope="col">Nama SubKegiatan</th>
          <th class="border-bottom" scope="col">Sub OPD</th>
          <th class="border-bottom" scope="col">Tahun</th>
          <th class="border-bottom" scope="col">Jumlah Sasaran</th>
          <th class="border-bottom" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @programKegiatans.order(:id_sub_giat).each do |prog| %>
          <tr id="<%= dom_id(prog) %>" class="<%= 'bg-warning' if prog.jumlah_sasaran.zero? %>">
            <td class="text-gray-900 fw-bolder" scope="row"></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.kode_sub_giat %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.nama_subkegiatan %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.nama_opd_pemilik %></td>
            <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= prog.tahun %></td>
            <td class="fw-bolder text-gray-500 text-center" style="white-space: initial !important;"><%= prog.jumlah_sasaran %></td>
            <td class="fw-bolder text-gray-500">
              <% unless prog.id_sub_giat.nil? %>
                <%= link_to subgiat_edit_program_kegiatan_path(prog, row_num: i), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-programkegiatan"}, class: "m-3" do %>
                  <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                <% end %>
              <% end %>
              <%= link_to prog, class: "m-3" do %>
                <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
              <% end %>
              <%= link_to prog, method: :delete, data: { 'confirm-swal': "Hapus #{prog.nama_subkegiatan} ?"}, class: "m-3" do %>
                <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="p-3 mt-3">
    <%= link_to "Tambah Program Kegiatan Subkegiatan",new_program_kegiatan_path, remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-programkegiatan"}, class: "btn btn-info w-100" %>
  </div>
</div>
