<div class="card border-2 shadow mb-3">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>no</th>
          <th>Sasaran Kinerja</th>
          <th>Penerima Manfaat</th>
          <th>Nama Usulan</th>
          <th>Jenis Usulan</th>
          <th>Permasalahan/ Uraian</th>
          <th>Keterangan</th>
        </tr>
      </thead>
      <tbody>
        <%  count = 0 %>
        <% programKegiatan.sasarans.each do |sasaran| %>
          <% sasaran.my_usulan.each do |usulan| %>
            <%  count += 1 %>
            <% tipe = usulan.class.try(:type) || usulan.class.name.to_s %>
            <% keterangan = usulan.try(:alamat) || usulan.try(:peraturan_terkait) || usulan.try(:manfaat) %>
            <tr>
              <td><%= count %></td>
              <td class="sasaran-kerja text-wrap"><%= sasaran.sasaran_kinerja %></td>
              <td class="sasaran-kerja text-wrap"><%= sasaran.penerima_manfaat %></td>
              <td class="sasaran-kerja text-wrap"><%= usulan.usulan %></td>
              <td class="sasaran-kerja"><%= tipe %></td>
              <td class="sasaran-kerja text-wrap"><%= usulan.uraian %></td>
              <td class="sasaran-kerja text-wrap"><%= keterangan %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
