<div class="card-body" id="tempat-row-laporan-rab">
  <div class="table-responsive">
    <table class="table align-items-center border-start border-end">
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom text-center" scope="col">Sub Kegiatan KaK</th>
          <th class="border-bottom text-center" scope="col">Pagu Anggaran</th>
          <th class="border-bottom text-center border-start border-end" scope="col" colspan="5">Informasi KaK</th>
          <th class="border-bottom text-center" scope="col">Action</th>
        </tr>
        <tr>
          <th colspan="3"></th>
          <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
          <th class="border-bottom text-center border-start border-end">Pagu Sasaran</th>
          <th class="border-bottom text-center border-start border-end">Tahun</th>
          <th class="border-bottom text-center border-start border-end">Pemilik Rencana</th>
          <th class="border-bottom text-center border-start border-end">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @program_kegiatans.each.with_index(1) do |kak, i| %>
          <% row_pk = kak.sasarans.where(tahun: tahun).count + 1 %>
          <tr>
            <td class="text-gray-900 fw-bolder border-start border-end" scope="row" rowspan="<%= row_pk %>"><%= i %></td>
            <td class="text-gray-900 text-wrap" scope="row" rowspan="<%= row_pk %>" width="200px"><%= kak.nama_subkegiatan %></td>
            <td class="text-gray-900 text-wrap" scope="row" rowspan="<%= row_pk %>" width="200px">Rp. <%= number_with_delimiter(kak.sasarans.where(tahun: tahun).map(&:total_anggaran).compact.sum) or 0 %></td>
            <td class="p-0 m-0" colspan="5" style="height: 0px !important; border-color: transparent;"></td>
            <td class="fw-bolder text-gray-500 text-center" rowspan="<%= row_pk %>">
              <%= link_to "/acuan_kerja_new/#{kak.id}/2022", class: "m-3" do %>
                <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
              <% end %>
              <%= link_to "/pdf_rka/#{kak.id}/2022.pdf", class: "m-3" do %>
                <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
              <% end %>
            </td>
          </tr>
          <% kak.sasarans.where(tahun: tahun).each do |show_sasaran| %>
            <tr>
              <td class="text-wrap border-start border-end" width="450px">
                <%= show_sasaran.sasaran_kinerja %>
              </td>
              <td class="text-wrap border-start border-end" width="200px">
                Rp. <%= number_with_delimiter(show_sasaran.total_anggaran) or 0 %>
              </td>
              <td class="text-wrap border-start border-end border-bottom text-center">
                <%= show_sasaran.tahun %>
              </td>
              <td class="text-wrap border-start border-end border-bottom text-center">
                <%= show_sasaran.user.nama %>
              </td>
              <td class="text-wrap border-start border-end border-bottom text-center">
                <%= show_sasaran.status %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
