Swal.fire({
title: "<%= message %>",
icon: "<%= status_icon %>",
confirmButtonText: 'Ok',
})
// append table with new result
var row = `
<tr id="<%= dom_id(@programKegiatan) %>" class="bg-warning">
  <td class="text-gray-900 fw-bolder" scope="row"></td>
  <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= @programKegiatan.kode_sub_giat %></td>
  <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= @programKegiatan.nama_subkegiatan %></td>
  <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= @programKegiatan.nama_opd_pemilik %></td>
  <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= @programKegiatan.tahun %></td>
  <td class="fw-bolder text-gray-500 text-center" style="white-space: initial !important;"><%= @programKegiatan.jumlah_sasaran %></td>
  <td class="fw-bolder text-gray-500">
    <%= link_to edit_program_kegiatan_path(@programKegiatan), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-programkegiatan"}, class: "m-3" do %>
      <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
    <% end %>
    <%= link_to @programKegiatan, class: "m-3" do %>
      <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
    <% end %>
    <%= link_to @programKegiatan, method: :delete, data: { 'confirm-swal': "Hapus #{@programKegiatan.nama_subkegiatan} ?"}, class: "m-3" do %>
      <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
    <% end %>
  </td>
</tr>
`;
if ("<%= type %>" == "create") {
$("#filter-program tbody").append(row);
}
else {
$("#<%= dom_id(@programKegiatan) %>").replaceWith(row);
}
