<tr id="<%= dom_id(prog) %>" class="bg-success text-white">
  <td class="fw-bolder" scope="row"><%= @row_num %></td>
  <td class="fw-bolder" style="white-space: initial !important;"><%= prog.nama_subkegiatan %></td>
  <td class="fw-bolder" style="white-space: initial !important;"><%= prog.indikator_subkegiatan %></td>
  <td class="fw-bolder" style="white-space: initial !important;"><%= prog.target_subkegiatan %></td>
  <td class="fw-bolder" style="white-space: initial !important;"><%= prog.satuan_target_subkegiatan %></td>
  <td class="fw-bolder" style="white-space: initial !important;"><%= prog.nama_opd_pemilik %></td>
  <td class="fw-bolder" style="white-space: initial !important;"><%= prog.tahun %></td>
  <td class="fw-bolder">
    <%= link_to prog, class: "m-3" do %>
      <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
    <% end %>
    <%= link_to subgiat_edit_program_kegiatan_path(prog, row_num: @row_num), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-programkegiatan"}, class: "m-3" do %>
      <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
    <% end %>
    <%= link_to prog, method: :delete, data: { 'confirm-swal': "Hapus #{prog.nama_subkegiatan} ?"}, class: "m-3" do %>
      <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
    <% end %>
  </td>
</tr>
