<%= content_for :html_title, "Daftar Pagu" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Pagu SIPKD</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold">Pagu SIPKD <%= @nama_opd %></h2>
        </div>
        <div class="col-auto">
          <h2 class="fs-5 fw-bold"><%= @tahun_asli %></h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%# tabel_tujuan_sasaran_opd %>
      <div class="row mb-3">
        <div class="col">
        </div>
        <div class="col-auto">
          <%= button_to api_pagu_sync_penetapan_path,
            remote: true,
            class: 'btn btn-info toggle-active',
            data: {
                disable_with: 'Memproses.....'
            },
            params: { opd_id: @opd } do %>
            <i class="fas fa-sync icon icon-xs me-2"></i>
            Sync Pagu Penetapan
          <% end %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
        </div>
        <div class="col-auto">
          <% pagu_total = @pagus.values.flatten.map(&:anggaran).compact.sum %>
          Total Pagu: Rp. <%= number_with_delimiter(pagu_total) %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center" data-controller='form-modal' data-action='ajax-update@window->form-modal#updateTargetValue'>
          <thead class="thead-program">
            <tr class="header-program">
              <th class="border" scope="col">No.</th>
              <th class="border" scope="col">Kode Subkegiatan</th>
              <th class="border" scope="col">Subkegiatan</th>
              <th class="border" scope="col">Pagu</th>
            </tr>
          </thead>
          <tbody>
            <% @pagus.each.with_index(1) do |(kode_subkegiatan, pagus), nomor| %>
              <tr class="bg-success text-white">
                <% subkegiatan = ProgramKegiatan.find_by(kode_sub_giat: kode_subkegiatan) %>
                <% sum_pagu = pagus.map(&:anggaran).compact.sum %>
                <td class="text-wrap border"><%= nomor %></td>
                <td class="text-wrap border"><%= kode_subkegiatan %></td>
                <td class="text-wrap border"><%= subkegiatan.nama_subkegiatan %></td>
                <td class="text-wrap border">Rp. <%= number_with_delimiter(sum_pagu) %></td>
              </tr>
              <tr class="header-program bg-primary text-white">
                <th class="border" scope="col">No.</th>
                <th class="border" scope="col">Kode Rekening</th>
                <th class="border" scope="col" colspan="3">Belanja</th>
              </tr>
              <% pagus.each.with_index(1) do |pagu, no| %>
                <tr>
                  <td class="text-wrap border"  ><%= "#{nomor}.#{no}" %></td>
                  <td class="text-wrap border"  ><%= pagu.kode_sub_belanja %></td>
                  <td class="text-wrap border"  ><%= pagu.keterangan %></td>
                  <td class="text-wrap border"  >Rp. <%= number_with_delimiter(pagu.anggaran) %></td>
                </tr>
              <% end %>
              <tr class="rekap_pokin_separator">
                <td colspan="5"></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="border">
              <td colspan="3">Total: </td>
              <td class="border">Rp. <%= number_with_delimiter(pagu_total) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
<% end %>
