<%= content_for :html_title, "Pagu Perencanaan" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Pagu Perencanaan</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold">Pagu Perencanaan <%= @nama_opd %></h2>
        </div>
        <div class="col-auto">
          <h2 class="fs-5 fw-bold"><%= @tahun_asli %></h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%# tabel_tujuan_sasaran_opd %>
      <div class="row mb-3">
        <div class="col">
        </div>
        <div class="col-auto">
          <% subkegiatans = @anggarans %>
          <% pagu_total = subkegiatans.flatten.map(&:jumlah).compact.sum %>
          Total Pagu: Rp. <%= number_with_delimiter(pagu_total) %>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center" data-controller='form-modal' data-action='ajax-update@window->form-modal#updateTargetValue'>
          <thead class="thead-program">
            <tr class="header-program">
              <th class="border" scope="col">No.</th>
              <th class="border" scope="col">Kode Subkegiatan</th>
              <th class="border" scope="col">Subkegiatan</th>
              <th class="border" scope="col">Pagu</th>
            </tr>
          </thead>
          <tbody>
            <% @program_kegiatans.each.with_index(1) do |subkegiatan, nomor| %>
              <% anggarans = @anggarans.select { |ang| ang.sasaran.program_kegiatan_id == subkegiatan.id } %>
              <% sum_pagu = anggarans.map(&:jumlah).compact.sum %>
              <tr class="bg-success text-white">
                <td class="text-wrap border"><%= nomor %></td>
                <td class="text-wrap border"><%= subkegiatan.kode_sub_giat %></td>
                <td class="text-wrap border"><%= subkegiatan.nama_subkegiatan %></td>
                <td class="text-wrap border">Rp. <%= number_with_delimiter(sum_pagu) %></td>
              </tr>
              <tr class="header-program bg-primary text-white">
                <th class="border" scope="col">No.</th>
                <th class="border" scope="col">Kode Rekening</th>
                <th class="border" scope="col" colspan="3">Belanja</th>
              </tr>
              <% anggarans.each.with_index(1) do |pagu, no| %>
                <tr>
                  <td class="text-wrap border"  ><%= "#{nomor}.#{no}" %></td>
                  <td class="text-wrap border"  ><%= pagu.kode_sub_belanja %></td>
                  <td class="text-wrap border"  ><%= pagu.keterangan %></td>
                  <td class="text-wrap border"  >Rp. <%= number_with_delimiter(pagu.jumlah) %></td>
                </tr>
              <% end %>
              <tr class="rekap_pokin_separator">
                <td colspan="5"></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="border">
              <td colspan="3">Total: </td>
              <td class="border">Rp. <%= number_with_delimiter(pagu_total) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
<% end %>
