<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Program Kegiatan', program_kegiatans_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Program Kegiatans</h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Program Kegiatan",new_program_kegiatan_path, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">No.</th>
              <th class="border-bottom" scope="col">Nama SubKegiatan</th>
              <th class="border-bottom" scope="col">Nama Kegiatan</th>
              <th class="border-bottom" scope="col">Nama Program</th>
              <th class="border-bottom" scope="col">Indikator Kinerja</th>
              <th class="border-bottom" scope="col">Target</th>
              <th class="border-bottom" scope="col">OPD</th>
              <th class="border-bottom" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @programKegiatans.each.with_index(1) do |prog, i| %>
              <tr>
                <th class="text-gray-900 fw-bolder" scope="row"><%= i %></th>
                <td class="fw-bolder text-gray-500"><%= prog.nama_subkegiatan %></td>
                <td class="fw-bolder text-gray-500"><%= prog.nama_kegiatan %></td>
                <th class="text-gray-900" scope="row"><%= prog.nama_program %></th>
                <td class="fw-bolder text-gray-500"><%= prog.indikator_kinerja %></td>
                <td class="fw-bolder text-gray-500"><%= prog.target %> <%= prog.satuan %></td>
                <td class="fw-bolder text-gray-500"><%= prog.opd.kode_opd %></td>
                <td class="fw-bolder text-gray-500">
                  <%= link_to prog, class: "m-3" do %>
                    <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                  <% end %>
                  <%= link_to edit_program_kegiatan_path(prog), class: "m-3" do %>
                    <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                  <% end %>
                  <%= link_to prog, method: :delete, data: { confirm: "Apakah Anda Ingin Menghapus ?"}, class: "m-3" do %>
                    <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
