<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Laporan RKA</li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Laporan RKA</h2>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">No.</th>
              <th class="border-bottom" scope="col">OPD</th>
              <th class="border-bottom" scope="col">Sub Kegiatan</th>
              <th class="border-bottom text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @programKegiatans.each.with_index(1) do |program, i| %>
              <tr>
                <th class="text-gray-900 fw-bolder" scope="row"><%= i %></th>
                <th class="text-gray-900" scope="row"><%= program.opd.nama_opd %></th>
                <th class="text-gray-900" scope="row"><%= program.nama_subkegiatan %></th>
                <td class="fw-bolder text-gray-500 text-center">
                  <%= link_to "/pdf_rka/#{program.id}.pdf", class: "m-3" do %>
                    <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
