<h1>Kerangka Acuan Kerja</h1>
<% unless @program_kegiatan.nil? %>
  <div class="program-kegiatan">
    <%= render partial: 'program_kegiatans/show_to_kak', locals: {programKegiatan: @program_kegiatan} %>
  </div>
<% else %>
  <!-- Form Tambah Program Kegiatan disini / atau lempar ke edit-->
  <p class="alert alert-warning-text-dark">
    Belum ada Program Kegiatan !!!
  </p>
<% end %>
<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>A. Latar Belakang</h4>
      </div>
    </div>
  </div>
  <% @program_kegiatan.sasarans.each do |sas_dh|  %>
    <%= render 'sasarans/dasar_hukum', sasaran: sas_dh %>
  <% end %>
  <% @program_kegiatan.sasarans.each do |sas_gambumum|  %>
    <%= render 'sasarans/gambaran_umum', sasaran: sas_gambumum %>
  <% end %>
</div>
<div class="card border-2 shadow mb-3 penerima-manfaat">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>B. Penerima Manfaat</h4>
      </div>
    </div>
  </div>
  <% @program_kegiatan.sasarans.each do |manfaat| %>
    <%= render "sasarans/penerima_manfaat", sasaran: manfaat %>
  <% end %>
</div>
<div class="card border-2 shadow mb-3 tahapan_pelaksanaan">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>C. Strategi Pencapaian Keluaran</h4>
      </div>
    </div>
  </div>
  <% @program_kegiatan.sasarans.each do |strategi| %>
    <%= render 'sasarans/tahapan_pelaksanaan', sasaran: strategi %>
  <% end %>
</div>
<div class="card border-2 shadow mb-3 kurun_waktu">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>D. Kurun Waktu Pencapaian Keluaran</h4>
      </div>
    </div>
  </div>
  <% @program_kegiatan.sasarans.each do |kurun_waktu| %>
    <%= render 'sasarans/kurun_waktu', sasaran: kurun_waktu %>
  <% end %>
</div>
<div class="card border-2 shadow mb-3 kurun_waktu">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>Tematik</h4>
      </div>
    </div>
  </div>
  <% @program_kegiatan.sasarans.each do |tematik| %>
    <%= render 'sasarans/tematik', sasaran: tematik %>
  <% end %>
</div>
