<h1>Kerangka Acuan Kerja</h1>
<% unless @program_kegiatan.nil? %>
  <div class="program-kegiatan">
    <%= render partial: 'program_kegiatans/show_to_kak', locals: {programKegiatan: @program_kegiatan} %>
  </div>
<% else %>
  <!-- Form Tambah Program Kegiatan disini / atau lempar ke edit-->
  <p class="alert alert-warning-text-dark">
    Belum ada Program Kegiatan !!!
  </p>
<% end %>
<h4>A. Latar Belakang</h4>
<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <h5>1. Dasar Hukum</h5>
  </div>
  <% @program_kegiatan.sasarans.each do |sas_dh|  %>
    <div class="card mb-2">
      <div class="card-header">
        <strong>Dasar Hukum Sasaran <%= sas_dh.sasaran_kinerja %></strong>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr class="border">
              <th>Peraturan terkait</th>
              <th>Uraian</th>
            </tr>
          </thead>
          <tbody>
            <% sas_dh.dasar_hukums.order(:updated_at).each do |dashu| %>
              <tr class="border">
                <td class="align-middle"><%= dashu.judul %></td>
                <td class="align-middle"><%= dashu.peraturan %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <% current_user.sasarans.includes(:program_kegiatan).where.not(program_kegiatan: {id: nil}).each do |sas_gambumum|  %>
    <div class="card mb-2">
      <div class="card-header">
        <strong>Gambaran Umum Sasaran <%= sas_gambumum.sasaran_kinerja %></strong>
      </div>
      <% sas_gambumum.latar_belakangs.order(:updated_at).each do |gambumum| %>
        <div class="card-body">
          <div class="card-body">
            <p><%= gambumum.gambaran_umum %></p>
          </div>
        </div>
        <div class="card-body">
          <strong>Permasalahan: </strong>
          <% sas_gambumum.permasalahans.each do |masalah| %>
            <div class="card-body">
              <p>JENIS PERMASALAHAN : Permasalahan <%= masalah.jenis %></p>
              <p>PERMASALAHAN : <%= masalah.permasalahan %></p>
              <p>PENYEBAB INTERNAL	 : <%= masalah.penyebab_internal %></p>
              <p>PENYEBAB EXTERNAL	 : <%= masalah.penyebab_external %></p>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <strong>Data Terpilah: </strong>
          <div class="card-body">
            <p>DATA TERPILAH : <%= sas_gambumum.rincian.data_terpilah %></p>
            <p>RESIKO : <%= sas_gambumum.rincian.resiko %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
<h4>B. Penerima Manfaat</h4>
<div class="penerima-manfaat">
  <%= render "program_kegiatans/kak_detail", programKegiatan: @program_kegiatan %>
</div>
<h4>C. Strategi Pencapaian Keluaran</h4>
<div class="tahapan_pelaksanaan">
  <%= render 'program_kegiatans/kak_renaksi', programKegiatan: @program_kegiatan %>
</div>
<h4>D. Kurun Waktu Pencapaian Keluaran</h4>
<div class="tahapan_pelaksanaan">
  <%= render 'program_kegiatans/kak_waktu', programKegiatan: @program_kegiatan %>
</div>
