<p id="notice"><%= notice %></p>
<p>
  <strong>Nama Lembaga:</strong>
  <%= @programKegiatan.opd.lembaga.nama_lembaga %>
</p>
<p>
  <strong>Nama OPD:</strong>
  <%= @programKegiatan.opd.nama_opd %>
</p>
<p>
  <strong>Nama Sub OPD:</strong>
  <%= @programKegiatan.nama_opd_pemilik %>
</p>
<p>
  <strong>Id Sub OPD:</strong>
  <%= @programKegiatan.id_sub_unit %>
</p>
<p>
  <strong>Kode Urusan:</strong>
  <%= @programKegiatan.kode_urusan %>
</p>
<p>
  <strong>Nama Urusan:</strong>
  <%= @programKegiatan.nama_urusan %>
</p>
<p>
  <strong>Kode Bidang Urusan:</strong>
  <%= @programKegiatan.kode_bidang_urusan %>
</p>
<p>
  <strong>Nama Bidang Urusan:</strong>
  <%= @programKegiatan.nama_bidang_urusan %>
</p>
<p>
  <strong>Nama Program:</strong>
  <%= @programKegiatan.nama_program %>
</p>
<p>
  <strong>Indikator Program:</strong>
  <%= @programKegiatan.indikator_program %>
</p>
<p>
  <strong>Target Program:</strong>
  <%= @programKegiatan.target_program %>
</p>
<p>
  <strong>Satuan Indikator Program:</strong>
  <%= @programKegiatan.satuan_target_program %>
</p>
<p>
  <strong>Nama Kegiatan:</strong>
  <%= @programKegiatan.nama_kegiatan %>
</p>
<p>
  <strong>Indikator Kegiatan:</strong>
  <%= @programKegiatan.indikator_kinerja %>
</p>
<p>
  <strong>Target Kegiatan:</strong>
  <%= @programKegiatan.target %>
</p>
<p>
  <strong>Satuan Indikator Kegiatan:</strong>
  <%= @programKegiatan.satuan %>
</p>
<p>
  <strong>Nama SubKegiatan:</strong>
  <%= @programKegiatan.nama_subkegiatan %>
</p>
<p>
  <strong>Indikator SubKegiatan:</strong>
  <%= @programKegiatan.indikator_subkegiatan %>
</p>
<p>
  <strong>Target SubKegiatan:</strong>
  <%= @programKegiatan.target_subkegiatan %>
</p>
<p>
  <strong>Satuan SubKegiatan:</strong>
  <%= @programKegiatan.satuan_target_subkegiatan %>
</p>
<p>
  <strong>Pagu Anggaran ( dari semua sasaran ) : </strong>
  Rp. <%= number_with_delimiter(@programKegiatan.my_pagu) %>
</p>
<% if @programKegiatan.sasarans.any? %>
  <hr>
  <h4><strong>Sasaran Kinerja</strong></h4>
  <% @programKegiatan.sasarans.each.with_index(1) do |sasaran, index| %>
    <hr>
    <p>
      <strong>Sasaran Kinerja Milik : </strong>
      <%= sasaran.user.nama %>
    </p>
    <p>
      <strong>Sasaran Kinerja <%= index %> :</strong>
      <%= sasaran.sasaran_kinerja %>
    </p>
    <p>
      <strong>Indikator Kinerja <%= index %></strong>
      <%= sasaran.sasaran_kinerja %>
    </p>
    <p>
      <strong>Progress Kinerja : </strong>
      <%= number_to_percentage(sasaran.progress_total, :precision => 2) %>
    </p>
    <p>
      <strong>Waktu Yang Dibutuhkan : </strong>
      <%= sasaran.waktu_total %> Bulan
    </p>
    <p>
      <strong>Total Anggaran : </strong>
      Rp.  <%= number_with_delimiter(sasaran.total_anggaran) %>
    </p>
    <p>
      <strong>Detail :</strong>
      <%= link_to "Show", sasaran_path(sasaran) %>
    </p>
  <% end %>
<% end %>
<%= link_to "Edit", edit_program_kegiatan_path(@programKegiatan) %> |
<%= link_to "Back", program_kegiatans_path %>
