<p id="notice"><%= notice %></p>
<%= render 'detail_program_kegiatan', programKegiatan: @programKegiatan %>
<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4>Pagu Anggaran</h4>
      </div>
    </div>
  </div>
  <div class="card-body program-kegiatan">
    <table class="table table-bordered">
      <tr>
        <td class="w-35"><strong>Pagu Anggaran ( sasaran hijau )</strong></td>
        <td>Rp. <%= number_with_delimiter(@programKegiatan.my_pagu) %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Pagu Anggaran ( dari semua sasaran )</strong></td>
        <td>Rp. <%= number_with_delimiter(@programKegiatan.all_anggaran) %></td>
      </tr>
      <tr>
        <td class="w-35"><strong>Pagu Anggaran ( SIPD )</strong></td>
        <td>Rp. <%= number_with_delimiter(@programKegiatan.pagu) %></td>
      </tr>
    </table>
  </div>
</div>
<% if @programKegiatan.sasarans.any? %>
  <% @programKegiatan.sasarans.includes(%i[user indikator_sasarans tahapans]).each.with_index(1) do |sasaran, index| %>
    <%= render 'sasarans/detail_sasaran', sasaran: sasaran, index: index %>
  <% end %>
<% end %>
<div class="my-3">
  <%= link_to admin_sub_kegiatan_path, class: 'btn btn-info w-100 text-white' do %>
    <span class="fas fa-arrow-left"></span>
    <span>Kembali</span>
  <% end %>
</div>
