<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <h4 class="card-title">
      Dasar Hukum 
    </h4>
    <% unless diajukan? %>
      <div class="link-tambah">
        <%= link_to 'Tambah Dasar Hukum', new_sasaran_dasar_hukum_path(sasaran), remote: true, class: 'btn btn-primary',
          data: {'bs-toggle': 'modal', 'bs-target': '#form-dasarhukum'} %>
      </div>
    <% end %>
  </div>
  <% unless sasaran.dasar_hukums.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Peraturan terkait</th>
              <th>Uraian</th>
              <% unless diajukan? %>
                <th class="text-center align-middle">Action</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% sasaran.dasar_hukums.order(:updated_at).each do |dashu| %>
              <tr>
                <td class="align-middle text-wrap"><%= dashu.judul %></td>
                <td class="align-middle text-wrap"><%= dashu.peraturan %></td>
                <% unless diajukan? %>
                  <td class="text-center align-middle">
                    <%= link_to 'Edit Dasar Hukum', edit_sasaran_dasar_hukum_path(sasaran,dashu), remote: true, class: 'btn btn-outline-info text-center me-3',
                  data: {'bs-toggle': 'modal', 'bs-target': '#form-dasarhukum'} %>
                    <%= link_to sasaran_dasar_hukum_path(sasaran,dashu), method: :delete, remote: true, data: { confirm_swal: "Yakin ingin menghapus data ini?" }, class: "btn btn-sm btn-danger" do %>
                      <i class="fas fa-trash me-2"></i>
                      <span>Hapus</span>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
