<%= form_with(model: [@sasaran,dasar_hukum], local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dasar_hukum.new_record? ? dom_id(@sasaran, 'dasar-hukum') : dom_id(dasar_hukum),
                form_ajax_type_param: dasar_hukum.new_record? ? 'total_replace' : '',
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <% if dasar_hukum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dasar_hukum.errors.count, "error") %> prohibited this dasar_hukum from being saved:</h2>
      <ul>
        <% dasar_hukum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label 'Peraturan terkait', class: "form-label" %>
    <%= form.text_field :judul, {class: "form-control", required: true} %>
  </div>
  <div class="field">
    <%= form.label 'Uraian', class: "form-label" %>
    <%= form.text_area :peraturan ,{class: "form-control", required: true, cols: 20, rows: 5} %>
  </div>
  <div class="actions">
    <%= form.submit "Submit", :class => "btn btn-tertiary w-100" %>
  </div>
<% end %>
