<%= content_for :login do %>
  <main>
    <!-- Section -->
    <section class="vh-lg-25 mt-5 mt-lg-3 mb-3 bg-soft d-flex align-items-center">
      <div class="container">
        <p class="text-center">
          <%= link_to new_user_session_path, class: "d-flex align-items-center justify-content-center" do %>
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
            Back to homepage
          <% end %>
        </p>
        <div class="row justify-content-center form-bg-image" data-background-lg="<%= image_path("illustrations/signin.svg") %>">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
              <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">Sign Up</h1>
              </div>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mt-4") do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <!-- Form -->
                <div class="form-group mb-4">
                  <%= f.label :nama %>
                  <div class="input-group">
                    <span class="input-group-text">
                      <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 12 4 C 9.789063 4 8 5.789063 8 8 C 8 10.210938 9.789063 12 12 12 C 14.210938 12 16 10.210938 16 8 C 16 5.789063 14.210938 4 12 4 Z M 9.03125 13.40625 C 5.253906 14.550781 4 17.65625 4 17.65625 L 4 20 L 20 20 L 20 17.65625 C 20 17.65625 18.746094 14.550781 14.96875 13.40625 C 14.761719 14.863281 13.511719 16 12 16 C 10.488281 16 9.238281 14.863281 9.03125 13.40625 Z"></path></svg>
                    </span>
                    <%= f.text_field :nama, class: "form-control", placeholder: "John Doe" %>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <%= f.label :nik %>
                  <div class="input-group">
                    <span class="input-group-text">
                      <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 9 3 L 9 4 L 4 4 C 2.895 4 2 4.895 2 6 L 2 8 L 22 8 L 22 6 C 22 4.895 21.105 4 20 4 L 15 4 L 15 3 L 9 3 z M 2 10 L 2 18 C 2 19.103 2.897 20 4 20 L 20 20 C 21.103 20 22 19.103 22 18 L 22 10 L 19 10 L 19 11 L 15 11 L 15 10 L 9 10 L 9 11 L 5 11 L 5 10 L 2 10 z"></path></svg>
                    </span>
                    <%= f.text_field :nik, class: "form-control", placeholder: "123456" %>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <%= f.label :email %>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                    </span>
                    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "example@company.com" %>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <%= f.label :kode_opd %>
                  <% opds = Opd.all %>
                  <% options = options_from_collection_for_select(opds, 'id', 'nama_opd') %>
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                      <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M 6 2 C 5.861875 2 5.7278809 2.0143848 5.5976562 2.0410156 C 4.686084 2.2274316 4 3.033125 4 4 L 4 22 L 12 19 L 20 22 L 20 4 C 20 3.8625 19.985742 3.7275391 19.958984 3.5976562 C 19.799199 2.8163086 19.183691 2.2008008 18.402344 2.0410156 C 18.272119 2.0143848 18.138125 2 18 2 L 6 2 z"></path></svg>
                    </span>
                    <%= f.select :kode_opd, options, { prompt: 'Pilih OPD'}, class: "form-select" %>
                  </div>
                </div>
                <!-- End of Form -->
                <div class="form-group">
                  <!-- Form -->
                  <div class="form-group mb-4">
                    <label for="password">Your Password</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon2">
                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                      </span>
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "password", required: true, placeholder: "Password" %>
                    </div>
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                  </div>
                  <!-- End of Form -->
                  <!-- Form -->
                  <div class="form-group mb-4">
                    <label for="confirm_password">Confirm Password</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon2">
                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                      </span>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "confirm_password", required: true ,placeholder: "Confirm Password" %>
                    </div>
                  </div>
                  <!-- End of Form -->
                </div>
                <div class="d-grid">
                  <%= f.submit "Sign up", class: "btn btn-gray-800" %>
                </div>
              <% end %>
              <div class="d-flex justify-content-center align-items-center mt-4">
                <span class="fw-normal">
                  Already have an account? 
                  <%= link_to 'Login Here', new_user_session_path, class: "fw-bold" %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<% end %>
