<%= form_with model: bpmn_spbe, local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(sasaran),
                form_ajax_type_param: '',
                action: 'ajax:complete->form-ajax#processAjax'
              } do |form| %>
  <% if bpmn_spbe.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= pluralize(bpmn_spbe.errors.count, "error") %>:</h2>

      <ul>
        <% bpmn_spbe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag :sasaran_id, sasaran.id %>
    <%= form.label :nama_bpmn, class: 'form-label' %>
    <%= form.text_field :nama_bpmn, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dapat_digunakan_pd_lain, 'Apakah BPMN bisa digunakan untuk Perangkat Daerah Lainnya?' %><br>

    <div class="form-check form-check-inline">
      <%= form.radio_button :dapat_digunakan_pd_lain, true, class: 'form-check-input', id: 'bpmn_dapat_digunakan_ya' %>
      <%= form.label :dapat_digunakan_pd_lain, 'Ya', class: 'form-check-label', for: 'bpmn_dapat_digunakan_ya' %>
    </div>

    <div class="form-check form-check-inline">
      <%= form.radio_button :dapat_digunakan_pd_lain, false, class: 'form-check-input', id: 'bpmn_dapat_digunakan_tidak' %>
      <%= form.label :dapat_digunakan_pd_lain, 'Tidak', class: 'form-check-label', for: 'bpmn_dapat_digunakan_tidak' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
