<%# TODO: perbaiki UI %>
<article>
  <p><strong>
      Head: <%= comment.head %>
    </strong>
    <small>by : <%= comment.user.nik %> on <%= comment.anggaran.uraian %></small>
  </p>
  <p><%= comment.body %></p>
  <hr>
  <p>
    <%# TODO: remote data this %>
    <%= link_to 'Edit', edit_comment_path(comment), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-comment" }  %>
    <%= link_to 'Hapus', comment_path(comment), method: :delete, data: {confirm_swal: 'Hapus Review anda ?'} %>
  </p>
</article>
<hr />
<script>
  $("#anggaran-<%= comment.anggaran_id %>").addClass('higlighted')
</script>
