<div class="inner-table-pagu">
  <% if jenis_program == 'Sub Sasaran' %>
    <p class="p-3">Rp. <%= number_with_delimiter(pagu_sub_sasaran) %></p>
  <% else %>
    <table class="table p-0 m-0 inner-table">
      <thead>
        <tr>
          <th><%= jenis_program %></th>
          <th>PAGU ANGGARAN</th>
        </tr>
      </thead>
      <tbody>
        <% if jenis_program == 'Subkegiatan' %>
          <tr class="border-none">
            <td class="text-wrap"><%= subkegiatan[0] %></td>
            <td class="text-wrap">Rp. <%= number_with_delimiter(subkegiatan[1]) %></td>
          </tr>
        <% else %>
          <% programs.each do |program| %>
            <tr class="<%= programs.size > 1 ? 'border' : 'border-none' %>">
              <td class="text-wrap"><%= program[0] %></td>
              <td class="text-wrap">Rp. <%= number_with_delimiter(program[1]) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
