<tr class="<%= jenis %>">
    <% if jenis == 'sasaran_kota' %>
        <td rowspan="<%= rowspan %>" colspan="2" class="text-wrap"><%= renaksi %></td>
    <% else %>
        <td rowspan="<%= rowspan %>" class="text-wrap"><%= title_up %></td>
        <td rowspan="<%= rowspan %>" class="text-wrap"><%= renaksi %></td>
    <% end %>
    <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;" colspan="3"></td>
    <% if jenis == 'sasaran_kota' %>
        <td rowspan="<%= rowspan %>" colspan="2" class="text-center">
            Rp. XXX.XXX
        </td>
    <% else %>
        <td rowspan="<%= rowspan %>" class="text-center program">Program : XXX</td>
        <td rowspan="<%= rowspan %>" class="text-center pagu">
            Rp. XXX.XXX
        </td>
    <% end %>
    <td rowspan="<%= rowspan %>" class="text-wrap text-center"><%= keterangan %></td>
    <td rowspan="<%= rowspan %>" class="text-wrap text-center align-middle fw-bolder">
        <%= jenis == 'sasaran_kota' ? title_up : opd %>
    </td>
    <td rowspan="<%= rowspan %>" class="text-center align-middle">
        <%= render ButtonLinkComponent.new(text: 'Lihat Pohon',
                                           title: 'Preview Pokin',
                                           path: show_pokin_sasaran_kotum_path(@sasaran)) %>
    </td>
</tr>
<%= render SasaranKota::IndikatorComponent.with_collection(indikators, warna_row: jenis) %>

<% unless jenis == 'sasaran_kota' %>
    <%= render SasaranKota::SasaranComponent.with_collection(sub_pohons, tahun: @tahun) %>
<% end %>
