<tr class="<%= warna_row %>">
    <td rowspan="<%= rowspan %>" class="text-wrap"><%= renaksi %></td>
    <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;" colspan="3"></td>
    <td rowspan="<%= rowspan %>" class="text-wrap"><%= keterangan %></td>
    <% if jenis == 'sasaran_kota' %>
        <td rowspan="<%= rowspan %>" class="text-wrap"><%= title_up %></td>
    <% else %>
        <td rowspan="<%= rowspan %>" class="text-wrap"><%= opd %></td>
    <% end %>
    <td rowspan="<%= rowspan %>" class="text-wrap">
        <%= render ButtonLinkComponent.new(text: 'Lihat Pohon',
                                           title: 'Preview Pokin',
                                           path: show_pokin_sasaran_kotum_path(@sasaran)) %>
    </td>
</tr>
<%= render SasaranKota::IndikatorComponent.with_collection(indikators, warna_row: warna_row) %>
