<tr class="<%= warna_row %>">
    <td colspan="4" class="subkegiatan text-wrap text-start fw-bolder">
        Subkegiatan <%= nomor %> - <%= nama_subkegiatan %>
    </td>
    <td class="rekin text-wrap text-start">
        Sasaran Kinerja: <%= rekin %>
    </td>
    <td class="pelaksana text-wrap text-start">
        Pelaksana: <%= nama_pelaksana %>
    </td>
    <td class="pagu-rekin">
        <%= pagu_subkegiatan %>
    </td>
</tr>
