<% if @head %>
  <%= render(HeaderRenjaComponent.new(title: title, indikator: with_indikator?)) %>
<% end %>
<tr>
  <td class="text-gray-900 text-wrap border"><%= kode %></td>
  <td class="text-gray-900 text-wrap border" width="950px"><%= nama %></td>
  <% if with_indikator? %>
    <td class="text-gray-900 text-wrap border"><%= indikator %></td>
    <td class="text-gray-900 text-wrap border"><%= target %></td>
    <td class="text-gray-900 text-wrap border"><%= satuan %></td>
  <% else %>
    <td class="border" scope="col" colspan="3"></td>
  <% end %>
  <td class="text-gray-900 text-wrap border" width="700px"><%= pagu %></td>
</tr>