<% if @head %>
  <%= render(HeaderRenjaComponent.new(title: title, indikator: true)) %>
<% end %>
<tr id="<%= dom_id(@program, @jenis.titleize) %>">
  <td class="text-gray-900 text-wrap border"><%= kode %></td>
  <td class="text-gray-900 text-wrap border" colspan="3"><%= nama %></td>
  <td class="text-gray-900 text-wrap border"><%= indikator %></td>
  <td class="text-gray-900 text-wrap border"><%= target %></td>
  <td class="text-gray-900 text-wrap border"><%= satuan %></td>
  <td class="text-gray-900 text-wrap border"><%= pagu %></td>
</tr>