<% if @head %>
  <%= render(HeaderRenstraComponent.new(title: title, indikator: with_indikator?, periode: periode, cetak: @cetak)) %>
<% end %>
<tr>
  <td class="text-gray-900 text-wrap border"><%= kode %></td>
  <td class="text-gray-900 text-wrap border" width="450px"><%= nama %></td>
  <% unless @cetak %>
    <td class="text-gray-900 text-wrap border">
      <%= render(EditButtonComponent.new(path: edit_renstra_path(@program,
      nama: nama,
      kode: kode,
      kode_opd: @program[:sub_opd],
      jenis: 'Renstra',
      sub_jenis: title,
      tahun_awal: @periode.first,
      tahun_akhir: @periode.last
      ))) %>
    </td>
  <% end %>
  <% periode.each do |tahun| %>
    <% if with_indikator? %>
      <td class="text-gray-900 text-wrap border"><%= indikators[tahun][:indikator] %></td>
      <td class="text-gray-900 text-wrap border"><%= indikators[tahun][:target] %></td>
      <td class="text-gray-900 text-wrap border"><%= indikators[tahun][:satuan] %></td>
    <% else %>
      <td class="border" scope="col" colspan="3"></td>
    <% end %>
    <td class="text-gray-900 border" width="250px"><%= "Rp. #{number_with_delimiter(pagu(tahun))}" %></td>
  <% end %>
</tr>
