<% if @head %>
  <%= render(HeaderRenstraComponent.new(title: title, indikator: with_indikator?, periode: periode, cetak: @cetak)) %>
<% end %>
<tr id="<%= row_id %>">
  <td class="text-gray-900 text-wrap border"><%= kode %></td>
  <% if @cetak %>
    <td class="text-gray-900 text-wrap border" colspan="2" width="450px"><%= nama %></td>
  <% else %>
    <% if with_aksi? %>
      <td class="text-gray-900 text-wrap border" width="450px"><%= nama %></td>
      <td class="border">
        <div class="d-grid gap-2">
          <%= render(EditButtonComponent.new(path: edit_path)) %>
        </div>
      </td>
    <% else %>
      <td class="text-gray-900 text-wrap border" colspan="2" width="450px"><%= nama %></td>
    <% end %>
  <% end %>
  <% periode.each do |tahun| %>
    <% if with_indikator? %>
      <td class="text-gray-900 text-wrap border"><%= indikators[tahun][:indikator] %></td>
      <td class="text-gray-900 text-wrap border"><%= indikators[tahun][:target] %></td>
      <td class="text-gray-900 text-wrap border"><%= indikators[tahun][:satuan] %></td>
    <% else %>
      <td class="border" scope="col" colspan="3"></td>
    <% end %>
    <td class="text-gray-900 border pagu pagu-<%= jenis %>" width="250px"><%= "Rp. #{number_with_delimiter(pagu(tahun))}" %></td>
  <% end %>
</tr>
