<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Usulan <%= title %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= form_with(url: '/update_sasaran_asn', local: false) do |form| %>
      <div class="field">
        <%= form.hidden_field :sasaran_id, value: @sasaran.id   %>
        <%= form.hidden_field :usulan_type  %>
        <%= form.select :usulan_id, [], {include_blank: true}, 
            {id: "#{@jenis}_dropdown",
             data: { "placeholder": "Pilih #{title}",
                    controller: 'dropdown',
                    dropdown_jenis_value: 'extra',
                    dropdown_url_value: search_usulan_user_path(format: :json, usulan_type: @jenis, nip_asn: @sasaran.user.nip_asn),
                    action: 'change-select@document->dropdown#fill_usulan_type'
            }} %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered counter">
        <thead>
          <tr>
            <th width="20px">No</th>
            <th width="200px">Usulan</th>
            <th width="200px"><%= header_deskripsi %></th>
            <th width="500px"><%= header_uraian %></th>
            <th class="text-center align-middle" width="50px">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% usulans.each do |usulan| %>
            <tr>
              <td class="align-middle" width="20px"></td>
              <td class="text-wrap align-middle" width="200px"><%= usulan.usulan %></td>
              <td class="text-wrap align-middle" width="200px"><%= usulan.deskripsi %></td>
              <td class="text-wrap align-middle" width="500px"><%= usulan.uraian %></td>
              <td class="text-center align-middle" width="50px">
                <%= render(DeleteButtonComponent.new(path: sasaran_usulan_path(@sasaran, usulan), title: 'Hapus usulan ?')) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
