<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Usulan <%= new_name %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= form_with(url: '/update_sasaran_asn', local: false,
                  data: data_form_ajax) do |form| %>
      <div class="field">
        <%= form.hidden_field :sasaran_id, value: @sasaran.id   %>
        <%= form.hidden_field :usulan_type  %>
        <%= form.hidden_field :tahun, value: @sasaran.tahun  %>
        <%= form.hidden_field :opd_id, value: @sasaran&.opd&.id  %>
        <%= form.select :usulan_id, [], {include_blank: true},
         {id: "#{@jenis}_dropdown",
          data: { "placeholder": "Pilih #{new_name}",
            controller: 'dropdown',
            dropdown_jenis_value: 'extra',
            dropdown_kode_value: @sasaran.id,
            dropdown_url_value: search_usulan_user_path(format: :json, usulan_type: @jenis, nip_asn: @sasaran.user.nip_asn),
            action: 'change-select@document->dropdown#fill_usulan_type'
         }} %>
      </div>
      <div class="actions">
        <%= form.submit "Tambahkan Usulan #{new_name} ke rencana kinerja",
         name: 'simpan',
         class: 'btn btn-outline-primary mt-4' %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered counter">
        <thead>
          <tr>
            <th width="20px">No</th>
            <th width="200px"><%= header_usulan %></th>
            <th width="200px"><%= header_deskripsi %></th>
            <th width="500px"><%= header_uraian %></th>
            <th class="text-center align-middle" width="50px">Aksi</th>
          </tr>
        </thead>
        <tbody id="<%= id_target_usulan %>">
          <%= render partial: 'usulans/row_usulan_card_component',
                     collection: usulans, as: :usulan, locals: { sasaran: @sasaran } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
