<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Tujuan Kota Tahun Penilaian <%= @tahun %><h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered align-items-center" data-form-table-target="table">
      <tbody>
        <tr>
          <td class="text-gray-900 text-wrap fw-bolder " width="300px">Tujuan Strategis RPJMD</td>
          <td class="text-wrap">
            <%= tujuan_kota %>
          </td>
        </tr>
        <tr>
          <td class="text-gray-900 text-wrap fw-bolder">Tujuan RPJMD</td>
          <td class="text-wrap">
            <%= render 'manrisks/table_tujuan_rpjmd', tujuan_kota: tujuan_kota, tahun: @tahun %>
          </td>
        </tr>
        <tr>
          <td class="text-gray-900 text-wrap fw-bolder">Penetapan konteks Risiko Strategis Pemda</td>
          <td class="text-wrap"><%= tujuan_kota.risiko&.konteks_strategis %></td>
        </tr>
        <tr>
          <td class="text-gray-900 text-wrap fw-bolder">Prioritas pembangunan dan program unggulan</td>
          <td class="text-wrap"><%= tujuan_kota.risiko&.prioritas %></td>
        </tr>
        <tr>
          <td class="text-gray-900 text-wrap fw-bolder">Jumlah Sasaran Kota</td>
          <td class="text-wrap"><%= tujuan_kota.pohon.sub_pohons.size %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Sasaran Kota<h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render 'manrisks/sasaran_rpjmd', tujuan_kota: tujuan_kota %>
  </div>
</div>
