<%= content_for :html_title, "Konteks Strategis Risiko" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Manrisk</li>
  <li class="breadcrumb-item active" aria-current="page">Konteks Strategis</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <%= render 'shared/card_layout_subtitle',
               title: "Konteks Strategis Risiko - #{@pemda}",
               sub_title: "Periode #{@periode}",
               sub_title_2: "Tahun Penilaian #{@tahun}" do %>
      <div class="table-responsive mb-5">
        <%= render 'tabel_konteks_strategis', konteks: @konteks_risiko %>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
<% end %>
