<%= content_for :html_title, "Konteks Strategis Risiko" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Manrisk</li>
  <li class="breadcrumb-item active" aria-current="page">Konteks Strategis</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <%= render 'shared/card_layout_subtitle',
               title: "Konteks Strategis Risiko - #{@pemda}",
               sub_title: "Periode #{@periode}",
               sub_title_2: "Tahun Penilaian #{@tahun}" do %>
      <div class="table-responsive mb-5">
        <table class="table table-bordered align-items-center">
          <tbody id="tujuan-pemda">
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder " width="300px">Tujuan Strategis RPJMD</td>
              <td class="text-wrap">
                <ul class="list-group">
                  <% @tujuan_kota.each do |tujuan| %>
                    <li class="list-group-item"><%= tujuan %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">Penetapan konteks Risiko Strategis Pemda</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">Nama Dinas Terkait</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">Sasaran RPJMD</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">IKU Sasaran RPJMD</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">Prioritas pembangunan dan program unggulan</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">Tujuan RPJMD</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder">Sasaran RPJMD</td>
              <td class="fw-bolder text-wrap"></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
<% end %>
