<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Anggaran Blud", anggaran_bluds_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Anggaran Blud</h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Data", new_anggaran_blud_path, remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-blud'}, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="table-responsive p-4">
        <table class="table table-flush datatable" data-datatable>
          <thead>
            <tr>
              <th>Kode kelompok barang</th>
              <th>Uraian kelompok barang</th>
              <th>Kode barang</th>
              <th>Uraian barang</th>
              <th>Spesifikasi</th>
              <th>Satuan</th>
              <th>Harga satuan</th>
              <th class="text-center" colspan="2">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @anggaran_bluds.each do |anggaran_blud| %>
              <tr id="<%= dom_id(anggaran_blud) %>">
                <td class="text-wrap"><%= anggaran_blud.kode_kelompok_barang %></td>
                <td class="text-wrap"><%= anggaran_blud.uraian_kelompok_barang %></td>
                <td class="text-wrap"><%= anggaran_blud.kode_barang %></td>
                <td class="text-wrap"><%= anggaran_blud.uraian_barang %></td>
                <td class="text-wrap"><%= anggaran_blud.spesifikasi %></td>
                <td class="text-wrap"><%= anggaran_blud.satuan %></td>
                <td><%= anggaran_blud.harga_satuan %></td>
                <td><%= link_to edit_anggaran_blud_path(anggaran_blud), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-blud'}, class: "btn btn-sm btn-warning" do %>
                    <i class="fas fa-edit me-2"></i>
                    <span>Edit</span>
                  <% end %>
                </td>
                <td><%= link_to anggaran_blud, method: :delete, data: { confirm_swal: "Yakin ingin menghapus data ini?" }, class: "btn btn-sm btn-danger" do %>
                    <i class="fas fa-trash me-2"></i>
                    <span>Hapus</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= render 'modal' %>
