<td class="fw-bolder text-gray-500 text-center" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>">
  <% if sasaran.aksi_bulan_kosong? %>
    <%= button_to 'Sync Total Renaksi', renaksi_update_path,
      remote: true, method: :post, class: 'btn btn-sm btn-primary',
      params: {id: sasaran.id},
      data: { disable_with: 'Memproses....'} %>
  <% end %>
<br>
<% if sasaran.gambaran_umum_indikator_kosong? %>
  <%= link_to sync_sasaran_path(kode_opd: sasaran.user.opd.kode_unik_opd, tahun: Date.today.year, bulan: Date.today.month, nip_asn: sasaran.user.nik),
    remote: true,
    data: { disable_with: 'Memproses....'},
    class:"btn btn-sm btn-primary" do %>
    <i class="fas fa-sync me-2"></i>
    Sync Sasaran
  <% end %>
<% end %>
</td>
<td class="fw-bolder text-gray-500 text-center" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>">
  <% unless sasaran.aksi_bulan_kosong? %>
    <%= link_to clone_form_sasaran_path(sasaran),remote: true,
      data: { 'bs-toggle': 'modal', 'bs-target': '#form-clone-sasaran'},
      class:"btn btn-sm btn-secondary" do %>
      <i class="fas fa-clone me-2"></i>
      Cloning
    <% end %>
  <% end %>
</td>
