# render the base modal
<%= render 'shared/modal_template', modal_name: 'bagikan-strategi-kota' %>

# append modal_name in remote link
# all modal_name will be prepended with form-
# put modal_name to bs_target and form_modal_location_param
# bs_target: add # to indicate id of modal_name
# form_modal_location_param: append -body from modal_name
<%= link_to bagikan_ke_opd_strategi_kotum_path(strategi_kotum),
  remote: true, class: 'btn btn-info',
  data: { controller: 'form-modal',
          action: 'form-modal#appendForm',
          form_modal_location_param: 'form-bagikan-strategi-kota-body',
          bs_target: '#form-bagikan-strategi-kota',
          bs_toggle: 'modal' } do %>
    <span class="fas fa-arrow-down"></span>
    <span>Turunkan ke opd</span>
<% end %>


## add routes and controller with data
-- do it yourself
# render form partial
<%= form_with(url: bagikan_ke_opd_strategi_kotum_path(@strategi_kota),
  local: false,
  data: { controller: 'form-ajax',
          action: 'ajax:success->form-ajax#successResponse',
          form_ajax_modal_param: 'form-bagikan-strategi-kota'
  }) do |form| %>
  <div class="field">
    <%= form.label :strategi_kota, class: "form-label" %>
    <%= form.text_field :strategi_kota, class: "form-control", readonly: true, value: @strategi_kota.strategi %>
  </div>
  <div class="field">
    <%= form.label :opd, class: "form-label" %>
    <%= form.select :opd,dropdown_opd,
      { include_blank: true },
      data: {
        controller: 'dropdown',
        placeholder: 'Pilih OPD'
      },
      class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

# the dropdown_opd is a helper in filter_helper

# if in modal use this
  <div class="field">
    <%= form.label :opd, class: "form-label" %>
    <%= form.select :kode_opd, Opd.pluck(:nama_opd, :kode_opd), {include_blank: true},
    {class: "form-control",
    data: { "placeholder": "Pilih Opd",
            controller: 'dropdown',
            dropdown_parent_value: '#form-user'
    }} %>
  </div>


# snippet form dropdown with ajax to select dropdown
<%= form_with(url: '/update_sasaran_asn', local: false) do |form| %>
  <div class="field">
    <%= form.hidden_field :sasaran_id, value: sasaran.id   %>
    <%= form.hidden_field :usulan_type  %>
    <%= form.select :usulan_id, [], {include_blank: true},
      {data: {"placeholder": "Pilih Usulan",
               controller: 'dropdown',
               dropdown_jenis_value: 'extra',
               dropdown_url_value: '/inovasi_search.json',
               action: 'change-select@document->dropdown#fill_usulan_type'
      }} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


# chain dropdown ( maybe )
<%= form_with url: '/filter_sasaran', local: false do |form| %>
  <%= form.hidden_field :filter_file, value: filter_value %>
  <%= form.hidden_field :jenis, value: filter_jenis %>
  <%= form.label :kode_opd %>
  <% dropdown = options_for_select(Opd.where.not(kode_opd: nil).pluck(:nama_opd, :kode_opd), current_user.opd.kode_unik_opd) %>
  <%= form.select :kode_opd, dropdown ,{include_blank: true},
    { class: "form-control", required: true,
      data: { "placeholder": "Pilih Opd",
              controller: 'dropdown',
              dropdown_jenis_value: 'chain'
      } }  %>
  <br>
  <%= form.label :nip_asn %>
  <%= form.select :nip_asn, [''] ,{include_blank: true},
  { class: "form-control", required: true,
    data: { "placeholder": "Pilih ASN",
            controller: 'dropdown',
            dropdown_jenis_value: 'ajax',
            dropdown_url_value: '/user_search.json',
            action: 'change-select@document->dropdown#chain_value_to_target'
    } }  %>
  <%= form.submit 'filter' %>
<% end %>

<%= form_with url: '/filter_sasaran', local: false do |form| %>
  <%= form.hidden_field :filter_file, value: filter_value %>
  <%= form.hidden_field :jenis, value: filter_jenis %>
  <%= form.label :kode_opd %>
  <% dropdown = options_for_select(Opd.where.not(kode_opd: nil).pluck(:nama_opd, :kode_opd), current_user.opd.kode_unik_opd) %>
  <%= form.select :kode_opd, dropdown ,{include_blank: true},
    { class: "form-control", required: true,
      data: { "placeholder": "Pilih Opd",
              controller: 'dropdown',
              dropdown_jenis_value: 'chain'
      } }  %>
  <br>
  <%= form.label :nip_asn %>
  <%= form.select :nip_asn, [''] ,{include_blank: true},
  { class: "form-control", required: true,
    data: { "placeholder": "Pilih ASN",
            controller: 'dropdown',
            dropdown_jenis_value: 'ajax',
            dropdown_url_value: '/user_search.json',
            action: 'change-select@document->dropdown#chain_value_to_target'
    } }  %>
  <%= form.submit 'filter' %>
<% end %>
