<%= form_with(model: sasaran_kotum, local: false,
              data: {
                controller: 'form-ajax',
                action: 'ajax:success->form-ajax#successResponse',
                form_ajax_target_param: dom_id(@strategi_kota),
                form_ajax_type_param: '',
                action: 'ajax:complete->form-ajax#processAjax'
}) do |form| %>
  <%= form.hidden_field :tematik_id %>
  <div class="field">
    <%= form.label :tujuan_kota, class: 'form-label' %>
    <%= form.select :id_tujuan, TujuanKota.all.collect {|tk| [ tk.tujuan, tk.kode_tujuan] },{ include_blank: true, required: true },
     { class: 'form-control', data: { controller: 'dropdown', placeholder: 'Pilih Tujuan Kota' } }%>
  </div>

  <div class="field">
    <%= form.label :sasaran, class: 'form-label' %>
    <%= form.text_field :sasaran, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tahun_awal, class: 'form-label' %>
    <%= form.select :tahun_awal,[2020, 2021, 2022, 2023, 2024],{},
     { class: 'form-control', data: { controller: 'dropdown' } }%>
  </div>

  <div class="field">
    <%= form.label :tahun_akhir, class: 'form-label' %>
    <%= form.select :tahun_akhir,[2020, 2021, 2022, 2023, 2024],{},
     { class: 'form-control', data: { controller: 'dropdown' } }%>
  </div>

  <div class="actions">
    <%= form.submit "Simpan Sasaran Kota" %>
  </div>
<% end %>
