<% pohon = PohonKotaPresenter.new(sas) %>
<% rowspan_help = rowspan_helper(pohon, sas) %>
<% rowspan_ind = rowspan_help[:rowspan_ind] %>
<% rowspan_rkn = rowspan_help[:rowspan_rekins] %>
<% rowspan = rowspan_help[:rowspan] %>
<tr class="<%= pohon.warna_row %>">
    <td rowspan="<%= rowspan %>" class="text-wrap text-center"><%= no %></td>
    <td rowspan="<%= rowspan %>" class="text-wrap"><%= sas.pohonable %></td>
    <td class="p-0 m-0" colspan="3"></td>
    <td rowspan="<%= rowspan %>" class="text-wrap"><%= sas.opd %></td>
    <td class="p-0 m-0" colspan="2"></td>
    <td rowspan="<%= rowspan %>" class="text-wrap"><%= sas.keterangan %></td>
    <td rowspan="<%= rowspan %>" class="text-wrap">
        <%= render ButtonLinkComponent.new(text: 'Lihat Pohon',
                                           title: 'Preview Pokin',
                                           path: show_pokin_sasaran_kotum_path(sas)) %>
    </td>
</tr>
<% sas.pohonable.indikators.each do |ind| %>
    <tr class="<%= pohon.warna_row %>">
        <td rowspan="<%= rowspan_rkn %>" class="text-wrap ind-ind">Indikator - <%= ind %></td>
        <td rowspan="<%= rowspan_rkn %>" class="ind-target">Target - <%= ind.target %></td>
        <td rowspan="<%= rowspan_rkn %>" class="ind-satuan">Satuan - <%= ind.satuan %></td>
    </tr>
<% end %>

<% if pohon.role == 'eselon_2' || pohon.role == 'eselon_3' || pohon.role == 'sub_sub_pohon_kota' || pohon.role == 'sub_pohon_kota' || pohon.role == 'pohon_kota' %>
    <% program_pohon(pohon.pohonable, pohon.role).each do |program| %>
        <tr class="<%= pohon.warna_row %>">
            <td class="program text-wrap">
                Program - <%= program&.nama_program %>
            </td>
            <td class="pagu-program">
                Program - Rp. <%= pagu_pohon(pohon.pohonable, pohon.role) %>
            </td>
        </tr>
    <% end %>
<% elsif pohon.rencana_kinerjas %>
    <% pohon.rencana_kinerjas.each do |sasaran| %>
        <% if pohon.role == 'eselon_4' %>
            <tr class="<%= pohon.warna_row %>">
                <td class="subkegiatan text-wrap">
                    Subkegiatan - <%= sasaran&.subkegiatan %>
                </td>
                <td class="pagu-rekin">
                    Subkegiatan - Rp. <%= pagu_pohon(sasaran, pohon.role) %>
                </td>
            </tr>
        <% end %>
    <% end %>
<% end %>

<% sas.sub_pohons.select { |sub| sub.pohonable }.each.with_index(1) do |sub_sas, no_sub| %>
    <%= render 'sasaran_kota/row_tabel_rad_kota', sas: sub_sas, no: "#{no}.#{no_sub}" %>
<% end %>
