<% rowspan = sasaran.indikators.size + 1 %>
<tr id="<%= dom_id(sasaran) %>">
  <td rowspan="<%= rowspan %>" class="border"></td>
  <td rowspan="<%= rowspan %>" class="text-wrap border"><%= sasaran %></td>
  <td rowspan="<%= rowspan %>" class="text-wrap border"><%= sasaran.sasaran_kotum %></td>
  <td rowspan="<%= rowspan %>" class="border">
    <% if sasaran.sasaran_kotum.present? %>
      <%= link_to edit_sasaran_kotum_path(sasaran.sasaran_kotum), remote: true,
       data: {
         controller: 'form-modal',
         action: 'ajax:complete->form-modal#success:prevent',
         bs_toggle: 'modal',
         bs_target: '#form-modal'
       },
       class: 'btn btn-outline-info' do %>
        <i class="fa fa-edit me-2"></i>
        <span>Edit</span>
      <% end %>
    <% else %>
      <%= link_to new_sasaran_kotum_path(tematik_id: sasaran.id), remote: true,
       data: {
         controller: 'form-modal',
         action: 'ajax:complete->form-modal#success:prevent',
         bs_toggle: 'modal',
         bs_target: '#form-modal'
       },
       class: 'btn btn-outline-info' do %>
        <i class="fa fa-edit me-2"></i>
        <span>Edit</span>
      <% end %>
    <% end %>
  </td>
  <td colspan="3" class="p-0 m-0 border-0"></td>
  <td class="text-wrap border" rowspan="<%= rowspan %>"><%= sasaran.keterangan %></td>
</tr>
<% sasaran.indikators.each do |indikator| %>
  <tr class="skip">
    <td class="text-wrap border"><%= indikator %></td>
    <td class="border"><%= indikator.target %></td>
    <td class="border"><%= indikator.satuan %></td>
  </tr>
<% end %>
