<tr>
  <td class="fw-bolder" scope="row" rowspan="<%= sasaran.indikator_sasarans.size + 1 %>"><%= i %></td>
  <td class="fw-bolder" scope="row" rowspan="<%= sasaran.indikator_sasarans.size + 1 %>">
     <%= link_to edit_sasaran_kotum_path(sasaran),
         class: "m-3 btn btn-outline-info" do %>
           <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Sasaran"></i>
           <span>Edit</span>
     <% end %>
     <%= link_to sasaran_kotum_path(sasaran), method: :delete,
       data: { confirm_swal: "Hapus #{sasaran.sasaran} ?"},
       class: "m-3 btn btn-outline-danger" do %>
         <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus Sasaran"></i>
         <span>Hapus</span>
     <% end %>
  </td>
  <td class="fw-bolder text-wrap" scope="row" rowspan="<%= sasaran.indikator_sasarans.size + 1 %>"><%= sasaran.sasaran %></td>
  <td class="fw-bolder" scope="row" rowspan="<%= sasaran.indikator_sasarans.size + 1 %>"><%= sasaran.tahun_awal_akhir %></td>
  <%= render 'indikator_sasaran_kota_row', indikator_sasarans: sasaran.indikator_sasarans %>
</tr>
