<table class="table table-bordered align-items-center">
    <caption class="caption-top fw-bold">Sasaran Kota</caption>
    <thead>
        <tr>
            <th>Sasaran Kota</th>
            <th>Indikator</th>
            <th>Target</th>
            <th>Satuan</th>
            <th>Keterangan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% rowspan = sasaran_kota_rad.pohonable.indikators.size + 1 %>
        <tr>
            <td rowspan="<%= rowspan %>" class="text-wrap border"><%= sasaran_kota_rad.pohonable.sasaran_kotum %></td>
            <td colspan="3" class="p-0 m-0 border-0"></td>
            <td class="text-wrap border" rowspan="<%= rowspan %>"><%= sasaran_kota_rad.pohonable.keterangan %></td>
            <td class="text-wrap border" rowspan="<%= rowspan %>">
                <div class="d-grid gap-2">
                    <%= render ButtonLinkComponent.new(text: 'Lihat Pohon',
                                                       title: 'Preview Pokin',
                                                       path: show_pokin_sasaran_kotum_path(sasaran_kota_rad)) %>
                    <%= render ButtonDownloadComponent.new(text: 'Cetak',
                                                           path: rad_excel_cetak_sasaran_kotum_path(sasaran_kota_rad.pohonable, tahun: @tahun, format: :xlsx) ) %>
                </div>
            </td>
        </tr>
        <% sasaran_kota_rad.pohonable.indikators.each do |indikator| %>
            <tr class="skip">
                <td class="text-wrap border"><%= indikator %></td>
                <td class="border"><%= indikator.target %></td>
                <td class="border"><%= indikator.satuan %></td>
            </tr>
        <% end %>
    </tbody>
</table>
