<table class="table table-bordered align-items-center">
    <caption class="caption-top fw-bold">Sub Sasaran</caption>
    <thead>
        <tr>
            <th>No</th>
            <th>Sub Sasaran Kota</th>
            <th>Indikator</th>
            <th>Target</th>
            <th>Satuan</th>
            <th class="rekap_pokin_separator" colspan="3"></th>
            <th>Keterangan</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% sub_sasaran_kota.each.with_index(1) do |sub, no| %>
            <% rowspan_ind_sub = sub.pohonable.indikators.size + 1 %>
            <% sub_sasaran_kota = sub.pohonable.sasaran_kotum.present? ? sub.pohonable.sasaran_kotum : sub.pohonable %>
            <tr>
                <td rowspan="<%= rowspan_ind_sub %>" class="text-wrap text-center"><%= no %></td>
                <td rowspan="<%= rowspan_ind_sub %>" class="py-0 text-wrap"><%= sub_sasaran_kota %></td>
                <td colspan="3" class="p-0 m-0 border-0"></td>
                <td colspan="3" rowspan="<%= rowspan_ind_sub %>" class="text-wrap border"></td>
                <td rowspan="<%= rowspan_ind_sub %>" class="text-wrap border"><%= sub.keterangan %></td>
                <td rowspan="<%= rowspan_ind_sub %>" class="text-wrap border">
                    <%= render ButtonLinkComponent.new(text: 'Lihat Pohon',
                                                       title: 'Preview Pokin',
                                                       path: show_pokin_sasaran_kotum_path(sub)) %>
                </td>
            </tr>
            <% sub.pohonable.indikators.each do |indikator| %>
                <tr class="skip">
                    <td class="text-wrap border"><%= indikator %></td>
                    <td class="border"><%= indikator.target %></td>
                    <td class="border"><%= indikator.satuan %></td>
                </tr>
            <% end %>
            <% if sub.sub_pohons.any? %>
                <tr>
                    <th>No</th>
                    <th>Rencana Aksi Sub Sasaran</th>
                    <th>Indikator</th>
                    <th>Target</th>
                    <th>Satuan</th>
                    <th>OPD Pelaksana</th>
                    <th class="text-wrap">Urusan / Program / Sub Kegiatan</th>
                    <th>Pagu Anggaran</th>
                    <th>Keterangan</th>
                    <th>Action</th>
                </tr>
                <% sub.sub_pohons.select { |sub| sub.pohonable }.each.with_index(1) do |sub_ren, no_ren| %>
                    <%= render 'sasaran_kota/row_tabel_rad_kota', sas: sub_ren, no: "#{no}.#{no_ren}" %>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>
