<table class="table table-bordered align-items-center">
    <tbody>
        <tr>
            <th>Sasaran Kota</th>
            <td class="text-wrap border"><%= sasaran_kota_rad.pohonable.sasaran_kotum %></td>
        </tr>
        <% sasaran_kota_rad.pohonable.indikators.each.with_index(1) do |indikator, index| %>
            <tr>
                <th>Indikator <%= index %></th>
                <td class="text-wrap border"><%= indikator %></td>
            </tr>
            <tr>
                <th>Target</th>
                <td class="border"><%= indikator.target %></td>
            </tr>
            <tr>
                <th>Satuan</th>
                <td class="border"><%= indikator.satuan %></td>
            </tr>
        <% end %>
        <tr>
            <th>Keterangan</th>
            <td class="text-wrap border"><%= sasaran_kota_rad.pohonable.keterangan %></td>
        </tr>
        <tr>
            <th rowspan="2">Action</th>
            <td class="text-wrap border">
                    <%= render ButtonLinkComponent.new(text: 'Lihat Pohon',
                                                       title: 'Preview Pokin',
                                                       path: show_pokin_sasaran_kotum_path(sasaran_kota_rad)) %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= render ButtonDownloadComponent.new(text: 'Cetak',
                                                           path: rad_excel_cetak_sasaran_kotum_path(sasaran_kota_rad.pohonable, tahun: @tahun, format: :xlsx) ) %>
            </td>
        </tr>
    </tbody>
</table>
