<table class="table table-bordered align-items-center">
    <caption class="caption-top fw-bold">Sub Sasaran</caption>
    <thead>
        <tr>
            <th>No</th>
            <th>Sub Sasaran Kota</th>
            <th>Indikator</th>
            <th>Target</th>
            <th>Satuan</th>
            <th>OPD Pelaksana</th>
            <th>Keterangan</th>
        </tr>
    </thead>
    <tbody>
        <% sub_sasaran_kota.each.with_index(1) do |sub, no| %>
            <% rowspan_ind_sub = sub.pohonable.indikators.size + 1 %>
            <% sub_sasaran_kota = sub.pohonable.sasaran_kotum.present? ? sub.pohonable.sasaran_kotum : sub.pohonable %>
            <tr>
                <td rowspan="<%= rowspan_ind_sub %>" class="text-wrap text-center"><%= no %></td>
                <td rowspan="<%= rowspan_ind_sub %>" class="py-0 text-wrap">
                    <div class="row">
                        <div class="col align-content-around">
                            <%= sub_sasaran_kota %>
                        </div>
                        <div class="col text-center">
                            <div class="d-grid gap-3 py-2 border-start">
                                <% if sub.pohonable.sasaran_kotum.present? %>
                                    <div class="tombol-edit-strategi">
                                        <%= link_to edit_sasaran_kotum_path(sub.pohonable.sasaran_kotum), remote: true,
                                         data: {
                                             controller: 'form-modal',
                                             action: 'ajax:complete->form-modal#success:prevent',
                                             bs_toggle: 'modal',
                                             bs_target: '#form-modal'
                                         },
                                         class: 'btn btn-outline-info' do %>
                                            <i class="fa fa-edit me-2"></i>
                                            <span>Edit</span>
                                        <% end %>
                                    </div>
                                    <div class="tombol-view-rad">
                                        <%= link_to rad_kota_sasaran_kotum_path(sub.pohonable, tahun: @tahun), class: 'btn btn-outline-primary' do %>
                                            <i class="fa fa-book-open me-2"></i>
                                            <span>RAD</span>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="tombol-input-sasaran-kota">
                                        <%= link_to new_sasaran_kotum_path(tematik_id: sub.pohonable.id), remote: true,
                                         data: {
                                             controller: 'form-modal',
                                             action: 'ajax:complete->form-modal#success:prevent',
                                             bs_toggle: 'modal',
                                             bs_target: '#form-modal'
                                         },
                                         class: 'btn btn-secondary' do %>
                                            <i class="fa fa-plus me-2"></i>
                                            <span>Input Sasaran</span>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </td>
                <td colspan="3" class="p-0 m-0 border-0"></td>
                <td rowspan="<%= rowspan_ind_sub %>" class="text-wrap border"></td>
                <td rowspan="<%= rowspan_ind_sub %>" class="text-wrap border"><%= sub.keterangan %></td>
            </tr>
            <% sub.pohonable.indikators.each do |indikator| %>
                <tr class="skip">
                    <td class="text-wrap border"><%= indikator %></td>
                    <td class="border"><%= indikator.target %></td>
                    <td class="border"><%= indikator.satuan %></td>
                </tr>
            <% end %>
            <tr>
                <th>No</th>
                <th>Rencana Aksi Sub Sasaran</th>
                <th>Indikator</th>
                <th>Target</th>
                <th>Satuan</th>
                <th>OPD Pelaksana</th>
                <th>Keterangan</th>
            </tr>
            <% sub.sub_pohons.each.with_index(1) do |sub_ren, no_ren| %>
                <%= render 'sasaran_kota/row_tabel_rad_kota', sas: sub_ren, no: "#{no}.#{no_ren}" %>
            <% end %>
        <% end %>
    </tbody>
</table>
