<%= content_for :html_title, "Sasaran Kota / RAD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Sasaran Kota / RAD</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Sasaran Kota Tahun <%= @tahun %>
            <h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table counter">
              <caption class="caption-top">Jumlah Sasaran Kota: <strong><%= @sasaran_kota.size %> Sasaran</strong></caption>
              <thead>
                <tr>
                  <th class="border" scope="col">No.</th>
                  <th class="border" scope="col">Strategi Kota</th>
                  <th class="border" scope="col" colspan="2">Sasaran Kota</th>
                  <th class="border" scope="col">Indikator</th>
                  <th class="border" scope="col">Target</th>
                  <th class="border" scope="col">Satuan</th>
                  <th class="border" scope="col">Keterangan</th>
                </tr>
              </thead>
              <tbody id="sasaran-kota">
                <%= render partial: 'sasaran_kota/sasaran_kota', collection: @sasaran_kota, as: :sasaran %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
