<%= content_for :html_title, "Sasaran Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Sasaran Kota</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Sasaran Kota Tahun <%= @tahun %><h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <caption class="p-3">Jumlah Sasaran Kota Tahun <%= @tahun %>: <strong><%= @sasaran_kota.size %> Sasaran</strong></caption>
        <table class="table counter">
          <thead>
            <tr>
              <th class="border" scope="col">No.</th>
              <th class="border" scope="col">Strategi Kota</th>
              <th class="border" scope="col">Sasaran Kota</th>
              <th class="border" scope="col">Indikator</th>
              <th class="border" scope="col">Target</th>
              <th class="border" scope="col">Satuan</th>
              <th class="border" scope="col">Keterangan</th>
            </tr>
          </thead>
          <tbody id="sub-sub-tematik">
            <% @sasaran_kota.each.with_index(1) do |sasaran, i| %>
              <% rowspan = sasaran.indikators.size + 1 %>
              <tr>
                <td rowspan="<%= rowspan %>" class="border"></td>
                <td rowspan="<%= rowspan %>" class="text-wrap border"><%= sasaran %></td>
                <td rowspan="<%= rowspan %>" class="text-wrap border"><%= sasaran %></td>
                <td colspan="3" class="p-0 m-0 border-0"></td>
                <td class="text-wrap border" rowspan="<%= rowspan %>"><%= sasaran.keterangan %></td>
              </tr>
              <% sasaran.indikators.each do |indikator| %>
                <tr class="skip">
                  <td class="text-wrap border"><%= indikator %></td>
                  <td class="border"><%= indikator.target %></td>
                  <td class="border"><%= indikator.satuan %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
