<%= content_for :html_title, "Sasaran Kota / RAD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Sasaran Kota / RAD</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Sasaran Kota Tahun <%= @tahun %>
            <h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="accordion" id="accordionRad">
        <% @sasaran_kota.each do |tema, tujuan_sasarans| %>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target='<%= "#collapse-#{tema.id}" %>' aria-expanded="true" aria-controls='<%= "#collapse-#{tema.id}" %>'>
                <%= tema %> - <%= tema.pohonable %>
              </button>
            </h2>
            <div id='<%= "collapse-#{tema.id}" %>' class="accordion-collapse collapse">
              <div class="accordion-body">
                <div class="table-responsive">
                  <% tujuan_sasarans.each do |tujuan, sasarans| %>
                    <table class="table counter table-bordered mb-5" id='<%= "rencana-aksi-daerah-#{tema.id}-#{tujuan&.id}" %>'>
                      <colgroup>
                        <col style="width: 50px;" />
                        <col style="width: 500px;" />
                        <col />
                      </colgroup>
                      <thead>
                        <tr>
                          <th class="border" scope="col" colspan="4">Tujuan Kota</th>
                          <th class="border" scope="col">Indikator</th>
                          <th class="border" scope="col">Rumus Perhitungan</th>
                          <th class="border" scope="col">Sumber Data</th>
                          <th class="border" scope="col">Target</th>
                          <th class="border" scope="col">Satuan</th>
                          <th class="border" scope="col">Jenis</th>
                          <th class="border" scope="col">Keterangan</th>
                        </tr>
                      </thead>
                      <% if tujuan.present? %>
                        <%= render 'tujuan_kota/tujuan_kota_row_no_action_single_year', tujuan_kota: tujuan, tahun: @tahun %>
                      <% else %>
                        <tbody>
                          <tr class="skip">
                            <td class="text-wrap" colspan="11">KOSONG</td>
                          </tr>
                        </tbody>
                      <% end %>
                      <tbody>
                        <tr class="skip">
                          <th class="border" scope="col">No.</th>
                          <th class="border" scope="col">Strategi Kota</th>
                          <th class="border" scope="col" colspan="2">Sasaran Kota</th>
                          <th class="border" scope="col">Indikator</th>
                          <th class="border" scope="col">Rumus Perhitungan</th>
                          <th class="border" scope="col">Sumber Data</th>
                          <th class="border" scope="col">Target</th>
                          <th class="border" scope="col">Satuan</th>
                          <th class="border" scope="col">Jenis</th>
                          <th class="border" scope="col">Keterangan</th>
                        </tr>
                        <%= render partial: 'sasaran_kota/laporan_sasaran_kota', collection: sasarans, as: :sasaran %>
                      </tbody>
                    </table>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
