<%= content_for :html_title, "Rencana Aksi Daerah" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item" aria-current="page">Sasaran Kota</li>
  <li class="breadcrumb-item" aria-current="page"><%= @sub_tematik.sasaran_kotum %></li>
  <li class="breadcrumb-item active" aria-current="page">Rencana Aksi Daerah</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="sasaran-kota-rad">
        <%= render 'sasaran_kota/tabel_sasaran_kota_rad', sasaran_kota_rad: @sub_tematik %>
      </div>
    </div>
    <div class="card-body">
      <% if @sub_sasaran.present? %>
        <div class="sub-sasaran-kota table-responsive">
          <%= render 'sasaran_kota/tabel_sub_sasaran_kota_rad', sub_sasaran_kota: @sub_sasaran_kota %>
        </div>
      <% end %>
      <% if @rad_sasaran_kota.present? %>
        <div class="rad-sasaran-kota table-responsive">
          <%= render 'sasaran_kota/tabel_rad_kota', rad_sasaran_kota: @rad_sasaran_kota %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
