<%= content_for :html_title, "Hasil Cascading Kota" %>
<%= content_for :navigation do %>
    <li class="breadcrumb-item" aria-current="page">Pohon Kinerja</li>
    <li class="breadcrumb-item active" aria-current="page">Hasil Cascading Kota</li>
<% end %>
<% content_for :view_utama do %>
    <%= render 'shared/card_layout', title: "Pohon #{@title} - Tahun #{@tahun}" do %>
        <%= render 'shared/pohon' do %>
            <% if @pohon.present? %>
                <%= render Pohon::RootComponent.new(title: 'Pohon RAD',subtitle: @title) %>
                <ul data-pohon-tematik-target='dahan'>
                    <%= render Pohon::BranchComponent.new(branch: @pohon, tahun: @tahun, is_root: true) %>
                </ul>
            <% else %>
                <%= render Pohon::RootComponent.new(title: @title) %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
