<tr id="<%= dom_id(indikator) %>">
  <td class="text-gray-900 text-wrap border" width='20px'></td>
  <td class="text-gray-900 text-wrap border"><%= indikator&.opd %></td>
  <td class="text-gray-900 text-wrap border"><%= indikator || '-' %></td>
  <td class="text-gray-900 text-wrap border"><%= indikator.target %></td>
  <td class="text-gray-900 text-wrap border"><%= indikator.satuan %></td>
  <td class="text-gray-900 text-wrap border"><%= indikator.sumber_data %></td>
  <td class="text-gray-900 text-wrap border"><%= indikator.rumus_perhitungan %></td>
</tr>
