<%= content_for :html_title, "IKU OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Indikator</li>
  <li class="breadcrumb-item active" aria-current="page">IKU OPD</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "IKU #{@nama_opd} - #{@tahun}" do %>
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" width="20px">No.</th>
            <th class="border" scope="col">Indikator</th>
            <th class="border" scope="col" width="50px">Target</th>
            <th class="border" scope="col">Satuan</th>
          </tr>
        </thead>
        <tbody>
          <% @iku_opd.each.with_index(1) do |indikator, no_iku| %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row"><%= no_iku %></td>
              <td class="text-gray-900 text-wrap border"><%= indikator || '-' %></td>
              <% if indikator.class.name == 'IndikatorSasaran' %>
                <td class="text-gray-900 text-wrap border"><%= indikator.target %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator.satuan %></td>
              <% else %>
                <% target = indikator.targets.find_by(tahun: @tahun_bener) %>
                <td class="text-gray-900 text-wrap border"><%= target.target %></td>
                <td class="text-gray-900 text-wrap border"><%= target.satuan %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
