<%= content_for :html_title, "IKU SAKIP" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Indikator</li>
  <li class="breadcrumb-item active" aria-current="page">IKU SAKIP</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "IKU SAKIP #{@nama_opd} - #{@tahun}" do %>
    <% if @doc_tte&.status == 'diproses' || @doc_tte&.status == 'pending' %>
      <div class="polling-tte"
           data-controller="polling"
           data-polling-status-value="<%= @doc_tte&.status %>"
           data-polling-url-value="<%= status_tte_document_url(@doc_tte) %>">
        <%= render 'tte_documents/status', tte_document: @doc_tte %>
      </div>
    <% else %>
      <div class="cetak-tte">
        <%= render 'tte_documents/status', tte_document: @doc_tte %>
      </div>
    <% end %>
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" width="20px">No.</th>
            <th class="border" scope="col">Tujuan/Sasaran</th>
            <th class="border" scope="col">Indikator</th>
            <th class="border" scope="col" width="50px">Target</th>
            <th class="border" scope="col">Satuan</th>
            <th class="border text-center" scope="col">Rumus Perhitungan</th>
            <th class="border text-center" scope="col">Sumber Data</th>
            <th class="border" scope="col">Keterangan</th>
          </tr>
        </thead>
        <tbody>
          <% @iku_opd.each.with_index(1) do |(ts, indikators), no_iku| %>
            <% rowspan = indikators.size %>
            <% is_tujuan = ts.class.name == 'TujuanOpd' %>
            <% class_is_hidden = indikators.any?(&:is_hidden) ? 'bg-gray-300' : 'bg-white' %>
            <% class_is_tujuan = is_tujuan ? 'fw-bolder text-gray-900 border' : 'text-gray-500 border' %>
            <tr id="<%= dom_id(ts) %>">
              <td rowspan="<%= rowspan %>" class="border" width="20px"><%= no_iku %></td>
              <td rowspan="<%= rowspan %>" class="<%= [class_is_tujuan, class_is_hidden, "text-wrap"].join(' ') %>"><%= ts.to_s %></td>

              <% indikator = indikators.first %>
              <%= render 'col_iku_sakip', indikator: indikator, tahun: @tahun_bener, class_is_tujuan: class_is_tujuan %>
            </tr>

            <% indikators.drop(1).each do |indikator| %>
              <tr id="<%= dom_id(indikator) %>" data-controller="row">
                <%= render 'col_iku_sakip', indikator: indikator, tahun: @tahun_bener, class_is_tujuan: class_is_tujuan  %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>

<%= render 'shared/medium_modal' %>
