<div id="request-tte" class="text-center">
    <%= form_with url: cetak_iku_sakip_indikators_path, method: :post, local: true, data: { controller: 'form' } do |f| %>
        <%= f.hidden_field :kode_opd, value: @kode_opd %>
        <%= f.hidden_field :kode_opd, value: @tahun %>
        <div class="field">
            <%= f.label :nip, "NIP", {class: "form-label"} %>
            <p class="form-control disabled">
                <%= @kepala_opd.nik %>
            </p>
        </div>
        <div class="field">
            <%= f.label :nama, {class: "form-label"} %>
            <p class="form-control disabled">
                <%= @kepala_opd.nama %>
            </p>
        </div>
        <div class="field">
            <%= f.label :nik, "NIK", {class: "form-label"} %>
            <p class="form-control disabled">
                <%=  @nik_asli %>
            </p>
        </div>
        <div class="form-group mb-4">
            <label for="password">Passphrase Kepala OPD</label>
            <div class="input-group">
                <%= f.password_field :passphrase, class: "form-control", id: "password", required: true %>
                <span class="input-group-text togglePassword" data-action="click->form#toggleVisible" data-form-type-param="password">
                    <i class="far fa-eye-slash" style="cursor: pointer"></i>
                </span>
            </div>
        </div>
        <%= f.submit "Request TTE IKU SAKIP OPD", class: "btn btn-primary" %>
    <% end %>
</div>
