<%= content_for :html_title, "Indikator RKPD - Sasaran" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item">Indikator</li>
  <li class="breadcrumb-item">RKPD</li>
  <li class="breadcrumb-item active" aria-current="page">Sasaran</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Indikator Sasaran Kota - #{@tahun}" do %>
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" width="20px">No.</th>
            <th class="border" scope="col">Sasaran Kota</th>
            <th class="border" scope="col">Indikator</th>
            <th class="border" scope="col" width="50px">Target</th>
            <th class="border" scope="col">Satuan</th>
          </tr>
        </thead>
        <tbody>
          <% @sasaran_kota.each.with_index(1) do |sub_tema, no_sas| %>
            <% row_sub = sub_tema.indikators.size + 1 %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row" rowspan="<%= row_sub %>"><%= no_sas %></td>
              <td class="text-gray-900 text-wrap border" scope="row" rowspan="<%= row_sub %>" ><%= sub_tema %></td>
            </tr>
            <% sub_tema.indikators.each do |indikator_sub| %>
              <tr>
                <td class="text-gray-900 text-wrap border"><%= indikator_sub || '-' %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator_sub.target %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator_sub.satuan %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
