<%= content_for :html_title, "Indikator RKPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Indikator</li>
  <li class="breadcrumb-item active" aria-current="page">RKPD</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Tujuan Kota - #{@tahun}" do %>
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" width="20px">No.</th>
            <th class="border" scope="col">Tujuan Kota</th>
            <th class="border" scope="col">Indikator</th>
            <th class="border" scope="col" width="50px">Target</th>
            <th class="border" scope="col">Satuan</th>
          </tr>
        </thead>
        <tbody>
          <% @tujuan_kota.each.with_index(1) do |tema, no_tujuan| %>
            <% rowsize = tema.indikators.size + 1 %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row" rowspan="<%= rowsize %>"><%= no_tujuan %></td>
              <td class="text-gray-900 text-wrap border" scope="row" rowspan="<%= rowsize %>" ><%= tema %></td>
            </tr>
            <% tema.indikators.each do |indikator| %>
              <tr>
                <td class="text-gray-900 text-wrap border"><%= indikator || '-' %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator.target %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator.satuan %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= render 'shared/card_layout', title: "Sasaran Kota - #{@tahun}" do %>
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" width="20px">No.</th>
            <th class="border" scope="col">Sasaran Kota</th>
            <th class="border" scope="col">Indikator</th>
            <th class="border" scope="col" width="50px">Target</th>
            <th class="border" scope="col">Satuan</th>
          </tr>
        </thead>
        <tbody>
          <% @sasaran_kota.each.with_index(1) do |sub_tema, no_sas| %>
            <% row_sub = sub_tema.indikators.size + 1 %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row" rowspan="<%= row_sub %>"><%= no_sas %></td>
              <td class="text-gray-900 text-wrap border" scope="row" rowspan="<%= row_sub %>" ><%= sub_tema %></td>
            </tr>
            <% sub_tema.indikators.each do |indikator_sub| %>
              <tr>
                <td class="text-gray-900 text-wrap border"><%= indikator_sub || '-' %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator_sub.target %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator_sub.satuan %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= render 'shared/card_layout', title: "Program" do %>
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" width="20px">No.</th>
            <th class="border" scope="col">Program</th>
            <th class="border" scope="col">Indikator</th>
            <th class="border" scope="col" width="50px">Target</th>
            <th class="border" scope="col">Satuan</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kota.each do |opd, programs| %>
            <% tahun_bener = tahun_fix(@tahun) %>
            <tr>
              <td class="text-wrap border bg-gray-300" colspan="5"><%= opd %></td>
            </tr>
            <% programs.each.with_index(1) do |program, no_prg| %>
              <% row_prg = program.indikator_program_renstra.where(tahun: @tahun).size + 1 %>
              <tr>
                <td class="text-gray-900 text-wrap border" rowspan="<%= row_prg %>" width='20px' scope="row"><%= no_prg %></td>
                <td class="text-gray-900 text-wrap border" rowspan="<%= row_prg %>" scope="row"><%= program.nama_program %></td>
              </tr>
              <% program.indikator_program_renstra.where(tahun: tahun_bener).each do |ind_prg| %>
                <tr>
                  <td class="text-gray-900 text-wrap border"><%= ind_prg || '-' %></td>
                  <td class="text-gray-900 text-wrap border"><%= ind_prg.target %></td>
                  <td class="text-gray-900 text-wrap border"><%= ind_prg.satuan %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
