<p id="notice"><%= notice %></p>

<p>
  <strong>Harga satuan:</strong>
  <%= @anggaran_sbk.harga_satuan %>
</p>

<p>
  <strong>Id standar harga:</strong>
  <%= @anggaran_sbk.id_standar_harga %>
</p>

<p>
  <strong>Kode barang:</strong>
  <%= @anggaran_sbk.kode_barang %>
</p>

<p>
  <strong>Kode kelompok barang:</strong>
  <%= @anggaran_sbk.kode_kelompok_barang %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @anggaran_sbk.satuan %>
</p>

<p>
  <strong>Spesifikasi:</strong>
  <%= @anggaran_sbk.spesifikasi %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @anggaran_sbk.tahun %>
</p>

<p>
  <strong>Uraian barang:</strong>
  <%= @anggaran_sbk.uraian_barang %>
</p>

<p>
  <strong>Uraian kelompok barang:</strong>
  <%= @anggaran_sbk.uraian_kelompok_barang %>
</p>

<p>
  <strong>Opd:</strong>
  <%= @anggaran_sbk.opd_id %>
</p>

<%= link_to 'Edit', edit_anggaran_sbk_path(@anggaran_sbk) %> |
<%= link_to 'Back', anggaran_sbks_path %>
