<p id="notice"><%= notice %></p>

<h1>Anggota Tims</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Role</th>
      <th>Keterangan</th>
      <th>Tahun</th>
      <th>Metadata</th>
      <th>Tim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anggota_tims.each do |anggota_tim| %>
      <tr>
        <td><%= anggota_tim.nama %></td>
        <td><%= anggota_tim.role %></td>
        <td><%= anggota_tim.keterangan %></td>
        <td><%= anggota_tim.tahun %></td>
        <td><%= anggota_tim.metadata %></td>
        <td><%= anggota_tim.tim_id %></td>
        <td><%= link_to 'Show', anggota_tim %></td>
        <td><%= link_to 'Edit', edit_anggota_tim_path(anggota_tim) %></td>
        <td><%= link_to 'Destroy', anggota_tim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anggota Tim', new_anggota_tim_path %>
