<%= form_with(model: akar_masalah, local: false,
              data: {
                action: 'ajax:complete->row#processAjax',
              },
              id: form_id(akar_masalah)
) do |form| %>
  <td width="5%"></td>
  <%= render(ColFieldComponent.new(width: '500px')) do %>
    <%= form.text_area :masalah_pokok, class: 'form-control',
       form: form_id(akar_masalah), placeholder: 'Masalah pokok...', cols: 5 %>
  <% end %>
  <%= render(ColFieldComponent.new(width: '500px')) do %>
    <%= form.text_area :masalah, class: 'form-control',
       form: form_id(akar_masalah), placeholder: 'Masalah...', cols: 5 %>
  <% end %>
  <%= render(ColFieldComponent.new(width: '500px')) do %>
    <%= form.text_area :akar_masalah, class: 'form-control',
       form: form_id(akar_masalah), placeholder: 'Akar masalah...', cols: 5 %>
  <% end %>
  <td class="fw-bolder">
    <div class="d-grid gap-2">
      <%= form.submit 'Simpan', class: 'btn btn-sm', style: 'margin-top: 0 !important;',
       form: form_id(akar_masalah) %>
      <button class="btn btn-sm btn-outline-danger" data-action="row#batal">Batal</button>
    </div>
  </td>
<% end %>
