<%= form_with(model: akar_masalah, local: false,
              data: {
                row_target: 'form',
                action: 'ajax:complete->row#processAjax',
              },
              id: form_id(akar_masalah)
) do |form| %>
  <td rowspan="<%= rowspan %>" data-row-target="form">
    <%= form.hidden_field :jenis, form: form_id(akar_masalah), data: { row_target: 'form' } %>
    <%= form.text_area :masalah, class: 'form-control',
       form: form_id(akar_masalah), placeholder: 'Masalah pokok...', cols: 7, rows: 7 %>
  </td>
  <td class="fw-bolder" rowspan="<%= rowspan %>" data-row-target="form" >
    <div class="d-grid gap-2">
      <%= form.submit 'Simpan', class: 'btn btn-sm', style: 'margin-top: 0 !important;',
       form: form_id(akar_masalah) %>
      <button class="btn btn-sm btn-outline-danger" data-action="row#colBatal">Batal</button>
    </div>
  </td>
<% end %>
