<div class="pohon-body">
  <table class="table table-bordered mb-3">
    <% unless pohon.exists? %>
      <tr>
        <td class="text-start" width="30px"><%= pohon.title_up %></td>
        <td class="text-wrap text-start" colspan="2"><%= pohon.pohonable.strategi %></td>
      </tr>
      <% pohon.crosscuttings.each.with_index(1) do |dibagikan, no| %>
        <tr>
          <td class="text-start" width="30px">Crosscutting
            <% if pohon.crosscuttings.size > 1 %>
              <%= no %>
            <% end %>
          </td>
          <td class="text-wrap text-start"><%= dibagikan.opd.nama_opd %></td>
        </tr>
      <% end %>
      <% pohon.indikators.each.with_index(1) do |indikator, i| %>
        <tr class="detail d-none">
          <td class="text-start" width="30px">Indikator
            <% if pohon.indikators.size > 1 %>
              <%= i %>
            <% end %>
          </td>
          <td class="text-wrap text-start" colspan="2"><%= indikator %></td>
        </tr>
        <tr class="detail d-none">
          <td class="text-start" width="30px">Target / Satuan</td>
          <td class="text-wrap text-start" colspan="2"><%= indikator.target %> <%= indikator.satuan %></td>
        </tr>
      <% end %>
      <tr class="detail d-none">
        <td class="text-start" width="30px">Keterangan</td>
        <td class="text-wrap text-start" colspan="2"><%= pohon.keterangan %></td>
      </tr>
      <tr class="detail d-none">
        <td class="text-start" width="30px">Perangkat Daerah</td>
        <td class="text-wrap text-start" colspan="2"><%= pohon.pohonable.opd %></td>
      </tr>
      <% if pohon.processed? %>
        <tr class="detail <%= pohon.status %> d-none">
        </tr>
        <tr class="detail <%= pohon.status %> d-none">
          <td class="text-start" width="30px"><%= pohon.status_ket %> oleh</td>
          <td class="text-wrap text-start" colspan="2"><%= pohon.diproses_oleh %></td>
        </tr>
        <tr class="detail <%= pohon.status %> d-none">
          <td class="text-start" width="30px"><%= pohon.status_ket %> pada</td>
          <td class="text-wrap text-start" colspan="2"><%= time_tag(pohon.diproses_pada, format: :hari_jam) %></td>
        </tr>
        <% if pohon.status_ket == 'Ditolak' %>
          <tr class="detail <%= pohon.status %> d-none">
            <td class="text-start" width="30px">Keterangan</td>
            <td class="text-wrap text-start" colspan="2"><%= pohon.keterangan_proses %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <button type="button" class="btn btn-outline-primary w-100" data-action="pohon-tematik#toggleDetail" data-pohon-tematik-show-param="false">Detail</button>
</div>
