<% presenter = PohonKinerjaPresenter.new(pohon) %>
<% show_button = local_assigns.fetch(:show_button, true) %>
<div class="pohon">
  <%= render partial: 'pohon_kinerja_opds/item_pohon_title', locals: { pohon: presenter, show_button: show_button } %>
  <%= render partial: 'pohon_kinerja_opds/item_cascading_body', locals: { pohon: presenter, show_button: show_button } %>
  <%= render partial: 'pohon_kinerja_opds/item_cascading_pelaksana', locals: { pohon: presenter, show_button: show_button } %>
  <%= render partial: 'pohon_kinerja_opds/item_cascading_inovasi', locals: { pohon: presenter } %>
  <%= render partial: 'pohon_kinerja_opds/item_reviews', locals: { pohon: presenter, show_button: show_button } %>
  <% unless guest? %>
    <% if show_button %>
      <%= render partial: 'pohon_kinerja_opds/item_cascading_tombol', locals: { pohon: presenter } %>
    <% end %>
  <% end %>
  <%= render partial: 'pohon_kinerja_opds/item_pohon_foot', locals: { pohon: presenter, partial: 'pohon_cascading', show_button: show_button } %>
</div>
