<% unless pohon.exists? %>
  <% if pohon.pelaksana.any? %>
    <div class="pohon-body">
      <% pohon.pelaksana.each.with_index(1) do |dibagikan, no| %>
        <table class="table table-bordered mb-3">
          <tr>
            <td class="text-start" width="20px">Pelaksana
              <% if pohon.pelaksana.size > 1 %>
                <%= no %>
              <% end %>
            </td>
            <td class="text-wrap text-start"><%= dibagikan.dibagikan_ke %></td>
            <td class="text-wrap text-center align-middle" style="font-size: 11px;">
              <% checker = dibagikan.pohonable.sasarans.select { |s| s.nip_asn == dibagikan.nip_asn } %>
              <% if checker.any? %>
                <span class="badge bg-success">Jumlah Rencana Kinerja: <%= checker.size %></span>
              <% else %>
                <span class="badge bg-danger">Rencana Kinerja belum terisi</span>
              <% end %>
            </td>
            <% if privileged_user %>
              <td class="text-center align-middle">
                <%= link_to pelaksana_path(dibagikan, user_id: dibagikan.user_id),
                 method: :delete,
                 data: {
                   confirm_swal: 'hapus pelaksana?',
                   controller: 'form-ajax',
                   action: 'ajax:complete->form-ajax#afterSubmitRefresh'
                 },
                 class: 'btn btn-sm btn-outline-danger' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="pohon-body">
      <% pohon.pelaksana.each.with_index(1) do |dibagikan, no| %>
        <% if dibagikan.user.indikators.any? %>
          <table class="table table-bordered mb-3">
            <tr>
              <td class="text-start" width="20px">Pelaksana
                <% if pohon.pelaksana.size > 1 %>
                  <%= no %>
                <% end %>
              </td>
              <td class="text-wrap text-start"><%= dibagikan.dibagikan_ke %></td>
            </tr>
            <% dibagikan.user.indikators.each.with_index(1) do |ind, no_i| %>
              <tr>
                <td class="text-start" width="20px">Indikator
                  <%= ind.jenis %>
                  <%= ind.sub_jenis %>
                  <%= no_i %>
                </td>
                <td class="text-wrap text-start"><%= ind %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
    </div>
    <div class="pohon-tombol mb-3">
      <div class="row">
        <div class="col">
          <%= link_to new_indikators_user_path(role: pohon.role, dom_id: dom_id(pohon.real), strategi_id: pohon.real.id),
           remote: true,
           class: 'btn btn-sm btn-outline-gray-900',
           data: {
             controller: 'form-modal',
             action: 'form-modal#appendForm',
             form_modal_location_param: 'form-pelaksana-body',
             bs_target: '#form-pelaksana',
             bs_toggle: 'modal'
           } do %>
            <span class="fas fa-target me-2"></span>
            <span>Indikator</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
