<div class="pohon">
  <%= render partial: 'pohon_kinerja_opds/item_pohon_title', locals: { pohon: pohon } %>
  <%= render partial: 'pohon_kinerja_opds/item_pohon_body', locals: { pohon: pohon } %>
  <%= render partial: 'pohon_kinerja_opds/item_pohon_crosscutting', locals: { pohon: pohon } %>
  <%= render partial: 'pohon_kinerja_opds/item_reviews', locals: { pohon: pohon } %>
  <%= render partial: 'pohon_kinerja_opds/item_pohon_tombol', locals: { pohon: pohon } %>
  <%= render partial: 'pohon_kinerja_opds/item_pohon_foot', locals: { pohon: pohon, partial: 'pohon_kinerja_opd' } %>
</div>
