<div class="pohon-body">
  <% pohon.pelaksana.each.with_index(1) do |dibagikan, no| %>
    <% indikator_pelaksanas = dibagikan.user.indikators.by_strategi_id(pohon.real.id) %>
    <% if indikator_pelaksanas.any? %>
      <table class="table table-bordered mb-3">
        <tr>
          <td class="text-start" width="20px">Pelaksana</td>
          <td class="text-wrap text-start"><%= dibagikan.user %></td>
        </tr>
        <% indikator_pelaksanas.each.with_index(1) do |ind, no_i| %>
          <tr>
            <td class="text-start" width="20px">Indikator
              <%= ind.jenis %>
              <%= ind.sub_jenis %>
              <%= no_i %>
            </td>
            <td class="text-wrap text-start"><%= ind %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
