<% unless pohon.exists? && !reviewer? %>
  <% if pohon.real.instance_of?(StrategiPohon) %>
    <% if privileged_user || current_user.eselon_user == pohon.role_atasan || current_user.eselon_user == pohon.role %>
      <div class="pohon-tombol mb-3">
        <div class="row">
          <div class="col">
            <%= link_to new_crosscutting_path(strategi_id: pohon, partial: partial),
                        remote: true,
                        class: 'btn btn-sm btn-outline-gray-900',
                        data: {
                          controller: 'form-modal',
                          action: 'form-modal#appendForm',
                          form_modal_location_param: 'form-crosscutting-body',
                          bs_target: '#form-crosscutting',
                          bs_toggle: 'modal'
                        },
                        style: 'font-size: 0.8em;' do %>
              <span class="fas fa-link me-2"></span>
              <span>Crosscutting</span>
            <% end %>
          </div>
          <div class="col">
            <%= link_to pelaksana_path(pohon),
                        remote: true,
                        class: 'btn btn-sm btn-outline-gray-900',
                        data: {
                          controller: 'form-modal',
                          action: 'form-modal#appendForm',
                          form_modal_location_param: 'form-pelaksana-body',
                          bs_target: '#form-pelaksana',
                          bs_toggle: 'modal'
                        } do %>
              <span class="fas fa-user-plus me-2"></span>
              <span>Pelaksana</span>
            <% end %>
          </div>
          <div class="col">
            <%= link_to new_indikators_user_path(role: pohon.role, dom_id: dom_id(pohon.real), strategi_id: pohon.real.id),
                        remote: true,
                        class: 'btn btn-sm btn-outline-success',
                        data: {
                          controller: 'form-modal',
                          action: 'form-modal#appendForm',
                          form_modal_location_param: 'form-indikator-pelaksana-body',
                          bs_target: '#form-indikator-pelaksana',
                          bs_toggle: 'modal'
                        } do %>
              <span class="fas fa-crosshairs me-2"></span>
              <span>Indikator</span>
            <% end %>
          </div>
          <div class="col">
            <%= link_to edit_pohon_kinerja_opd_path(pohon, partial: 'item_cascading'),
                        remote: true,
                        class: 'btn btn-sm btn-outline-info',
                        data: {
                          controller: 'pohon-tematik',
                          action: 'ajax:complete->pohon-tematik#pindahPohon:prevent'
                        } do %>
              <i class="fas fa-edit me-2"></i>
              <span>Edit</span>
            <% end %>
          </div>
          <div class="col">
            <%= link_to pohon_kinerja_opd_path(pohon),
                        remote: true,
                        method: :delete,
                        class: 'btn btn-sm btn-outline-danger',
                        data: {
                          confirm_swal: 'Hapus pohon kinerja?',
                          action: 'ajax:success->pohon-tematik#ajaxDelete'
                        } do %>
              <i class="fas fa-trash me-2"></i>
              <span>Hapus</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <% unless pohon.processed? %>
      <% if pohon.role == 'strategi_pohon_kota' %>
        <div class="pohon-tombol mb-3">
          <div class="row">
            <div class="col">
              <%= link_to terima_pohon_tematik_path(pohon, partial: 'pohon_kinerja_opds/pohon_cascading'),
                          remote: true,
                          method: :patch,
                          class: 'btn btn-outline-success',
                          data: {
                            confirm_swal: "Terima strategi ?",
                            method: 'PATCH',
                            controller: 'pohon-tematik',
                            action: 'ajax:complete->pohon-tematik#terimaPohon:prevent'
                          } do %>
                <i class="fas fa-check me-2"></i>
                <span>Terima</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="pohon-tombol mb-3">
        <div class="row">
          <div class="col">
            <button class='btn btn-outline-primary'
                    data-action="pohon-tematik#scrollTo"
                    data-pohon-tematik-strategi-param="<%= pohon.pohonable.id %>" >
              <i class="fas fa-arrow-right me-2"></i>
              <span>Cek Strategi</span>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
