<% unless pohon.exists? %>
  <div class="pohon-tombol mb-3">
    <% if pohon.real.instance_of?(StrategiPohon) %>
      <div class="row">
        <div class="col">
          <%= link_to pelaksana_path(pohon),
     remote: true,
     class: 'btn btn-sm btn-outline-gray-900',
     data: {
         controller: 'form-modal',
         action: 'form-modal#appendForm',
         form_modal_location_param: 'form-pelaksana-body',
         bs_target: '#form-pelaksana',
         bs_toggle: 'modal'
     } do %>
            <span class="fas fa-user-plus me-2"></span>
            <span>Pelaksana</span>
          <% end %>
        </div>
        <div class="col">
          <%= link_to edit_pohon_kinerja_opd_path(pohon),
     remote: true,
     class: 'btn btn-sm btn-outline-info',
     data: {
         controller: 'pohon-tematik',
         action: 'ajax:complete->pohon-tematik#pindahPohon:prevent'
     } do %>
            <i class="fas fa-edit me-2"></i>
            <span>Edit</span>
          <% end %>
        </div>
        <div class="col">
          <%= link_to pohon_kinerja_opd_path(pohon),
     remote: true,
     method: :delete,
     class: 'btn btn-sm btn-outline-danger',
     data: {
         confirm_swal: 'Hapus pohon kinerja?',
         action: 'ajax:success->pohon-tematik#ajaxDelete'
     } do %>
            <i class="fas fa-trash me-2"></i>
            <span>Hapus</span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col">
          <%= link_to terima_pohon_tematik_path(pohon),
         remote: true,
         method: :patch,
         class: 'btn btn-outline-success',
         data: {
             confirm_swal: "Terima strategi ?",
             method: 'PATCH',
             controller: 'pohon-tematik',
             action: 'ajax:complete->pohon-tematik#terimaPohon:prevent'
         } do %>
            <i class="fas fa-check me-2"></i>
            <span>Terima</span>
          <% end %>
        </div>
        <div class="col">
          <%= link_to tolak_strategi_pohon_tematik_path(pohon),
         remote: true,
         class: 'btn btn-outline-danger',
         data: {
             controller: 'form-modal',
             action: 'ajax:complete->form-modal#success:prevent',
             bs_toggle: 'modal',
             bs_target: '#form-modal'
         } do %>
            <i class="fa fa-times me-2"></i>
            <span>Tolak</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
