<%= content_for :html_title, "Pohon Cascading OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Pohon Cascading OPD</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Pohon Cascading #{@nama_opd} - Tahun #{@tahun}" do %>
    <div class="card-body row" id='jumlah-strategi'>
      <%= render 'clone/jumlah_strategi', tahun: @tahun %>
    </div>
    <%= render 'shared/pohon' do %>
      <%= render 'item_opd', partial: 'pohon_cascading', title: 'Pohon Cascading' %>
      <ul data-pohon-tematik-target='dahan'>
        <%= render partial: 'pohon_cascading', collection: @strategi_beda_opd, as: :pohon %>
        <%= render partial: 'pohon_cascading', collection: @strategi_kota, as: :pohon %>
        <%= render partial: 'pohon_cascading', collection: @strategi_opd, as: :pohon %>
      </ul>
    <% end %>
  <% end %>
  <%= render 'shared/modal_xl_template', modal_name: 'pelaksana' %>
  <%= render 'shared/modal_xl_template', modal_name: 'indikator-pelaksana' %>
  <%= render 'crosscuttings/modal_crosscutting' %>
<% end %>
