<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center mb-3">
        <div class="col-8">
          <span class="fs-5 fw-bold mb-0">Rencana Aksi dan Anggaran <%= sasaran.sasaran_kinerja %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm align-items-center">
        <caption class="waktu-renaksi">
          <strong>Waktu yang dibutuhkan :</strong>
          <%= waktu = sasaran.waktu_total == 0 ? "-" : sasaran.waktu_total %> bulan
        </caption>
        <thead class="thead-light">
          <tr>
            <th class="border-bottom border-end border-start" scope="col" rowspan="2">No.</th>
            <th class="border-bottom border-end" scope="col" rowspan="2">Tahapan Kerja</th>
            <th class="border-bottom border-end text-center" scope="col" rowspan="2">Anggaran</th>
            <th class="border-bottom border-end" scope="col" rowspan="2">Keterangan</th>
            <th class="border-bottom border-end" scope="col" rowspan="2">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% sasaran.tahapans.order(:created_at).each.with_index(1) do |tahapan, index| %>
            <tr class="<%= tahapan.ada_komentar? ? 'higlighted' : 'clean' %>">
              <td class="fw-bolder border-start border-end" scope="row"><%= index %></td>
              <td class="fw-bolder"><%= tahapan.tahapan_kerja %></td>
              <td class="fw-bolder">Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan) %></td>
              <td class="fw-bolder"><%= tahapan.keterangan %></td>
              <td class="fw-bolder">
                <input name="gender[rencana_aksi][]" type="checkbox" value="<%= tahapan.tahapan_kerja %>" />
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td class="border-bottom border-start border-end" colspan="2">Total</td>
            <td class="border-bottom border-end text-end">Rp. <%= number_with_delimiter(sasaran.total_anggaran_dengan_komentar) %></td>
            <td class="border-bottom border-end" colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<%= render 'shared/modal_template', modal_name: 'renaksi' %>
