<div class="card-body" id="tujuan-kota-card">
  <div class="d-grid gap-4">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Usulan Inisiatif Walikota Tahun <%= "#{@tahun}" %> - <%= @opd %></h2>
      </div>
    </div>
    <div class="table-responsive mb-5">
      <table class="table table-bordered align-items-center counter">
        <thead>
          <tr>
            <th class="fw-bolder" width="20px">No.</th>
            <th class="fw-bolder">Program Unggulan Walikota</th>
            <th class="fw-bolder">Asta Karya</th>
            <th class="fw-bolder">Misi Walikota</th>
            <th class="fw-bolder">Pohon Kinerja</th>
            <th class="fw-bolder">Rencana Kinerja</th>
            <th class="fw-bolder">Pemilik Rencana Kinerja</th>
            <th class="fw-bolder">Sub Kegiatan</th>
            <th class="fw-bolder">Program</th>
            <th class="fw-bolder">Pagu Rencana Kinerja</th>
            <th class="fw-bolder">OPD</th>
            <th class="fw-bolder">Permasalahan/ Uraian</th>
            <th class="fw-bolder">Inovasi</th>
            <th class="fw-bolder">Keterangan</th>
          </tr>
        </thead>
        <tbody>
          <% @inovasis.each do |inovasi| %>
            <tr>
              <td class="text-gray-900" width='20px'></td>
              <td class="fw-bolder text-wrap"><%= inovasi.usulan %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.manfaat %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.misi %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.pokin_inovasi %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.rekin_inovasi %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.pemilik_rekin %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.subkegiatan_rekin %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.program_rekin %></td>
              <td class="text-gray-900">Rp. <%= number_with_delimiter(inovasi.pagu_rekin) %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.opd_rekin %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.uraian %></td>
              <td class="text-gray-900 text-wrap"><%= inovasi.inovasi_rekin %></td>
              <td class="text-gray-900 text-wrap">-</td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9">Total Pagu</td>
            <td class="text-gray-900 border-end border-start px-3"  width="150px">Rp. <%= number_with_delimiter(@inovasis.map(&:pagu_rekin).compact.sum) %></td>
            <td colspan="4"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
