<div class="card border-0 shadow" id="usulan_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Laporan Usulan <%= @type_alsi %></h2>
      </div>
      <div class="col-auto">
        <div class="text-end"><strong><%= @nama_opd %></strong></div>
        <div class="text-end"><strong><%= @tahun %></strong></div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_usulan">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom text-center text-wrap" scope="col"><%= @type_alsi %></th>
            <th class="border-bottom text-center text-wrap" scope="col">Sub Kegiatan</th>
            <th class="border-bottom text-center text-wrap" scope="col">Program</th>
            <th class="border-bottom text-center text-wrap" scope="col">Pagu</th>
            <th class="border-bottom text-center text-wrap" scope="col">OPD</th>
            <th class="border-bottom text-center text-wrap" scope="col">Permasalahan/ Uraian</th>
            <th class="border-bottom text-center text-wrap" scope="col">Keterangan</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |pk, i| %>
            <tr class="border-bottom">
              <td class="text-gray-900 fw-bolder border-bottom" width="50px" rowspan="<%= pk.usulans.where(usulanable_type: @type).count + 1 %>"><%= i %></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <td class="text-gray-900 border-end border-start text-wrap" width="200px" rowspan="<%= pk.usulans.where(usulanable_type: @type).count + 1 %>"><%= pk.nama_subkegiatan %></td>
              <td class="text-gray-900 border-end border-start text-wrap" width="200px" rowspan="<%= pk.usulans.where(usulanable_type: @type).count + 1 %>"><%= pk.nama_program %></td>
              <td class="text-gray-900 border-end border-start px-3"  width="150px" rowspan="<%= pk.usulans.where(usulanable_type: @type).count + 1 %>">Rp. <%= number_with_delimiter(pk.my_pagu) %></td>
              <td class="text-gray-900 border-end border-start text-wrap" width="200px" rowspan="<%= pk.usulans.where(usulanable_type: @type).count + 1 %>"><%= pk.opd.nama_opd %></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <% pk.usulans.where(usulanable_type: @type).each do |us| %>
                <% keterangan = us.usulanable.try(:alamat) || us.usulanable.try(:peraturan_terkait) || us.usulanable.try(:manfaat) %>
                <tr>
                  <td class="text-gray-900 border-end border-start text-wrap" width="300px"><%= us.usulanable&.usulan %></td>
                  <td class="text-gray-900 border-end border-start text-wrap"><%= us.usulanable&.uraian %></td>
                  <td class="text-gray-900 border-end border-start text-wrap"><%= keterangan %></td>
                </tr>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Jumlah Pagu</td>
            <td class="text-gray-900 border-end border-start px-3"  width="150px">Rp. <%= number_with_delimiter(@program_kegiatans.map(&:my_pagu).compact.sum) %></td>
            <td colspan="3"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
