<td class="text-gray-900 text-wrap"><%= rekin_lead&.pokin_inovasi %></td>
<td class="text-gray-900 text-wrap"><%= rekin_lead&.rekin_inovasi %></td>
<td class="text-gray-900 text-wrap"><%= rekin_lead&.pemilik_rekin %></td>
<td class="text-gray-900 text-wrap"><%= rekin_lead&.subkegiatan_rekin %></td>
<td class="text-gray-900 text-wrap"><%= rekin_lead&.program_rekin %></td>
<td class="text-gray-900">Rp. <%= number_with_delimiter(rekin_lead&.pagu_rekin) %></td>
<td class="text-gray-900 text-wrap"><%= rekin_lead&.inovasi_rekin %></td>
