<tbody id="<%= dom_id(inovasi) %>">
  <% rowspan = inovasi.rowspan_usulans + 1 %>
  <% terdapat_rekin = inovasi.all_usulans.any? %>
  <tr>
    <td class="text-gray-900" width='20px' rowspan="<%= rowspan %>"><%= no %></td>
    <td class="fw-bolder text-wrap" rowspan="<%= rowspan %>"><%= inovasi.usulan %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.manfaat %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.misi %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.opd_lead %> <b>(Lead)</b></td>
    <!-- USULAN YANG DIAMBIL USER -->
    <td class="p-0 m-0 border-start border-end" style="height: 0px !important;" colspan="8"></td>
    <!-- END -->
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.uraian %></td>
    <td class="text-gray-900 text-wrap" style="height: 1px;" rowspan="<%= rowspan %>">
      <div class="d-grid h-100" >
        <div class="review-items" id="<%= dom_id(inovasi, 'review') %>">
          <%= render partial: 'reviews/review', collection: inovasi.reviews.includes(:user) %>
        </div>
        <% if admin_kota? %>
          <%= link_to new_review_path(type: 'Inovasi', id: inovasi.id, target: dom_id(inovasi, 'review')),
                      remote: true,
                      class: 'btn btn-outline-primary mt-auto',
                      data: {
                        controller: 'form-modal',
                        action: 'form-modal#appendForm',
                        form_modal_location_param: 'form-modal-body',
                        bs_target: '#form-modal',
                        bs_toggle: 'modal'
                      } do %>
            <span class="fas fa-marker me-2"></span>
            <span>Review</span>
          <% end %>
        <% end %>
      </div>
    </td>
    <td class="text-gray-900 text-wrap" style="height: 1px;" rowspan="<%= rowspan %>">
      <div class="d-grid h-100">
        <div class="kolab-items" id="<%= dom_id(inovasi, 'kolab') %>">
          <%= render partial: 'kolabs/kolab', collection: inovasi.kolabs %>
        </div>
        <% if admin_kota? %>
          <%= link_to new_kolab_path(type: 'Inovasi', id: inovasi.id,
                                     tahun: inovasi.tahun,
                                     kode_opd: inovasi.kode_opd_lead,
                                     target: dom_id(inovasi, 'kolab')),
                      remote: true,
                      class: 'btn btn-tertiary mt-auto',
                      data: {
                        controller: 'form-modal',
                        action: 'form-modal#appendForm',
                        form_modal_location_param: 'form-modal-body',
                        bs_target: '#form-modal',
                        bs_toggle: 'modal'
                      } do %>
            <span class="fas fa-plus me-2"></span>
            <span>Tambah Kolaborator</span>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
  <% if terdapat_rekin %>
    <% inovasi.all_usulans.each do |usulan| %>
      <tr class="skip">
        <td class="text-gray-900 text-wrap"><%= usulan.pokin_inovasi %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.rekin_inovasi %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.pemilik_rekin %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.subkegiatan_rekin %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.program_rekin %></td>
        <td class="text-gray-900">Rp. <%= number_with_delimiter(usulan.pagu_rekin) %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.opd_rekin %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.inovasi_rekin %></td>
      </tr>
    <% end %>
  <% else %>
    <tr class="skip">
      <td class="table-danger" colspan="8"></td>
    </tr>
  <% end %>
</tbody>
