<tbody id="<%= dom_id(inovasi) %>">
  <% rekin_leads = inovasi.rekin_kolabs(inovasi.opd_lead.id) %>
  <% rowspan_atas = rekin_leads.count %>
  <tr>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900" width='20px'><%= no %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="fw-bolder text-wrap"><%= inovasi.usulan %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.manfaat %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.misi %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.uraian_tag %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.opd_lead %> <b>(Lead)</b></td>
    <!-- USULAN YANG DIAMBIL USER -->
    <% rekin_lead = rekin_leads.first %>
    <%= render 'usulans/rekin', usulan: rekin_lead %>
    <!-- END -->
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.uraian %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap" style="vertical-align: top;">
      <% inovasi.reviews.each do |review| %>
        <div class="border border-2 border-top border-bottom fw-bolder text-start px-2 mb-2">
          <p><%= review.penilaian %></p>
          <hr />
          <%= review.keterangan %> (<%= review.user.nama %>)
        </div>
      <% end %>
    </td>
  </tr>
  <% rekin_leads.drop(1).each do |rekin_lead| %>
    <tr class="skip rekins" >
      <%= render 'usulans/rekin', usulan: rekin_lead %>
    </tr>
  <% end %>
</tbody>
<%= render 'usulans/kolab_items', inovasi: inovasi, cetak: true, boleh_kolab: false %>
