<% boleh_kolab = bisa_pilih_kolab?(inovasi.opd_lead) %>
<tbody id="<%= dom_id(inovasi) %>" class="<%= boleh_kolab ? 'table-info' : '' %>">
  <% rekin_leads = inovasi.rekin_kolabs(inovasi.opd_lead.id) %>
  <% rowspan_atas = rekin_leads.count %>
  <tr>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900" width='20px'><%= no %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="fw-bolder text-wrap"><%= inovasi.usulan %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.manfaat %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.misi %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.uraian_tag %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.opd_lead %> <b>(Lead)</b></td>
    <!-- USULAN YANG DIAMBIL USER -->
    <% rekin_lead = rekin_leads.first %>
    <%= render 'usulans/rekin', usulan: rekin_lead, cetak: false %>
    <!-- END -->
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap"><%= inovasi.uraian %></td>
    <td <%= rowspan_atas.positive? ? "rowspan=#{rowspan_atas}" : '' %> class="text-gray-900 text-wrap" style="vertical-align: top;">
      <%= render 'usulans/review_items', inovasi: inovasi %>
    </td>
  </tr>
  <% rekin_leads.drop(1).each do |rekin_lead| %>
    <tr class="skip rekins" >
      <%= render 'usulans/rekin', usulan: rekin_lead, cetak: false %>
    </tr>
  <% end %>
</tbody>
<%= render 'usulans/kolab_items', inovasi: inovasi, cetak: false, boleh_kolab: boleh_kolab %>
