<tbody>
  <% rowspan = inovasi.rowspan_usulans + 1 %>
  <% terdapat_rekin = inovasi.all_usulans.any? %>
  <tr>
    <td class="text-gray-900" width='20px' rowspan="<%= rowspan %>"><%= no %></td>
    <td class="fw-bolder text-wrap" rowspan="<%= rowspan %>"><%= inovasi.usulan %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.manfaat %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.misi %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.opd_lead %> <b>(Lead)</b></td>
    <!-- USULAN YANG DIAMBIL USER -->
    <td class="p-0 m-0" style="height: 0px !important;" colspan="8"></td>
    <!-- END -->
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.uraian_tag %></td>
    <td class="text-gray-900 text-wrap" rowspan="<%= rowspan %>"><%= inovasi.uraian %></td>
    <td class="text-gray-900 text-wrap" style="height: 1px;" rowspan="<%= rowspan %>">
      <div class="d-grid h-100" >
        <div class="review-items">
          <%= render partial: 'reviews/cetak_review', collection: inovasi.reviews.includes(:user), as: :review %>
        </div>
      </div>
    </td>
    <td class="text-gray-900 p-0 text-wrap" style="height: 1px;min-width: 220px;" rowspan="<%= rowspan %>">
      <div class="d-grid h-100 w-100">
        <div class="kolab-items">
          <%= render partial: 'kolabs/cetak_kolab', collection: inovasi.kolaborasi, as: :kolab %>
        </div>
      </div>
    </td>
  </tr>
  <% if terdapat_rekin %>
    <% inovasi.all_usulans.each do |usulan| %>
      <tr class="skip">
        <td class="text-gray-900 text-wrap"><%= usulan.pokin_inovasi %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.rekin_inovasi %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.pemilik_rekin %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.subkegiatan_rekin %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.program_rekin %></td>
        <td class="text-gray-900">Rp. <%= number_with_delimiter(usulan.pagu_rekin) %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.opd_rekin %></td>
        <td class="text-gray-900 text-wrap"><%= usulan.inovasi_rekin %></td>
      </tr>
    <% end %>
  <% else %>
    <tr class="skip">
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
      <td class=""></td>
    </tr>
  <% end %>
</tbody>
