<%= content_for :html_title, "Rancangan Awal Rencana Kerja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item" aria-current="page">Usulan</li>
  <li class="breadcrumb-item active" aria-current="page"><%= @jenis_asli.titleize %></li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <div class="card border-0 shadow" data-controller="page-ajax"
             data-page-ajax-opd-value="<%= cookies[:opd] %>"
             data-page-ajax-jenis-usulan-value="<%= @jenis %>"
             data-page-ajax-url-value="/filter_usulan"
             data-page-ajax-tahun-value="<%= cookies[:tahun] %>" >
      <div data-page-ajax-target="results">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Laporan Usulan <%= @jenis_asli.titleize %></h2>
            </div>
          </div>
        </div>
        <%= render(LoaderComponent.new())%>
      </div>
    </div>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
<% end %>