<%= form_with(model: [kak], class: "mt-2") do |form| %>
  <% if kak.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kak.errors.count, "error") %> prohibited this kak from being saved:</h2>
      <ul>
        <% kak.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% program = ProgramKegiatan.includes(:sasarans).where.not(sasarans: {id: nil}) %>
  <%= form.select :program_kegiatan_id, program.collect { | n | [n.nama_subkegiatan, n.id]}, {include_blank: true}, {id: "dropdown", "data-placeholder": "Pilih SubKegiatan"} %>
  <div id="detail-subkegiatan" class="my-3">
  </div>
  <h4>A. Latar Belakang</h4>
  <!-- Latar Belakang -->
  <div class="latar-belakang">
    <div class="field">
      <%= form.label :dasar_hukum, class: "form-label" %>
      <%= form.text_field :dasar_hukum,multiple: true, class: "form-control", placeholder: "Isikan Dasar Hukum SubKegiatan ...." %>
    </div>
    <%= add_new_field("Tambah Dasar Hukum", form, :dasar_hukum, kak )  %>
    <div class="field">
      <%= form.label :gambaran_umum, class: "form-label" %>
      <%= form.text_area :gambaran_umum, class: "form-control", placeholder: "Isikan Gambaran Umum SubKegiatan ....." %>
    </div>
  </div>
  <h4>B. Penerima Manfaat</h4>
  <div class="penerima-manfaat" id="penerima-manfaat">
    <div class="field">
      <%= form.text_field :penerima_manfaat, class: "form-control" %>
    </div>
  </div>
  <h4>C. Strategi Pencapaian Keluaran</h4>
  <div class="strategi" id="rencana-aksi">
    <div class="field">
      <%= form.label :tahapan_pelaksanaan, class: "form-label" %>
      <%= form.text_area :tahapan_pelaksanaan, class: "form-control" %>
    </div>
  </div>
  <h4>D. Kurun Waktu Pencapaian Keluaran</h4>
  <div class="strategi" id="waktu-dibutuhkan">
    <div class="field">
      <%= form.label :waktu_dibutuhkan, class: "form-label" %>
      <%= form.text_area :waktu_dibutuhkan, class: "form-control" %>
    </div>
  </div>
  <!-- TODO render form sasaran-->
  <!-- Gambaran Umum -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
  $(function() {
    $('form').on('click', '.add_fields_<%= kak.id %>', function(event) {
      let regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g')
      $(this).before($(this).data('fields').replace(regexp, time))
      return event.preventDefault()
    });
    let subkegiatan_space = $('#detail-subkegiatan');
    // penerima manfaat kurun waktu strategi
    let penerima_manfaat = $('#penerima-manfaat');
    let rencana_aksi = $('#rencana-aksi');
    let waktu_dibutuhkan = $('#waktu-dibutuhkan')
    let value;
    $('#dropdown').on('select2:select', (e) => {
      value = e.target.selectedOptions[0].value
      /* Detail SubKegiatn terpilih */
      isian_detail = $.get(`/program_kegiatans_to_kak/${value}`, (data) => {
        subkegiatan_space.html(data);
      });
      /* Detail Penerima Manfaat */
      kak_detail = $.get(`/program_kegiatans_to_kak_detail/${value}`, (data) => {
        penerima_manfaat.html(data)
      })
      /* Detail Rencana AKsi */
      rencana_aksi_detail = $.get(`/program_kegiatans_to_kak_renaksi/${value}`, (data) => {
        rencana_aksi.html(data)
      })
      /* Detail Waktu Rencana Aksi */
      waktu_dibutuhkan_detail = $.get(`/program_kegiatans_to_kak_waktu/${value}`, (data) => {
        waktu_dibutuhkan.html(data)
      })
    });
    if("<%= kak.program_kegiatan_id %>" != ""){
      $('#dropdown').trigger('select2:select');
    }

  });
</script>
