<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Laporan KaK Tahun <%= @tahun %></h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %></span>
        |
        <span><%= current_user.nik %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_laporan_kak">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom text-center" scope="col">Pemilik Rencana</th>
            <th class="border-bottom text-center" scope="col">Status</th>
            <th class="border-bottom text-center" scope="col">Sub Kegiatan KAK</th>
            <th class="border-bottom text-center" scope="col">Pagu Sub Kegiatan KAK</th>
            <th class="border-bottom text-center border-start border-end" scope="col" colspan="3">Informasi KaK</th>
            <th class="border-bottom text-center" scope="col">Verifikasi</th>
            <th class="border-bottom text-center" scope="col">Action</th>
          </tr>
          <tr>
            <th colspan="5"></th>
            <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
            <th class="border-bottom text-center border-start border-end">Tahun</th>
            <th class="border-bottom text-center border-start border-end">Pagu Anggaran</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |(program_kegiatan, sasaran_kinerja), nomor|  %>
            <% rowspan = sasaran_kinerja.size + 1 %>
            <tr class="border-bottom">
              <td class="text-gray-900 fw-bolder border-bottom" scope="rowgroup" width="50px" rowspan="<%= rowspan %>"><%= nomor %></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <td class="text-gray-900 text-wrap" scope="rowgroup" rowspan="<%= rowspan %>"><%= program_kegiatan.nama_subkegiatan %></td>
              <td class="text-gray-900 text-wrap" scope="rowgroup" rowspan="<%= rowspan %>">Rp. borken</td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
              <td class="fw-bolder text-gray-500 text-center border-start border-end" scope="rowgroup" rowspan="<%= rowspan %>">
                broken
              </td>
              <td class="fw-bolder text-gray-500 text-center" scope="rowgroup" rowspan="<%= rowspan %>">
                broken
              </td>
              <% sasaran_kinerja.each do |show_sasaran| %>
                <tr class="<%= warna_sasaran(show_sasaran.status_sasaran) %>">
                  <td class="border-start border-end border-bottom text-center">
                    <%= show_sasaran.user.nama %>
                  </td>
                  <td class="border-start border-end border-bottom text-center">
                    status table
                  </td>
                  <td class="text-wrap border-start border-end" width="450px">
                    <%= show_sasaran.sasaran_kinerja %>
                  </td>
                  <td class="border-start border-end border-bottom text-center">
                    <%= show_sasaran.tahun %>
                  </td>
                  <td class="border-start border-end border-bottom text-center">
                    Rp. <%= number_with_delimiter(show_sasaran.total_anggaran) or 0 %>
                  </td>
                </tr>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
