<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Laporan KaK Tahun <%= @tahun %></h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %></span>
        |
        <span><%= current_user.nik %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_laporan_kak">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom border-start border-end" scope="col" rowspan="2">No.</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Pemilik Rencana</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Status</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2" colspan="2">Sub Kegiatan KAK</th>
            <th class="border-bottom border-start border-end text-center" scope="col" rowspan="2">Pagu Sub Kegiatan KAK</th>
            <th class="border-bottom text-center border-start border-end" scope="col" colspan="3">Informasi KaK</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Action</th>
          </tr>
          <tr>
            <th class="border-bottom text-center border-start border-end" colspan="2">Rencana Kinerja</th>
            <th class="border-bottom text-center border-start border-end">Pagu Anggaran</th>
          </tr>
        </thead>
        <tbody>
          <% row_class = 'border-top border-bottom border-start border-end text-wrap' %>
          <% no_sub = 0 %>
          <% no_sas = 0 %>
          <% @program_kegiatans.each.with_index(1) do |collections, nomor|  %>
            <% collections.each do |user, program_kegiatans|  %>
              <% rowspan_sasaran = program_kegiatans.map { |k, v| v.size }.inject(:+) || 0 %>
              <% rowspan_atas = program_kegiatans.size + rowspan_sasaran + 1 %>
              <tr class="border-bottom">
                <td class="<%= row_class %>" scope="rowgroup" width="50px" rowspan="<%= rowspan_atas %>"><%= nomor %></td>
                <td class="<%= program_kegiatans.empty? ? row_class + ' bg-danger text-white' : row_class  %>" scope="rowgroup" width="50px" rowspan="<%= rowspan_atas %>"><%= user.nama %></td>
                <td class="<%= row_class %>" scope="rowgroup" width="50px" rowspan="<%= rowspan_atas %>"><%= render 'sasarans/table_status_sasaran', user: user %></td>
                <% program_kegiatans.each do |program_kegiatan, sasarans| %>
                  <% no_sub = no_sub + 1 %>
                  <tr>
                    <td class="<%= row_class %>" width="20px" scope="rowgroup" rowspan="<%= sasarans.size + 1 %>"><%= no_sub %></td>
                    <td class="<%= row_class %>" width="100px" scope="rowgroup" rowspan="<%= sasarans.size + 1 %>"><%= program_kegiatan&.nama_subkegiatan or '-' %></td>
                    <td class="<%= row_class %>" width="50px" scope="rowgroup" rowspan="<%= sasarans.size + 1 %>">Rp. <%= number_with_delimiter(sasarans.map(&:total_anggaran).inject(:+)) or 0 %></td>
                    <% sasarans.each do |sasaran| %>                    
                      <% status_sasaran = warna_sasaran(sasaran.status_sasaran) %>
                      <% no_sas = no_sas + 1 %>
                      <tr>
                        <td class="<%= status_sasaran %> text-wrap border-start border-end" width="20px"><%= no_sas %></td>
                        <td class="<%= status_sasaran %> text-wrap border-start border-end" width="200px"><%= sasaran.sasaran_kinerja %></td>
                        <td class="<%= status_sasaran %> text-wrap border-start border-end" width="200px">Rp. <%= number_with_delimiter(sasaran.total_anggaran) %></td>
                        <td class="fw-bolder text-gray-500 text-center" scope="rowgroup">
                          <%= link_to "/acuan_kerja_new/#{program_kegiatan&.id}/#{@tahun}", target: "_blank", rel: "nofollow",
                          class:"btn btn-sm btn-info" do %>
                            <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preview KaK"></i>
                            Lihat Detail
                          <% end %>
                          <%= link_to "/pdf_kak/#{program_kegiatan&.id}/#{@tahun}.pdf", class: "btn btn-sm btn-secondary" do %>
                            <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
                            Cetak KaK
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tr>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <p>Jumlah SubKegiatan Aktif : <%= @jumlah_subkegiatan %></p>
      <p>Jumlah Sasaran Aktif : <%= @total_sasaran_aktif %></p>
      <p>Jumlah Usulan Terakomodir : </p>
      <ul>
        <li>Musrenbang: <%= @total_usulans[:musrenbang] %></li>
        <li>Pokok Pikiran:<%= @total_usulans[:pokir] %></li>
        <li>Mandatori: <%= @total_usulans[:mandatori] %></li>
        <li>Inisiatif Walikota: <%= @total_usulans[:inisiatif_walikota] %></li>
      </ul>
      <p>Total Pagu Anggaran : Rp. <%= number_with_delimiter(@total_pagu) %></p>
    </div>
    <div class="card-body">
      <%= link_to "/cetak_daftar_kak/#{@opd}/#{@tahun}.pdf", class: 'btn btn-tertiary w-100', target: :_blank do %>
        Cetak Daftar KaK Tahun <%= @tahun %>
      <% end %>
    </div>
  </div>
</div>
