<div class="table-responsive" id="tempat-row-laporan-kak">
  <table class="table align-items-center border-start border-end">
    <thead class="thead-light">
      <tr>
        <th class="border-bottom" scope="col">No.</th>
        <th class="border-bottom text-center" scope="col">Sub Kegiatan KaK</th>
        <th class="border-bottom text-center" scope="col">Pagu Anggaran</th>
        <th class="border-bottom text-center border-start border-end" scope="col" colspan="3">Informasi KaK</th>
        <th class="border-bottom text-center" scope="col">Action</th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
        <th class="border-bottom text-center border-start border-end">Pagu Sasaran</th>
        <th class="border-bottom text-center border-start border-end">Pemilik Rencana</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @program_kegiatans.each.with_index(1) do |kak, i| %>
        <tr>
          <td class="text-gray-900 fw-bolder" scope="row" rowspan="<%= kak.sasarans.count + 1 %>"><%= i %></td>
          <td class="text-gray-900 text-wrap" scope="row" rowspan="<%= kak.sasarans.count + 1 %>" width="200px"><%= kak.nama_subkegiatan %></td>
          <td class="text-gray-900 text-wrap" scope="row" rowspan="<%= kak.sasarans.count + 1 %>" width="200px">Rp. <%= number_with_delimiter(kak.all_anggaran) or 0 %></td>
          <td class="p-0 m-0" colspan="3" style="height: 0px !important; border-color: transparent;"></td>
          <td class="fw-bolder text-gray-500 text-center" rowspan="<%= kak.sasarans.count + 1 %>">
            <%= link_to "/acuan_kerja_new/#{kak.id}", class: "m-3" do %>
              <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
            <% end %>
            <% if @sasarans.any? {|s| s.status == 'pengajuan' or s.status == 'disetujui' } %>
              <% tahun = Date.today.year + 1 %>
              <%= link_to "/pdf_kak/#{kak.id}/#{tahun}.pdf", class: "m-3" do %>
                <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% kak.sasarans.each do |show_sasaran| %>
          <tr>
            <td class="text-wrap border-start border-end" width="450px">
              <%= show_sasaran.sasaran_kinerja %>
            </td>
            <td class="text-wrap border-start border-end" width="200px">
              Rp. <%= number_with_delimiter(show_sasaran.total_anggaran) or 0 %>
            </td>
            <td class="text-wrap border-start border-end border-bottom text-center">
              <%= show_sasaran.user.nama %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
