<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to 'KaK', kaks_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">KaK </h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Data KaK", new_kak_path, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">No.</th>
              <th class="border-bottom" scope="col">Program Kegiatan</th>
              <th class="border-bottom" scope="col">Sub Kegiatan</th>
              <th class="border-bottom" scope="col">Pembuat</th>
              <th class="border-bottom text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @kaks.includes(:program_kegiatan).where.not(program_kegiatan: {id: nil}) .each.with_index(1) do |kak, i| %>
              <tr>
                <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                <td class="text-gray-900" scope="row"><%= kak.program_kegiatan.nama_program %></td>
                <th class="text-gray-900" scope="row"><%= kak.program_kegiatan.nama_subkegiatan %></th>
                <th class="text-gray-900" scope="row">
                  <% kak.program_kegiatan.sasarans.each do |show_user| %>
                    <%= show_user.user.nama %> , 
                  <% end %>
                </th>
                <td class="fw-bolder text-gray-500 text-center">
                  <%= link_to kak_path(kak), class: "m-3" do %>
                    <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                  <% end %>
                  <%= link_to edit_kak_path(kak), class: "m-3" do %>
                    <i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                  <% end %>
                  <%= link_to kak_path(kak), method: :delete, data: { confirm: "Apakah Anda Ingin Menghapus ?"}, class: "m-3" do %>
                    <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
