<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Laporan KaK</li>
      </ol>
    </nav>
    <% if current_user.has_role? :admin %>
      <%= render 'shared/filter_with_tahun_card', filter_url: '/filter_kak' %>
    <% end %>
    <div class="card border-0 shadow" id="user_filter">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Laporan KaK</h2>
          </div>
          <div class="col text-end">
            <span><%= current_user.nama %></span>
            |
            <span><%= current_user.nik %></span>
          </div>
        </div>
      </div>
      <% unless current_user.has_role? :admin %>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center border-start border-end">
              <thead class="thead-light">
                <tr>
                  <th class="border-bottom" scope="col">No.</th>
                  <th class="border-bottom text-center" scope="col">Sub Kegiatan KaK</th>
                  <th class="border-bottom text-center border-start border-end" scope="col" colspan="2">Informasi KaK</th>
                  <th class="border-bottom text-center" scope="col">Action</th>
                </tr>
                <tr>
                  <th colspan="2"></th>
                  <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
                  <th class="border-bottom text-center border-start border-end">Pemilik Rencana</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @program_kegiatans.each.with_index(1) do |kak, i| %>
                  <tr>
                    <th class="text-gray-900 fw-bolder" scope="row" rowspan="<%= kak.sasarans.count + 1 %>"><%= i %></th>
                    <th class="text-gray-900 text-wrap" scope="row" rowspan="<%= kak.sasarans.count + 1 %>"><%= kak.nama_subkegiatan %></th>
                    <td class="p-0 m-0" colspan="2"></td>
                    <td class="fw-bolder text-gray-500 text-center" rowspan="<%= kak.sasarans.count + 1 %>">
                      <%= link_to "/acuan_kerja_new/#{kak.id}", class: "m-3" do %>
                        <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                      <% end %>
                      <% if @sasarans.any? {|s| s.status == 'pengajuan' or s.status == 'disetujui' } %>
                        <% tahun = Date.today.year + 1 %>
                        <%= link_to "/pdf_kak/#{kak.id}/#{tahun}.pdf", class: "m-3" do %>
                          <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <% kak.sasarans.each do |show_sasaran| %>
                    <tr>
                      <td class="text-wrap border-start border-end" width="450px">
                        <%= show_sasaran.sasaran_kinerja %>
                      </td>
                      <td class="text-wrap border-start border-end border-bottom text-center">
                        <%= show_sasaran.user.nama %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% if @sasarans.any? {|s| s.status == 'pengajuan' or s.status == 'disetujui' } %>
          <div class="card-body">
            <p>Jumlah Sasaran Aktif : <%= @jumlah_sasaran %></p>
            <p>Jumlah SubKegiatan : <%= @jumlah_subkegiatan %></p>
            <p>Total Usulan : <%= @jumlah_usulan %></p>
            <p>Total Pagu Anggaran : Rp. <%= number_with_delimiter @total_pagu %></p>
          </div>
        <% end %>
        <% if @program_kegiatans.exists? %>
          <div class="card-body">
            <% if @sasarans.all? {|s| s.status == 'pengajuan' } %>
              <%= button_tag type: 'submit', class: 'btn btn-info w-100 text-white', disabled: true do %>
                <span><%= @sasarans.first.status.capitalize || 'Diajukan' %></span>
                <i class="fas fa-check ms-2"></i>
              <% end %>
            <% elsif @sasarans.all? { |s| s.status == 'disetujui'} %>
              <%= button_tag type: 'submit', class: 'btn btn-info w-100 text-white', disabled: true do %>
                <span><%= @sasarans.first.status.capitalize || 'Diajukan' %></span>
                <i class="fas fa-check ms-2"></i>
              <% end %>
            <% elsif @sasarans.any? { |s| s.status == 'ditolak'} %>
              <%= form_with url: ajukan_semua_sasaran_path, local: false do |f| %>
                <% @sasarans.pluck(:id).each do |s| %>
                  <%= f.hidden_field :sasaran_diajukans, value: s, multiple: true  %>
                <% end %>
                <%= button_tag type: 'submit', class: 'btn btn-success w-100 text-white' do %>
                  <span>Ajukan Verifikasi</span>
                  <i class="fas fa-check ms-2"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= form_with url: ajukan_semua_sasaran_path, local: false do |f| %>
                <% @sasarans.sudah_lengkap.pluck(:id).each do |s| %>
                  <%= f.hidden_field :sasaran_diajukans, value: s, multiple: true  %>
                <% end %>
                <%= button_tag type: 'submit', class: 'btn btn-success w-100 text-white' do %>
                  <span>Ajukan Verifikasi</span>
                  <i class="fas fa-check ms-2"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
