<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Laporan KaK</li>
      </ol>
    </nav>
    <% if current_user.has_role? :admin %>
      <%= render 'shared/filter_with_tahun_card', filter_url: '/filter_kak' %>
    <% end %>
    <div class="card border-0 shadow" id="user_filter">
      <% unless current_user.has_role? :admin %>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Laporan KaK</h2>
            </div>
            <div class="col text-end">
              <span><%= current_user.nama %></span>
              |
              <span><%= current_user.nik %></span>
            </div>
          </div>
        </div>
        <%= render 'laporan_kak_row', program_kegiatans: @program_kegiatans, tahun: 2022 %>
      <% end %>
    </div>
  </div>
</div>
