<div class="card border-2 shadow mb-3" id="mandatori-card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Usulan Mandatori</h5>
        </div>
      </div>
    </div>
  </div>
  <% unless diajukan? %>
    <div class="card-body">
      <%= form_with(url: '/update_sasaran_asn', local: false) do |form| %>
        <div class="field">
          <%= form.hidden_field :sasaran_id, value: sasaran.id   %>
          <%= form.hidden_field :usulan_type  %>
          <%= form.select :usulan_id, [], {include_blank: true}, 
            {id: 'mandatori_dropdown',
             data: { "placeholder": "Pilih Usulan",
                    controller: 'dropdown',
                    dropdown_jenis_value: 'extra',
                    dropdown_url_value: '/mandatori_search.json',
                    action: 'change-select@document->dropdown#fill_usulan_type'
            }} %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="card-body">
    <div class="table-responsive">
      <div class="table-responsive">
        <table class="table table-usulan border">
          <thead>
            <tr>
              <th>No</th>
              <th>Usulan</th>
              <th>Peraturan Terkait</th>
              <th>Uraian</th>
              <% unless diajukan? %>
                <th class="text-center align-middle">Aksi</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% sasaran.my_usulan.filter { |g| g.instance_of?(Mandatori) }.each.with_index(1) do |sas, i| %>
              <tr>
                <td class="text-wrap align-middle"><%= i %></td>
                <td class="text-wrap align-middle"><%= sas.usulan %></td>
                <td class="text-wrap align-middle"><%= sas.try(:alamat) || sas.try(:peraturan_terkait) %></td>
                <td class="text-wrap align-middle"><%= sas.uraian %></td>
                <% unless diajukan? %>
                  <td class="text-center align-middle"><%= button_to 'Hapus', hapus_usulan_dari_sasaran_path, params: { usulan_id: sas.id, usulan_type: sas.class.name } ,remote: true, class: 'btn btn-danger' %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
