<tr id="<%= dom_id(mandatori) %>">
  <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
  <td class="fw-bolder align-middle text-wrap"><%= mandatori.tahun %></td>
  <td class="fw-bolder align-middle text-wrap"><%= mandatori.usulan %></td>
  <td class="fw-bolder text-wrap"><%= mandatori.peraturan_terkait %></td>
  <td class="fw-bolder text-wrap"><%= mandatori.uraian %></td>
  <td class="fw-bolder text-wrap"><%= mandatori.asn_pengusul %></td>
  <td class="text-center align-middle">
    <% unless mandatori.is_active %>
      <button class= 'btn btn-tertiary d-inline-flex align-items-center toggle-active' disabled>
        Usulan Diajukan
        <i class="fas fa-check-circle text-success icon icon-xs ms-2"></i>
      </button>
    <% else %>
      <% if mandatori.sasaran_aktif? %>
        <button class="btn btn-success text-dark" disabled>Diambil Sasaran</button>
      <% else %>
        <button class='btn btn-primary d-inline-flex align-items-center toggle-active' disabled>
          Aktif
          <i class="fas fa-key text-success icon icon-xs ms-2"></i>
        </button>
      <% end %>
    <% end %>
  </td>
  <td class="fw-bolder text-center align-middle">
    <%= link_to edit_mandatori_path(mandatori), remote: true, data: {'bs-toggle': 'modal', 'bs-target': '#form-mandatori'} do %>
      <i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit usulan mandatori"></i>
    <% end %>
    <%= link_to mandatori_path(mandatori), method: :delete, remote: true, class: 'mx-3', data: {'confirm-swal': 'Hapus usulan?'} do %>
      <i class="fas fa-trash" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus usulan mandatori"></i>
    <% end %>
  </td>
</tr>
