<tr id="<%= dom_id(mandatori) %>">
  <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
  <td class="fw-bolder align-middle text-wrap"><%= mandatori.tahun %></td>
  <td class="fw-bolder align-middle text-wrap"><%= mandatori.usulan %></td>
  <td class="fw-bolder text-wrap"><%= mandatori.peraturan_terkait %></td>
  <td class="fw-bolder text-wrap"><%= mandatori.uraian %></td>
  <td class="fw-bolder text-wrap"><%= mandatori.asn_pengusul %></td>
  <td class="text-center align-middle">
    <% unless mandatori.is_active %>
      <button class= 'btn btn-tertiary d-inline-flex align-items-center toggle-active' disabled>
        Usulan Disetujui
        <i class="fas fa-check-circle text-success icon icon-xs ms-2"></i>
      </button>
    <% else %>
      <% if mandatori.sasaran_aktif? %>
        <button class="btn btn-success" disabled>Usulan Digunakan
          <i class="fas fa-check-circle icon icon-xs ms-2"></i></button>
      <% else %>
        <button class='btn btn-primary d-inline-flex align-items-center toggle-active' disabled>
          Usulan Aktif
          <i class="fas fa-key text-success icon icon-xs ms-2"></i>
        </button>
      <% end %>
    <% end %>
  </td>
  <td class="fw-bolder text-center align-middle">
    <%= link_to edit_mandatori_path(mandatori),
     remote: true,
     class: 'btn btn-sm btn-info',
     data: {
         controller: 'form-modal',
         action: 'ajax:complete->form-modal#success:prevent',
         bs_toggle: 'modal',
         bs_target: '#form-modal'
     } do %>
      <i class="fas fa-edit"></i>
      <span>Edit</span>
    <% end %>
    <%= link_to mandatori_path(mandatori),
     method: :delete,
     remote: true,
     class: 'btn btn-sm btn-danger',
     data: {
         controller: 'form-ajax',
         form_ajax_element_id_value: dom_id(mandatori),
         confirm_swal: 'Hapus usulan mandatori?',
         action: 'ajax:success->form-ajax#ajaxDelete'
     } do %>
      <i class="fas fa-trash"></i>
      <span>Hapus</span>
    <% end %>
  </td>
</tr>
