<p id="notice"><%= notice %></p>

<h2>Usulan Mandatori</h2>

<table>
  <thead>
    <tr>
      <th>Usulan</th>
      <th>Peraturan terkait</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mandatoris.each do |mandatori| %>
      <tr>
        <td><%= mandatori.usulan %></td>
        <td><%= mandatori.peraturan_terkait %></td>
        <td><%= link_to 'Show', mandatori %></td>
        <td><%= link_to 'Edit', edit_mandatori_path(mandatori) %></td>
        <td><%= link_to 'Destroy', mandatori, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mandatori', new_mandatori_path %>
