<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Usulan Mandatori", mandatoris_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Usulan Mandatori</h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Usulan", new_mandatori_path, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush datatable" data-datatable>
            <thead class="thead-light">
              <tr>
                <th class="border-bottom" scope="col">No.</th>
                <th class="border-bottom" scope="col">Usulan</th>
                <th class="border-bottom" scope="col">Alamat</th>
                <th class="border-bottom" scope="col">Tambah User</th>
                <th class="border-bottom text-center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @mandatoris.each.with_index(1) do |mandatori, i| %>
                <tr>
                  <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                  <td class="fw-bolder text-gray-500"><%= truncate(mandatori.usulan, length: 30, separator: '...') %></td>
                  <td class="fw-bolder text-gray-500"><%= truncate(mandatori.alamat, length: 25, separator: '...') %></td>
                  <td class="fw-bolder text-gray-500"><%= link_to 'Pilih User', '#' %></td>
                  <td class="fw-bolder text-gray-500 text-center">
                    <%= link_to mandatori do %>
                      <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
