<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Usulan Mandatori", mandatoris_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Usulan Mandatori SPBE Tahun <%= @tahun %></h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush datatable" data-datatable>
            <thead class="thead-light">
              <tr>
                <th class="border-bottom text-gray-700" scope="col">No.</th>
                <th class="border-bottom text-gray-700" scope="col">Tahun</th>
                <th class="border-bottom text-gray-700" scope="col">Sasaran Kinerja</th>
                <th class="border-bottom text-gray-700" scope="col">Kebutuhan</th>
                <th class="border-bottom text-gray-700" scope="col">Uraian</th>
                <th class="border-bottom text-gray-700" scope="col">Pengusul</th>
                <th class="border-bottom text-gray-700" scope="col">Opd</th>
                <th class="border-bottom text-gray-700 text-center" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @mandatoris.each.with_index(1) do |mandatori, i| %>
                <tr id="<%= dom_id(mandatori) %>">
                  <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                  <td class="fw-bolder text-wrap"><%= mandatori.tahun %></td>
                  <td class="fw-bolder text-wrap"><%= mandatori.sasaran_kinerja %></td>
                  <td class="fw-bolder text-wrap"><%= mandatori.detail_kebutuhan %></td>
                  <td class="fw-bolder text-wrap"><%= mandatori.uraian %></td>
                  <td class="fw-bolder text-wrap"><%= mandatori.asn_pengusul %></td>
                  <td class="fw-bolder text-wrap"><%= mandatori.opd_asn %></td>
                  <td class="action-<%= dom_id(mandatori) %> text-center align-middle">
                    -
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
