<%= form_with(model: sumber_dana, local: false) do |form| %>
  <% if sumber_dana.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sumber_dana.errors.count, "error") %> prohibited this sumber_dana from being saved:</h2>
      <ul>
        <% sumber_dana.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :kode_sumber_dana, class: "form-label" %>
    <%= form.text_field :kode_sumber_dana, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :sumber_dana, class: "form-label" %>
    <%= form.text_field :sumber_dana, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :tahun, class: "form-label" %>
    <%= form.text_field :tahun, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
