<%= form_with(model: kolab, local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: @target,
                form_ajax_type_param: @type,
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <% if kolab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kolab.errors.count, "error") %> prohibited this kolab from being saved:</h2>

      <ul>
        <% kolab.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <h5>Keterangan Program Kolaborasi</h5>
      <div class="field">
        <%= form.label :tahun, class: 'form-label' %>
        <%= form.text_field :tahun, class: 'form-control', readonly: true %>
      </div>

      <div class="field">
        <%= form.hidden_field :kolabable_type %>
        <%= form.hidden_field :kolabable_id %>
        <%= form.hidden_field :jenis %>
        <p class="form-label">Program Unggulan</p>
        <p class="form-control"><%= @inovasi.usulan %></p>
      </div>

      <div class="field">
        <p class="form-label">Asta Karya</p>
        <p class="form-control"><%= @inovasi.manfaat %></p>
      </div>

      <div class="field">
        <p class="form-label">Misi Walikota</p>
        <p class="form-control"><%= @inovasi.misi %></p>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :urutan, class: 'form-label' %>
    <%= form.number_field :urutan, class: 'form-control', min: 1 %>
  </div>

  <div class="field">
    <div class="form-label">Nama OPD</div>
    <div class="form-control"><%= @kolab.opd %></div>
  </div>

  <div class="field">
    <p class="form-label">Sebagai</p>
    <%= form.collection_radio_buttons :status, Kolab::STATUS_KOLAB, :to_s, :to_s do |status| %>
      <div class="form-check">
        <%= status.radio_button class: 'form-check-input' %>
        <%= status.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_area :keterangan, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
