<tr class="skip opd-kolabs" id="<%= dom_id(kolab) %>">
  <td class="text-gray-900 text-wrap" colspan="5"></td>
  <td class="text-gray-900 text-wrap">
    <div class="d-flex flex-column gap-2">
      <div class="opd-anggota">
        <%= kolab.opd %> <b><%= kolab.sebagai %></b>
      </div>
      <div class="jumlah-rekins">
        Jumlah Rekin: <span class="jumlah-rekin-kolab">0</span>
      </div>
      <div class="keterangan-kolab">
        <%= kolab.keterangan %>
      </div>
      <% if boleh_kolab %>
        <hr />
        <div class="d-grid gap-2">
          <%= render(EditButtonComponent.new(path: edit_kolab_path(kolab))) %>
          <%= render(DeleteButtonAjaxComponent.new(path: kolab_path(kolab),
                                                   model: kolab,
                                                   text: 'Hapus kolaborasi?')) %>
        </div>
      <% end %>
    </div>
  </td>
</tr>
