<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Tematik </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Tambah Tematik</p>
    <%= form_with(url: add_sasaran_tematik_path, local: false) do |f| %>
      <%= f.select(:id_tematik,
          [],
          {}, { class:'select2-waw',
          data: {'ajax--url': "/tematiks.json", "ajax--cache": "true", "placeholder": "Pilih Tematik"} } )%>
      <%= f.hidden_field :id_sasaran, value: sasaran.id %>
      <div class="actions">
        <%= f.submit "Tambah Tematik" %>
      </div>
    <% end %>
  </div>
  <% unless sasaran.subkegiatan_tematiks.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Tematik</th>
              <th class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            <% sasaran.subkegiatan_tematiks.each do |tematik| %>
              <tr>
                <td class="align-middle text-wrap"><%= tematik.nama_tematik %></td>
                <td class="text-center align-middle">
                  <%= button_to 'X', "/hapus_tematik_from_sasaran", remote: true, method: :post,
                    class: 'btn btn-danger text-center',
                    data: {confirm_swal: "Hapus tematik?"}, params: {id_sasaran: sasaran.id, id_tematik: tematik.id} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  <% end %>
</div>
