<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">
            Tematik
            <span class="ms-2"><%= sesuai?(sasaran.tematik?) %></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <% unless diajukan? %>
    <div class="card-body">
      <p>Tambah Tematik</p>
      <%= form_with(url: add_sasaran_tematik_path, local: false) do |f| %>
        <%= f.select(:id_tematik,
          [],
          {}, { data: {controller: 'dropdown', 'ajax--url': "/tematiks.json", "ajax--cache": "true", "placeholder": "Pilih Tematik"} } )%>
        <%= f.hidden_field :id_sasaran, value: sasaran.id %>
        <div class="actions">
          <%= f.submit "Tambah Tematik" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% unless sasaran.subkegiatan_tematiks.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Tematik</th>
              <% unless diajukan? %>
                <th class="text-center align-middle">Action</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% sasaran.subkegiatan_tematiks.each do |tematik| %>
              <tr>
                <td class="align-middle text-wrap"><%= tematik.nama_tematik %></td>
                <% unless diajukan? %>
                  <td class="text-center align-middle">
                    <%= button_to 'X', "/hapus_tematik_from_sasaran", remote: true, method: :post,
                    class: 'btn btn-danger text-center',
                    data: {confirm_swal: "Hapus tematik?"}, params: {id_sasaran: sasaran.id, id_tematik: tematik.id} %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  <% end %>
</div>
