<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Tematik </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Tambah Tematik</p>
    <%= form_with(model: sasaran) do |f| %>
      <%= f.select(:subkegiatan_tematik_id, SubkegiatanTematik.where(id: sasaran.subkegiatan_tematik_id).pluck(:nama_tematik, :id), {}, {class:'select2-waw',data: {'ajax--url': "/tematiks.json", "ajax--cache": "true", "placeholder": "Pilih Tematik"}} )%>
      <div class="actions">
        <%= f.submit "Pilih Tematik" %>
      </div>
    <% end %>
  </div>
  <% unless sasaran.subkegiatan_tematik.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Tematik</th>
              <th class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle text-wrap"><%= sasaran.subkegiatan_tematik.nama_tematik %></td>
              <td class="text-center align-middle">
                <%= button_to 'X', "/hapus_tematik_from_sasaran", remote: true, method: :post, class: 'btn btn-danger text-center', data: {confirm_swal: "Hapus tematik?"}, params: {id_sasaran: sasaran.id} %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  <% end %>
</div>
