<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Tematik APBD</li>
      </ol>
    </nav>
    <div class="card border-0 shadow mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2 class="mb-0">
              Filter
            </h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= form_with url: '/filter_tematiks_apbd', local: false do |form| %>
          <% year = Date.today.year %>
          <%= form.label :tahun %>
          <%= form.select :tahun, [year, year + 1] ,{ include_blank: true },
          {class: "form-control", required: true,  data: {"placeholder": "Tahun", controller: 'dropdown'}}  %>
          <br>
          <% dropdown = options_for_select(SubkegiatanTematik.all.pluck(:nama_tematik, :kode_tematik)) %>
          <%= form.label :tema %>
          <%= form.select :kode_tematik, dropdown, { include_blank: true },
          { class: "form-control", data: {"placeholder": "Pilih Tematik", controller: 'dropdown'}, required: true }  %>
          <%= form.submit 'Filter' %>
        <% end %>
      </div>
    </div>
    <div class="card border-0 shadow" id="tematik_filter">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Peta SPBE</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
