<p id="notice"><%= notice %></p>

<h1>Tujuans</h1>

<table>
  <thead>
    <tr>
      <th>Tujuan</th>
      <th>Id tujuan</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tujuans.each do |tujuan| %>
      <tr>
        <td><%= tujuan.tujuan %></td>
        <td><%= tujuan.id_tujuan %></td>
        <td><%= tujuan.type %></td>
        <td><%= link_to 'Show', tujuan %></td>
        <td><%= link_to 'Edit', edit_tujuan_path(tujuan) %></td>
        <td><%= link_to 'Destroy', tujuan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tujuan', new_tujuan_path %>
