<%= form_with(model: pokpir, local: false) do |form| %>
  <% if pokpir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokpir.errors.count, "error") %> prohibited this pokpir from being saved:</h2>
      <ul>
        <% pokpir.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :usulan %>
    <%= form.text_field :usulan, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_field :alamat, class: 'form-control' %>
  </div>
  <div class="field mt-3">
    <%= form.label :tahun %>
    <%= form.select(:tahun, (['',2021,2022,2023,2024]), {}, {:id => 'dropdown-tahun',data: {"placeholder": "Pilih Tahun",}}) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
