<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Usulan Pokok Pikiran", pokpirs_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Usulan Pokok Pikiran DPRD <%= current_user.opd %> Tahun <%= @tahun_bener %></h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush counter" data-datatable>
            <caption>Usulan Pokok Pikiran OPD <%= current_user.opd.nama_opd %></caption>
            <thead class="thead-light">
              <tr>
                <th class="border-bottom text-gray-700" scope="col">No.</th>
                <th class="border-bottom text-gray-700" scope="col">Tahun</th>
                <th class="border-bottom text-gray-700" scope="col">Usulan</th>
                <th class="border-bottom text-gray-700" scope="col">Alamat</th>
                <th class="border-bottom text-gray-700" scope="col">Permasalahan</th>
                <th class="border-bottom text-gray-700" scope="col">OPD</th>
                <th class="border-bottom text-gray-700" scope="col">Pengambil Usulan</th>
                <th class="border-bottom text-gray-700 text-center" scope="col">Status</th>
                <th class="border-bottom text-gray-700 text-center" scope="col" colspan="1">Action</th>
              </tr>
            </thead>
            <tbody id="new_pokpir">
              <%= render @pokpirs %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
