<%= form_with model: program_unggulan, local: false,
              data: {
                controller: 'form-ajax periode',
                form_ajax_target_param: dom_id(program_unggulan),
                form_ajax_type_param: program_unggulan.new_record? ? 'prepend' : '',
                action: 'ajax:complete->form-ajax#processAjax
                         change-periode@document->periode#fillTahunPeriode'
              } do |form| %>
  <% if program_unggulan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program_unggulan.errors.count, "error") %> prohibited this program_unggulan from being saved:</h2>

      <ul>
        <% program_unggulan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :urutan, class: 'form-label' %>
    <%= form.number_field :urutan, class: 'form-control', min: 1, required: true %>
  </div>

  <div class="field">
    <%= form.hidden_field :lembaga_id %>
    <%= form.label :asta_karya, class: 'form-label' %>
    <%= form.text_field :asta_karya, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :periode, class: 'form-label' %>
    <%= form.select :periode, [],
     { include_blank: true },
     data: {
       placeholder: 'Periode',
       controller: 'dropdown',
       dropdown_jenis_value: 'extra',
       dropdown_parent_value: '#form-modal',
       dropdown_url_value: '/periodes.json',
       dropdown_jenis_uraian_value: 'RPJMD',
       dropdown_event_name_value: 'change-periode',
       dropdown_selected_value: @periode&.id
     }  %>
  </div>

  <div class="field">
    <%= form.label :tahun_awal, class: 'form-label' %>
    <%= form.text_field :tahun_awal, class: 'form-control',
     required: true, readonly: true, data: { periode_target: 'tahunAwal' } %>
  </div>

  <div class="field">
    <%= form.label :tahun_akhir, class: 'form-label' %>
    <%= form.text_field :tahun_akhir, class: 'form-control',
     required: true, readonly: true, data: { periode_target: 'tahunAkhir' } %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_area :keterangan, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
