<tr id="<%= dom_id(program_unggulan) %>">
  <td class="text-gray-900 text-wrap" width='20px' scope="row"><%= program_unggulan.urutan %></td>
  <td class="text-gray-900" scope="row"><%= program_unggulan %></td>
  <td class="text-gray-900" scope="row"><%= program_unggulan.periode %></td>
  <td class="text-gray-900" scope="row"><%= program_unggulan.keterangan %></td>
  <td class="text-gray-900" scope="row">
    <% unless guest? %>
      <div class="d-grid gap-2">
        <%= render(EditButtonComponent.new(path: edit_program_unggulan_path(program_unggulan))) %>
        <%= render(DeleteButtonAjaxComponent.new(path: program_unggulan_path(program_unggulan),
                                                 model: program_unggulan,
                                                 text: "Hapus Asta Karya?" )) %>
      </div>
    <% end %>
  </td>
</tr>
