<p id="notice"><%= notice %></p>

<p>
  <strong>Harga satuan:</strong>
  <%= @anggaran_asb.harga_satuan %>
</p>

<p>
  <strong>Id standar harga:</strong>
  <%= @anggaran_asb.id_standar_harga %>
</p>

<p>
  <strong>Kode barang:</strong>
  <%= @anggaran_asb.kode_barang %>
</p>

<p>
  <strong>Kode kelompok barang:</strong>
  <%= @anggaran_asb.kode_kelompok_barang %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @anggaran_asb.satuan %>
</p>

<p>
  <strong>Spesifikasi:</strong>
  <%= @anggaran_asb.spesifikasi %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @anggaran_asb.tahun %>
</p>

<p>
  <strong>Uraian barang:</strong>
  <%= @anggaran_asb.uraian_barang %>
</p>

<p>
  <strong>Uraian kelompok barang:</strong>
  <%= @anggaran_asb.uraian_kelompok_barang %>
</p>

<p>
  <strong>Opd:</strong>
  <%= @anggaran_asb.opd_id %>
</p>

<%= link_to 'Edit', edit_anggaran_asb_path(@anggaran_asb) %> |
<%= link_to 'Back', anggaran_asbs_path %>
