<%= form_with(model: user, local: false,
              url: ganti_password_user_path,
              data: {
                controller: 'form-ajax form',
                form_ajax_target_param: dom_id(user),
                form_ajax_type_param: user.new_record? ? 'afterbegin' : '',
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <div class="field">
    <%= form.label :instansi, class: "form-label" %>
    <%= form.select :lembaga_id, Lembaga.all.collect {|n| [n.nama_lembaga, n.id]},
     {include_blank: true},
     {
       disabled: true,
       data: {"placeholder": "Pilih Lembaga",
              controller: 'dropdown'
       }, required: true} %>
  </div>
  <div class="field">
    <%= form.label :opd, class: "form-label" %>
    <%= form.select :kode_opd, Opd.all.collect { |o| [o.nama_lembaga_opd, o.kode_opd] }, {include_blank: true},
     {class: "form-control",
      disabled: true,
      data: { "placeholder": "Pilih Opd",
        controller: 'dropdown',
        dropdown_parent_value: '#form-modal'
     }} %>
  </div>
  <div class="field">
    <%= form.label :nama, class: "form-label" %>
    <p class="form-control disabled"><%= user.nama %></p>
  </div>
  <div class="field">
    <%= form.label :nip, class: "form-label" %>
    <p class="form-control disabled"><%= user.nik %></p>
  </div>

  <div class="form-group">
    <% if @error %>
      <div class="form-group my-4">
        <p class="alert alert-danger"><%= @error %></p>
      </div>
    <% end %>
    <div class="form-group mb-4">
      <label for="password">Password</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon2">
          <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
        </span>
        <%= form.password_field :password,
             autocomplete: "new-password",
             class: "form-control",
             id: "password", required: true,
             placeholder: "Password" %>
        <span class="input-group-text togglePassword" data-action="click->form#toggleVisible" data-form-type-param="password">
          <i class="far fa-eye" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="confirm_password">Confirm Password</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon2">
          <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
        </span>
        <%= form.password_field :password_confirmation,
             autocomplete: "new-password",
             class: "form-control",
             id: "confirm_password",
             required: true,
             placeholder: "Confirm Password" %>
        <span class="input-group-text togglePassword" data-action="click->form#toggleVisible" data-form-type-param="password">
          <i class="far fa-eye" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
