<%= form_with(model: user, url: update_detail_user_path,
    local: false, 
    data: {
      controller: 'form-ajax',
      form_ajax_target_param: dom_id(user),
      form_ajax_type_param: user.new_record? ? 'afterbegin' : '',
      action: 'ajax:complete->form-ajax#processAjax'
    },
) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: "form-label" %>
    <%= form.select :kode_opd, dropdown_opd_user(user), {include_blank: true},
      class: "form-control",
      data: {
        controller: "dropdown",
        placeholder: "Pilih OPD",
        dropdown_parent_value: "#form-user"
      } %>
  </div>
  <%= hidden_field_tag :target_render, @target_render %>
  <div class="field">
    <%= form.label :nama, class: "form-label" %>
    <%= form.text_field :nama, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :jabatan, class: "form-label" %>
    <%= form.text_field :jabatan, class: "form-control", readonly: true %>
  </div>
  <div class="field">
    <%= form.label :pangkat, class: "form-label" %>
    <%= form.text_field :pangkat, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nama_pangkat, class: "form-label" %>
    <%= form.text_field :nama_pangkat, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nama_bidang, class: "form-label" %>
    <%= form.text_field :nama_bidang, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", disabled: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
