<%= form_with(model: user, local: false,
    data: {
      controller: 'form-ajax',
      form_ajax_target_param: dom_id(user),
      form_ajax_type_param: user.new_record? ? 'afterbegin' : '',
      action: 'ajax:complete->form-ajax#processAjax'
    }
) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :instansi, class: "form-label" %>
    <%= form.select :lembaga_id, Lembaga.all.collect {|n| [n.nama_lembaga, n.id]},
     {include_blank: true},
    {data: {"placeholder": "Pilih Lembaga",
            controller: 'dropdown'
    }, disabled: true} %>
  </div>
  <div class="field">
    <%= form.label :opd, class: "form-label" %>
    <%= form.select :kode_opd, Opd.pluck(:nama_opd, :kode_opd), {include_blank: true},
    {class: "form-control",
    data: { "placeholder": "Pilih Opd",
            controller: 'dropdown',
    }, disabled: true} %>
  </div>
  <div class="field">
    <%= form.label :nama, class: "form-label" %>
    <%= form.text_field :nama, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nip, class: "form-label" %>
    <%= form.text_field :nik, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
