<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :nama, class: "form-label" %>
    <%= form.text_field :nama, class: "form-control" %>
  </div>
  <% if user.has_role? :admin %>
    <div class="field">
      <%= form.label :nik, class: "form-label" %>
      <%= form.text_field :nik, class: "form-control" %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <% data = options_from_collection_for_select(opds, :kode_opd, :nama_opd, user.kode_opd) %>
    <% disabled = true unless user.has_role? :admin %>
    <%= form.label :opd, class: "form-label" %>
    <%= form.select :kode_opd, data, {include_blank: true}, class: "form-select select2-waw", data: { placeholder: 'Pilih OPD'}, disabled: disabled %>
  </div>
  <div class="field">
    <% data_role = options_from_collection_for_select(Role.all, :id, :name) %>
    <%= form.label :role, class: "form-label" %>
    <%= form.select :role, data_role, {include_blank: true}, class: "form-select select2-waw", data: { placeholder: 'Pilih Role'}, multiple: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
