<%= form_with(
  url: add_role_user_path(@user.id),
  local: false,
  data: { controller: 'form-ajax',
    form_ajax_target_param: dom_id(@user),
    form_ajax_modal_param: 'form-user-role',
    form_ajax_type_param: '',
    action: 'ajax:complete->form-ajax#processAjax'
  }
) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag 'dom_id', @dom_id -%>
  <div class="field">
    <%= form.label :nip, class: "form-label" %>
    <%= form.text_field :nik, class: "form-control", value: @user.nik, readonly: true %>
  </div>
  <div class="field">
    <%= form.label :nama, class: "form-label" %>
    <%= form.text_field :nama, class: "form-control", value: @user.nama, readonly: true %>
  </div>
  <div class="field">
    <%= form.label :jabatan, class: "form-label" %>
    <%= form.text_field :jabatan, class: "form-control", value: @user.jabatan, readonly: true %>
  </div>
  <div class="field">
    <%= form.label :role, class: "form-label" %>
    <ul>
      <% @roles.each do |role| %>
        <li>
          <%= hidden_field_tag 'uncheck[]', role -%>
          <%= check_box_tag 'role[]', role, @user.has_role?(role) -%>
          <%= h role -%>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
