<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <% opd = Opd.find_by(kode_unik_opd: @kode_opd) %>
      <h2 class="fs-5 fw-bold mb-0">List ASN <%= opd.nama_opd %></h2>
    </div>
    <div class="col text-end">
      <%= link_to sync_pegawai_path(kode_opd: kode_opd, tahun: Date.today.year, bulan: Date.today.month), class:"btn btn-sm btn-primary" do %>
        <i class="fas fa-sync me-2"></i>
        Sync User
      <% end %>
      <%= link_to "Tambah User", new_user_path, remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-user"}, class: "btn btn-sm btn-info" %>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-flush datatable" data-datatable>
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom" scope="col">Nama</th>
          <th class="border-bottom" scope="col">OPD</th>
          <th class="border-bottom" scope="col">NIP</th>
          <th class="border-bottom" scope="col">Peran</th>
          <th class="border-bottom text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.each.with_index(1) do |user, i| %>
          <tr>
            <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
            <td class="fw-bolder text-gray-500"><%= user.nama %></td>
            <td class="fw-bolder text-gray-500"><%= user.opd.nama_opd %></td>
            <td class="fw-bolder text-gray-500"><%= user.nik %></td>
            <td class="fw-bolder text-gray-500"><%= user.roles.pluck :name %></td>
            <td class="fw-bolder text-gray-500 text-center">
              <%= link_to edit_user_path(user),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-user"}, class: "m-3" do %>
                <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
