<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="fs-5 fw-bold mb-0">List ASN <%= opd.nama_opd %></h2>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-flush datatable" data-controller='form-modal' data-datatable>
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom" scope="col">Nama / NIP</th>
          <th class="border-bottom" scope="col">Jabatan</th>
          <th class="border-bottom text-center" scope="col">Role</th>
          <th class="border-bottom text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.each.with_index(1) do |user, i| %>
          <% the_dom = "#{dom_id(user)}-roles" %>
          <tr>
            <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
            <td class="fw-bolder text-gray-500 text-wrap"><%= user.nama %> <br>
              <%= user.nik %>
            </td>
            <td class="text-gray-900 text-wrap" scope="row"><%= user.jabatan %></td>
            <td class="fw-bolder text-gray-500 border" id="<%= the_dom %>">
              <ul>
                <% user.roles.each do |role| %>
                  <li><%= role.name %></li>
                <% end %>
              </ul>
            </td>
            <td class="fw-bolder text-gray-500 text-center">
              <%= link_to set_role_user_path(user.id, dom_id: the_dom),
                  remote: true,
                  data: { controller: 'form-modal', action: 'form-modal#appendForm',
                          form_modal_location_param: 'form-user-role-body',
                          bs_target: '#form-user-role', bs_toggle: 'modal' },
                  class: "btn btn-sm btn-info" do %>
                <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                <span>Role</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
