<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <% opd = Opd.find_by(kode_unik_opd: @kode_opd) %>
      <h2 class="fs-5 fw-bold mb-0">List ASN <%= opd.nama_opd %> - <%= opd.kode_unik_opd %></h2>
    </div>
    <div class="col-auto text-end">
      <% bulan = Date.today.month %>
      <%= link_to sync_pegawai_path(kode_opd: kode_opd, tahun: '2022', bulan: '12'),
      remote: true,
      data: { disable_with: 'Memproses....'}, 
      class:"btn btn-sm btn-primary" do %>
        <i class="fas fa-sync me-2"></i>
        Sync User
      <% end %>
      <%= link_to sync_struktur_pegawai_path(kode_opd: kode_opd, tahun: '2022', bulan: '12'),
      remote: true,
      data: { disable_with: 'Memproses....'}, 
      class:"btn btn-sm btn-primary" do %>
        <i class="fas fa-sync me-2"></i>
        Sync Struktur
      <% end %>
      <% if current_user.has_role? :super_admin %>
        <%= link_to "Tambah User", new_user_path, remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-user"}, class: "btn btn-sm btn-info" %>
        <%= link_to "Non Aktifkan Semua User", "/nonaktifkan_semua_user/#{opd.kode_opd}", remote: true, method: :post, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-flush datatable" data-controller='form-modal' data-datatable>
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom" scope="col">Nama / NIP</th>
          <th class="border-bottom" scope="col">Jabatan</th>
          <th class="border-bottom text-center" scope="col" colspan="2">Role</th>
          <th class="border-bottom text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.each.with_index(1) do |user, i| %>
          <tr>
            <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
            <td class="fw-bolder text-gray-500 text-wrap"><%= user.nama %> <br>
              <%= user.nik %>
            </td>
            <td class="text-gray-900 text-wrap" scope="row"><%= user.jabatan %></td>
            <td class="fw-bolder text-gray-500 border" id="<%= dom_id(user) %>-roles">
              <ul>
                <% user.roles.each do |role| %>
                  <li><%= role.name %></li>
                 <% end %>
              </ul>
            </td>
            <td class="border">
              <%= link_to set_role_user_path(user.id, dom_id: dom_id(user)),
                  remote: true,
                  data: { controller: 'form-modal', action: 'form-modal#appendForm',
                          form_modal_location_param: 'form-user-role-body',
                          bs_target: '#form-user-role', bs_toggle: 'modal' },
                  class: "btn btn-sm btn-info" do %>
                  <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                  <span>Role</span>
                <% end %>
            </td>
            <td class="fw-bolder text-gray-500 text-center">
              <% if current_user.has_role? :admin or current_user.has_role? :super_admin %>
                <% unless user.has_role? :admin %>
                  <%= link_to 'Aktifkan',"/aktifkan_user/#{user.nik}", remote: true, method: :post ,class: 'btn btn-sm btn-success', id: "#{dom_id(user)}" %>
                  <%= link_to 'Non Aktifkan',"/nonaktifkan_user/#{user.nik}", remote: true, method: :post ,class: 'btn btn-sm btn-danger', id: "#{dom_id(user)}" %>
                <% else %>
                  <% if user.has_role? :asn %>
                    <%= link_to 'Hapus ASN',"/hapus_asn/#{user.nik}", remote: true, method: :post ,class: 'btn btn-sm btn-warning text-dark', id: "#{dom_id(user)}" %>
                  <% end %>
                <% end %>
              <% end %>
              <% if current_user.has_role? :super_admin %>
                <%= link_to 'Edit User', edit_detail_user_path(user),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-user"}, class: "btn btn-sm btn-info" %>
                <%= link_to 'Hapus User', user, method: :delete, data: { confirm_swal: "Hapus #{user.nama}?" }, class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
