<%= form_with(model: [user, sasaran], remote: true, :html => { :id => "new-sasaran" }) do |form| %>
  <% if sasaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sasaran.errors.count, "error") %> prohibited this sasaran from being saved:</h2>

      <ul>
        <% sasaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :sasaran_kinerja, { class: "form-label" } %>
    <%= form.text_field :sasaran_kinerja, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :indikator_kinerja, { class: "form-label" } %>
    <%= form.text_field :indikator_kinerja, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :target, { class: "form-label" } %>
    <%= form.number_field :target, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :kualitas, { class: "form-label" } %>
    <%= form.number_field :kualitas, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :satuan, { class: "form-label" } %>
    <%= form.text_field :satuan, { class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :penerima_manfaat, { class: "form-label" } %>
    <%= form.text_field :penerima_manfaat, { class: "form-control" } %>
  </div>
  <% rincian = sasaran.build_rincian %>
  <%= form.fields_for :rincian do |rinci| %>
    <div class="field">
      <%= rinci.label :data_terpilah, { class: "form-label" } %>
      <%= rinci.text_field :data_terpilah, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= rinci.label :penyebab_internal, { class: "form-label" } %>
      <%= rinci.text_field :penyebab_internal, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= rinci.label :penyebab_external, { class: "form-label" } %>
      <%= rinci.text_field :penyebab_external, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= rinci.label :permasalahan_umum, { class: "form-label" } %>
      <%= rinci.text_field :permasalahan_umum, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= rinci.label :permasalahan_gender, { class: "form-label" } %>
      <%= rinci.text_field :permasalahan_gender, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= rinci.label :resiko, { class: "form-label" } %>
      <%= rinci.text_field :resiko, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= rinci.label :lokasi_pelaksanaan, { class: "form-label" } %>
      <%= rinci.text_field :lokasi_pelaksanaan, { class: "form-control" } %>
    </div>
  <% end %>

<% end %>
