<tr id="<%= dom_id(user) %>">
  <td class="text-gray-900 border fw-bolder" scope="row"></td>
  <td class="fw-bolder text-gray-500 text-wrap">
    <%= user.nama %>
    <br>
    <%= user.nik %>
  </td>
  <td class="text-gray-900 text-wrap border" scope="row"><%= user.jabatan %></td>
  <td class="text-gray-900 text-wrap border" scope="row"><%= user.opd.nama_opd %></td>
  <td class="fw-bolder text-gray-500 border">
    <ul>
      <% user.roles.each do |role| %>
        <li><%= role.name %></li>
      <% end %>
    </ul>
  </td>
  <td class="border">
    <div class="row mb-2">
      <% if current_page?(khusus_users_path) %>
        <%= link_to set_role_khusus_user_path(user.id, dom_id: dom_id(user)),
          remote: true,
          data: { controller: 'form-modal', action: 'form-modal#appendForm',
                  form_modal_location_param: 'form-user-role-body',
                  bs_target: '#form-user-role', bs_toggle: 'modal' },
          class: "btn btn-sm btn-outline-info d-inline-flex align-items-center" do %>
          <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
          <span>Role Khusus</span>
        <% end %>
      <% else %>
        <%= link_to set_role_user_path(user.id, dom_id: dom_id(user)),
          remote: true,
          data: { controller: 'form-modal', action: 'form-modal#appendForm',
                  form_modal_location_param: 'form-user-role-body',
                  bs_target: '#form-user-role', bs_toggle: 'modal' },
          class: "btn btn-sm btn-outline-info d-inline-flex align-items-center" do %>
          <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
          <span>Role</span>
        <% end %>
      <% end %>
    </div>
    <div class="row gy-2">
      <% if current_user.has_role? :admin or current_user.has_role? :super_admin %>
        <%= link_to "/aktifkan_user/#{user.nik}", remote: true, method: :post ,
            class: 'btn btn-sm btn-outline-success d-inline-flex align-items-center', id: "#{dom_id(user)}" do %>
          <i class="fa fa-check me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Aktifkan"></i>
          <span>Aktifkan</span>
        <% end %>
        <% unless user.has_role? :admin %>
          <%= link_to "/nonaktifkan_user/#{user.nik}", remote: true, method: :post ,
        class: 'btn btn-sm btn-outline-danger d-inline-flex align-items-center', id: "#{dom_id(user)}" do %>
            <i class="fa fa-times-circle me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Non Aktifkan"></i>
            <span>Non Aktifkan</span>
          <% end %>
        <% else %>
          <% if user.has_role? :asn %>
            <%= link_to 'Hapus ASN',"/hapus_asn/#{user.nik}", remote: true, method: :post ,class: 'btn btn-sm btn-warning text-dark', id: "#{dom_id(user)}" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="fw-bolder border text-gray-500 text-center">
    <% if current_user.has_role? :super_admin %>
      <div class="row mb-2">
      <%= link_to mutasi_asn_user_path(user.id),
          remote: true, 
          data: { 
            controller: 'form-modal', 
            action: 'ajax:complete->form-modal#success:prevent',
            bs_toggle: 'modal',
            bs_target: '#form-modal'
          }, 
          class: "btn btn-sm btn-primary" do %>
        <i class="fa fa-cog me-2"></i>
        <span>Mutasi ASN</span>
      <% end %>
      </div>
      <div class="row mb-2">
        <%= link_to 'Edit User', edit_detail_user_path(user, target_render: list_all_users_path),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-user"}, class: "btn btn-sm btn-info" %>
      </div>
      <div class="row">
        <%= link_to 'Hapus User', user, method: :delete, data: { confirm_swal: "Hapus #{user.nama}?" }, class: 'btn btn-outline-danger btn-sm' %>
      </div>
    <% end %>
  </td>
</tr>