<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List User</li>
      </ol>
    </nav>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="card border-0 shadow" id="user_khusus">
      <%= render 'all_user_template', { users: @users, kode_opd: '0' } %>
    </div>
  </div>
</div>
<%= render 'modal_user' %>
<%= render 'shared/modal_template', modal_name: 'user-role' %>
<%= render 'shared/modal_template', modal_name: 'user-nip' %>
