<%= content_for :html_title, "Profil" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item active" aria-current="page">Profil User</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Profil User</h2>
        </div>
        <div class="col text-end">
          <%= link_to edit_profile_user_path(@user),
                      remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal'
                      },
                      class: "btn btn-sm btn-info" do %>
            <i class="fas fa-pencil-alt me-2"></i>
            <span>Edit Profile</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush list">
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="d-flex align-items-center">
              <h5><%= @user.nama %></h5>
            </div>
            <hr />
            <div class="d-flex align-items-center pb-3">
              <%= link_to update_password_user_path(@user),
                          remote: true,
                          data: {
                            controller: 'form-modal',
                            action: 'ajax:complete->form-modal#success:prevent',
                            bs_toggle: 'modal',
                            bs_target: '#form-modal'
                          },
                          class: "btn btn-sm btn-secondary" do %>
                <i class="fa fa-cog me-2"></i>
                <span>Update Password</span>
              <% end %>
            </div>
            <hr/>
            <div class="d-flex align-items-center">
              <div class="bg-danger dot rounded-circle me-1"></div>
              <small>Instansi :</small>
              <strong><%= @user.opd.nil? ? '---' : @user.lembaga %></strong>
            </div>
            <div class="d-flex align-items-center">
              <div class="bg-secondary dot rounded-circle me-1"></div>
              <small>OPD :</small>
              <strong><%= @user.opd.nil? ? '---' : @user.nama_opd_terakhir %></strong>
            </div>
            <div class="d-flex align-items-center">
              <div class="bg-success dot rounded-circle me-1"></div>
              <small>NIP :</small>
              <strong><%= @user.nik %></strong>
            </div>
            <hr/>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="bg-success dot rounded-circle me-1"></div>
                <small>Jabatan :</small>
                <% if @user.jabatan_users.any? %>
                  <strong><%= @user.jabatan_users.last.details %></strong>
                <% else %>
                  <strong><%= @user.jabatan %></strong>
                <% end %>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="bg-primary dot rounded-circle me-1"></div>
            <small>Update Terakhir :</small>
            <small><%= @user.updated_at %></small>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="bg-primary dot rounded-circle me-1"></div>
            <small>Email :</small>
            <small><%= @user.email %></small>
          </div>
          <div class="d-flex align-items-center">
            <div class="bg-info dot rounded-circle me-1"></div>
            <small>Roles :</small>
            <small><%= @user.roles.pluck :name %></small>
          </div>
          <div class="d-flex align-items-center">
            <div class="bg-info dot rounded-circle me-1"></div>
            <small>Bidang :</small>
            <small><%= @user.nama_bidang %></small>
          </div>
    </div>
        </li>
      </ul>
  </div>
  </div>
<% end %>
