<p id="notice"><%= notice %></p>
<p>
  <strong>Nama:</strong>
  <%= @user.nama %>
</p>

<p>
  <strong>Nik:</strong>
  <%= @user.nik %>
</p>

<p>
  <strong>OPD:</strong>
  <%= @user.opd.nama_opd %>
</p>
<p> 
<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Kembali', users_path %>
</p>


<% if @user.sasarans.any? %>
<hr>

<div class="sasaran-kinerja">
  <h4>Sasaran Kinerja</h4>
  <%= render 'sasarans/all' , user: @user %>
</div>

<hr>
<% end %>

<h2>Tambah Sasaran Kinerja</h2>
<%= render 'sasarans/form', sasaran: @user.sasarans.build %>
