<p id="notice"><%= notice %></p>
<p>
  <strong>Nama:</strong>
  <%= @user.nama %>
</p>

<p>
  <strong>Nik:</strong>
  <%= @user.nik %>
</p>

<p>
  <strong>OPD:</strong>
  <%= @user.opd.nama_opd %>
</p>


<hr>
<h5>Sasaran User <%= @user.nama %></h5>
<div class="sasaran-kinerja">  
  <%= render(@user.sasarans) || render("sasarans/form", sasaran: @user.sasarans.build) %>
  <hr>
</div>

<p> 
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "Kembali", users_path %>
</p>