<p id="notice"><%= notice %></p>
<div class="row mb-5">
    <div class="col-12 col-lg-8">
        <div class="card border-0 shadow">
            <div class="card-header border-bottom">
                <h2 class="fs-5 fw-bold mb-0"><%= @user.nama %></h2>
            </div>
            <div class="card-body py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent py-3 px-0">
                        <div class="row align-items-center">
                            <div class="col-auto px-0">
                                <h4 class="fs-6 text-dark mb-0">
                                    <a href="#">NIK</a>
                                </h4>
                                <span class="small"><%= @user.nik %></span>
                                 <div role="separator" class="dropdown-divider my-1"></div>
                                <h4 class="fs-6 text-dark mb-0">
                                    <a href="#">OPD</a>
                                </h4>
                                <span class="small"><%= @user.opd.nama_opd %></span>
                            </div>
                            <div class="col text-end">
                                <span class="fs-6 fw-bolder text-dark"><%= @user.email %></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% # <%= link_to "Tambah Sasaran", new_user_sasaran_path(@user.id) %>
<%= link_to "Tambah Sasaran", "#", remote: true, data: { 'bs-toggle': "modal", 'bs-target': "#form-new-sasaran" }, class: "btn btn-tertiary" %>
<hr>
<% unless @user.sasarans.any? %>
  <div class="alert alert-danger" role="alert">
    User Belum memiliki Sasaran, 
    <%= link_to "Tambah Sasaran Baru", new_user_sasaran_path(@user.id) %>
  </div>
<% else %>
  <div class="col-12 mb-4">
      <div class="card border-0 shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Sasaran</h2>
            </div>
            <div class="col text-end">
              <a href="#" class="btn btn-sm btn-primary">Tambah Tahapan</a>
            </div>
          </div>
        </div>
          <%= render(@user.sasarans) %>
      </div>
    </div>
<% end %>

<%= render "modal" %>
<p> 
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "Kembali", users_path %>
</p>