<p id="notice"><%= notice %></p>
<p>
  <strong>Nama:</strong>
  <%= @user.nama %>
</p>

<p>
  <strong>Nik:</strong>
  <%= @user.nik %>
</p>

<p>
  <strong>OPD:</strong>
  <%= @user.opd.nama_opd %>
</p>
<% # <%= link_to "Tambah Sasaran", new_user_sasaran_path(@user.id) %>
<%= link_to "Tambah Sasaran", "#", remote: true, data: { 'bs-toggle': "modal", 'bs-target': "#form-new-sasaran" } %>
<hr>
<% unless @user.sasarans.any? %>
  <div class="alert alert-danger" role="alert">
    User Belum memiliki Sasaran, 
    <%= link_to "Tambah Sasaran Baru", new_user_sasaran_path(@user.id) %>

  </div>
<% else %>
  <h5>Sasaran "<%= @user.nama %>"</h5>
  <hr>
  <div class="sasaran-kinerja">  
    <%= render(@user.sasarans) %>
  </div>
<% end %>
<hr>
<%= render "modal" %>
<p> 
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "Kembali", users_path %>
</p>