<p id="notice">
  <%= notice %>
</p>
<div class="row mb-5">
  <div class="col-12">
    <div class="card border-0 shadow">
      <div class="card-header border-bottom d-flex align-items-center justify-content-between">
        <h2 class="fs-5 fw-bold mb-0"><%= current_user.nama %></h2>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush list my--3">
          <li class="list-group-item px-0">
            <div class="row align-items-center">
              <div class="col-auto">
                <a href="#" class="avatar">
                  <%= image_pack_tag('media/images/team/profile-picture-3.jpg', class: "rounded") %>
                </a>
              </div>
              <div class="col-auto ms--2">
                <h4 class="h6 mb-0">
                  Nama : <%= current_user.nama.capitalize %>
                </h4>
                <div class="d-flex align-items-center">
                  <div class="bg-primary dot rounded-circle me-1"></div>
                  <small>Email :</small>
                  <small><%= current_user.email %></small>
                </div>
                <div class="d-flex align-items-center">
                  <div class="bg-success dot rounded-circle me-1"></div>
                  <small>NIP :</small>
                  <small><%= current_user.nik %></small>
                </div>
                <div class="d-flex align-items-center">
                  <div class="bg-secondary dot rounded-circle me-1"></div>
                  <small>OPD :</small>
                  <small><%= current_user.opd.nil? ? '---' : current_user.opd.nama_opd %></small>
                </div>
                <div class="d-flex align-items-center">
                  <div class="bg-info dot rounded-circle me-1"></div>
                  <small>Peran :</small>
                  <small><%= current_user.roles.pluck :name %></small>
                </div>
                <div class="d-flex align-items-center">
                  <div class="bg-info dot rounded-circle me-1"></div>
                  <small>Bidang :</small>
                  <small><%= current_user.nama_bidang %></small>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
