<%= content_for :html_title, "List ASN" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Opd</li>
  <li class="breadcrumb-item active" aria-current="page">List ASN</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow" id="user_filter">
    <%= render partial: 'users/hasil_filter',
              locals: { opd: @opd,
                        users: @users,
                        kode_opd: @kode_unik_opd } %>
  </div>
  <%= render 'modal_user' %>
  <%= render 'shared/modal_template', modal_name: 'user-role' %>
<% end %>
