<%= form_with(url: add_isu_strategis_isu_dan_permasalahan_path(@kode_program), local: false,
              data: { controller: 'form-ajax',
                      action: 'ajax:success->form-ajax#successResponse',
                      form_ajax_modal_param: 'form-isu-strategis' 
              }) do |form| %>
  <%= form.hidden_field :tahun, readonly: true, value: @tahun %>
  <%= form.fields_for :program_kegiatan, @program_kegiatan do |program_fields|  %>
    <div class="field">
      <%= program_fields.label :nama_program, { class: "form-label" } %>
      <%= program_fields.text_area :nama_program, { class: "form-control", readonly: true } %>
    </div>
    <div class="field">
      <%= program_fields.label :isu_strategis, { class: "form-label" } %>
      <%= program_fields.text_area :isu_strategis, { class: "form-control" } %>
    </div>
  <%= program_fields.hidden_field :kode_program, readonly: true %>
  <% end %>
  <div class="actions">
    <%= form.submit "Simpan" %>
  </div>
<% end %>
