<table class="table table-flush">
  <thead>
    <tr class="border-start border-end border-top">
      <th class="border-bottom text-gray-700">No</th>
      <th class="border-bottom text-gray-700">Bidang Urusan</th>
      <th class="border-bottom text-gray-700">Isu Strategis</th>
      <th class="border-bottom text-gray-700">Permasalahan</th>
      <th class="border-bottom text-gray-700">Faktor Penghambat SKP</th>
      <th class="border-bottom text-gray-700 text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @isu_strategis.each.with_index(1) do |(bidang_urusan, isu_strategises), no| %>
      <% rowspan_bidang = isu_strategises.map { |isu| isu.permasalahan_opds.size }.flatten.sum + isu_strategises.size + 1  %>
      <tr>
        <td class="border-start border-end border-bottom align-middle" rowspan="<%= rowspan_bidang %>"><%= no %></td>
        <td class="border-end border-bottom align-middle" rowspan="<%= rowspan_bidang %>"><%= bidang_urusan %></td>
      </tr>
      <% isu_strategises.each do |isu_strategis| %>
        <tr>
          <td class="border-end border-bottom align-middle" rowspan="<%= isu_strategis.permasalahan_opds.count + 1 %>"><%= isu_strategis %></td>
          <td colspan="2" class="p-0 m-0 border-0"></td>
          <td class="border-start border-end border-bottom align-middle" rowspan="<%= isu_strategis.permasalahan_opds.count + 1 %>">
            <div class="d-grid gap-3">
              <%= link_to edit_isu_strategis_opd_path(isu_strategis),
               remote: true,
               data: {
                 controller: 'form-modal',
                 action: 'ajax:complete->form-modal#success:prevent',
                 bs_toggle: 'modal',
                 bs_target: '#form-modal'
               },
               class: 'btn btn-sm btn-outline-info ms-3' do %>
                <i class="fas fa-edit"></i>
                <span>Edit</span>
              <% end %>
              <%= link_to isu_strategis_opd_path(isu_strategis),
               method: :delete,
               data: {
                 confirm_swal: 'hapus isu strategis?',
                 controller: 'form-ajax',
                 action: 'ajax:complete->form-ajax#afterSubmitRefresh'
               },
               class: 'btn btn-sm btn-outline-danger ms-3' do %>
                <i class="fas fa-trash"></i>
                <span>Hapus</span>
              <% end %>
            </div>
          </td>
        </tr>
        <% isu_strategis.permasalahan_opds.each do |permasalahan| %>
          <tr>
            <td class="border-bottom align-middle"><%= permasalahan %></td>
            <td class="border-bottom align-middle"><%= permasalahan %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
