<table class="table table-flush">
  <thead>
    <tr class="border-start border-end border-top">
      <th class="border-bottom text-gray-700 align-middle text-center" rowspan="2">No</th>
      <th class="border-bottom text-gray-700 align-middle text-center" rowspan="2">Bidang Urusan</th>
      <th class="border-bottom text-gray-700 align-middle text-center" rowspan="2">Action Isu Strategis</th>
      <th class="border-bottom text-gray-700 align-middle text-center" rowspan="2">Isu Strategis</th>
      <th class="border-bottom text-gray-700 align-middle text-center" rowspan="2">Permasalahan</th>
      <th class="border text-gray-700 align-middle text-center" rowspan="2">Data Dukung</th>
      <th class="border text-gray-700 align-middle text-center" rowspan="2">Narasi Data Dukung</th>
      <% @range_tahun.each do |tahun| %>
        <th class="border text-center" scope="col" colspan="2"><%= tahun %></th>
      <% end %>
      <th class="border-bottom text-gray-700 align-middle text-center" rowspan="2">Action Permasalahan</th>
    </tr>
    <tr>
      <% @range_tahun.each do %>
        <th class="border" scope="col" width="50px">Jumlah</th>
        <th class="border" scope="col">Satuan</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @isu_strategis.each.with_index(1) do |(bidang_urusan, isu_strategises), no| %>
      <% rowspan_bidang = isu_strategises.map { |isu| isu.permasalahan_opds.size + isu.permasalahan_opds.map{ |pm| pm.data_dukungs.size }.flatten.sum }.flatten.sum + isu_strategises.size + 1  %>
      <tr>
        <td class="border-start border-end border-bottom align-middle" rowspan="<%= rowspan_bidang %>"><%= no %></td>
        <td class="text-wrap border-start border-end border-bottom align-middle" rowspan="<%= rowspan_bidang %>"><%= bidang_urusan %></td>
      </tr>
      <% isu_strategises.each do |isu_strategis| %>
        <% rowspan_isu = isu_strategis.permasalahan_opds.size + isu_strategis.permasalahan_opds.map{ |pm| pm.data_dukungs.size }.flatten.sum + 1  %>
        <tr>
          <td class="border-start border-end border-bottom align-middle" rowspan="<%= rowspan_isu %>">
            <div class="d-grid gap-3">
              <%= link_to edit_isu_strategis_opd_path(isu_strategis),
               remote: true,
               data: {
                 controller: 'form-modal',
                 action: 'ajax:complete->form-modal#success:prevent',
                 bs_toggle: 'modal',
                 bs_target: '#form-modal'
               },
               class: 'btn btn-sm btn-outline-info ms-3' do %>
                <i class="fas fa-edit"></i>
                <span>Edit</span>
              <% end %>
              <%= link_to isu_strategis_opd_path(isu_strategis),
               method: :delete,
               data: {
                 confirm_swal: 'hapus isu strategis?',
                 controller: 'form-ajax',
                 action: 'ajax:complete->form-ajax#afterSubmitRefresh'
               },
               class: 'btn btn-sm btn-outline-danger ms-3' do %>
                <i class="fas fa-trash"></i>
                <span>Hapus</span>
              <% end %>
              <%= link_to clone_isu_strategis_opd_path(isu_strategis, tahun: @tahun, kode_opd: @kode_opd),
               remote: true,
               data: {
                 controller: 'form-modal',
                 action: 'ajax:complete->form-modal#success:prevent',
                 bs_toggle: 'modal',
                 bs_target: '#form-modal'
               },
               class: 'btn btn-sm btn-primary ms-3' do %>
                <i class="fas fa-copy"></i>
                <span>Clone</span>
              <% end %>
            </div>
          </td>
          <td class="text-wrap border-end border-bottom align-middle" rowspan="<%= rowspan_isu %>"><%= isu_strategis %></td>
        </tr>
        <% isu_strategis.permasalahan_opds.each do |permasalahan| %>
          <% rowspan_data = permasalahan.data_dukungs.size + 1  %>
          <tr>
            <td class="text-wrap border align-middle" rowspan="<%= rowspan_data %>"><%= permasalahan %></td>
            <td colspan="<%= @range_tahun.size * 2 + 2 %>" class="p-0 m-0 border-0"></td>
            <td class="border align-middle" rowspan="<%= rowspan_data %>">
              <div class="d-grid gap-3" id="<%= dom_id(permasalahan, 'action') %>">
                <%= link_to new_permasalahan_opd_path(isu_strategis_opd: isu_strategis),
                 remote: true,
                 data: {
                   controller: 'form-modal',
                   action: 'ajax:complete->form-modal#success:prevent',
                   bs_toggle: 'modal',
                   bs_target: '#form-modal'
                 },
                 class: 'btn btn-sm btn-outline-primary ms-3' do %>
                  <i class="fas fa-plus"></i>
                  <span>Baru</span>
                <% end %>
                <%= link_to edit_permasalahan_opd_path(permasalahan),
                 remote: true,
                 data: {
                   controller: 'form-modal',
                   action: 'ajax:complete->form-modal#success:prevent',
                   bs_toggle: 'modal',
                   bs_target: '#form-modal'
                 },
                 class: 'btn btn-sm btn-outline-info ms-3' do %>
                  <i class="fas fa-edit"></i>
                  <span>Edit</span>
                <% end %>
                <%= link_to permasalahan_opd_path(permasalahan),
                 method: :delete,
                 data: {
                   confirm_swal: 'hapus permasalahan?',
                   controller: 'form-ajax',
                   action: 'ajax:complete->form-ajax#afterSubmitRefresh'
                 },
                 class: 'btn btn-sm btn-outline-danger ms-3' do %>
                  <i class="fas fa-trash"></i>
                  <span>Hapus</span>
                <% end %>
              </div>
            </td>
          </tr>
          <% permasalahan.data_dukungs.each do |data| %>
            <tr>
              <td class="text-wrap border align-middle"><%= data %></td>
              <td class="text-wrap border align-middle"><%= data.keterangan %></td>
              <% @range_tahun.each do |tahun| %>
                <% jumlah = data.jumlahs.find_by(tahun: tahun) %>
                <td class="text-wrap border align-middle"><%= jumlah&.jumlah %></td>
                <td class="text-wrap border align-middle"><%= jumlah&.satuan %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
