<tr>
  <td></td>
  <td><%= kriterium %></td>
  <td><%= kriterium.poin %></td>
  <td><%= kriterium.poin_max %></td>
  <td><%= kriterium.poin_min %></td>
  <td><%= kriterium.keterangan %></td>
  <td><%= kriterium.tipe_kriteria %></td>
  <td class="text-center">
    <div class="d-grid gap-3">
      <%= link_to edit_kriterium_path(kriterium), remote: true,
         data: {
             controller: 'form-modal',
             action: 'ajax:complete->form-modal#success:prevent',
             bs_toggle: 'modal',
             bs_target: '#form-modal'
         },
         class: 'btn btn-outline-info' do %>
        <i class="fa fa-edit me-2"></i>
        <span>Edit</span>
      <% end %>
      <%= link_to kriterium,
           method: :delete,
           class: 'btn btn-outline-danger',
           data: { confirm_swal: "Hapus #{kriterium}?" } do %>
        <i class="fa fa-trash-alt me-2"></i>
        <span>Hapus</span>
      <% end %>
    </div>
  </td>
</tr>
