<fieldset class="mb-5 row">
  <div class="field mt-0">
    <%= form.label :indikator, { class: "form-label" } %>
    <%= form.text_area :indikator, { class: "form-control" } %>
  </div>
  <% (2020..2024).each do |tahun| %>
    <%= form.fields_for :targets, form.object.targets.build do |f_target| %>
      <div class="tahun col">
        <div class="field mt-0">
          <%= f_target.label :tahun, class: 'form-label' %>
          <%= f_target.text_field :tahun, { class: 'form-control', value: tahun, readonly: true } %>
        </div>
        <div class="field ">
          <%= f_target.label :target, { class: "form-label" } %>
          <%= f_target.number_field :target, { class: "form-control", step: 0.01 } %>
        </div>
        <div class="field ">
          <%= f_target.label :satuan, { class: "form-label" } %>
          <%= f_target.text_field :satuan, { class: "form-control" } %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to_remove_nested(form, link_text: 'Hapus Indikator',
                            link_classes: 'btn btn-outline-danger') %>
</fieldset>
