<fieldset class="mb-3">
  <div class="field mt-0">
    <%= form.label :indikator, { class: "form-label" } %>
    <%= form.text_area :indikator, { class: "form-control" } %>
  </div>
  <h5>Target Indikator</h5>
  <div class="field mt-0 row" id="target-indikator">
    <%= form.fields_for :targets do |f_target| %>
      <%= render 'tujuan_opds/target_fields', form: f_target %>
    <% end %>
  </div>
  <%= link_to_remove_nested(form, link_text: 'Hapus Indikator',
                            link_classes: 'btn btn-outline-danger w-100 mt-2') %>
</fieldset>
