<% (2020..2024).each do |tahun| %>
  <fieldset class="tahun col">
    <div class="field">
      <%= form.label :tahun, class: 'form-label' %>
      <%= form.text_field :tahun, { class: 'form-control', value: tahun } %>
    </div>
    <div class="field">
      <%= form.label :target, { class: "form-label" } %>
      <%= form.number_field :target,  class: "form-control", step: 0.01 %>
    </div>
    <div class="field">
      <%= form.label :satuan, { class: "form-label" } %>
      <%= form.text_field :satuan,  class: "form-control" %>
    </div>
  </fieldset>
<% end %>
