<%= content_for :html_title, "Master Subkegiatan" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Master Subkegiatan</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: 'Master Subkegiatan' do %>
    <div class="ps-2">
      <%= form_with url: search_subkegiatan_path, method: :get do |form| %>
        <%= form.label :query, "Cari subkegiatan" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
      <% end %>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom" scope="col">Kode SubKegiatan</th>
            <th class="border-bottom" scope="col">Nama SubKegiatan</th>
            <th class="border-bottom" scope="col">OPD</th>
          </tr>
        </thead>
        <tbody>
          <% @subkegiatans.each_with_index do |subgiat, i| %>
            <% ranges = @pagy.from..@pagy.to %>
            <tr>
              <td class="text-gray-900 fw-bolder" scope="row"><%= ranges.to_a[i] %></td>
              <td class="fw-bolder text-gray-500"><%= subgiat.kode_sub_giat %></td>
              <td class="text-gray-900 text-wrap" scope="row"><%= subgiat.nama_subkegiatan %></td>
              <td class="text-gray-900" scope="row"><%= subgiat.nama_opd_pemilik %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col align-self-center">
        <%= render partial: 'shared/pagination', locals: { pagy: @pagy } %>
      </div>
    </div>
  </div>
<% end %>
<% end %>