<div class="card border-0 shadow mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h2 class="mb-0">
          Filter
        </h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% filter_value = local_assigns[:filter_file] || '' %>
    <% filter_jenis = local_assigns[:jenis] || '' %>
    <%= form_with url: filter_url, local: false do |form| %>
      <%= form.hidden_field :filter_file, value: filter_value %>
      <%= form.hidden_field :jenis, value: filter_jenis %>
      <%= form.label :tahun %>
      <%= form.select :tahun, 
                    options_for_select( [[cookies[:tahun_sasaran], cookies[:tahun_sasaran]]],
                                       selected: cookies[:tahun_sasaran]), {include_blank: true},
                    { class: "form-control",
                      data: { placeholder: "Pilih Tahun Sasaran",
                              controller: 'dropdown',
                              dropdown_jenis_value: 'ajax', 
                              dropdown_url_value: kelompok_anggarans_path(:json) } } %>
      <%= form.label :opd , class: 'mt-3' %>
      <% all_opd = local_assigns[:all]  %>
      <%= form.select :kode_opd,  dropdown_opd(all: all_opd),{include_blank: true},
        {class: "form-control", data: {"placeholder": "Pilih Opd",
                                       "controller": "dropdown",
                                       }, required: true }  %>
      <%= form.submit 'filter' %>
    <% end %>
  </div>
</div>
