<div class="card border-0 shadow mb-4">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h2 class="mb-0">
          Filter
        </h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% filter_value =  local_assigns[:filter_file] || '' %>
    <% filter_jenis = local_assigns[:jenis] || '' %>
    <%= form_with url: filter_url, local: false, data: {"controller": "dropdown"} do |form| %>
      <%= form.hidden_field :filter_file, value: filter_value %>
      <%= form.hidden_field :jenis, value: filter_jenis %>
      <%= form.label :kode_opd %>
      <%= form.select :kode_opd, dropdown_opd ,{include_blank: true},{ class: "form-control", data: {"placeholder": "Pilih Opd", "dropdown-target": "dropdown_element", "dropdown_jenis_value": "opd"}, required: true }  %>
      <%= form.submit 'filter' %>
    <% end %>
  </div>
</div>
