<% action_url = local_assigns[:action_url] %>
<% kode_opd = local_assigns[:kode_opd] || '' %>
<% extra = local_assigns[:extra] || true %>
<div class="col">
  <%= form_with(url: action_url, local: true, method: :get, class: 'row') do |form| %>
    <% if extra %>
      <%= form.hidden_field :filter_query, readonly: true, value: "tahun" %>
      <%= form.hidden_field :kode_opd, readonly: true, value: kode_opd %>
    <% end %>
    <div class="col">
      <%= form.select :tahun, [], {include_blank: true},
       { data: {
                  placeholder: "Filter Tahun",
                  controller: 'dropdown',
                  dropdown_jenis_value: 'ajax',
                  dropdown_url_value: tahuns_path(format: :json)
               }
       } %>
    </div>
    <div class="col-auto">
      <%= form.submit 'Filter', name: 'filter', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
