<% filter_value = local_assigns[:filter_file] || '' %>
<% filter_jenis = local_assigns[:jenis] || '' %>
<%= form_with url: filter_url, method: :get,local: false, class: "form-inline" do |form| %>
  <%= form.hidden_field :filter_file, value: filter_value %>
  <%= form.hidden_field :jenis, value: filter_jenis %>
  <% all_opd = local_assigns[:all]  %>
  <div class="input-group input-group-merge">
    <%= form.select :kode_opd,  dropdown_opd, {include_blank: true},
     { class: "form-control", required: true,
       id: 'global-filter-opd',
       data: {
         placeholder: "Perangkat Daerah",
         controller: "dropdown",
         dropdown_width_value: "50%",
         dropdown_jenis_value: "element"
       } } %>
    <span class="me-3"></span>
    <%= form.select :tahun_sasaran, {},  {include_blank: true},
     { class: "form-control tahun_sasaran", required: true,
       data: {
         placeholder: "Tahun",
         controller: 'dropdown',
         dropdown_jenis_value: "element",
         dropdown_width_value: "resolve",
         ajax__url: kelompok_anggarans_path(:json)
       } } do %>
      <% if cookies[:tahun] %>
        <option value="<%= cookies[:tahun] %>" selected="selected"><%= cookies[:tahun] %></option>
      <% end %>
    <% end %>
    <%= form.button type: :submit, name: "filter", value: "filter", class: "btn btn-sm btn-outline-tertiary" do %>
      Aktifkan
    <% end %>
  </div>
<% end %>
