<li class="nav-item" >
  <%= active_link_to(item[:href], active: :exact) do %>
    <span class="nav-link d-flex justify-content-between align-items-center <%= is_active_link?(item[:href], :exact) ? '' : 'collapsed' %>"
          aria-expanded="<%= is_active_link?(item[:href], :exact) %>"
          data-bs-toggle="collapse"
          data-bs-target="#<%= item[:id_target] %>">
      <span>
        <span class="sidebar-icon">
          <i class="<%= item[:icon] %> icon icon-xs me-2"></i>
        </span>
        <span class="sidebar-text"><%= item[:title] %></span>
      </span>
      <span class="link-arrow">
        <i class="fas fa-angle-right icon icon-sm"></i>
      </span>
    </span>
  <% end %>
  <div class="multi-level ms-3 <%= is_active_link?(item[:href], :exact) ? '' : 'collapse' %>"
       data-sidebar-target="item"
       aria-expanded="<%= is_active_link?(item[:href], :exact) %>"
       role="list" id="<%= item[:id_target] %>">
    <ul class="flex-column nav">
      <% item[:collections].each do |sub_item| %>
        <% if sub_item[:multi] %>
          <%= render partial: 'shared/nav_item', locals: { item: sub_item, child: true } %>
        <% else %>
          <%= active_link_to(sub_item[:href], wrap_tag: :li, wrap_class: 'nav-item',class: "nav-link #{'ms-3' if local_assigns[:child]}") do %>
            <span>
              <span class="sidebar-text"><%= sub_item[:title] %></span>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</li>
