<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Ranwal Renja <%= @nama_opd %> <%= @tahun_awal %></h2>
      </div>
      <div class="col-auto">
        <%= link_to renja_ranwal_cetak_path(format: :xlsx, tahun: @tahun, kode_opd: @kode_opd), class:"m-3 btn btn-outline-success" do %>
          <span class="far fa-file-excel" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak Excel Ranwal Renja"></span>
          Cetak Excel Ranwal Renja
        <% end %>
        <%= link_to renja_ranwal_cetak_path(format: :pdf, tahun: @tahun, kode_opd: @kode_opd), class:"m-3 btn btn-outline-danger" do %>
          <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak Excel Ranwal Renja"></span>
          Cetak PDF Ranwal Renja
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%# tabel_tujuan_sasaran_opd %>
    <div class="table-responsive">
      <%= render partial: 'renja/tabel_renja'%>
    </div>
  </div>
</div>
