<% indikators&.each do |indikator| %>
  <% if indikator.tahun == tahun.to_s %>
    <td class="text-gray-900 text-wrap border"><%= indikator.indikator %></td>
    <td class="text-gray-900 text-wrap border"><%= indikator.target %></td>
    <td class="text-gray-900 text-wrap border"><%= indikator.satuan %></td>
    <td class="text-gray-900 text-wrap border">Rp.<%= number_with_delimiter(indikator.pagu) %></td>    
    <td class="text-gray-900 text-wrap border"><%= indikator.keterangan %></td>
  <% end %>
<% end %>
