<div class="table-responsive">
  <h5>Sasaran</h5>
  <table class="table align-items-center">
    <thead class="thead-tujuan">
      <tr class="header-tujuan">
        <% if sasaran_opds.size > 1 %>
          <th class="border text-center" scope="col">No.</th>
        <% end %>
        <th class="border text-center" scope="col">Sasaran OPD</th>
        <th class="border text-center" scope="col">Indikator</th>
        <th class="border text-center" scope="col">Rumus Perhitungan</th>
        <th class="border text-center" scope="col">Sumber Data</th>
        <th class="border text-center" scope="col">Target</th>
        <th class="border text-center" scope="col">Satuan</th>
      </tr>
    </thead>
    <tbody>
      <% sasaran_opds.each.with_index(1) do |sasaran, no| %>
        <tr>
          <% if sasaran_opds.size > 1 %>
            <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) + 1 %>"><%= no %></td>
          <% end %>
          <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) + 1 %>" width="550px"><%= sasaran.sasaran_kinerja %></td>
        </tr>
        <% sasaran.indikator_sasarans.each do |indikator| %>
          <tr>
            <td class="border text-wrap"><%= indikator %></td>
            <td class="border text-wrap"><%= indikator.rumus_perhitungan %></td>
            <td class="border text-wrap"><%= indikator.sumber_data %></td>
            <td class="border text-wrap"><%= indikator.target %></td>
            <td class="border text-wrap"><%= indikator.satuan %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>