<table class="table align-items-center">
  <%= render(RenjaComponent.new(program: @opd.nama_kode_opd, tahun: @tahun, jenis: 'opd', collections: @program_renstra))%>
  <% @program_kegiatans.each do |urusan, bid_urusans| %>
    <%= render(RenjaComponent.new(program: urusan, tahun: @tahun, jenis: 'urusan', collections: bid_urusans.values.flatten))%>
    <% bid_urusans.each do |bid_urusan, programs| %>
      <%= render(RenjaComponent.new(program: bid_urusan, tahun: @tahun, jenis: 'bidang_urusan', collections: programs))%>
      <% programs.each do |program| %>
        <%= render(RenjaComponent.new(program: program, tahun: @tahun, jenis: 'program'))%>
        <% program.kegiatans_opd.each do |kegiatan| %>
          <%= render(RenjaComponent.new(program: kegiatan, tahun: @tahun, jenis: 'kegiatan'))%>
          <%= render(HeaderRenjaComponent.new(title: 'Subkegiatan', indikator: true)) %>
          <% kegiatan.subkegiatans_opd.each do |subgiat| %>
            <%= render(RenjaComponent.new(program: subgiat, tahun: @tahun, jenis: 'subkegiatan', head: false))%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</table>