<div class="table-responsive">
  <h5>Tujuan</h5>
  <table class="table align-items-center">
    <thead class="thead-tujuan">
      <tr class="header-tujuan">
        <% if tujuan_opds.size > 1 %>
          <th class="border text-center" scope="col">No.</th>
        <% end %>
        <th class="border" scope="col" rowspan="2">Tujuan OPD</th>
        <th class="border" scope="col" rowspan="2">Indikator</th>
        <th class="border" scope="col" rowspan="2">Rumus Perhitungan</th>
        <th class="border" scope="col" rowspan="2">Sumber Data</th>
        <th class="border text-center" scope="col" colspan="2"><%= @tahun %></th>
      </tr>
      <tr>
        <th class="border" scope="col" width="50px">Target</th>
        <th class="border" scope="col">Satuan</th>
      </tr>
    </thead>
    <tbody>
      <% tujuan_opds.each.with_index(1) do |tujuan, no_tujuan| %>
        <% rowsize = tujuan.indikators.size + 1 %>
        <tr>
          <% if tujuan_opds.size > 1 %>
            <td class="text-gray-900 text-wrap border" rowspan="<%= rowsize %>" ><%= no_tujuan %></td>
          <% end %>
          <td class="text-gray-900 text-wrap border" rowspan="<%= rowsize %>" width="620px" ><%= tujuan.tujuan %></td>
        </tr>
        <% tujuan.indikators.each do |indikator_tujuan| %>
          <tr>
            <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan || '-' %></td>
            <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan.rumus_perhitungan || '-' %></td>
            <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan.sumber_data || '-' %></td>
            <% target = indikator_tujuan.targets.find_by(tahun: @tahun) %>
            <td class="text-gray-900 text-wrap border"><%= target %></td>
            <td class="text-gray-900 text-wrap border"><%= target&.satuan %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>