<div class="kop">
  <div class="kop-judul">
    <h2>RANCANGAN AKHIR RENCANA KERJA</h2>
  </div>
  <div class="kop-opd">
    <h3><%= @nama_opd %></h3>
  </div>
  <div class="kop-tahun">
    <h3>Tahun <%= @tahun %></h3>
  </div>
</div>
<div class="table-responsive">
  <h5>Tujuan</h5>
  <table class="table align-items-center">
    <thead class="thead-tujuan">
      <tr class="header-tujuan">
        <th class="border" scope="col" rowspan="2">Tujuan OPD</th>
        <th class="border" scope="col" rowspan="2">Indikator</th>
        <th class="border" scope="col" rowspan="2">Rumus Perhitungan</th>
        <th class="border" scope="col" rowspan="2">Sumber Data</th>
        <th class="border text-center" scope="col" colspan="2"><%= @tahun %></th>
      </tr>
      <tr>
        <th class="border" scope="col" width="50px">Target</th>
        <th class="border" scope="col">Satuan</th>
      </tr>
    </thead>
    <tbody>
      <% @tujuan_opds.each.with_index(1) do |tujuan, no_tujuan| %>
        <% rowsize = tujuan.indikators.size + 1 %>
        <tr>
          <td class="text-gray-900 text-wrap border" rowspan="<%= rowsize %>" ><%= tujuan.tujuan %></td>
        </tr>
        <% tujuan.indikators.each do |indikator_tujuan| %>
          <tr>
            <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan || '-' %></td>
            <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan.rumus_perhitungan || '-' %></td>
            <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan.sumber_data || '-' %></td>
            <% target = indikator_tujuan.targets.find_by(tahun: @tahun) %>
            <td class="text-gray-900 text-wrap border"><%= target %></td>
            <td class="text-gray-900 text-wrap border"><%= target&.satuan %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="table-responsive">
  <h5>Sasaran</h5>
  <table class="table align-items-center">
    <thead class="thead-tujuan">
      <tr class="header-tujuan">
        <th class="border text-center" scope="col">Sasaran OPD</th>
        <th class="border text-center" scope="col">Indikator</th>
        <th class="border text-center" scope="col">Target</th>
        <th class="border text-center" scope="col">Satuan</th>
      </tr>
    </thead>
    <tbody>
      <% @sasaran_opds.each do |sasaran| %>
        <tr>
          <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
          <% if sasaran.indikator_sasarans.any? %>
            <%= indikator_sasaran(sasaran) %>
          <% else %>
            <td class="border" colspan="3">
              -
            </td>
          <% end %>
        </tr>
        <% row_indikator_sasaran(sasaran).each do |indikator| %>
          <%= indikator %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <h5>Program/Kegiatan/Sub Kegiatan</h5>
  <% @program_kegiatans.each do |sub_opd, urusans| %>
    <%= render(TabelRenjaComponent.new(sub_opd: sub_opd, 
                                           urusans: urusans, 
                                           jenis_renja: 'rankir', 
                                           tahun: @tahun )) %>
  <% end %>
</div>