<div class="kop">
  <div class="kop-judul">
    <h2>RANCANGAN AKHIR RENCANA KERJA</h2>
  </div>
  <div class="kop-opd">
    <h3><%= @nama_opd %></h3>
  </div>
  <div class="kop-tahun">
    <h3>Tahun <%= @tahun %></h3>
  </div>
</div>
<%= render partial: 'tujuan_opd', locals: { tujuan_opds: @tujuan_opds } %>
<%= render partial: 'sasaran_opd', locals: { sasaran_opds: @sasaran_opds } %>
<%= render partial: 'program_kegiatan_subkegiatan', locals: { program_kegiatans: @program_kegiatans } %>