<p id="notice"><%= notice %></p>

<p>
  <strong>Nama pelapor:</strong>
  <%= @inovasi_masyarakat.nama_pelapor %>
</p>

<p>
  <strong>No whatsapp:</strong>
  <%= @inovasi_masyarakat.no_whatsapp %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @inovasi_masyarakat.alamat %>
</p>

<p>
  <strong>Email pelapor:</strong>
  <%= @inovasi_masyarakat.email_pelapor %>
</p>

<p>
  <strong>Inovasi:</strong>
  <%= @inovasi_masyarakat.inovasi %>
</p>

<p>
  <strong>Gambaran nilai kebaruan:</strong>
  <%= @inovasi_masyarakat.gambaran_nilai_kebaruan %>
</p>

<p>
  <strong>Status laporan:</strong>
  <%= @inovasi_masyarakat.status_laporan %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @inovasi_masyarakat.keterangan %>
</p>

<p>
  <strong>Metadata:</strong>
  <%= @inovasi_masyarakat.metadata %>
</p>

<p>
  <strong>Id tiket:</strong>
  <%= @inovasi_masyarakat.id_tiket %>
</p>

<%= link_to 'Edit', edit_inovasi_masyarakat_path(@inovasi_masyarakat) %> |
<%= link_to 'Back', inovasi_masyarakats_path %>
