<%= form_with(model: strategi) do |form| %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategi.errors.count, "error") %> prohibited this strategi from being saved:</h2>

      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :strategi %>
    <%= form.text_field :strategi %>
  </div>

  <div class="field">
    <%= form.label :tahun %>
    <%= form.text_field :tahun %>
  </div>

  <div class="field">
    <%= form.label :sasaran_id %>
    <%= form.text_field :sasaran_id %>
  </div>

  <div class="field">
    <%= form.label :strategi_ref_id %>
    <%= form.text_field :strategi_ref_id %>
  </div>

  <div class="field">
    <%= form.label :nip_asn %>
    <%= form.text_field :nip_asn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
