<%= form_with(model: strategi) do |form| %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategi.errors.count, "error") %> prohibited this strategi from being saved:</h2>

      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="field">
        <%= form.label :isu_strategis_opd, class: "form-label" %>
        <%= form.text_field :isu_strategis_opd, class: "form-control", readonly: true, value: @usulan_isu %>
        <%= form.hidden_field :role, class: "form-control", readonly: true, value: @role %>
      </div>
      <div class="field">
        <%= form.label :strategi, class: "form-label" %>
        <%= form.text_field :strategi, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.fields_for :sasaran_attributes, strategi.sasaran do |sasaran_form| %>
          <%= sasaran_form.label :sasaran_kinerja, { class: "form-label" } %>
          <%= sasaran_form.text_field :sasaran_kinerja, { class: "form-control" } %>

          <%= sasaran_form.hidden_field :nip_asn, { class: "form-control", value: @nip } %>
          <%= sasaran_form.hidden_field :strategi_id, { class: "form-control", value: strategi.id } %>

          <%= sasaran_form.hidden_field :tahun, { class: "form-control", value: strategi.tahun } %>

          <%= sasaran_form.fields_for :indikator_sasarans_attributes do |indikator_sas| %>
              <div class="field">
                <%= indikator_sas.label :aspek, { class: "form-label" } %>
                <%= indikator_sas.select(:aspek, (['Kualitas','Kuantitas']), {},
                  {data: { controller: 'dropdown' }}) %>
              </div>
              <div class="field">
                <%= indikator_sas.label :indikator_kinerja, { class: "form-label" } %>
                <%= indikator_sas.text_field :indikator_kinerja, { class: "form-control" } %>
              </div>
              <div class="field">
                <%= indikator_sas.label :target, { class: "form-label" } %>
                <%= indikator_sas.number_field :target, { class: "form-control" } %>
              </div>
              <div class="field">
                <%= indikator_sas.label :satuan, { class: "form-label" } %>
                <%= indikator_sas.text_field :satuan, { class: "form-control" } %>
              </div>
          <% end %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :tahun, class: 'form-label' %>
        <%= form.select :tahun,[2020, 2021, 2022, 2023, 2024],{selected: Date.today.year},
          { class: 'form-control', data: { controller: 'dropdown' } }%>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
<% console %>
