<%= form_with(
  url: pilih_asn_strategi_path(@strategi),
  method: :post,
  local: false,
  data: { controller: 'form-ajax',
          action: 'ajax:success->form-ajax#successResponse',
          form_ajax_modal_param: 'form-bagikan-strategi-pokin'
  }) do |form| %>
  <div class="field">
    <%= form.label :strategic_objective, class: "form-label" %>
    <%= form.text_field :strategic_objective, class: "form-control", readonly: true, value: @strategi.strategi %>
    <%= form.hidden_field :role, readonly: true, value: @role %>
    <%= form.hidden_field :pohon_id, readonly: true, value: @pohon_id %>
  </div>
  <div class="field">
    <%= form.label :dibagikan, class: "form-label" %>
    <ol>
      <% @strategi.strategi_bawahans.order(:nip_asn).each do |strategi_asn| %>
        <li>
          <div class="row align-items-center">
            <span class="col">
              <span class="fw-bolder"><%= strategi_asn&.user&.nama_nip %></span>
              <small>( role: <%= strategi_asn&.role %> )</small>
            </span>
              <span class="col border border-success rounded">
                <small>strategi: </small>
                <span class="fw-bolder"><%= strategi_asn&.strategi || 'belum diisi' %></span>
              </span>
  <% unless current_user.has_role?(:super_admin) %>
            <span class="col-auto">
              <%= hidden_field_tag 'tidak_dibagikan[]', strategi_asn.id -%>
              <%= check_box_tag 'dibagikan[]', strategi_asn.id, true %>
            </span>
  <% end %>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
  <% unless current_user.has_role?(:super_admin) %>
    <div class="field">
      <%= form.label :asn, class: "form-label" %>
      <%= form.select :nip, @bawahans.collect{ |asn| [asn.nama_nip, asn.nik] },
        { include_blank: true },
        multiple: true,
        data: {
          controller: 'dropdown',
          placeholder: 'Pilih ASN',
          dropdown_parent_value: '#form-bagikan-strategi-pokin'
        },
        class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
