<%= form_with(model: strategi) do |form| %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategi.errors.count, "error") %> prohibited this strategi from being saved:</h2>

      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="field">
        <%= form.hidden_field :role, class: "form-control", readonly: true, value: @role %>
        <%= form.hidden_field :nip_asn, class: "form-control", readonly: true, value: @nip %>
        <%= form.hidden_field :opd_id, class: "form-control", readonly: true, value: @opd_id %>

        <%= form.label :isu_strategis_pohon, class: "form-label" %>
        <%= form.select :pohon_id, Strategi.where(nip_asn: @nip).uniq(&:pohon_id).collect{ |str| [str.pohon.keterangan, str.pohon_id] } ,
          {include_blank: true},
          { class: 'form-control', data: { controller: 'dropdown', placeholder: 'Pilih Strategi Atas' } }%>
      </div>

      <div class="field">
        <%= form.label :isu_strategis_atasan, class: "form-label" %>
        <%= form.select :strategi_ref_id, Strategi.where(nip_asn: @nip).uniq(&:strategi_ref_id).collect{ |str| [str.isu_strategis_disasar, str.strategi_ref_id] } ,
          {include_blank: true},
          { class: 'form-control', data: { controller: 'dropdown', placeholder: 'Pilih Strategi Atasan ( kosong jika KA OPD )' } }%>
      </div>

      <div class="field">
        <%= form.label :tahun, class: 'form-label' %>
        <%= form.select :tahun,[2020, 2021, 2022, 2023, 2024],{selected: Date.today.year},
          { class: 'form-control', data: { controller: 'dropdown' } }%>
      </div>

      <div class="field">
        <%= form.label :strategi, class: "form-label" %>
        <%= form.text_field :strategi, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.fields_for :sasaran do |sasaran_form| %>
          <% random_number = @sasaran&.id_rencana.nil? ? (SecureRandom.random_number(9e5) + 1e5).to_i : @sasaran.id_rencana %>
          <%= sasaran_form.hidden_field :id_rencana, :value => random_number, readonly: true %>
          <%= sasaran_form.hidden_field :nip_asn, { class: "form-control", value: @nip } %>
          <%= sasaran_form.hidden_field :strategi_id, { class: "form-control", value: strategi.id } %>
          <%= sasaran_form.hidden_field :tahun, { class: "form-control", value: strategi.tahun } %>

          <%= sasaran_form.label :sasaran_kinerja, { class: "form-label" } %>
          <%= sasaran_form.text_field :sasaran_kinerja, { class: "form-control" } %>

          <div class="field" id="indikator-sasarans">
            <%= sasaran_form.label :indikator, { class: "form-label" } %>
            <%= sasaran_form.fields_for :indikator_sasarans do |indikator_sas| %>
               <%= render 'sasarans/indikator_sasaran_fields', form: indikator_sas %>
             <% end %>
           </div>
          <%= link_to_add_nested(sasaran_form, :indikator_sasarans,
                                '#indikator-sasarans', link_classes: 'btn btn-outline-primary btn-sm', link_text: 'Tambah Indikator',
                                partial: 'sasarans/indikator_sasaran_fields') %>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
