<%= form_with(model: strategi_kotum) do |form| %>
  <% if strategi_kotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategi_kotum.errors.count, "error") %> prohibited this strategi_kotum from being saved:</h2>

      <ul>
        <% strategi_kotum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="field">
        <%= form.label :isu_strategis_kota_id, class: "form-label" %>
        <%= form.select :isu_strategis_kota_id, IsuStrategisKotum.all.collect{ |isu| ["#{isu.isu_strategis} - Tahun #{isu.tahun}", isu.id] },
          { include_blank: true },
          data: {
            controller: 'dropdown',
            placeholder: 'Isu Strategis Kota'
          },
          class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :strategi, class: "form-label" %>
        <%= form.text_field :strategi, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :sasaran_kota, class: "form-label" %>
        <%= form.select :sasaran_kota_id, SasaranKotum.all.collect{ |sas| [sas.sasaran, sas.kode_sasaran] },
          { include_blank: true },
          data: {
            controller: 'dropdown',
            placeholder: 'Pilih Sasaran Kota'
          },
          class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :tahun, class: 'form-label' %>
        <%= form.select :tahun,[2020, 2021, 2022, 2023, 2024],{selected: Date.today.year},
          { class: 'form-control', data: { controller: 'dropdown' } }%>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
