<div class='card'>
  <div class='card-body'>
    <% if @strategi_kota.usulans.any? %>
      <ol>
      <%= form_with(url: hapus_bagikan_ke_opd_strategi_kotum_path(@strategi_kota)) do |form| %>
        <% @strategi_kota.usulans.each do |strategi| %>
          <li>
            <div class="row">
              <span class="col">
                <%= strategi.opd.nama_opd %>
              </span>
              <span class="col-auto">
                <%= hidden_field_tag 'tidak_dibagikan[]', strategi.opd.id -%>
                <%= check_box_tag 'dibagikan[]', strategi.opd.id, true %>
              </span>
            </div>
          </li>
        <% end %>
        <%= form.submit %>
      <% end %>
      </ol>
    <% else %>
      <p class="alert alert-danger">Belum dibagikan!!</p>
    <% end %>
  </div>
</div>
