<%= form_with(model: permasalahan_opd,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: 'permasalahan-opd',
                action: 'ajax:complete->form-ajax#afterSubmitRefresh'
              }
) do |form| %>
  <% if permasalahan_opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permasalahan_opd.errors.count, "error") %> prohibited this permasalahan_opd from being saved:</h2>

      <ul>
        <% permasalahan_opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :isu_strategis_opd_id, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :isu_strategis_opd, class: 'form-label' %>
    <%= form.text_field :isu_strategis_opd, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :kode_opd, class: 'form-label' %>
    <%= form.text_field :kode_opd, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :permasalahan, class: 'form-label' %>
    <%= form.text_field :permasalahan, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.select :tahun, selected_tahun(form.object.tahun),
     {include_blank: true},
     { class: "form-control",
       data: {
         placeholder: "Pilih Tahun Permasalahan",
         controller: 'dropdown',
         dropdown_jenis_value: 'ajax',
         dropdown_url_value: kelompok_anggarans_path(:json),
         dropdown_parent_value: '#form-modal'
       }
     } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
