<%= form_with(model: permasalahan_opd,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: 'permasalahan-opd',
                action: 'ajax:complete->form-ajax#afterSubmitRefresh'
              }
) do |form| %>
  <% if permasalahan_opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permasalahan_opd.errors.count, "error") %> prohibited this permasalahan_opd from being saved:</h2>

      <ul>
        <% permasalahan_opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :isu_strategis_opd_id, class: 'form-control', readonly: true %>
    <%= form.hidden_field :tahun, class: 'form-control', readonly: true %>
    <%= form.hidden_field :kode_opd, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :isu_strategis_opd, class: 'form-label' %>
    <%= form.text_field :isu_strategis_opd, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.text_field :tahun, class: 'form-control', readonly: true %>
  </div>

  <%= render 'permasalahan_opd_fields_edit', form: form %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
