<div class="card border-0 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Pagu Subkegiatan</h2>
      </div>
      <div class="col">
      <%= select_tag :opd, nil, include_blank: true,
                 data: {
                    placeholder: @nama_opd,
                    controller: 'dropdown',
                    dropdown_jenis_value: 'ajax',
                    dropdown_url_value: opd_resmi_opds_path(format: :json)
                } %>
      </div>
    </div>
  </div>
  <%= render 'home/card_body' do %>
    <div data-controller="chart" data-chart-target="opd" data-chart-opd-value="<%= @opd %>"></div>
  <% end %>
</div>
<% if super_admin? %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Pagu OPD <%= @tahun %></h2>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div data-controller="chart" data-chart-target="opds" data-chart-tahun-value=<%= @tahun %>>
      </div>
    </div>
  </div>
<% end %>
