<div class="col-12 col-xl-12">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card border-0 shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Rencana Kinerja Tahun <%= @tahun %></h2>
            </div>
            <div class="col text-end">
              <span><%= current_user.nama %></span>
              |
              <span><%= current_user.nik %></span>
              |
              <span>Role: <%= current_user.eselon_user %></span>
            </div>
          </div>
        </div>
        <div class="table-responsive" id="tempat-row-sasaran">
          <table class="table table-hover align-items-center">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom text-left" scope="col">No</th>
                <th class="border-bottom text-left" scope="col">Sasaran</th>
                <th class="border-bottom text-center" scope="col">Tahun Sasaran</th>
                <th class="border-bottom text-left" scope="col">Indikator</th>
                <th class="border-bottom text-center" scope="col">Target</th>
                <th class="border-bottom text-center" scope="col">Satuan</th>
              </tr>
            </thead>
            <tbody>
              <% @sasarans.each.with_index(1) do |s, i| %>
                <tr class="<%= warna_sasaran(s.status_sasaran) %>">
                  <td class="fw-bolder text-left" width="1em" rowspan="<%= s.indikator_sasarans.count + 1 %>"><%= i %></td>
                  <td class="fw-bolder text-left" style="white-space: initial !important;" rowspan="<%= s.indikator_sasarans.count + 1 %>">
                    <%= s.sasaran_kinerja %>
                  </td>
                  <td class="fw-bolder text-left" style="white-space: initial !important;" rowspan="<%= s.indikator_sasarans.count + 1 %>">
                    <%= s.tahun %>
                  </td>
                  <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;" colspan="3"></td>
                </tr>
                <% s.indikator_sasarans.each do |indikator| %>
                  <tr class="<%= warna_sasaran(s.status_sasaran) %>">
                    <td class="fw-bolder" style="white-space: initial !important;"><%= indikator.indikator_kinerja %></td>
                    <td class="fw-bolder" style="white-space: initial !important;"><%= indikator.target %></td>
                    <td class="fw-bolder" style="white-space: initial !important;"><%= indikator.satuan %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
