<div class="col-12 col-xl-12">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card border-0 shadow">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h2 class="fs-5 fw-bold mb-0">Sasaran Kinerja <%= current_user.nama %></h2>
            </div>
            <div class="col-2 text-end">
              <%= link_to user_sasarans_path(current_user), class:"btn btn-sm btn-primary" do %>
                <i class="fas fa-eye me-2"></i>
                All Sasaran
              <% end %>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover align-items-center">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom text-center" scope="col">Sasaran</th>
                <th class="border-bottom text-center" scope="col">Indikator</th>
                <th class="border-bottom text-center" scope="col">Target</th>
                <th class="border-bottom text-center" scope="col">Satuan</th>
                <th class="border-bottom text-center" scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% @sasaran.each do |s| %>
                <tr>
                  <td class="text-gray-900 text-justify" style="white-space: initial !important;">
                    <%= s.sasaran_kinerja %>
                  </td>
                  <td class="fw-bolder text-gray-500 text-justify" style="white-space: initial !important;">
                    <%= s.indikator_kinerja %>
                  </td>
                  <td class="fw-bolder text-gray-500 text-center">
                    <%= s.target %>
                  </td>
                  <td class="fw-bolder text-gray-500 text-center">
                    <%= s.satuan %>
                  </td>
                  <td class="fw-bolder text-gray-500 text-center">
                    <%= link_to user_sasaran_path(current_user, s) do  %>
                      <i class="fas fa-eye fa-lg" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rencana Kinerja"></i>
                    <% end  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
