<%= content_for :html_title, "E-KAK" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
<% end %>
<% content_for :view_utama do %>
  <% if privileged_user or reviewer? %>
    <%= render "admin_dashboard" %>
  <% elsif user_aktif? %>
    <%= render 'user_dashboard' %>
  <% else %>
    <%= render 'nonaktif' %>
  <% end %>
<% end %>
