<% unless pohon.exists? %>
  <% if pohon.rencana_kinerjas.any? %>
    <% pohon.rencana_kinerjas.each.with_index(1) do |sasaran, no| %>
      <div class="pohon-body mb-2">
        <%= render 'cetaks/tabel_sasaran_cascading_cetak',
                   sasaran: sasaran,
                   role: pohon.role,
                   no: no,
                   size: pohon.rencana_kinerjas.size %>
      </div>
      <% if pohon.role == 'eselon_4' %>
        <div class="pohon-body">
          <table class="table table-bordered mb-3">
            <tr data-controller="table-tematik">
              <td class="text-start">Kegiatan</td>
              <td class="text-wrap text-start" colspan="2">
                <p>
                  <%= sasaran&.kegiatan || '-' %>
                  (<%= sasaran.program_kegiatan&.kode_giat %>)
                </p>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if pohon.role == 'eselon_2' || pohon.role == 'eselon_3' %>
    <div class="pohon-body">
      <table class="table table-bordered mb-3">
        <tr>
          <td class="text-start" style="width: 180px;">Pagu</td>
          <td class="rankir-2 text-start" colspan="2">Rp. <%= pagu_pohon(pohon.real, pohon.role) %></td>
        </tr>
      </table>
    </div>
    <div class="pohon-body">
      <% program_pohon(pohon.pohonable, pohon.role).each do |program| %>
        <table class="table table-bordered mb-3">
          <tr data-controller="table-tematik">
            <td class="text-start">Program</td>
            <td class="text-wrap text-start" colspan="2">
              <p>
                <%= program&.nama_program || '-' %>
                (<%= program&.kode_program || '-' %>)
              </p>
            </td>
            <% indikator_prg = indikator_prg_rekin(@tahun, @opd, program) %>
            <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:indikator) %></td>
            <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:target) %>
              <%= indikator_prg.dig(:satuan) %></td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>
<% end %>
