<%= form_for(@tujuan_kota, url: tujuan_kota_path, method: :post) do |form| %>
  <% if tujuan_kota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tujuan_kota.errors.count, "error") %> prohibited this tujuan_kota from being saved:</h2>

      <ul>
        <% tujuan_kota.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="field">
        <%= form.label :tujuan, class: 'form-label' %>
        <%= form.text_field :tujuan, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :tahun_awal, class: 'form-label' %>
        <%= form.select :tahun_awal,[2020, 2021, 2022, 2023, 2024],{selected: Date.today.year},
          { class: 'form-control', data: { controller: 'dropdown' } }%>
      </div>

      <div class="field">
        <%= form.label :tahun_akhir, class: 'form-label' %>
        <%= form.select :tahun_akhir,[2020, 2021, 2022, 2023, 2024],{selected: Date.today.year},
          { class: 'form-control', data: { controller: 'dropdown' } }%>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
