<%= form_with(model: tujuan_kota, url: tujuan_kota_path) do |form| %>
  <% if tujuan_kota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tujuan_kota.errors.count, "error") %> prohibited this tujuan_kota from being saved:</h2>
      <ul>
        <% tujuan_kota.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% random_number = tujuan_kota.id_tujuan.nil? ? (SecureRandom.random_number(9e5) + 1e5).to_i : tujuan_kota.id_tujuan %>
  <% random_kode_tujuan = tujuan_kota.kode_tujuan.nil? ? random_number : tujuan_kota.kode_tujuan %>
  <%= form.hidden_field :id_tujuan, :value => random_number, readonly: true %>
  <%= form.hidden_field :kode_tujuan, :value => random_kode_tujuan, readonly: true %>
  <div class="field">
    <%= form.label :visi, class: 'form-label' %>
    <%= form.select :visi_id, [],
     { include_blank: true },
     data: {
       placeholder: 'Visi Kepala Daerah',
       controller: 'dropdown',
       dropdown_jenis_value: 'extra',
       dropdown_parent_value: '#form-modal',
       dropdown_tahun_value: @tahun,
       dropdown_url_value: '/visi_kota.json',
       dropdown_selected_value: form.object.visi_id,
     }  %>
  </div>
  <div class="field">
    <%= form.label :misi, class: 'form-label' %>
    <%= form.select :misi_id, [],
     { include_blank: true },
     data: {
       placeholder: 'Misi Kepala Daerah',
       controller: 'dropdown',
       dropdown_jenis_value: 'extra',
       dropdown_parent_value: '#form-modal',
       dropdown_tahun_value: @tahun,
       dropdown_url_value: '/misi_kota.json',
       dropdown_selected_value: form.object.misi_id,
     }  %>
  </div>
  <div class="field">
    <%= form.label :tematik, class: 'form-label' %>
    <%= form.select :pohon_id, [],
     { include_blank: true },
     data: {
       placeholder: 'Tematik',
       controller: 'dropdown',
       dropdown_jenis_value: 'extra',
       dropdown_parent_value: '#form-modal',
       dropdown_tahun_value: @tahun,
       dropdown_url_value: '/tematiks/list_tematik_kota.json',
       dropdown_selected_value: form.object.pohon_id,
     }  %>
  </div>
  <div class="field">
    <%= form.label :tujuan, class: 'form-label' %>
    <%= form.text_area :tujuan, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :tahun_awal, class: 'form-label' %>
    <%= form.text_field :tahun_awal, required: true, class: 'form-control', value: @tahun_awal, readonly: true %>
  </div>
  <div class="field">
    <%= form.label :tahun_akhir, class: 'form-label' %>
    <%= form.text_field :tahun_akhir, required: true, class: 'form-control', value: @tahun_akhir, readonly: true %>
  </div>
  <div class="field" id="indikator-tujuans">
    <%= form.fields_for :indikator_tujuans do |indikator_tujuan| %>
      <%= render 'tujuan_kota/indikator_tujuan_kota_fields', form: indikator_tujuan %>
    <% end %>
  </div>
  <%= link_to_add_nested(form, :indikator_tujuans, '#indikator-tujuans', link_classes: 'btn btn-primary btn-sm', link_text: 'Tambah Indikator', partial: 'tujuan_kota/indikator_tujuan_kota_fields') %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
