<fieldset class="mb-5">
  <div class="field">
    <%= form.label :indikator, { class: "form-label" } %>
    <%= form.text_field :indikator, { class: "form-control" } %>
    <%= form.hidden_field :jenis, readonly: true, value: "Tujuan" %>
    <%= form.hidden_field :sub_jenis, readonly: true, value: "Kota" %>
  </div>
  <div class="field">
    <%= form.label :target, { class: "form-label" } %>
    <%= form.number_field :target, { class: "form-control" } %>
  </div>
  <div class="field">
    <%= form.label :satuan, { class: "form-label" } %>
    <%= form.text_field :satuan, { class: "form-control" } %>
  </div>
  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.select :tahun,[2020, 2021, 2022, 2023, 2024],{selected: Date.today.year},
      { class: 'form-control', data: { controller: 'dropdown' } }%>
  </div>
  <%= link_to_remove_nested(form, link_text: 'Hapus Indikator', link_classes: 'btn btn-outline-danger') %>
</fieldset>
