<tbody id="<%= dom_id(tujuan_kota) %>">
  <% rowsize = tujuan_kota.indikator_tujuans.size + 1 %>
  <tr>
    <td class="text-gray-900 text-wrap border" width='20px' scope="row" rowspan="<%= rowsize %>"></td>
    <td class="text-gray-900" scope="row" rowspan="<%= rowsize %>">
      <% unless guest? %>
        <div class="d-grid gap-4">
          <%= render(EditButtonComponent.new(path: edit_tujuan_kota_path(tujuan_kota))) %>

          <%= render(DeleteButtonAjaxComponent.new(path: tujuan_kota_path(tujuan_kota),
                                                   model: tujuan_kota,
                                                   text: "Hapus Tujuan kota '#{tujuan_kota}'?")) %>
        </div>
      <% end %>
    </td>
    <td class="fw-bolder border text-wrap" scope="row" rowspan="<%= rowsize %>"><%= tujuan_kota.visi_kota %></td>
    <td class="fw-bolder border text-wrap" scope="row" rowspan="<%= rowsize %>"><%= tujuan_kota.misi_kota %></td>
    <td class="fw-bolder border text-wrap" scope="row" rowspan="<%= rowsize %>"><%= tujuan_kota.pohon&.pohonable.to_s %></td>
    <td class="fw-bolder text-wrap" scope="row" rowspan="<%= rowsize %>"><%= tujuan_kota.tujuan %></td>
    <td class="fw-bolder border" scope="row" rowspan="<%= rowsize %>"><%= tujuan_kota.tahun_awal_akhir %></td>
  </tr>
  <% tujuan_kota.indikator_tujuans.each do |indikator_tujuan| %>
    <tr class="skip">
      <td class="text-gray-900 text-wrap border"><%= indikator_tujuan || '-' %></td>
      <td class="text-gray-900 text-wrap border"><%= indikator_tujuan.rumus_perhitungan || '-' %></td>
      <td class="text-gray-900 text-wrap border"><%= indikator_tujuan.sumber_data || '-' %></td>
      <% (@tahun_awal..@tahun_akhir).each do |tahun| %>
        <% target = indikator_tujuan.targets.find_by(tahun: tahun) %>
        <td class="text-gray-900 text-wrap border"><%= target %></td>
        <td class="text-gray-900 text-wrap border"><%= target&.satuan %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
