<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Tujuan Kota Periode <%= "#{@tahun_awal} - #{@tahun_akhir}" %></h2>
      </div>
      <% unless guest? %>
        <div class="col-auto">
          <%= link_to new_tujuan_kotum_path,
                      remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal'
                      },
                      class: 'btn btn-sm btn-info text-white' do %>
            <span>Buat Tujuan Kota Baru</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" rowspan="2" width="20px">No.</th>
            <th class="border text-center" rowspan="2">Aksi</th>
            <th class="border" rowspan="2">Tematik</th>
            <th class="border" rowspan="2">Tujuan Kota</th>
            <th class="border" rowspan="2">Periode</th>
            <th class="border" rowspan="2">Indikator</th>
            <th class="border" rowspan="2">Rumus Perhitungan</th>
            <th class="border" rowspan="2">Sumber Data</th>
            <% (@tahun_awal..@tahun_akhir).each do |tahun| %>
              <th class="border text-center" scope="col" colspan="2"><%= tahun %></th>
            <% end %>
          </tr>
          <tr>
            <% (@tahun_awal..@tahun_akhir).each do %>
              <th class="border" scope="col" width="50px">Target</th>
              <th class="border" scope="col">Satuan</th>
            <% end %>
          </tr>
        </thead>
        <tbody id="tempat-row-sasaran">
          <% @tujuan_kota.each.with_index(1) do |tujuan, no_tujuan| %>
            <% rowsize = tujuan.indikator_tujuans.size + 1 %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row" rowspan="<%= rowsize %>"><%= no_tujuan %></td>
              <td class="text-gray-900 border px-auto" scope="row" rowspan="<%= rowsize %>">
                <% unless guest? %>
                  <div class="row justify-content-center w-100">
                    <div class="col">
                      <%= link_to edit_tujuan_kotum_path(tujuan),
                                  remote: true,
                                  class: "m-3 btn btn-outline-info w-100",
                                  data: {
                                    controller: 'form-modal',
                                    action: 'ajax:complete->form-modal#success:prevent',
                                    bs_toggle: 'modal',
                                    bs_target: '#form-modal' } do %>
                        <i class="fa fa-edit"></i>
                        <span>Edit</span>
                      <% end %>
                    </div>
                    <div class="col">
                      <%= link_to tujuan, method: :delete,
                                  data: { confirm_swal: "Hapus #{tujuan.tujuan} ?"},
                                  class: "m-3 btn btn-outline-danger w-100" do %>
                        <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                        <span>Hapus</span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </td>
              <td class="fw-bolder border text-wrap" scope="row" rowspan="<%= rowsize %>"><%= tujuan.pohon&.pohonable.to_s %></td>
              <td class="fw-bolder text-wrap" scope="row" rowspan="<%= rowsize %>"><%= tujuan.tujuan %></td>
              <td class="fw-bolder border" scope="row" rowspan="<%= rowsize %>"><%= tujuan.tahun_awal_akhir %></td>
            </tr>
            <% tujuan.indikator_tujuans.each do |indikator_tujuan| %>
              <tr>
                <td class="text-gray-900 text-wrap border"><%= indikator_tujuan || '-' %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator_tujuan.rumus_perhitungan || '-' %></td>
                <td class="text-gray-900 text-wrap border"><%= indikator_tujuan.sumber_data || '-' %></td>
                <% (@tahun_awal..@tahun_akhir).each do |tahun| %>
                  <% target = indikator_tujuan.targets.find_by(tahun: tahun) %>
                  <td class="text-gray-900 text-wrap border"><%= target %></td>
                  <td class="text-gray-900 text-wrap border"><%= target&.satuan %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
