<tr id="<%= id_dasar_hukum %>" data-controller="row">
  <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
  <td class="fw-bolder text-wrap"><%= judul %></td>
  <td class="fw-bolder text-wrap"><%= peraturan %></td>
  <td class="text-gray-900 border px-2">
    <div class="d-grid gap-2">
      <%= edit_button %>
      <%= delete_button %>
    </div>
  </td>
</tr>
