<tr data-controller="row" class="<%= style_masalah %>">
  <td class="text-gray-900 align-middle" scope="row"><%= @no_row %></td>
  <td class="text-gray-900-align-middle fw-bolder">
    <%= jenis_masalah %>
  </td>
  <td class="text-gray-900-align-middle text-wrap">
    <%= masalah %>
  </td>
  <td class="action">
    <div class="d-grid gap-2">
      <%= edit_button %>
    </div>
  </td>
</tr>
