<tr data-controller="row" class="<%= style_masalah %>">
  <% if role == 'eselon_2' %>
    <td class="text-gray-900 align-middle" scope="row" rowspan="<%= rowspan %>"></td>
  <% end %>
  <td class="text-gray-900 align-middle text-wrap" rowspan="<%= rowspan %>" data-row-target="hide">
    <%= masalah %>
  </td>
  <td class="action" rowspan="<%= rowspan %>" data-row-target="hide">
    <div class="d-grid gap-2">
      <%= edit_button %>
    </div>
  </td>
</tr>
<% if role != 'eselon_4' %>
  <%= render SubstansiRenstra::MasalahComponent.with_collection(strategi_bawahans) %>
<% end %>
