<%= form_with(model: hukum) do |form| %>
  <% if hukum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hukum.errors.count, "error") %> prohibited this hukum from being saved:</h2>

      <ul>
        <% hukum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dasar_hukum %>
    <%= form.text_area :dasar_hukum %>
  </div>

  <div class="field">
    <%= form.label :kak_id %>
    <%= form.text_field :kak_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
