<tr>
  <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
  <td class="fw-bolder text-gray-500"><%= isu_strategis.kode %></td>
  <td class="fw-bolder text-gray-500"><%= isu_strategis.isu_strategis %></td>
  <td class="fw-bolder text-gray-500"><%= isu_strategis.tahun %></td>
  <td class="fw-bolder text-gray-500 text-center">
    <%= link_to edit_isu_strategis_kotum_path(isu_strategis),
      remote: true,
      data: { bs_toggle: 'modal', bs_target: "#form-programkegiatan"},
      class: "m-3" do %>
        <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
    <% end %>
    <%= link_to isu_strategis, method: :delete,
      data: { confirm_swal: "Hapus #{isu_strategis.isu_strategis} ?"},
      class: "m-3" do %>
        <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
    <% end %>
  </td>
</tr>
