<%= form_with(model: tahun) do |form| %>
  <% if tahun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tahun.errors.count, "error") %> prohibited this tahun from being saved:</h2>

      <ul>
        <% tahun.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :periode, class: 'form-label' %>
    <%= form.select :periode_id, [], {include_blank: true},
     {
       data: {
         controller: 'dropdown',
         dropdown_jenis_value: 'ajax_preselect',
         dropdown_item_value: form.object.periode_id,
         dropdown_url_value: periodes_path(format: :json),
       }
     } %>
  </div>

  <div class="field">
    <%= form.label :tahun %>
    <%= form.text_field :tahun %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
