<p id="notice"><%= notice %></p>

<p>
  <strong>Tahun:</strong>
  <%= @tahun.tahun %>
</p>

<p>
  <strong>Periode:</strong>
  <%= @tahun.periode %>
</p>

<%= link_to 'Edit', edit_tahun_path(@tahun) %> |
<%= link_to 'Back', tahuns_path %>
