<%= form_with(
  url: update_indikator_renstra_index_path,
  local: false,
  data: { controller: 'form-ajax calculation',
    action: 'ajax:success->form-ajax#successResponse',
    form_ajax_target_param: @dom_target,
    form_ajax_type_param: 'total_replace',
    form_ajax_with_alert_value: false,
    calculation_parent_value: @parent,
    action: 'ajax:complete->form-ajax#processAjax
             ajax:complete->calculation#sumTotal'
}) do |form| %>
  <div class="field">
    <%= form.label @sub_jenis, class: 'form-label' %>
    <%= form.text_field :nama, class: 'form-control', readonly: true, value: @nama %>
    <%= form.hidden_field :tahun_awal, value: @tahun_awal %>
    <%= form.hidden_field :tahun_akhir, value: @tahun_akhir %>
    <%= form.hidden_field :kode, value: @kode %>
    <%= form.hidden_field :parent, value: @parent %>
    <%= form.hidden_field :kode_opd, value: @kode_opd %>
    <%= form.hidden_field :jenis, value: @sub_jenis %>
  </div>
  <% @periode.each do |tahun| %>
    <div class="field hidden">
      <%= form.hidden_field "renstra[indikator][][tahun]", value: tahun %>
      <%= form.hidden_field "renstra[indikator][][kode]", value: @kode %>
      <%= form.hidden_field "renstra[indikator][][kode_opd]", value: @kode_opd %>
      <%= form.hidden_field "renstra[indikator][][jenis]", value: @jenis %>
      <%= form.hidden_field "renstra[indikator][][sub_jenis]", value: @sub_jenis %>
      <%= form.hidden_field "renstra[indikator][][kode_indikator]", value: @kode_indikator %>
      <% version = @targets[tahun.to_s]&.[](:version).nil? ? 0 : @targets[tahun.to_s]&.[](:version) + 1 %>
      <%= form.hidden_field "renstra[indikator][][version]", value: version %>
    </div>
    <div class="field">
      <%= form.label "indikator #{@sub_jenis} Tahun #{tahun}", class: 'form-label' %>
      <%= form.text_field "renstra[indikator][][indikator]",
       class: 'form-control',
       value: @targets[tahun.to_s]&.[](:indikator) %>
    </div>
    <div class="row">
      <div class="field col">
        <%= form.label "target #{tahun}", class: 'form-label' %>
        <%= form.text_field "renstra[indikator][][target]", class: 'form-control', value: @targets[tahun.to_s]&.[](:target) %>
      </div>
      <div class="field col">
        <%= form.label :satuan, class: 'form-label' %>
        <%= form.text_field "renstra[indikator][][satuan]", class: 'form-control', value: @targets[tahun.to_s]&.[](:satuan) %>
      </div>
      <% if @sub_jenis == 'Subkegiatan' %>
        <div class="field col">
          <%= form.label :pagu, class: 'form-label' %>
          <%= form.text_field "renstra[indikator][][pagu]", class: 'form-control', value: @targets[tahun.to_s]&.[](:pagu) %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= form.submit "Simpan" %>
<% end %>
