<thead class="thead-kegiatan">
  <tr class="header-kegiatan">
    <th class="border" scope="col" rowspan="2">OPD</th>
    <th class="border" scope="col" rowspan="2">Kode Kegiatan</th>
    <th class="border" scope="col" rowspan="2">No</th>
    <th class="border" scope="col" rowspan="2">Nama Kegiatan</th>
    <th class="border text-center" scope="col" rowspan="2">Aksi</th>
    <% @periode.each do |tahun| %>
      <th class="border text-center" scope="col" colspan="5"><%= tahun %></th>
    <% end %>
  </tr>
  <tr>
    <% @periode.each do %>
      <th class="border" scope="col">Indikator</th>
      <th class="border" scope="col" width="50px">Target</th>
      <th class="border" scope="col">Satuan</th>
      <th class="border" scope="col">Pagu Indikatif</th>
      <th class="border" scope="col">Keterangan</th>
    <% end %>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="text-gray-900 text-wrap border"><%= kegiatan.nama_opd_pemilik %></td>
    <td class="text-gray-900 text-wrap border"><%= kegiatan.kode_giat %></td>
    <td class="text-gray-900 text-wrap border"><%= no_giat %></td>
    <td class="text-gray-900 text-wrap border"><%= kegiatan.nama_kegiatan %></td>
    <td class="text-gray-900 text-wrap border px-2">
      <div class="d-grid gap-2">
        <%= link_to edit_renstra_path(
          kegiatan,
          nama: kegiatan.nama_kegiatan,
          kode_opd: kegiatan.kode_sub_skpd,
          kode: kegiatan.kode_giat,
          indikator: kegiatan.indikator_kinerja,
          jenis: 'Renstra',
          sub_jenis: 'Kegiatan',
          tahun_awal: @tahun_awal,
          tahun_akhir: @tahun_akhir),
         remote: true, class: 'btn btn-outline-info w-100',
         data: { controller: 'form-modal',
           action: 'form-modal#appendForm',
           form_modal_location_param: 'form-laporan-renstra-body',
           bs_target: '#form-laporan-renstra',
           bs_toggle: 'modal' } do %>
          <span class="fas fa-edit me-2"></span>
          Edit
        <% end %>
      </div>
    </td>
    <%= render 'row_indikator_renstra',indikators: kegiatan.indikator_renstras_new('kegiatan', @kode_opd)[:indikator_kegiatan] %>
  </tr>
</tbody>
