<thead>
  <% disable_action = true if local_assigns[:disable_action].present? %>
  <tr class="header-bidang-urusan">
    <th class="border" scope="col" rowspan="2" colspan="2">Kode OPD</th>
    <th class="border" scope="col" rowspan="2" colspan="3">Nama OPD</th>
    <% if disable_action %>
      <% @periode.each do |tahun| %>
        <th class="border text-center" scope="col" colspan="10"><%= tahun %></th>
      <% end %>
    <% else %>
      <% @periode.each do |tahun| %>
        <th class="border text-center" scope="col" colspan="8"><%= tahun %></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <% if disable_action %>
      <% @periode.each do %>
        <th class="border" scope="col" colspan="6"></th>
        <th class="border" scope="col">Pagu Indikatif</th>
        <th class="border" scope="col">Realisasi</th>
        <th class="border" scope="col" colspan="2">Capaian</th>
      <% end %>
    <% else %>
      <% @periode.each do %>
        <th class="border" scope="col" colspan="5"></th>
        <th class="border" scope="col">Pagu Indikatif</th>
        <th class="border" scope="col" colspan="2">Realisasi</th>
      <% end %>
    <% end %>
  </tr>
</thead>
<tbody>
  <td class="border" scope="col" colspan="2"><%= @opd.kode_unik_opd %></td>
  <td class="border" scope="col" colspan="3"><%= @opd.nama_opd %></td>
  <% if disable_action %>
    <% @periode.each do |tahun| %>
      <% pagu_opd = Indikator.where(jenis: 'Renstra',
                                    sub_jenis: 'Subkegiatan',
                                    kode_opd: @opd.kode_unik_opd,
                                    tahun: tahun)
                                    .group_by(&:kode)
                                    .map { |_k, v| v.max_by(&:version) }
                                    .inject(0) { |inj, pagu| inj + pagu.pagu.to_i }
      %>
      <% realisasi_pagu_opd = Indikator.where(jenis: 'Renstra',
                                              sub_jenis: 'Subkegiatan',
                                              kode_opd: @opd.kode_unik_opd,
                                              tahun: tahun)
                                              .group_by(&:kode)
                                              .map { |_k, v| v.max_by(&:version) }
                                              .inject(0) { |inj, pagu| inj + pagu.realisasi_pagu.to_i }
      %>
      <% capaian = pagu_opd != 0 ? ((realisasi_pagu_opd / pagu_opd.to_f) * 100).round(2)  : '0.0' %>
      <td class="border" scope="col" colspan="6"></td>
      <td class="fw-bolder text-gray-900 text-wrap border" style="font-size: larger;">Rp. <%= number_with_delimiter(pagu_opd) %></td>
      <td class="fw-bolder text-gray-900 text-wrap border" style="font-size: larger;">Rp. <%= number_with_delimiter(realisasi_pagu_opd) %></td>
      <td class="fw-bolder text-gray-900 text-wrap border" style="font-size: larger;" colspan="2"><%= "#{capaian} %" %></td>
    <% end %>
  <% else %>
    <% @periode.each do |tahun| %>
      <% pagu_opd = Indikator.where(jenis: 'Renstra',
                                    sub_jenis: 'Subkegiatan',
                                    kode_opd: @opd.kode_unik_opd,
                                    tahun: tahun)
                                    .group_by(&:kode)
                                    .map { |_k, v| v.max_by(&:version) }
                                    .inject(0) { |inj, pagu| inj + pagu.pagu.to_i }
      %>
      <% realisasi_pagu_opd = Indikator.where(jenis: 'Renstra',
                                              sub_jenis: 'Subkegiatan',
                                              kode_opd: @opd.kode_unik_opd,
                                              tahun: tahun)
                                              .group_by(&:kode)
                                              .map { |_k, v| v.max_by(&:version) }
                                              .inject(0) { |inj, pagu| inj + pagu.realisasi_pagu.to_i }
      %>
      <td class="border" scope="col" colspan="5"></td>
      <td class="fw-bolder text-gray-900 text-wrap border" style="font-size: larger;">Rp. <%= number_with_delimiter(pagu_opd) %></td>
      <td class="fw-bolder text-gray-900 text-wrap border" style="font-size: larger;" colspan="2">Rp. <%= number_with_delimiter(realisasi_pagu_opd) %></td>
    <% end %>
  <% end %>
</tbody>
