<div class="table-responsive">
  <h5>Sasaran</h5>
  <table class="table align-items-center">
    <thead class="thead-tujuan">
      <tr class="header-tujuan">
        <% if sasaran_opds.size > 1 %>
          <th class="border" scope="col" rowspan="2">No.</th>
        <% end %>
        <th class="border text-center" scope="col" rowspan="2">Sasaran OPD</th>
        <th class="border text-center" scope="col" rowspan="2">Indikator</th>
        <th class="border text-center" scope="col" rowspan="2">Rumus Perhitungan</th>
        <th class="border text-center" scope="col" rowspan="2">Sumber Data</th>
        <% periode.each do |tahun| %>
          <th class="border text-center" scope="col" colspan="2"><%= tahun %></th>
        <% end %>
      </tr>
      <tr>
        <% periode.each do |tahun| %>
          <th class="border text-center" scope="col">Target</th>
          <th class="border text-center" scope="col">Satuan</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% sasaran_opds.each.with_index(1) do |(sasaran, indikators), no| %>
        <tr>
          <% if sasaran_opds.size > 1 %>
            <td class="border text-wrap" rowspan="<%= indikators.size + 1 %>"><%= no %></td>
          <% end %>
          <td class="border text-wrap" rowspan="<%= indikators.size + 1 %>"><%= sasaran %></td>
        </tr>
        <% indikators.each do |indikatorss, targets| %>
          <tr>
            <% indikatorss.each do |indikator| %>
              <td class="border text-wrap"><%= indikator %></td>
            <% end %>
            <% periode.each do |tahun| %>
              <% targetss = targets.dig(tahun.to_s) %>
              <% if targetss %>
                <% targetss.each do |target| %>
                  <td class="border text-center"><%= target %></td>
                <% end %>
              <% else %>
                <td class="border text-center">-</td>
                <td class="border text-center">-</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>