<tr id="<%= dom_id(program, 'Subkegiatan') %>">
  <% disable_action = true if local_assigns[:disable_action].present? %>
  <td class="text-gray-900 text-wrap border"><%= program.nama_opd_pemilik %></td>
  <td class="text-gray-900 text-wrap border"><%= program.kode_sub_giat %></td>
  <td class="text-gray-900 text-wrap border"><%= nomor %></td>
  <% if disable_action %>
    <td class="text-gray-900 text-wrap border" colspan="2"><%= program.nama_subkegiatan %></td>
  <% else %>
    <td class="text-gray-900 text-wrap border"><%= program.nama_subkegiatan %></td>
    <td class="text-gray-900 text-wrap border px-2">
      <div class="d-grid gap-2">
        <%= link_to edit_renstra_path(
          program,
          nama: program.nama_subkegiatan,
          kode_opd: program.kode_sub_skpd,
          kode: program.kode_sub_giat,
          nomor: nomor,
          jenis: 'Renstra',
          sub_jenis: 'Subkegiatan',
          tahun_awal: @tahun_awal,
          tahun_akhir: @tahun_akhir),
         remote: true, class: 'btn btn-outline-info w-100',
         data: { controller: 'form-modal',
           action: 'form-modal#appendForm',
           form_modal_location_param: 'form-laporan-renstra-body',
           bs_target: '#form-laporan-renstra',
           bs_toggle: 'modal' } do %>
          <span class="fas fa-edit me-2"></span>
          Edit
        <% end %>
        <%= link_to edit_realisasi_renstra_path(
          program,
          nama: program.nama_subkegiatan,
          kode_opd: program.kode_sub_skpd,
          kode: program.kode_sub_giat,
          nomor: nomor,
          jenis: 'Renstra',
          sub_jenis: 'Subkegiatan',
          tahun_awal: @tahun_awal,
          tahun_akhir: @tahun_akhir),
         remote: true, class: 'btn btn-outline-primary w-100',
         data: { controller: 'form-modal',
           action: 'form-modal#appendForm',
           form_modal_location_param: 'form-laporan-renstra-body',
           bs_target: '#form-laporan-renstra',
           bs_toggle: 'modal' } do %>
          <span class="fas fa-clipboard-check me-2"></span>
          Realisasi
        <% end %>
      </div>
    </td>
  <% end %>
  <%= render 'renstra/row_indikator_renstra', indikators: indikators, periode: periode, with_capaian: disable_action %>
</tr>
