<%# buat edit %>
<%= render 'shared/modal_template', modal_name: 'laporan-renstra' %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Laporan Renstra</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow" id="laporan_renstra" data-filter-render-target="results">
    <% if cookies[:tahun] && cookies[:opd] %>
      <%= laporan_renstra %>
    <% else %>
      <%= render 'shared/card_content', title: 'Laporan Renstra' %>
    <% end %>
  </div>
<% end %>
