<div data-controller="print" data-print-title-value="RENSTRA">
  <button class="m-3 btn btn-outline-danger no-print" data-action="click->print#print">
    <span class="far fa-file-pdf me-2"></span>
    Cetak PDF
  </button>
  <div data-print-target="document" class="w-100" id="cetak">
    <div class="kop">
      <div class="kop-judul">
        <h2>RENSTRA</h2>
      </div>
      <div class="kop-opd">
        <h3><%= @nama_opd %></h3>
      </div>
      <div class="kop-tahun">
        <h3>Periode <%= @tahun_awal %>-<%= @tahun_akhir %></h3>
      </div>
    </div>
    <div class="break-after"></div>
    <%= render partial: 'renstra/tujuan_opd', locals: { tujuan_opds: @tujuan_opds, periode: @periode } %>
    <div class="break-after"></div>
    <%= render partial: 'renstra/sasaran_opd', locals: { sasaran_opds: @sasaran_opds, periode: @periode } %>
    <div class="break-after"></div>
    <h5>Program/Kegiatan/Sub Kegiatan</h5>
    <%= render(TabelRenstraComponent.new(program_kegiatans: @program_kegiatans, periode: @periode)) %>
  </div>
</div>
