<tbody id="<%= dom_id(show_sasaran) %>">
  <tr class="border-bottom">
    <% row_indikator = show_sasaran.indikator_sasarans.size + 1 %>
    <% rincian = show_sasaran.rincian %>
    <% nilai_kemungkinan =  rincian&.kemungkinan&.nilai || 0 %>
    <% nilai_skala_dampak =  rincian&.skala_dampak&.nilai || 0 %>
    <% peta_resiko_ha = peta_resiko(nilai_kemungkinan, nilai_skala_dampak) %>
    <% nilai_peta_resiko_ha = nilai_peta_resiko(peta_resiko_ha) %>
    <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= nomor %></td>
    <td class="text-wrap border text-center" rowspan="<%= row_indikator %>">
      <div class="d-grid gap-2">
        <% if show_sasaran.status_dampak_resiko.present? %>
          <% if show_sasaran.dampak_resiko_setuju? %>
            <button class="btn btn-success text-white">
              <%= show_sasaran.status_dampak_resiko %>
            </button>
          <% else %>
            <button class="btn btn-danger">
              <%= show_sasaran.status_dampak_resiko %>
            </button>
          <% end %>
          <hr />
          <span>Keterangan: </span>
          <small><%= show_sasaran.komentar_dampak_resiko %></small>
          <% unless show_sasaran.rincian.valid_manrisk? %>
            <p class="alert alert-danger">
              PETA RISIKO KOSONG
            </p>
          <% end %>
        <% else %>
          <button class="btn btn-warning">
            Belum Diverifikasi
          </button>
        <% end %>
      </div>
    </td>
    <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.nama_pemilik %></td>
    <td class="text-wrap border <%= strategi_valid_style(show_sasaran.strategi_sasaran) %>" rowspan="<%= row_indikator %>">
      <% if show_sasaran.strategi_checker %>
        <b>Nama Atasan:</b>
        <ul>
          <% show_sasaran.strategi_atasan.nama_dari_sasarans&.each do |nama| %>
            <li><%= nama %></li>
          <% end %>
        </ul>
        <hr/>
      <% end %>
      <b>Pokin Atasan: <%= show_sasaran.strategi_atasan %></b>
      <hr/>
      Pokin: <%= show_sasaran.strategi_sasaran %>
    </td>
    <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.sasaran_kinerja %></td>
    <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
    <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
    <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
    <td class="text-wrap border" rowspan="<%= row_indikator %>">Rp. <%= number_with_delimiter(show_sasaran.total_anggaran || 0) %></td>
    <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.penyebab_permasalahan_html %></td>
    <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.permasalahan_sasaran %></td>
    <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= rincian&.resiko || '-' %></td>
    <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= rincian&.kemungkinan&.deskripsi || '-' %></td>
    <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= rincian&.dampak || '-' %></td>
    <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= rincian&.skala_dampak&.deskripsi || '-' %></td>
    <td class="text-center border" rowspan="<%= row_indikator %>"><%= "(#{peta_resiko_ha}) #{nilai_peta_resiko_ha}"  %></td>
    <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= show_sasaran.penerima_manfaat  %></td>
    <td class="border" rowspan="<%= row_indikator %>">
      <% unless guest? %>
        <div class="d-grid gap-3">
          <% unless laporan == "admin" %>
            <% if eselon_x?('eselon_4', 'staff', 'admin', 'super_admin') %>
              <%= link_to sasaran_program_opd_add_dampak_resiko_path(show_sasaran, nomor_sasaran: nomor, laporan: laporan),
                          { remote: true,
                            class: 'btn btn-sm btn-tertiary',
                            data: {
                              controller: 'form-modal',
                              action: 'ajax:complete->form-modal#success:prevent',
                              bs_toggle: 'modal',
                              bs_target: '#form-modal'
                            }
                          } do %>
                <i class="fas fa-pencil-alt me-2"></i>
                Edit Dampak
              <% end %>
            <% end %>
            <%= render 'daftar_risiko/tombol_verifikasi', show_sasaran: show_sasaran, nomor: nomor, laporan: laporan %>
          <% end %>
          <%= link_to hasil_cascading_laporans_path, target: "_blank", rel: "nofollow",
                      class: "btn btn-sm btn-primary" do %>
            <i class="fas fa-tree me-2"></i>
            <span>Cascading OPD</span>
          <% end %>
          <%= link_to input_rtp_sasaran_path(show_sasaran, nomor_sasaran: nomor, laporan: laporan, butuh_verifikasi: show_sasaran.butuh_verifikasi),
                      remote: true, class: 'btn btn-sm btn-info',
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_target: '#form-modal',
                        bs_toggle: 'modal'
                      } do %>
            <i class="fas fa-book-open me-2"></i>
            <span>RTP-KAK</span>
          <% end %>
          <%= link_to rincian_belanja_path(show_sasaran),
                      target: "_blank",
                      class: "btn btn-sm btn-primary text-white" do %>
            <i class="fas fa-journal-whills me-2"></i>
            <span>Rincian Belanja</span>
          <% end %>
        </div>
      <% end %>
    </td>
  </tr>
  <% show_sasaran.indikator_sasarans.each do |indikator| %>
    <tr>
      <td class="text-wrap border"><%= indikator.indikator_kinerja %></td>
      <td class="text-wrap border"><%= indikator.target %></td>
      <td class="text-wrap border"><%= indikator.satuan %></td>
    </tr>
  <% end %>
</tbody>
