<%= content_for :html_title, "Misi Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Misi Kota</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Misi Kepala Daerah",
             sub_title: @lembaga, sub_title_2: @periode do %>
    <div class="table-responsive mb-5">
      <table class="table table-bordered align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="text-center" width="20px">No.</th>
            <th class="text-center" width="500px">Visi / Misi</th>
            <th class="text-center" width="200px">Periode</th>
            <th class="text-center">Keterangan</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <% @misis.each do |visi, misis| %>
          <tbody id="<%= dom_id(visi) %>">
            <tr>
              <td class="text-gray-900 text-wrap" width='20px' scope="row"><%= visi.urutan %></td>
              <td class="text-gray-900 text-wrap fw-bolder" scope="row">Visi: <%= visi %></td>
              <td class="text-gray-900" scope="row"><%= visi.periode %></td>
              <td class="text-gray-900 text-wrap" scope="row"><%= visi.keterangan %></td>
              <td class="text-gray-900" scope="row">
                <% unless guest? %>
                  <div class="d-grid gap-2">
                    <%= link_to new_misi_path(visi_id: visi),
                                remote: true,
                                data: {
                                  controller: 'form-modal',
                                  action: 'ajax:complete->form-modal#success:prevent',
                                  bs_toggle: 'modal',
                                  bs_target: '#form-modal'
                                },
                                class: 'btn btn-sm btn-primary' do %>
                      <i class="fas fa-plus me-2"></i>
                      <span>Tambah Misi Kepala Daerah</span>
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
            <tbody id="new_misi" >
              <%= render partial: 'misis/misi', collection: misis %>
            </tbody>
          </tbody>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
