<div class="card border-2 shadow mb-3">
  <div class="card-body">
    <% if manual_ik.errors.any? %>
      <h4 class="alert alert-danger">
        <i class="fas fa-exclamation-triangle me-2"></i>
        Manual IK Belum lengkap
      </h4>
      <div id="error_explanation">
        <ul>
          <% manual_ik.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table class="table table-bordered border-primary mt-3">
      <thead>
        <tr class="bg-gray-900">
          <th colspan="2" class="text-center text-white">MANUAL INDIKATOR KINERJA</th>
        </tr>
      </thead>
      <tbody>
        <%= form_with(model: [@indikator, manual_ik]) do |form| %>
          <tr>
            <td style="width: 10%;">
              <%= form.label :perspektif, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.select :perspektif, ManualIk::PERSPEKTIF ,{include_blank: true},class: "form-control", data: {
                  controller: "dropdown",
                  placeholder: "Pilih Perspektif"
                } %>
              </div>
              <div class="row align-items-center border border-primary border-collapse">
                <div class="col-auto">
                  <i class="far fa-lightbulb"></i>
                </div>
                <div class="col text-wrap border-start border-primary p-3">
                  <div class="row pb-2">
                    1). Apabila bermanfaat secara internal, membantu tercapainya tujuan jangka panjang, dan lebih berfokus pada intangible assets maka masuk penguatan internal (learn & growth perspective).
                  </div>
                  <div class="row pb-2">
                    2). Apabila bermanfaat secara internal, membantu tercapainya tujuan jangka panjang, dan lebih berfokus pada strategy maka masuk proses bisnis (internal Process Perspective).
                  </div>
                  <div class="row pb-2">
                    3). Apabila bermanfaat secara internal dan eksternal, membantu tercapainya tujuan jangka pendek, dan lebih berfokus pada output & outcome yg dihasilkan maka masuk perspektif penerima layanan (stakeholder/customer perspective).
                  </div>
                  <div class="row">
                    4). Apabila menggambarkan kinerja dalam rangka efektifitas dan efisien penggunaan anggaran maka masuk dalam perspektif anggaran.
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :rencana_hasil_kerja, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :rhk, class: "form-control", value: @sasaran.sasaran_kinerja, readonly: true %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :tujuan_rencana_hasil_kerja, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_area :tujuan_rhk, class: "form-control", placeholder: "Menjelaskan manfaat dari rencana hasil kerja" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :indikator_kinerja, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :indikator_kinerja, class: "form-control", value: @indikator.indikator_kinerja, readonly: true %>
              </div>
              <div class="field">
                <%= form.label :target, class: "form-label" %>
                <%= form.text_field :target, class: "form-control", value: "#{@indikator.target} #{@indikator.satuan}", readonly: true %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :deskripsi_indikator_kinerja_individu, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.label :definisi, class: "form-label" %>
                <%= form.text_area :definisi, class: "form-control",
                   placeholder: "Menjelaskan penjelasan dari indikator kinerja. Bisa dijelaskan dengan detail atau perintah yang ingin diturunkan ke bawahan" %>
              </div>
              <div class="field">
                <%= form.label :key_activities, class: "form-label" %>
                <%= form.text_area :key_activities, class: "form-control",
                    placeholder: "hal yang paling menentukan dalam pencapaian rencana hasil kerja" %>
              </div>
              <div class="field">
                <%= form.label :formula, class: "form-label" %>
                <%= form.text_area :formula, class: "form-control",
                    placeholder: "Menjelaskan bagaimana cara perhitungan target indikator" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :satuan_pengukuran, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :satuan, class: "form-control", value: @indikator.satuan, readonly: true %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :jenis_indikator_kinerja, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.select :jenis_indikator, ManualIk::JENIS_INDIKATOR, {include_blank: true},
                 class: "form-control", data: {
                   controller: "dropdown",
                   placeholder: "Output / Outcome"
                 } %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :output_data, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <% ManualIk::OUTPUT_DATA.each do |data| %>
                  <% box_check = form.object.output_data.include?(data) %>
                  <%= check_box_tag 'manual_ik[output_data][]', data, box_check , class: 'form-check-input manual-ik-output-data' %>
                  <%= form.label :output_data, class: 'form-check-label' do %>
                    <span class="fw-bolder"><%= data.titleize %></span>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :unit_penanggung_jawab, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <% if manual_ik.penanggung_jawab.blank? %>
                  <%= form.text_field :penanggung_jawab, class: "form-control", value: @user.jabatan %>
                <% else %>
                  <%= form.text_field :penanggung_jawab, class: "form-control" %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :unit_penyedia_data, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :penyedia_data, class: "form-control", placeholder: "Instansi mana yang memproduksi datanya" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :sumber_data, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :sumber_data, class: "form-control", placeholder: "Dari dokumen apakah sumber data diambil" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :jangka_waktu, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :mulai, class: "form-control" %>
              </div>
              <div class="field">
                <%= form.text_field :akhir, class: "form-control" %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :periode_pelaporan, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.select :periode_pelaporan, ManualIk::PERIODE_PELAPORAN ,{include_blank: true},class: "form-control",
                 data: {
                   controller: "dropdown",
                   placeholder: "Pilih Periode Pelaporan"
                 } %>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.label :budget, class: "form-label" %>
            </td>
            <td>
              <div class="field">
                <%= form.text_field :budget, class: "form-control", placeholder: "Otomatis setelah menyusun Anggaran", readonly: true %>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="actions">
                <%= form.submit %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
