<div class="card">
  <div class="card-body">
    <table class="table table-bordered border-primary">
      <thead>
        <tr class="bg-gray-900 text-white">
          <th colspan="2" class="text-center">MANUAL INDIKATOR KINERJA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 10%;">
            <b>Perspektif</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.perspektif %>
            </div>
            <div class="row align-items-center border border-primary border-collapse">
              <div class="col-auto">
                <i class="far fa-lightbulb"></i>
              </div>
              <div class="col text-wrap border-start border-primary p-3">
                <div class="row pb-2">
                  1). Apabila bermanfaat secara internal, membantu tercapainya tujuan jangka panjang, dan lebih berfokus pada intangible assets maka masuk penguatan internal (learn & growth perspective).
                </div>
                <div class="row pb-2">
                  2). Apabila bermanfaat secara internal, membantu tercapainya tujuan jangka panjang, dan lebih berfokus pada strategy maka masuk proses bisnis (internal Process Perspective).
                </div>
                <div class="row pb-2">
                  3). Apabila bermanfaat secara internal dan eksternal, membantu tercapainya tujuan jangka pendek, dan lebih berfokus pada output & outcome yg dihasilkan maka masuk perspektif penerima layanan (stakeholder/customer perspective).
                </div>
                <div class="row">
                  4). Apabila menggambarkan kinerja dalam rangka efektifitas dan efisien penggunaan anggaran maka masuk dalam perspektif anggaran.
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Rencana Hasil kerja</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.rhk %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Tujuan Rencana Hasil Kerja</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.tujuan_rhk %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Indikator Kinerja</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.indikator_kinerja %>
            </div>
            <div class="field">
              <b>Target</b>
              <%= @manual_ik.target %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Deskripsi Indikator Kinerja Individu</b>
          </td>
          <td>
            <% sasaran_atasan = Sasaran.find_by(id_rencana: @sasaran.sasaran_atasan_pohon[:sasaran_atasan_id]) %>
            <% unless sasaran_atasan.nil? %>
              <div class="row align-items-center border border-primary border-collapse">
                <div class="col-auto">
                  <i class="far fa-lightbulb"></i>
                </div>
                <div class="col text-wrap border-start border-primary">
                  <div class="row pb-2 border-bottom border-primary p-2">
                    Definisi Indikator Atasan
                  </div>
                  <div class="row pb-2 border-bottom border-primary p-2">
                    <%= @sasaran.sasaran_atasan_pohon[:nama_atasan] %>
                  </div>
                  <div class="row pb-2 border-bottom border-primary p-2">
                    Sasaran Kinerja :
                    <%= @sasaran.sasaran_atasan_pohon[:sasaran_atasan] %>
                  </div>
                  <% sasaran_atasan&.indikator_sasarans&.each do |indikator| %>
                    <div class="row pb-2 p-2">
                      Indikator Sasaran Atasan :
                      <%= indikator&.indikator_kinerja %>
                    </div>
                    <div class="row pb-2 p-2">
                      Definisi Atasan :
                      <%= indikator&.manual_ik&.definisi %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="field">
              <b>Definisi</b>
              <%= @manual_ik.definisi %>
            </div>
            <div class="field">
              <b>Key Activities</b>
              <%= @manual_ik.key_activities %>
            </div>
            <div class="field">
              <b>Formula</b>
              <%= @manual_ik.formula %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Satuan Pengukuran</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.satuan %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Jenis Indikator Kinerja</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.jenis_indikator %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Unit Penanggung Jawab</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.penanggung_jawab %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Unit Penyedia Data</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.penyedia_data %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Sumber Data</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.sumber_data %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Jangka Waktu</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.mulai %>
            </div>
            <div class="field">
              <%= @manual_ik.akhir %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Periode Pelaporan</b>
          </td>
          <td>
            <div class="field">
              <%= @manual_ik.periode_pelaporan %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <b>Budget</b>
          </td>
          <td>
            <div class="field">
              Rp. <%= number_with_delimiter @sasaran.total_anggaran %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
