<table class="table">
  <thead class="thead-light">
    <tr style="background-color: #636f83;color:#e3e5e8">
      <th rowspan="2" width="5%">Nama Pemda</th>
      <th rowspan="2" width="5%">Nama OPD</th>
      <th rowspan="2" width="5%">Sasaran OPD</th>
      <th rowspan="2" width="5%">Indikator Kinerja Sasaran OPD</th>
      <th rowspan="2" width="5%">Sasaran Program</th>
      <th rowspan="2" width="5%">Indikator Kinerja Program</th>
      <th rowspan="2" width="5%">Sasaran kegiatan</th>
      <th rowspan="2" width="5%">Indikator Kinerja Kegiatan</th>
      <th rowspan="2" width="5%">Sub Kegiatan</th>
      <th rowspan="2" width="5%">Indikator Kinerja Sub Kegiatan</th>
      <th colspan="3" style="text-align:center">Target Kinerja</th>
    </tr>
    <tr style="background-color: #636f83;color:#e3e5e8">
      <th width="5%">Satuan</th>
      <th width="5%">Nilai</th>
      <th width="5%">Atribut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="13" class="border">Kota Madiun</td>
    </tr>
    <tr>
      <td class="border"></td>
      <td colspan="12" class="border"><%= sasaran_opd_spip[:opd] %></td>
    </tr>
    <% sasaran_opd_spip[:strategic].each do |strategi| %>
      <tr>
        <td class="border"></td>
        <td class="border">Tahun: <%= strategi.tahun_tanpa_perubahan %></td>
        <td colspan="11" class="border"><%= strategi %> <%= strategi.user.nama %></td>
      </tr>
      <% strategi.indikator_sasarans.each do |indikator_opd| %>
        <tr class="<%= kosong_class(indikator_opd.target == '0' || indikator_opd.target.empty?) %>">
          <td class="border"></td>
          <td class="border"></td>
          <td class="border"></td>
          <td colspan="7" class="border"><%= indikator_opd.indikator_kinerja %></td>
          <td class="border"><%= indikator_opd.satuan %></td>
          <td class="border"><%= indikator_opd.target %></td>
          <td class="border"><%= indikator_opd.satuan %></td>
        </tr>
      <% end %>
      <% sasaran_opd_spip[:tactical].select { |str| str.strategi.pohon_ref_id == strategi.strategi_id }.each do |tactical| %>
        <% operationals = sasaran_opd_spip[:operational].select { |opr| opr.strategi.pohon_ref_id == tactical.strategi_id }%>
        <tr>
          <td class="border"></td>
          <td class="border"></td>
          <td class="border"></td>
          <td class="border">Tahun : <%= tactical.tahun_tanpa_perubahan %></td>
          <td colspan="9" class="border">
            <p class="program">Nama Program: <%= operationals.map { |oo| oo.program_sasaran }.first %></p>
            <p>Sasaran Program: <%= tactical %> <%= tactical.user.nama %></p>
          </td>
        </tr>
        <% tactical.indikator_sasarans.each do |indikator_pro| %>
          <tr class="<%= kosong_class(indikator_pro.target == '0' || indikator_pro.target.blank?) %>">
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td colspan="5" class="border"><%= indikator_pro.indikator_kinerja %></td>
            <td class="border"><%= indikator_pro.satuan %></td>
            <td class="border"><%= indikator_pro.target %></td>
            <td class="border"><%= indikator_pro.satuan %></td>
          </tr>
        <% end %>
        <% operationals.each do |operational| %>
          <tr class="">
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td colspan="7" class="border">
                <p class="program">Nama Kegiatan: <%= operational.kegiatan_sasaran %></p>
                <p>Sasaran Kegiatan: <%= operational %></p>
                <% if operational.present? %>
                  <div class="tombol-edit">
                    <%= link_to buka_kak_laporan_path(operational),
                        target: "_blank",
                        class: 'btn btn-sm btn-info' do %>
                      <i class="fas fa-book-open me-2"></i>
                      <span>Buka KAK</span>
                    <% end %>
                  </div>
                <% else %>
                  <p class="alert alert-danger">Sasaran Kosong</p>
                  <b>Pemilik:</b>
                  <p class="alert alert-danger"><%= operational.user.nama %></p>
                <% end %>
              </td>
            </tr>
            <% operational.indikator_sasarans.each do |indikator_keg| %>
              <tr class="<%= kosong_class(indikator_keg.target == '0' || indikator_keg.target.blank?) %>">
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td class="border"></td>
                <td colspan="3" class="border"><%= indikator_keg.indikator_kinerja %></td>
                <td class="border"><%= indikator_keg.satuan %></td>
                <td class="border"><%= indikator_keg.target %></td>
                <td class="border"><%= indikator_keg.satuan %></td>
              </tr>
            <% end %>
            <tr>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border">Tahun: <%= operational.tahun_tanpa_perubahan %></td>
              <td colspan="5" class="border">
                <p class="program">Nama Subkegiatan: <%= operational.subkegiatan_sasaran %></p>
              </td>
            </tr>
            <% indikator_sub = IndikatorQueries.new(tahun: operational.tahun_tanpa_perubahan, opd: @opd, program_kegiatan: operational.program_kegiatan).indikator_subkegiatan %>
            <tr class="<%= kosong_class(indikator_sub&.dig(:target) == '0' || indikator_sub&.dig(:target).blank?) %>">
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"></td>
              <td class="border"><%= indikator_sub&.dig(:indikator) %></td>
              <td class="border"><%= indikator_sub&.dig(:satuan) %></td>
              <td class="border"><%= indikator_sub&.dig(:target) %></td>
              <td class="border"><%= indikator_sub&.dig(:satuan) %></td>
            </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
