<table class="table">
  <thead class="thead-light">
    <tr>
      <th rowspan="2">K/L/D</th>
      <th rowspan="2">Visi</th>
      <th rowspan="2">Misi</th>
      <th rowspan="2">Tujuan Strategis</th>
      <th rowspan="2">Sasaran Strategis</th>
      <th rowspan="2">Indikator Kinerja Sasaran</th>
      <th colspan="3" class="text-center">Target Kinerja</th>
    </tr>
    <tr>
      <th>Satuan</th>
      <th>Nilai</th>
      <th>Atribut</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="9" class="border">Kota Madiun</td>
    </tr>
    <% informasi_umum.each do |visi, misis| %>
      <tr>
        <td class="border"></td>
        <td colspan="8" class="border"><%= visi %></td>
      </tr>
      <% misis.each do |misi, tujuans| %>
        <tr>
          <td class="border"></td>
          <td class="border"></td>
          <td colspan="7" class="border"><%= misi %></td>
        </tr>
        <% tujuans.each do |t_kota| %>
          <tr>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td colspan="6" class="border"><%= t_kota.tujuan %></td>
          </tr>
        <% t_kota.sasaran_kota.each do |s_kota| %>
          <tr>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td colspan="5" class="border"><%= s_kota.sasaran %></td>
          </tr>
        <% s_kota.indikator_sasarans.where(tahun: "2023").each do |indikator| %>
          <tr>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"></td>
            <td class="border"><%= indikator.indikator %></td>
            <td class="border"><%= indikator.satuan %></td>
            <td class="border"><%= indikator.target %></td>
            <td class="border"><%= indikator.satuan %></td>
          </tr>
        <% end %>
        <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
