<%= content_for :html_title, "Domain SPBE" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">SPBE</li>
  <li class="breadcrumb-item active" aria-current="page">Domain</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Domain SPBE</h2>
        </div>
        <div class="col text-end">
          <%= link_to new_domain_path,
              remote: true, class: 'btn btn-sm btn-primary',
              data: { controller: 'form-modal',
                      form_modal_location_param: 'form-domain-body',
                      action: 'form-modal#appendForm',
                      bs_toggle: 'modal',
                      bs_target: '#form-domain',
              } do %>
            <i class="fas fa-plus me-2"></i>
            <span>Tambah Domain Baru</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table datatable" data-datatable>
          <thead>
            <tr>
              <th>No</th>
              <th>Domain</th>
              <th>Subdomain</th>
              <th>Tahun</th>
              <th>Keterangan</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @domains.each.with_index(1) do |domain, i| %>
              <tr>
                <td><%= i %></td>
                <td><%= domain %></td>
                <td>Subdomains</td>
                <td><%= domain.tahun %></td>
                <td><%= domain.keterangan %></td>
                <td class="text-center">
                  <%= link_to domain, class: 'btn btn-outline-success' do %>
                    <i class="fas fa-eye me-2"></i>
                    <span>View Domain SPBE</span>
                  <% end %>
                  <%= link_to edit_domain_path(domain), remote: true,
                      data: { controller: 'form-modal',
                              form_modal_location_param: 'form-domain-body',
                              action: 'form-modal#appendForm',
                              bs_toggle: 'modal',
                              bs_target: '#form-domain' },
                            class: 'btn btn-outline-info' do %>
                    <i class="fa fa-edit me-2"></i>
                    <span>Edit Domain SPBE</span>
                  <% end %>
                  <%= link_to domain,
                      method: :delete,
                      class: 'btn btn-outline-danger',
                      data: { confirm_swal: "Hapus domain #{domain}?" } do %>
                    <i class="fa fa-trash-alt me-2"></i>
                    <span>Hapus Domain SPBE</span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= render 'shared/modal_template', modal_name: 'domain' %>
<% end %>
