<%= form_with(model: opd) do |form| %>
  <% if opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opd.errors.count, "error") %> prohibited this opd from being saved:</h2>
      <ul>
        <% opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :kode_urusan %>
    <%= form.text_field :kode_urusan, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :urusan %>
    <%= form.text_field :urusan, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :kode_bidang_urusan %>
    <%= form.text_field :kode_bidang_urusan, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :bidang_urusan %>
    <%= form.text_field :bidang_urusan, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nama_opd %>
    <%= form.text_field :nama_opd, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :id_opd_skp %>
    <%= form.text_field :id_opd_skp, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :kode_unik_opd %>
    <%= form.text_field :kode_unik_opd, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nama_kepala %>
    <%= form.text_field :nama_kepala, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :pangkat_kepala %>
    <%= form.text_field :pangkat_kepala, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nip_kepala %>
    <%= form.text_field :nip_kepala, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :lembaga_id %>
    <%= form.select :lembaga_id, Lembaga.all.collect {|n| [n.nama_lembaga, n.id]}, {include_blank: true}, {class: "select2-waw", "data-placeholder": "Pilih Lembaga", required: true} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
