<%= form_with(model: opd, local: false) do |form| %>
  <div class="field">
    <%= form.label :nama_kepala %>
    <%= form.text_field :nama_kepala, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :pangkat_kepala %>
    <%= form.text_field :pangkat_kepala, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :nip_kepala %>
    <%= form.text_field :nip_kepala, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Update Opd" %>
  </div>
<% end %>
