<%= form_with(model: kepala_opd, local: false,
              url: update_nik_kepala_opd_path(opd),
              method: :patch,
              data: {
                controller: 'form-ajax',
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <div class="field">
    <%= form.label :nip, "NIP", {class: "form-label"} %>
    <p class="form-control disabled">
      <%= kepala_opd.nik %>
    </p>
  </div>
  <div class="field">
    <%= form.label :nama, {class: "form-label"} %>
    <p class="form-control disabled">
      <%= kepala_opd.nama %>
    </p>
  </div>
  <div class="field">
    <% nik_invalid = !is_nik_valid && !nik_asli.blank? %>
    <%= form.label :nik, "NIK", {class: "form-label"} %>
    <%= form.text_field :nik_enc, {class: "form-control #{nik_invalid ? 'is-invalid' : ''}", value: nik_asli, placeholder: 'NIK KEPALA OPD'} %>
    <% if nik_invalid %>
      <div class="invalid-feedback">
        NIK TIDAK VALID
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
