<div class="card border-0 shadow" id="hasil_filter_opd">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">List OPD</h2>
      </div>
      <div class="col-4">
        <%= link_to sync_opd_path(kode_opd: opd.kode_unik_opd, tahun: Date.today.year),
          remote: true,
          data: { disable_with: 'Memproses....'},
          class:"btn btn-sm btn-primary" do %>
          <i class="fas fa-sync me-2"></i>
          Sync Sasaran OPD
        <% end %>
        <%= link_to sync_tujuan_opd_path(kode_opd: opd.kode_unik_opd, tahun: Date.today.year),
          remote: true,
          data: { disable_with: 'Memproses....'},
          class:"btn btn-sm btn-primary" do %>
          <i class="fas fa-sync me-2"></i>
          Sync Tujuan OPD
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-flush datatable" data-datatable>
        <thead class="thead-light">
          <tr>
            <th>OPD</th>
            <th>Nama Kepala OPD</th>
            <th>NIP Kepala OPD</th>
            <th>Pangkat Kepala OPD</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-wrap"><%= opd.nama_opd %>
            <% if current_user.has_role? :super_admin %>
              <p>kode_unik_opd: <%= opd.kode_unik_opd %></p>
              <p>id_opd: <%= opd.id %></p>
              <p>kode_opd: <%= opd.kode_opd %></p>
              <p>id_opd_skp: <%= opd.id_opd_skp %></p>
            <% end %>
            </td>
            <td><%= opd.nama_kepala %></td>
            <td><%= opd.nip_kepala %></td>
            <td><%= opd.pangkat_kepala %></td>
            <td><%= link_to edit_opd_path(opd), remote: true, data: {'bs-toggle': 'modal', 'bs-target': '#form-opd'}, class: 'btn btn-info' do %>
              <i class="fas fa-edit me-2"></i>
              Edit
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
