<tr id="<%= dom_id(opd) %>">
  <div class="cek">
    <td><%= opd.nama_opd %></td>
    <td class="text-wrap"><%= opd.kode_unik_opd %></td>
    <td>
      <% opd.list_urusans.each do |urusan| %>
        <p>(<%= urusan[0] %>) <%= urusan[1] %></p>
      <% end %>
    </td>
    <td>
      <% opd.list_bidang_urusans.each do |bidang_urusan| %>
        <p>(<%= bidang_urusan[0] %>) <%= bidang_urusan[1] %></p>
      <% end %>
      <td><%= opd.nama_kepala %></td>
      <td><%= opd.nip_kepala %></td>
      <td><%= opd.pangkat_kepala %></td>
      <td>
        <div class="d-grid gap-2">
          <%= link_to edit_full_opd_path(opd), remote: true,
              data: { controller: 'form-modal',
                      action: 'ajax:complete->form-modal#success:prevent',
                   bs_toggle: 'modal',
                   bs_target: '#form-modal'
              },
              class: 'btn btn-sm btn-outline-info' do %>
            <i class="fas fa-edit me-2"></i>
            Edit
          <% end %>
        </div>
      </td>
    </div>
  </tr>
