<div class="card border-0 shadow" id="hasil_filter_opd">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">List OPD</h2>
      </div>
      <div class="col text-end">
        <%= link_to excel_spip_sasaran_program_opds_path(format: :xlsx, params: { kode_unik_opd: @opd.kode_unik_opd }), class:"btn btn-sm btn-primary" do %>
          Download Excel
          <i class="fas fa-file-excel ms-2"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-flush datatable" data-datatable>
        <thead class="thead-light">
          <tr>
            <th>Lembaga</th>
            <th>Nama OPD</th>
            <th>Sasaran OPD</th>
            <th>Indikator Kinerja Sasaran OPD</th>
            <th>Sasaran Program</th>
            <th>Indikator Kinerja Program</th>
            <th>Sasaran Kegiatan</th>
            <th>Indikator Kinerja Kegiatan</th>
            <th>Sub Kegiatan ( Output )</th>
            <th>Indikator Kinerja Output</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= opd.lembaga.nama_lembaga %></td>
            <td><strong><%= opd.nama_opd %></strong>
            </td>
            <td>
              <% unless opd.kepala.nil? %>
                - Nama kepala <%= opd.kepala&.nama %>
              <br>
              <%= link_to sync_sasaran_path(kode_opd: opd.kode_unik_opd, tahun: Date.today.year, bulan: Date.today.month, nip_asn: opd.kepala&.nik),
                remote: true,
                data: { disable_with: 'Memproses....'},
                class:"btn btn-sm btn-primary" do %>
                <i class="fas fa-sync me-2"></i>
                Sync Sasaran
              <% end %>
              <% opd.kepala.sasarans.order(:id).each.with_index(1) do |kepala_sas, nom| %>
                <br>
                <%= nom %>- <%= kepala_sas&.sasaran_kinerja || 'OO' %>
              <% end %>
              <br>
            <% end %>
            </td>
            <td>
              <% unless opd.kepala.nil? %>
                <% opd.kepala.sasarans.order(:id).each do |kepala_sas| %>
                  <% kepala_sas.indikator_sasarans.each do |ind_kepala_sas| %>
                    <%= ind_kepala_sas.indikator_kinerja %> [ <%= ind_kepala_sas.target %> - <%= ind_kepala_sas.satuan %> ]
                  <% end %>
                  <br>
                <% end %>
                <br>
              <% end %>
            </td>
            <td>Eselon 3 :
              <br>
              <% unless opd.kepala&.users.nil? %>
                <% opd.kepala&.users.order(:id).each do |kabid| %>
                  - <%= kabid.nama %> - <%= kabid.jabatan %>
                <br>
                <%= link_to sync_sasaran_path(kode_opd: opd.kode_unik_opd, tahun: Date.today.year, bulan: Date.today.month, nip_asn: kabid.nik),
                  remote: true,
                  data: { disable_with: 'Memproses....'},
                  class:"btn btn-sm btn-primary" do %>
                  <i class="fas fa-sync me-2"></i>
                  Sync Sasaran
                <% end %>
                <br>
                <% kabid.sasarans.order(:id).each.with_index(1) do |kabid_sas, no| %>
                  <%= no %>- <%= kabid_sas&.sasaran_kinerja || 'OO' %>
                  <br>
                <% end %>
                <br>
              <% end %>
            <% end %>
            </td>
            <td>
              <br>
              <% unless opd.kepala&.users.nil? %>
                <% opd.kepala.users.order(:id).each do |kabid| %>
                  - <%= kabid.nama %> - <%= kabid.jabatan %>
                <br>
                <% kabid.sasarans.order(:id).each do |kabid_sas| %>
                  <% kabid_sas&.indikator_sasarans.order(:sasaran_id).each do |ind| %>
                    -- <%= ind.indikator_kinerja %> [ <%= ind.target %> - <%= ind.satuan %> ]
                    <br>
                  <% end %>
                  <br>
                <% end %>
                <br>
              <% end %>
            <% end %>
            </td>
            <td>Eselon 4 :
              <br>
              <% unless opd.kepala&.users.nil? %>
                <% opd.kepala.users.order(:id).each do |kabid| %>
                  <% kabid.users.each do |kasi| %>
                    - <%= kasi.nama %> - <%= kasi.jabatan %>
                  <br>
                  <%= link_to sync_sasaran_path(kode_opd: opd.kode_unik_opd, tahun: Date.today.year, bulan: Date.today.month, nip_asn: kasi.nik),
                    remote: true,
                    data: { disable_with: 'Memproses....'},
                    class:"btn btn-sm btn-primary" do %>
                    <i class="fas fa-sync me-2"></i>
                    Sync Sasaran
                  <% end %>
                  <br>
                  <% kasi.sasarans.order(:id).each.with_index(1) do |kasie_sas, no| %>
                    <%= no %>- <%= kasie_sas&.sasaran_kinerja || 'OO' %>
                    <br>
                  <% end %>
                  <br>
                <% end %>
                <br>
              <% end %>
            <% end %>
            </td>
            <td>Indikator Kinerja Kegiatan SIPD</td>
            <td>Pilih Sub Kegiatan</td>
            <td>
              <br>
              <% unless opd.kepala&.users.nil? %>
                <% opd.kepala.users.order(:id).each do |kabid| %>
                  <% kabid.users.each do |kasi| %>
                    - <%= kasi.nama %> - <%= kasi.jabatan %>
                  <br>
                  <% kasi.sasarans.order(:id).each do |kasie_sas| %>
                    <%= kasie_sas&.id_rencana %>-
                    <% kasie_sas&.indikator_sasarans.order(:sasaran_id).each do |ind_kasi| %>
                      -- <%= ind_kasi.indikator_kinerja %> [ <%= ind_kasi.target %> - <%= ind_kasi.satuan %> ]
                      <br>
                    <% end %>
                    <br>
                  <% end %>
                  <br>
                <% end %>
                <br>
              <% end %>
            <% end %>
            </td>
            <td>
              Pilih Program | Pilih Kegiatan
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
