<div class="card border-0 shadow" id="hasil_filter_opd">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">List OPD</h2>
      </div>
      <div class="col text-end">
        <%= link_to excel_spip_sasaran_program_opds_path(format: :xlsx, params: { kode_unik_opd: @opd.kode_unik_opd }), class:"btn btn-sm btn-primary" do %>
          Download Excel
          <i class="fas fa-file-excel ms-2"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-flush datatable" data-datatable>
        <thead class="thead-light">
          <tr>
            <th>Lembaga</th>
            <th>Nama OPD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= opd.lembaga.nama_lembaga %></td>
            <td><strong><%= opd.nama_opd %></strong>
            </td>
          </tr>
          <% unless opd.kepala.nil? %>
            <tr>
              <td colspan="2">
                <strong>Kepala <%= opd.kepala&.nama %></strong>

                - <%= link_to sync_sasaran_path(kode_opd: opd.kode_unik_opd, tahun: Date.today.year, bulan: Date.today.month, nip_asn: opd.kepala&.nik),
                  remote: true,
                  data: { disable_with: 'Memproses....'},
                  class:"btn btn-sm btn-primary" do %>
                  <i class="fas fa-sync me-2"></i>
                  Sync Sasaran
                <% end %>
              </td>
            </tr>
            <% opd.kepala.sasarans.order(:id).each.with_index(1) do |kepala_sas, nom| %>
              <thead class="thead-light">
                <tr>
                  <th>Sasaran OPD</th>
                  <th>Indikator Sasaran OPD</th>
                </tr>
              </thead>
              <tr>
                <td class="table-primary border-start text-wrap" rowspan="<%= kepala_sas.indikator_sasarans.size + 1 %>"><%= nom %>- <%= kepala_sas&.sasaran_kinerja %></td>
                <% kepala_sas.indikator_sasarans.order(:id).each do |ind_kepala_sas| %>
                  <tr>
                    <td class="table-primary text-wrap"><%= ind_kepala_sas.indikator_kinerja %></td>
                    <!-- Sasaran Eselon 3 -->
                    <% ind_kepala_sas.sasaran_kabid.each do |kabid_sas| %>
                      <thead class="thead-light">
                        <tr>
                          <th>Program</th>
                          <th>Sasaran Kabid</th>
                          <th>Indikator Sasaran Kabid</th>
                        </tr>
                      </thead>
                      <tr>
                        <% kabid_sas.sasaran_kasi.map { |s| s.program_kegiatan&.nama_program }.compact.uniq.each do |program_kabid| %>
                          <tr>
                            <td class="table-secondary border-start text-wrap" rowspan="<%= kabid_sas.indikator_sasarans.size + 2 %>">
                              <%= program_kabid %>
                            </td>
                          </tr>
                        <% end %>
                        <td class="table-secondary border-start text-wrap" rowspan="<%= kabid_sas.indikator_sasarans.size + 1 %>"><%= kabid_sas.sasaran_kinerja %></td>
                        <% kabid_sas.indikator_sasarans.order(:id).each do |ind_kabid_sas| %>
                          <tr>
                            <td class="table-secondary text-wrap"><%= ind_kabid_sas.indikator_kinerja %></td>
                          </tr>
                        <% end %>
                        <thead class="thead-light">
                          <tr>
                            <th>Kegiatan</th>
                            <th>SubKegiatan</th>
                            <th>Sasaran Kasi</th>
                            <th>Indikator Sasaran Kasi</th>
                          </tr>
                        </thead>
                        <% kabid_sas.sasaran_kasi.each do |kasi_sas| %>
                          <tr>
                            <td class="table-info text-wrap" rowspan="<%= kasi_sas.indikator_sasarans.size + 1 %>"><%= kasi_sas.program_kegiatan&.nama_kegiatan || '-' %></td>
                            <td class="table-info text-wrap" rowspan="<%= kasi_sas.indikator_sasarans.size + 1 %>"><%= kasi_sas.program_kegiatan&.nama_subkegiatan || '-' %></td>
                            <td class="table-info text-wrap" rowspan="<%= kasi_sas.indikator_sasarans.size + 1 %>"><%= kasi_sas.sasaran_kinerja %></td>
                            <% kasi_sas.indikator_sasarans.order(:id).each do |ind_kasi_sas| %>
                              <tr>
                                <td class="table-info text-wrap"><%= ind_kasi_sas.indikator_kinerja %></td>
                              </tr>
                            <% end %>
                          </tr>
                        <% end %>
                      </tr>
                    <% end %>
                  </tr>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
