<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Tujuan <%= @nama_opd %></h2>
      </div>
      <div class="col-auto">
        <%= link_to new_tujuan_opd_path, class: 'btn btn-sm btn-info text-white' do %>
          <span>Buat Tujuan OPD Baru</span>
        <% end %>
        <%= link_to sync_tujuan_opd_path(kode_opd: @opd.kode_unik_opd, tahun: Date.today.year),
          remote: true,
          data: { disable_with: 'Memproses....'},
          class:"btn btn-sm btn-primary" do %>
          <i class="fas fa-sync me-2"></i>
          Sync Tujuan OPD
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive mb-5">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" rowspan="2" width="20px">No.</th>
            <th class="border" scope="col" rowspan="2">Tujuan OPD</th>
            <th class="border" scope="col" rowspan="2">Aksi</th>
            <th class="border" scope="col" rowspan="2">Indikator</th>
            <% (2020..2024).each do |tahun| %>
              <th class="border text-center" scope="col" colspan="2"><%= tahun %></th>
            <% end %>
          </tr>
          <tr>
            <% (2020..2024).each do %>
              <th class="border" scope="col" width="50px">Target</th>
              <th class="border" scope="col">Satuan</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @tujuan_opds.each.with_index(1) do |tujuan, no_tujuan| %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px'><%= no_tujuan %></td>
              <td class="text-gray-900 text-wrap border"  ><%= tujuan.tujuan %></td>
              <td class="text-gray-900 text-wrap border">
                Edit
              </td>
              <% tujuan.indikator_tujuans[:indikator_tujuan].each do |indikator_tujuan, values| %>
                <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan %></td>
                <% (2020..2024).each do |tahun| %>
                  <% targets = values[tahun.to_s] %>
                  <td class="text-gray-900 text-wrap border"  ><%= targets&.last&.target %></td>
                  <td class="text-gray-900 text-wrap border"  ><%= targets&.last&.satuan %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
