<%= content_for :html_title, "Master Tahun" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Data Master</li>
  <li class="breadcrumb-item active" aria-current="page">Master OPD</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">List OPD</h2>
        </div>
        <div class="col text-end">
          <%= link_to "Tambah OPD", new_opd_path, class: "btn btn-sm btn-info" %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-flush datatable" data-datatable>
          <thead class="thead-light">
            <tr>
              <th>Nama OPD</th>
              <th>Kode OPD SKP</th>
              <th>Kode UNIK OPD</th>
              <th>Kode OPD</th>
              <th>OPD Induk</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="opd">
            <% @opds.each do |opd| %>
              <tr>
                <td class="text-wrap"><%= opd.nama_opd %></td>
                <td><%= opd.id_opd_skp %></td>
                <td><%= opd.kode_unik_opd %></td>
                <td><%= opd.kode_opd %></td>
                <td><%= opd.opd_induk %></td>
                <td>
                  <%= link_to edit_full_opd_path(opd), remote: true,
              data: { controller: 'form-modal',
                      action: 'ajax:complete->form-modal#success:prevent',
                   bs_toggle: 'modal',
                   bs_target: '#form-modal'
              },
              class: 'btn btn-sm btn-outline-info' do %>
                    <i class="fas fa-edit me-2"></i>
                    Edit
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
