<p id="notice"><%= notice %></p>

<h1>Opds</h1>

<table>
  <thead>
    <tr>
      <th>Nama OPD</th>
      <th>Kode OPD</th>
      <th>Lembaga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opds.each do |opd| %>
      <tr>
        <td><%= opd.nama_opd %></td>
        <td><%= opd.kode_opd %></td>
        <td><%= opd.lembaga.nama_lembaga %></td>
        <td><%= link_to 'Show', opd %></td>
        <td><%= link_to 'Edit', edit_opd_path(opd) %></td>
        <td><%= link_to 'Destroy', opd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New OPD', new_opd_path %>
