<div class="row">
  <div class="col-12" data-controller="filter-render">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Kotak Usulan OPD</li>
      </ol>
    </nav>
    <div class="card border-0 shadow" id="kotak_usulan" data-filter-render-target="results">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Kotak Usulan OPD</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= render 'pohon_kinerja/kotak_strategi_kota' %>
      </div>
      <div class="card-body">
        <%= render 'pohon_kinerja/kotak_isu_strategis_opd' %>
      </div>
      <div class="card-body">
        <%= render 'pohon_kinerja/kotak_musrenbang_opd' %>
      </div>
      <div class="card-body">
        <%= render 'pohon_kinerja/kotak_pokok_pikiran_opd' %>
      </div>
      <div class="card-body">
        <%= render 'pohon_kinerja/kotak_mandatori_opd' %>
      </div>
    </div>
  </div>
</div>
