<tr>
  <td class="text-gray-900 text-wrap border" width='20px' scope="row"></td>
  <td class="text-gray-900 text-wrap border"><%= indikator %></td>
  <td class="text-gray-900 border px-auto" scope="row">
    <% unless guest? %>
      <div class="row justify-content-center w-100">
        <div class="col">
          <%= link_to edit_target_iku_indikator_path(indikator.id, periode: '2019-2024'),
                      remote: true,
                      class: "m-3 btn btn-outline-info w-100",
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal' } do %>
            <i class="fa fa-edit"></i>
            <span>Edit Target</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </td>
  <!-- TARGET NSPK -->
  <td class="text-gray-900 text-center text-wrap border"><%= target_nspk_tujuan(indikator) %></td>
  <!-- TARGET IKK -->
  <td class="text-gray-900 text-center text-wrap border"><%= target_ikks_tujuan(indikator) %></td>
  <!-- TARGET INDIKATOR LAINNYA -->
  <td class="text-gray-900 text-center text-wrap border"><%= target_lainnyas_tujuan(indikator) %></td>
  <!-- TARGET RENSTRA -->
  <% periode.each do |tahun| %>
    <td class="text-gray-900 text-wrap border"><%= target_iku_tujuan(indikator, tahun) %></td>
  <% end %>
  <td class="text-gray-900 text-wrap border"><%= satuan_iku_tujuan(indikator) %></td>
  <!-- REALISASI RENSTRA -->
  <% periode.each do |tahun| %>
    <td class="text-gray-900 text-wrap border"></td>
  <% end %>
  <td class="text-gray-900 text-wrap border"></td>
  <!-- RASIO RENSTRA -->
  <% periode.each do |tahun| %>
    <td class="text-gray-900 text-wrap border"></td>
  <% end %>
  <td class="text-gray-900 text-wrap border"></td>
</tr>
