<tr id="serapan-<%= bidang_urusan[:kode] %>">
  <td class="text-gray-900 text-wrap border" width='20px' scope="row"></td>
  <td class="text-gray-900 text-wrap border"><%= bidang_urusan[:nama] %></td>
  <td class="text-gray-900 border px-auto" scope="row">
    <% unless guest? %>
      <div class="row justify-content-center w-100">
        <div class="col">
          <%= link_to edit_serapan_pagu_anggarans_path(kode: bidang_urusan[:kode],
                                                       periode: '2019-2024',
                                                       nama_bidang_urusan: bidang_urusan[:nama]),
                      remote: true,
                      class: "m-3 btn btn-outline-info w-100",
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal' } do %>
            <i class="fa fa-edit"></i>
            <span>Edit</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </td>
  <% periode.each do |tahun| %>
    <td class="text-gray-900 border pagu" width="250px">
      <span class="uang">
        <%=  number_to_currency(bidang_urusan[:pagu][tahun], unit: "Rp.", separator: ".") %>
      </span>
    </td>
  <% end %>
  <!-- REALISASI -->
  <% periode.each do |tahun| %>
    <td class="text-gray-900 border pagu" width="250px">
      <span class="uang">
        <%=  number_to_currency(bidang_urusan[:realisasi][tahun], unit: "Rp.", separator: ".") %>
      </span>
    </td>
  <% end %>
  <!-- CAPAIAN -->
  <% periode.each do |tahun| %>
    <td class="text-gray-900 border pagu" width="250px">
      <%= number_to_percentage(bidang_urusan[:serapan][tahun], precision: 2) %>
    </td>
  <% end %>
  <td class="text-gray-900 border pagu" width="250px">
    <%= number_to_percentage(bidang_urusan[:growth_pagu], precision: 2) %>
  </td>
  <td class="text-gray-900 border pagu" width="250px">
    <%= number_to_percentage(bidang_urusan[:growth_realisasi], precision: 2) %>
  </td>
  <td class="text-gray-900 border pagu" width="250px">
    <%= number_to_percentage(bidang_urusan[:growth_serapan], precision: 2) %>
  </td>
</tr>
