<%= content_for :html_title, "Bab 3 - Akar Masalah" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 3</li>
  <li class="breadcrumb-item active" aria-current="page">Akar Masalah</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Akar Masalah", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive">
      <table class="table table-bordered align-items-center border sticky-head" id="tabel-akar-masalah">
        <thead class="thead-light">
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Jenis Masalah</th>
            <th class="text-center">Masalah</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="new_akar_masalah">
          <% @strategi_opd.each.with_index(1) do |strategi, i| %>
            <%= render SubstansiRenstra::MasalahComponent.new(strategi: strategi, no_row: "#{i}") %>
            <% strategi.strategi_bawahans.each.with_index(1) do |tactical, i_tact| %>
              <%= render SubstansiRenstra::MasalahComponent.new(strategi: tactical, no_row: "#{i}.#{i_tact}") %>
              <% tactical.strategi_bawahans.each.with_index(1) do |opr, i_op| %>
                <%= render SubstansiRenstra::MasalahComponent.new(strategi: opr, no_row: "#{i}.#{i_tact}.#{i_op}") %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
