<%= content_for :html_title, "Bab 3 - Akar Masalah" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 3</li>
  <li class="breadcrumb-item active" aria-current="page">Akar Masalah</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Akar Masalah", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive">
      <table class="table table-bordered align-items-center counter border sticky-head" id="tabel-akar-masalah">
        <thead class="thead-light">
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Masalah Pokok</th>
            <th class="text-center">Masalah</th>
            <th class="text-center">Akar Masalah</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody id="new_akar_masalah">
          <% @strategi_opd.each do |strategi| %>
            <% rowspan = rowspan_masalah_pokok(strategi.strategi_bawahans) %>
            <tr data-controller="row">
              <td class="text-gray-900 fw-bolder align-middle" scope="row" rowspan="<%= rowspan %>"></td>
              <td class="text-gray-900-align-middle text-wrap" rowspan="<%= rowspan %>">
                <%= strategi.to_s %>
              </td>
            </tr>
            <% strategi.strategi_bawahans.each do |tactical| %>
              <% rowspan_tact = rowspan_masalah(tactical.strategi_bawahans) %>
              <tr data-controller="row" class="skip">
                <td class="text-gray-900-align-middle text-wrap" rowspan="<%= rowspan_tact %>">
                  <%= tactical.to_s %>
                </td>
              </tr>
              <% tactical.strategi_bawahans.each do |opr| %>
                <tr data-controller="row" class="skip">
                  <td class="text-gray-900-align-middle text-wrap">
                    <%= opr.to_s %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
