<%= content_for :html_title, "Bab 2 - Capaian IKU" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 2</li>
  <li class="breadcrumb-item active" aria-current="page">Capaian IKU</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Capaian IKU - Periode #{@tahun_awal}-#{@tahun_akhir}" do %>
    <div class="table-responsive">
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" rowspan="2" width="20px">No.</th>
            <th class="border" scope="col" rowspan="2">Indikator Kinerja sesuai Tugas dan Fungsi Perangkat Daerah</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Target NSPK</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Target IKK/IKD</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Target Indikator Lainnya</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Target Indikator Lainnya</th>
            <th class="border text-center" scope="col" colspan="<%= @colspan %>">Target Renstra Perangkat Daerah Tahun ke-</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Satuan</th>
            <th class="border text-center" scope="col" colspan="<%= @colspan %>">Realisasi Capaian Tahun ke-</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Satuan</th>
            <th class="border text-center" scope="col" colspan="<%= @colspan %>">Rasio Capaian pada Tahun ke-</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2" width="20px">Satuan</th>
          </tr>
          <tr>
            <% @periode.each do |tahun| %>
              <th class="border target text-center" scope="col"><%= tahun %></th>
            <% end %>
            <% @periode.each do |tahun| %>
              <th class="border realisasi text-center" scope="col"><%= tahun %></th>
            <% end %>
            <% @periode.each do |tahun| %>
              <th class="border realisasi text-center" scope="col"><%= tahun %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @iku_opd.each.with_index(1) do |indikator, no_iku| %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row"><%= no_iku %></td>
              <td class="text-gray-900 text-wrap border"><%= indikator || '-' %></td>
              <td class="text-gray-900 text-wrap border"></td>
              <td class="text-gray-900 text-wrap border"></td>
              <td class="text-gray-900 text-wrap border"></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
