<%= content_for :html_title, "Bab 1 - Dasar Hukum" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 1</li>
  <li class="breadcrumb-item active" aria-current="page">Dasar Hukum</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Laporan Dasar Hukum", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive mb-5 d-grid gap-2">
      <table class="table align-items-center counter">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom text-gray-700" scope="col">No.</th>
            <th class="border-bottom text-gray-700" scope="col">Peraturan Terkait</th>
            <th class="border-bottom text-gray-700" scope="col">Dasar Hukum</th>
            <th class="border-bottom text-gray-700" scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="new_mandatori">
          <% @dasar_hukums.each do |mandatori| %>
            <tr id="<%= dom_id(mandatori) %>">
              <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
              <td class="fw-bolder text-wrap"><%= mandatori.peraturan_terkait %></td>
              <td class="fw-bolder text-wrap"><%= mandatori.uraian %></td>
              <td class="text-gray-900 border px-2">
                <div class="d-grid gap-2">
                  <%= link_to edit_mandatori_path(mandatori),
                   remote: true, class: 'btn btn-outline-info w-100',
                   data: { controller: 'form-modal',
                     action: 'form-modal#appendForm',
                     form_modal_location_param: 'form-modal-body',
                     bs_target: '#form-modal',
                     bs_toggle: 'modal' } do %>
                    <span class="fas fa-edit me-2"></span>
                    Edit
                  <% end %>
                  <%= link_to mandatori_path(mandatori),
                   method: :delete,
                   remote: true,
                   class: 'btn btn-sm btn-danger',
                   data: {
                     controller: 'form-ajax',
                     form_ajax_element_id_value: dom_id(mandatori),
                     confirm_swal: 'Hapus usulan mandatori?',
                     action: 'ajax:success->form-ajax#ajaxDelete'
                   } do %>
                    <i class="fas fa-trash"></i>
                    <span>Hapus</span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
