<%= content_for :html_title, "Bab 2 - Evaluasi Renstra" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 2</li>
  <li class="breadcrumb-item active" aria-current="page">Evaluasi Renstra</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Laporan Evaluasi Renstra - Periode #{@tahun_awal}-#{@tahun_akhir}" do %>
    <div class="table-responsive">
      <table class="table align-items-center" data-controller='form-modal' data-action='ajax-update@window->form-modal#updateTargetValue'>
        <%= render partial: 'renstra/opd_renstra', locals: { disable_action: true } %>
        <% @program_kegiatans.each.with_index(1) do |(bid_urusan, programs), nomor_bid| %>
          <%= render partial: 'renstra/bidang_urusan_renstra', locals: { bid_urusan: bid_urusan, nomor_bid: nomor_bid, disable_action: true } %>
          <% programs.each.with_index(1) do |program, nomor| %>
            <%= render partial: 'renstra/head_table_renstra', locals: { periode: @periode, sub_jenis: 'program', disable_action: true } %>
            <%= render partial: 'renstra/program_renstra',
                       locals: {
                         program: program,
                         nomor: nomor,
                         indikators: program.indikator_renstras_new('program', @kode_opd)[:indikator_program],
                         disable_action: true,
                         periode: @periode } %>
            <% program.kegiatans_opd.each.with_index(1) do |kegiatan, no_giat| %>
              <%= render partial: 'renstra/head_table_renstra', locals: { periode: @periode, sub_jenis: 'kegiatan', disable_action: true } %>
              <%= render partial: 'renstra/kegiatan_renstra',
                         locals: {
                           program: kegiatan,
                           nomor: no_giat,
                           indikators: kegiatan.indikator_renstras_new('kegiatan', @kode_opd)[:indikator_kegiatan],
                           disable_action: true,
                           periode: @periode } %>
              <%= render partial: 'renstra/head_table_renstra', locals: { periode: @periode, sub_jenis: 'subkegiatan', disable_action: true } %>
              <% kegiatan.subkegiatans_opd.each.with_index(1) do |subgiat, no_subgiat| %>
                <%= render partial: 'renstra/subkegiatan_renstra',
                           locals: {
                             program: subgiat,
                             nomor: no_subgiat,
                             indikators: subgiat.indikator_renstras_new('subkegiatan', @kode_opd)[:indikator_subkegiatan],
                             disable_action: true,
                             periode: @periode } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
  <% end %>
      </table>
    </div>
<% end %>
