<%= content_for :html_title, "Bab 2 - Kepegawaian dan Aset" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 2</li>
  <li class="breadcrumb-item active" aria-current="page">Kepegawaian dan Aset</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Laporan Kepegawaian dan Aset", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive mb-5 d-grid gap-2">
      <table class="table align-items-center counter border">
        <thead class="thead-light">
          <tr>
            <th class="border text-gray-700" scope="col" rowspan="2">No.</th>
            <th class="border text-center text-gray-700" scope="col" rowspan="2">Jabatan</th>
            <th class="border text-center text-gray-700" scope="col" colspan="4">Status Kepegawaian</th>
            <th class="border text-center text-gray-700" scope="col" colspan="5">Pendidikan Terakhir</th>
          </tr>
          <tr>
            <th class="border text-center text-gray-700" scope="col">PNS</th>
            <th class="border text-center text-gray-700" scope="col">PPPK</th>
            <th class="border text-center text-gray-700" scope="col">Kontrak</th>
            <th class="border text-center text-gray-700" scope="col">Upah</th>

            <th class="border text-center text-gray-700" scope="col">SD/SMP</th>
            <th class="border text-center text-gray-700" scope="col">SMA</th>
            <th class="border text-center text-gray-700" scope="col">D1/D3</th>
            <th class="border text-center text-gray-700" scope="col">D4/S1</th>
            <th class="border text-center text-gray-700" scope="col">S2/S3</th>
          </tr>
        </thead>
        <tbody id="new_kepegawaian">
          <% @jabatans.each do |jabatan| %>
            <tr id="<%= dom_id(jabatan) %>">
              <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
              <td class="border fw-bolder text-wrap"><%= jabatan %></td>
              <% @status_kepegawaian.each do |kepegawaian| %>
                <td class='border fw-bolder text-wrap <%= dom_class(jabatan, 'kepegawaian') %>'><%= jabatan.jumlah_status_kepegawaian.dig(kepegawaian) %></td>
              <% end %>
              <% @jenis_pendidikan.each do |pendidikan| %>
                <td class="border fw-bolder text-wrap <%= dom_class(jabatan, 'pendidikan') %>" data-pendidikan="<%= jabatan.pendidikan_pegawai.include?(pendidikan) %>"></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
