<%= content_for :html_title, "Bab 3 - Permasalahan dan Isu Strategsi" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 3</li>
  <li class="breadcrumb-item active" aria-current="page">Permasalahan dan Isu Strategis</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Laporan Permasalahan dan Isu Strategis" do %>
    <% if @masalah_terpilih.any? %>
      <table class="table table-flush mb-4">
        <thead>
          <tr>
            <th class="border-start border-end border-top border-bottom text-gray-700">No</th>
            <th class="border-start border-end border-top border-bottom text-gray-700">Permasalahan</th>
          </tr>
        </thead>
        <tbody>
          <% @masalah_terpilih.each.with_index(1) do |masalah, no| %>
            <tr>
              <td class="border-start border-end border-top border-bottom align-middle"><%= no %></td>
              <td class="border-start border-end border-top border-bottom align-middle text-wrap">
                <p><%= masalah %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <table class="table table-flush mb-4">
      <thead>
        <tr>
          <th class="border-start border-end border-top border-bottom text-gray-700">No</th>
          <th class="border-start border-end border-top border-bottom text-gray-700">Bidang Urusan OPD</th>
          <th class="border-start border-end border-top border-bottom text-gray-700 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @list_bidang_urusans.each.with_index(1) do |bidang_urusan, no| %>
          <tr>
            <td class="border-start border-end border-top border-bottom align-middle"><%= no %></td>
            <td class="border-start border-end border-top border-bottom align-middle">
              <p>(<%= bidang_urusan[0] %>) <%= bidang_urusan[1] %></p>
            </td>
            <td class="border-start border-end border-top border-bottom align-middle text-center">
              <% unless guest? %>
                <%= link_to new_isu_strategis_opd_path(bidang_urusan: bidang_urusan[1],
                                                       kode_bidang_urusan: bidang_urusan[0],
                                                       opd: @opd.kode_unik_opd),
                            remote: true,
                            data: {
                              controller: 'form-modal',
                              action: 'ajax:complete->form-modal#success:prevent',
                              bs_toggle: 'modal',
                              bs_target: '#form-modal'
                            },
                            class: 'btn btn-sm btn-outline-primary ms-3' do %>
                  <i class="fas fa-plus"></i>
                  <span>Tambah Isu Strategis</span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div id="isu-strategis" class="table-responsive">
      <%= render 'isu_dan_permasalahans/table_isu_strategis' %>
    </div>
  <% end %>
<% end %>
