<%= content_for :html_title, "Bab 4 - Pohon Cascading" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 4</li>
  <li class="breadcrumb-item active" aria-current="page">Pohon Cascading</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Laporan Pohon Cascading" do %>
    <%= render 'shared/pohon' do %>
      <%= render 'pohon_kinerja_opds/item_opd', partial: 'pohon_kinerja_opds/pohon_kinerja_opd', show_button: false %>
      <ul data-pohon-tematik-target='dahan'>
        <%= render partial: 'pohon_kinerja_opds/pohon_cascading', collection: @strategi_kota, as: :pohon, locals: { show_button: false } %>
        <%= render partial: 'pohon_kinerja_opds/pohon_cascading', collection: @strategi_opd, as: :pohon, locals: { show_button: false } %>
      </ul>
    <% end %>
  <% end %>
<% end %>
