<%= content_for :html_title, "Bab 2 - Serapan Anggaran" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 2</li>
  <li class="breadcrumb-item active" aria-current="page">Serapan Anggaran</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Serapan Anggaran - Periode #{@tahun_awal}-#{@tahun_akhir}" do %>
    <div class="table-responsive">
      <table class="table align-items-center counter">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" rowspan="2" width="20px">No.</th>
            <th class="border" scope="col" rowspan="2">Bidang Urusan Kewenangan Perangkat Daerah</th>
            <th class="border text-wrap text-center" scope="col" rowspan="2">Aksi</th>
            <th class="border text-center" scope="col" colspan="<%= @colspan %>">Pagu Anggaran Perangkat Daerah Tahun ke-</th>
            <th class="border text-center" scope="col" colspan="<%= @colspan %>">Realisasi Anggaran pada Tahun ke-</th>
            <th class="border text-center" scope="col" colspan="<%= @colspan %>">Rasio Capaian / Serapan pada Tahun ke-</th>
            <th class="border text-wrap text-center" scope="col" colspan="3">Rata-Rata Pertumbuhan</th>
          </tr>
          <tr>
            <% @periode.cycle(3).each do |tahun| %>
              <th class="border target text-center" scope="col"><%= tahun %></th>
            <% end %>
            <th class="border target text-center" scope="col">Pagu Anggaran</th>
            <th class="border target text-center" scope="col">Realisasi</th>
            <th class="border target text-center" scope="col">Serapan</th>
          </tr>
        </thead>
        <tbody>
          <% @bidang_urusans.each do |bidang_urusan|  %>
            <%= render 'laporans/substansi_renstra/serapan_anggaran', periode: @periode, bidang_urusan: bidang_urusan %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
