<%= content_for :html_title, "Bab 5 - Strategi Arah Kebijakan" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 5</li>
  <li class="breadcrumb-item active" aria-current="page">Strategi Arah Kebijakan</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout_subtitle', title: "Laporan Strategi Arah Kebijakan", sub_title: @opd, sub_title_2: @tahun do %>
    <div class="table-responsive mb-5">
      <table class="table table-flush">
        <thead>
          <tr>
            <th class="border-bottom text-gray-700" scope="col" colspan="5">Isu Strategis:</th>
          </tr>
          <% @isu_strategis_opds.each.with_index(1) do |isu_strategis, no| %>
            <tr>
              <th class="border-bottom text-gray-700" scope="col"><%= no %></th>
              <th class="border-bottom text-gray-700" scope="col" colspan="4"><%= isu_strategis %></th>
            </tr>
          <% end %>
          <tr>
            <th class="border-bottom text-gray-700 bg-gray-200" scope="col" colspan="5">Tujuan OPD:</th>
          </tr>
          <% @tujuan_opds.each.with_index(1) do |tujuan, nom| %>
            <tr>
              <th class="border-bottom text-gray-700 align-middle" scope="col"><%= nom %></th>
              <th class="border-bottom text-gray-700 align-middle" scope="col" colspan="4">
                <%= tujuan %>
              </th>
            </tr>
          <% end %>
        </thead>
      </table>
    </div>
    <div id="kebijakans" class="table-responsive">
      <h5>Strategi dan Arah Kebijakan</h5>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="border-bottom text-gray-700" scope="col">No.</th>
            <th class="border-bottom text-gray-700" scope="col">Tujuan</th>
            <th class="border-bottom text-gray-700" scope="col">Sasaran</th>
            <th class="border-bottom text-gray-700" scope="col">Strategi</th>
            <th class="border-bottom text-gray-700" scope="col">Arah Kebijakan</th>
          </tr>
        </thead>
        <tbody>
          <% @strategi_opds.each.with_index(1) do |(tujuan, strategis), nomor| %>
            <tr class="strategi">
              <% rowspan_atas = strategis.map { |str| @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == str.id }.size + 1 }.flatten.sum + 1 %>
              <td class="align-middle" rowspan="<%= rowspan_atas %>"><%= nomor %></td>
              <td class="text-wrap align-middle border <%= tujuan.nil? ? 'bg-danger text-white' : '' %>" rowspan="<%= rowspan_atas %>"><%= tujuan || 'Tujuan belum dipilih' %></td>
            </tr>
            <% strategis.each do |strategi| %>
              <% rowspan_bawah = @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == strategi.id }.size + 1 %>
              <tr>
                <td class="text-wrap align-middle px-0" rowspan="<%= rowspan_bawah %>">
                  <div class="d-grid gap-1 w-100">
                    <% strategi.sasarans.each_with_index do |sasaran, index| %>
                      <div class="px-4 d-flex align-items-center <%= 'border-bottom pb-5' unless index == strategi.sasarans.size - 1 %> <%= 'pt-5' if index == strategi.sasarans.size - 1 %>">
                        <%= sasaran %>
                      </div>
                    <% end %>
                  </div>
                </td>
                <td class="text-wrap align-middle" rowspan="<%= rowspan_bawah %>"><%= strategi %></td>
              </tr>
              <% @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == strategi.id }.each do |tactical| %>
                <tr class="arah-kebijakan">
                  <td class="text-wrap border"><%= tactical %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
