<%= content_for :html_title, "Bab 4 - Tujuan dan Sasaran" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Substansi Renstra</li>
  <li class="breadcrumb-item" aria-current="page">Bab 4</li>
  <li class="breadcrumb-item active" aria-current="page">Tujuan dan Sasaran</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Laporan Tujuan dan Sasaran" do %>
    <div class="table-responsive mb-5">
      <h5>Tujuan OPD</h5>
      <table class="table align-items-center">
        <thead class="thead-tujuan">
          <tr class="header-tujuan">
            <th class="border" scope="col" rowspan="2" width="20px">No.</th>
            <th class="border" scope="col" rowspan="2">Urusan / Bidang Urusan</th>
            <th class="border" scope="col" rowspan="2">Tujuan OPD</th>
            <th class="border" scope="col" rowspan="2">Indikator</th>
            <th class="border" scope="col" rowspan="2">Rumus Perhitungan</th>
            <th class="border" scope="col" rowspan="2">Sumber Data</th>
            <% (@tahun_awal..@tahun_akhir).each do |tahun| %>
              <th class="border text-center" scope="col" colspan="2"><%= tahun %></th>
            <% end %>
          </tr>
          <tr>
            <% (@tahun_awal..@tahun_akhir).each do %>
              <th class="border" scope="col" width="50px">Target</th>
              <th class="border" scope="col">Satuan</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @tujuan_opds.each.with_index(1) do |tujuan, no_tujuan| %>
            <% rowsize = tujuan.indikators.size + 1 %>
            <tr>
              <td class="text-gray-900 text-wrap border" width='20px' scope="row" rowspan="<%= rowsize %>"><%= no_tujuan %></td>
              <td class="text-gray-900 text-wrap border" scope="row" rowspan="<%= rowsize %>" >
                <div class="grid gap-2">
                  <p>
                    <%= tujuan.urusan_opd %>
                  </p>
                  <hr/>
                  <p>
                    <%= tujuan.bidang_urusan_opd %>
                  </p>
                </div>
              </td>
              <td class="text-gray-900 text-wrap border" style="width: 30%;" scope="row" rowspan="<%= rowsize %>" ><%= tujuan.tujuan %></td>
              <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;" colspan="11"></td>
            </tr>
            <% tujuan.indikators.each do |indikator_tujuan| %>
              <tr>
                <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan || '-' %></td>
                <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan.rumus_perhitungan || '-' %></td>
                <td class="text-gray-900 text-wrap border"  ><%= indikator_tujuan.sumber_data || '-' %></td>
                <% (@tahun_awal..@tahun_akhir).each do |tahun| %>
                  <% target = indikator_tujuan.targets.find_by(tahun: tahun) %>
                  <td class="text-gray-900 text-wrap border"><%= target %></td>
                  <td class="text-gray-900 text-wrap border"><%= target&.satuan %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <h5>Sasaran OPD</h5>
      <table class="table align-items-center">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" scope="col">No</th>
            <th class="border text-center" scope="col">Pohon Kinerja</th>
            <th class="border text-center" scope="col">Pemilik</th>
            <th class="border text-center" scope="col">Status</th>
            <th class="border text-center" scope="col">Rencana Kinerja</th>
            <th class="border text-center" scope="col">Tahun</th>
            <th class="border text-center" scope="col">Indikator Rencana Kinerja</th>
            <th class="border text-center" scope="col">Rumus Perhitungan</th>
            <th class="border text-center" scope="col">Sumber Data</th>
            <th class="border text-center" scope="col">Target</th>
            <th class="border text-center" scope="col">Satuan</th>
          </tr>
        </thead>
        <tbody>
          <% @sasaran_opds.each.with_index(1) do |sasaran, i| %>
            <tr>
              <td class="border" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= i %></td>
              <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.strategi %></td>
              <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.user.nama_nip %></td>
              <td class="border text-center" rowspan="<%= rowspan_sasaran(sasaran) %>">
                <%= status_sasaran_pokin(sasaran&.status_sasaran) %>
              </td>
              <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
              <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.tahun %></td>
              <% if sasaran.indikator_sasarans.any? %>
                <%= indikator_sasaran_tambahan(sasaran) %>
              <% else %>
                <td class="border" colspan="3">
                  <%= link_to 'ISI INDIKATOR SASARAN', edit_sasaran_path(sasaran), class: 'btn btn-outline-danger w-100' %>
                </td>
              <% end %>
            </tr>
            <% row_indikator_sasaran_tambahan(sasaran).each do |indikator| %>
              <%= indikator %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
