<%= form_with(model: crosscutting, local: false) do |form| %>
  <div class="field">
    <%= form.label :nama_instansi, { class: "form-label" } %>
    <%= form.text_field :nama_instansi, class: 'form-control', placeholder: 'input nama instansi kerjasama' %>
  </div>
  <div class="field">
    <%= check_box_tag 'mitra', "1", false, class: 'form-check-input', name: nil, data: { action: 'crosscutting#inputMitraExternalNonPemerintah' } %>
    <%= label_tag :mitra_external_non_pemerintah, "Mitra", class: 'form-check-label' %>
  </div>
  <div class="input-mitra" data-crosscutting-target="mitraExternalNonPemerintah">
  </div>
  <div class="field">
    <%= check_box_tag 'ogp', "1", false, class: 'form-check-input', name: nil, data: { action: 'crosscutting#inputOgpExternalNonPemerintah' } %>
    <%= label_tag :ogp, "OGP", class: 'form-check-label' %>
  </div>
  <div class="input-ogp" data-crosscutting-target="ogpExternalNonPemerintah">
  </div>
<% end %>
