<div class="input-pemerintah d-none" data-crosscutting-target="pemerintah">
  <div class="field">
    <%= check_box_tag 'mitra', "1", false, class: 'form-check-input', name: nil, data: { action: 'crosscutting#inputMitraExternalPemerintah' } %>
    <%= label_tag :mitra, "Mitra", class: 'form-check-label' %>
  </div>
  <div class="input-mitra d-none" data-crosscutting-target="mitraExternalPemerintah">
    <div class="field">
      <%= form.label :nama_kerjasama, { class: "form-label" } %>
      <%= form.text_area :nama_kerjasama, { class: "form-control", placeholder: 'input nama kerjasama' } %>
    </div>
    <div class="field">
      <%= form.label :penjelasan_kerjasama, { class: "form-label" } %>
      <%= form.text_area :penjelasan_kerjasama, { class: "form-control", placeholder: 'input deskripsi kerjasama' } %>
    </div>
  </div>
</div>
