<%= form_with(model: crosscutting, local: false) do |form| %>
  <div class="internal-crosscutting-field">
    <div class="field mb-5">
      <%= form.label :opd, { class: "form-label" } %>
      <%= form.select :opd_pelaksana, [], {},
       {
         data: { placeholder: "Pilih OPD Crosscutting",
           controller: 'dropdown',
           dropdown_jenis_value: 'ajax_preselect',
           dropdown_url_value: legit_opd_opds_path(:json),
           dropdown_parent_value: '#internal',
         }
       } %>
    </div>
    <div class="field">
      <%= check_box_tag 'mitra', "1", false, class: 'form-check-input', name: nil, data: { action: 'crosscutting#inputMitra' } %>
      <%= label_tag :mitra, "Mitra", class: 'form-check-label' %>
    </div>
    <div class="input-mitra" data-crosscutting-target="mitra">
    </div>
  </div>
<% end %>
