<%= form_with(model: crosscutting, local: false) do |form| %>
  <div class="field">
    <%= form.label :nama_instansi, { class: "form-label" } %>
    <%= form.text_field :nama_instansi, class: 'form-control', placeholder: 'input nama instansi kerjasama' %>
  </div>
  <div class="field">
    <%= check_box_tag 'mitra', "1", false, class: 'form-check-input', name: nil, data: { action: 'crosscutting#inputMitraExternalPemerintah' } %>
    <%= label_tag :mitra, "Mitra", class: 'form-check-label' %>
  </div>
  <div class="input-mitra" data-crosscutting-target="mitraExternalPemerintah">
  </div>
  <!-- Inovasi -->
  <div class="field">
    <%= check_box_tag 'inovasi', "1", false, class: 'form-check-input', name: nil, data: { action: 'crosscutting#inputInovasi' } %>
    <%= label_tag :inovasi, "Inovasi", class: 'form-check-label' %>
  </div>
  <div class="input-inovasi" data-crosscutting-target="inovasi">
  </div>
<% end %>
