<%= form_with url: crosscutting_path(crosscutting.id),
              local: false,
              method: :patch,
              data: {
                controller: 'form-ajax',
                form_ajax_modal_param: 'form-crosscutting',
                form_ajax_pohon_param: dom_id(crosscutting.strategi),
                action: 'ajax:complete->form-ajax#successResponseNew'
              } do |form| %>
  <div data-controller="crosscutting"
       data-action="tipeCrosscutting@document->crosscutting#aktifkanTipeTerpilih">
    <div class="field" id="pilih-tipe-crosscutting">
      <%= form.label :tipe_crosscutting, { class: "form-label" } %>
      <%= form.select :tipe_crosscutting, ['Internal', 'External'],
       {include_blank: true },
       { class: 'form-control',
         required: true,
         data: {
           placeholder: 'Pilih Tipe Crosscutting',
           controller: 'dropdown',
           dropdown_jenis_value: 'chain',
           dropdown_parent_value: '#pilih-tipe-crosscutting',
           dropdown_event_name_value: 'tipeCrosscutting',
         }
       } %>
    </div>
    <%= render 'crosscutting_internal', form: form %>
    <%= render 'crosscutting_external', form: form %>

    <div class="field">
      <%= form.label :keterangan, { class: "form-label" } %>
      <%= form.text_area :keterangan, { class: "form-control" } %>
    </div>
    <div class="actions">
      <%= form.submit "Simpan perubahan" %>
    </div>
  </div>
<% end %>
