<%= form_with model: crosscutting,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_modal_param: 'form-crosscutting',
                form_ajax_pohon_param: dom_id(@strategi),
                action: 'ajax:complete->form-ajax#successResponseNew'
              } do |form| %>
  <div data-controller="crosscutting"
       data-action="tipeCrosscutting@document->crosscutting#aktifkanTipeTerpilih">
    <div class="field" id="pilih-tipe-crosscutting">
      <%= form.hidden_field :strategi_id %>
      <%= form.label :tipe_crosscutting, { class: "form-label" } %>
      <%= form.select :tipe_crosscutting, ['Internal'],
       {include_blank: true },
       { class: 'form-control',
         required: true,
         data: {
           placeholder: 'Pilih Tipe Crosscutting',
           controller: 'dropdown',
           dropdown_jenis_value: 'chain',
           dropdown_parent_value: '#form-crosscutting',
           dropdown_event_name_value: 'tipeCrosscutting',
         }
       } %>
    </div>
    <div id="internal" data-crosscutting-target="internal">
    </div>

    <div class="actions">
      <%= form.submit "Simpan perubahan" %>
    </div>
  </div>
<% end %>
