<%= form_with(model: musrenbang, local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(musrenbang),
                form_ajax_type_param: musrenbang.new_record? ? 'afterbegin' : '',
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <% if musrenbang.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= musrenbang.errors.count %> kesalahan:</h2>
      <ul>
        <% musrenbang.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :usulan %>
    <%= form.text_area :usulan, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_area :alamat, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :permasalahan %>
    <%= form.text_area :uraian, class: 'form-control' %>
  </div>
  <div class="field mt-3">
    <%= form.label :tahun %>
    <%= form.select(:tahun, (['',2021,2022,2023,2024]), {},
                    {
                     data: {"placeholder": "Pilih Tahun",
                            controller: 'dropdown',
                            dropdown_parent_value: '#form-modal-body'
                     }}) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
