<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Musrenbang", musrenbangs_path %></li>
      </ol>
    </nav>
    <% flash.each do |type, msg| %>
      <% tipe = type == 'error' ? 'danger' : type %>
      <div class="alert alert-<%= tipe %>">
        <%= msg %>
      </div>
    <% end %>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Usulan Musrenbang</h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Usulan", new_musrenbang_path, remote: true, data: {'bs-toggle': 'modal', 'bs-target': '#form-usulan'}, class: "btn btn-sm btn-info" %>
          </div>
          <% if current_user.has_role? :super_admin %>
            <div class="col text-end">
              <%= link_to sync_musrenbang_path(kode_opd: '', tahun: 2023), 
                                                data: { disable_with: 'Memproses....'},
                                                class:"btn btn-sm btn-primary" do %>
                <i class="fas fa-sync me-2"></i>
                Sync Musrenbang
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush datatable" data-datatable>
            <thead class="thead-light">
              <tr>
                <th class="border-bottom text-gray-700" scope="col">No.</th>
                <th class="border-bottom text-gray-700" scope="col">Usulan</th>
                <th class="border-bottom text-gray-700" scope="col">Alamat</th>
                <th class="border-bottom text-gray-700" scope="col">Permasalahan</th>
                <th class="border-bottom text-gray-700" scope="col">Pengambil Usulan</th>
                <th class="border-bottom text-gray-700 text-center" scope="col">Status</th>
                <th class="border-bottom text-gray-700 text-center" scope="col" colspan='1'>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @musrenbangs.each.with_index(1) do |musrenbang, i| %>
                <% if musrenbang.opd_pemilik == current_user.opd.kode_opd or current_user.has_role? :super_admin %>
                  <tr id="<%= dom_id(musrenbang) %>">
                    <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                    <td class="fw-bolder text-gray-500 text-wrap"><%= musrenbang.usulan %></td>
                    <td class="fw-bolder text-gray-500 text-wrap"><%= musrenbang.alamat %></td>
                    <td class="fw-bolder text-gray-500 text-wrap"><%= musrenbang.uraian %></td>
                    <td class="fw-bolder text-gray-500 text-wrap"><%= musrenbang.asn_pengambil %></td>
                    <td class="action-<%= dom_id(musrenbang) %> text-center align-middle">
                      <% unless musrenbang.is_active %>
                        <% if musrenbang.asn_aktif? %>
                          <%= button_to toggle_is_active_musrenbang_path(musrenbang), remote: true, class: 'btn btn-primary d-inline-flex align-items-center toggle-active' do %>
                            Aktifkan
                            <i class="fas fa-check-circle text-success icon icon-xs ms-2"></i>
                          <% end %>
                        <% else %>
                          <button class="btn btn-warning" disabled>Menungu diambil</button>
                        <% end %>
                      <% else %>
                        <% if musrenbang.sasaran_aktif? %>
                          <button class="btn btn-success text-dark" disabled>Diambil Sasaran</button>
                        <% else %>
                          <button class='btn btn-primary d-inline-flex align-items-center toggle-active' disabled>
                            Aktif
                            <i class="fas fa-key text-success icon icon-xs ms-2"></i>
                          </button>
                        <% end %>
                      <% end %>
                    </td>
                    <td class="fw-bolder text-gray-500 text-center align-middle">
                      <%= link_to edit_musrenbang_path(musrenbang), remote: true, data: {'bs-toggle': 'modal', 'bs-target': '#form-usulan'} do %>
                        <i class="fas fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit usulan"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'modal' %>
