<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Musrenbang", musrenbangs_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Usulan Musrenbang </h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Usulan", new_musrenbang_path, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush" id="datatable">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom" scope="col">No.</th>
                <th class="border-bottom" scope="col">Usulan</th>
                <th class="border-bottom" scope="col">Alamat</th>
                <th class="border-bottom" scope="col">Sasaran</th>
                <th class="border-bottom text-center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @musrenbangs.each.with_index(1) do |musrenbang, i| %>
                <tr>
                  <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                  <td class="fw-bolder text-gray-500"><%= link_to musrenbang.usulan, edit_musrenbang_path(musrenbang) %></td>
                  <td class="fw-bolder text-gray-500"><%= musrenbang.alamat %></td>
                  <td class="fw-bolder text-gray-500"><%= musrenbang.sasaran.nil? ? ' -- ' : musrenbang.sasaran.sasaran_kinerja %></td>
                  <td class="fw-bolder text-gray-500 text-center">
                    <%= link_to musrenbang, class: "m-3" do %>
                      <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                    <% end %>
                    <%= link_to edit_musrenbang_path(musrenbang), class: "m-3" do %>
                      <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                    <% end %>
                    <%= link_to musrenbang, method: :delete, data: { confirm_swal: "Hapus Usulan #{musrenbang.usulan} ?" }, class: "m-3" do %>
                      <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
