<p id="notice"><%= notice %></p>

<p>
  <strong>Usulan:</strong>
  <%= @musrenbang.usulan %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @musrenbang.tahun %>
</p>

<%= link_to 'Edit', edit_musrenbang_path(@musrenbang) %> |
<%= link_to 'Back', musrenbangs_path %>
