<%= form_with(model: @jabatan, local: false,
              data: {
                action: 'ajax:complete->row#processAjax',
              },
              id: dom_id(@jabatan, 'form')
) do |form| %>
  <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
  <td class="fw-bolder text-wrap" width="700px">
    <%= form.hidden_field :kode_opd, form: dom_id(@jabatan, 'form')%>
    <%= form.text_area :nama_jabatan, class: 'form-control',form: dom_id(@jabatan, 'form'), placeholder: 'Input nama jabatan...', cols: 5 %>
  </td>
  <td class="fw-bolder text-wrap" width="700px">
    <%= form.select :jenis_jabatan_id, dropdown_jenis_jabatan(@tahun), {include_blank: true},
      class: "form-control",
      form: dom_id(@jabatan, 'form'),
      data: {
        controller: "dropdown",
        placeholder: "Pilih kategori jabatan",
      } %>
  </td>
  <td class="fw-bolder">
    <div class="d-grid gap-2">
      <%= form.submit 'Simpan', class: 'btn btn-sm', style: 'margin-top: 0 !important;', form: dom_id(@jabatan, 'form') %>
      <button class="btn btn-sm btn-outline-danger" data-action="row#batal">Batal</button>
    </div>
  </td>
  <% @status_kepegawaian.each do |kepegawaian| %>
    <%= form.fields_for :kepegawaians, id: 'kepegawaian' do |f_kp| %>
      <td class='border fw-bolder text-center text-wrap field' width="150px">
        <%= f_kp.hidden_field :tahun, form: dom_id(@jabatan, 'form')%>
        <%= f_kp.hidden_field :opd_id, form: dom_id(@jabatan, 'form')%>
        <%= f_kp.hidden_field :status_kepegawaian, value: kepegawaian, form: dom_id(@jabatan, 'form') %>
        <%= f_kp.number_field :jumlah, class: 'form-control', placeholder: '0' , min: 0, form: dom_id(@jabatan, 'form')%>
      </td>
    <% end %>
  <% end %>
<% end %>
