<tr data-controller="row">
  <td class="text-gray-900 fw-bolder align-middle" scope="row"></td>
  <td class="fw-bolder text-wrap" width="700px"><%= jabatan %></td>
  <%= render(ColFieldComponent.new(width: '500px')) do %>
    <%= jabatan.jenis_jabatan %>
  <% end %>
  <td class="fw-bolder">
    <div class="d-grid gap-2">
      <%= render(EditRowButtonComponent.new(path: edit_jabatan_path(jabatan))) %>
      <%= render(DeleteButtonComponent.new(path: jabatan_path(jabatan))) %>
    </div>
  </td>
  <% @status_kepegawaian.each do |kepegawaian| %>
    <%= render(ColFieldComponent.new(el_class: "text-center #{dom_class(jabatan, 'kepegawaian')}")) do %>
      <%= jabatan.jumlah_status_kepegawaian(@tahun).dig(kepegawaian) %>
    <% end%>
  <% end %>
  <% @jenis_pendidikan.each do |pendidikan| %>
    <td class="fw-bolder text-wrap <%= dom_class(jabatan, 'pendidikan') %>" data-pendidikan="<%= jabatan.pendidikan_pegawai(@tahun).include?(pendidikan) %>"></td>
  <% end %>
</tr>
