<%= form_with(model: strategi, url: update_tactical_pohon_tematik_path,
              local: false,
              method: :patch,
              data: {
                  controller: 'pohon-tematik',
                  action: 'ajax:success->pohon-tematik#updateSuccess'
              }
) do |form| %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= strategi.errors.count %> kesalahan:</h2>
      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: 'form-label' %>
    <%= form.select :opd_id, selected_opd(@opds, form.object.opd_id),
        { include_blank: true },
        { class: 'form-control text-center',
          data: {
              pohon_tematik_target: 'dropdown',
              placeholder: 'Pilih OPD',
          },
          id: "opd_#{form.object_id}",
          required: true,
          disabled: true
        } %>
  </div>
  <div class="field">
    <%= form.label :tactical, class: 'form-label' %>
    <%= form.text_field :strategi, class: 'form-control', required: true %>
    <%= form.hidden_field :role %>
  </div>
  <div class="field">
    <%= form.fields_for :sasaran do |sasaran_form| %>
      <% if strategi.new_record? %>
        <% random_number = @sasaran&.id_rencana.nil? ? (SecureRandom.random_number(9e5) + 1e5).to_i : @sasaran.id_rencana %>
        <%= sasaran_form.hidden_field :id_rencana, :value => random_number, readonly: true %>
      <% end %>
      <%= sasaran_form.label :sasaran_kinerja, { class: "form-label" } %>
      <%= sasaran_form.text_field :sasaran_kinerja, { class: "form-control" } %>
      <div class="field" id="indikator-sasarans">
        <%= sasaran_form.label :indikator, { class: "form-label" } %>
        <%= sasaran_form.fields_for :indikator_sasarans do |indikator_sas| %>
          <%= render 'sasarans/indikator_sasaran_fields', form: indikator_sas %>
        <% end %>
      </div>
      <%= link_to_add_nested(sasaran_form, :indikator_sasarans,
                                '#indikator-sasarans', link_classes: 'btn btn-outline-primary btn-sm', link_text: 'Tambah Indikator',
                                partial: 'sasarans/indikator_sasaran_fields') %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control', required: true, value: @pohon.keterangan, id: "pohon_keterangan_#{form.object_id.to_s}" %>
  </div>
  <div class="actions">
    <%= form.submit 'Simpan' %>
  </div>
<% end %>
