<%= form_with(model: strategi.becomes(Strategi), url: update_strategi_pohon_tematik_path,
              local: false,
              method: :patch,
              data: {
                  controller: 'pohon-tematik',
                  action: 'ajax:success->pohon-tematik#updateSuccess'
              }
) do |form| %>
  <% form.object = strategi.becomes(strategi.class) %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= strategi.errors.count %> kesalahan:</h2>
      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: 'form-label' %>
    <%= form.select :opd_id, selected_opd(@opds, form.object.opd_id),
        { include_blank: true },
        { class: 'form-control text-center',
          data: {
              pohon_tematik_target: 'dropdown',
              placeholder: 'Pilih OPD',
          },
          id: "opd_#{form.object_id}",
          required: true,
          readonly: true
        } %>
  </div>
  <div class="field">
    <%= form.label :strategic, class: 'form-label' %>
    <%= form.text_field :strategi, class: 'form-control', required: true %>
    <%= form.hidden_field :role %>
  </div>
  <div class="field" id="indikator-pohon">
    <%= form.fields_for :indikators do |indikator_form| %>
      <%= render 'indikators/indikator_fields', form: indikator_form %>
    <% end %>
  </div>
  <%= link_to_add_nested(form, :indikators, '#indikator-pohon',
                          link_classes: 'btn btn-outline-primary btn-sm',
                          link_text: 'Tambah Indikator',
                          partial: 'indikators/indikator_fields') %>
  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_area :keterangan, class: 'form-control', required: true, value: @pohon.keterangan, id: "pohon_keterangan_#{form.object_id.to_s}" %>
  </div>
  <div class="actions">
    <%= form.submit 'Simpan' %>
  </div>
<% end %>
