<%= form_with(model: sub_sub_tematik,
              local: false,
              data: {
                  controller: 'pohon-tematik',
                  action: 'ajax:success->pohon-tematik#ajaxSuccess'
              }
) do |form| %>
  <% if sub_sub_tematik.errors.any? %>
    <div id="error_explanation">
      <h2>Terdapat <%= sub_sub_tematik.errors.count %> kesalahan:</h2>
      <ul>
        <% sub_sub_tematik.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.hidden_field :tematik_ref_id %>
    <%= form.hidden_field :pohon_sub, value: pohon_sub %>
  </div>
  <div class="field">
    <%= form.label :sub_sub_tematik, class: 'form-label' %>
    <%= form.text_field :tema, class: 'form-control' %>
  </div>
  <div class="field mt-0" id="indikator-subtematik">
    <%= form.fields_for :indikators do |indikator_subtematik| %>
      <%= render 'tematiks/indikator_sub_tematik_fields', form: indikator_subtematik %>
    <% end %>
  </div>
  <%= link_to_add_nested(form, :indikators, "#indikator-subtematik",
                             link_classes: 'btn btn-primary btn-sm',
                             link_text: 'Tambah Indikator',
                             partial: 'tematiks/indikator_sub_tematik_fields') %>
  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_area :keterangan, class: 'form-control', required: true %>
  </div>
  <div class="actions">
    <%= form.submit 'Simpan' %>
  </div>
<% end %>
