<%= form_with(model: strategi, url: '/pohon_tematik/create_operational_tematik_baru', local: false,
              data: {
                  controller: 'pohon-tematik',
                  action: 'ajax:success->pohon-tematik#ajaxSuccess'
              }
) do |form| %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategi.errors.count, "error") %> prohibited this tematik from being saved:</h2>
      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: 'form-label' %>
    <%= form.text_field :opd, class: 'form-control text-center', value: @opd.nama_opd, readonly: true %>
    <%= form.hidden_field :tahun %>
    <%= form.hidden_field :opd_id %>
  </div>
  <div class="field">
    <%= form.label :operational_tematik, class: 'form-label' %>
    <%= form.text_field :strategi, class: 'form-control', required: true %>
    <%= form.hidden_field :role %>
  </div>
  <div class="field">
    <%= form.fields_for :sasaran do |sasaran_form| %>
      <% if strategi.new_record? %>
        <% random_number = @sasaran&.id_rencana.nil? ? (SecureRandom.random_number(9e5) + 1e5).to_i : @sasaran.id_rencana %>
        <%= sasaran_form.hidden_field :id_rencana, :value => random_number, readonly: true %>
      <% end %>
      <%= sasaran_form.label :sasaran_kinerja, { class: "form-label" } %>
      <%= sasaran_form.text_field :sasaran_kinerja, { class: "form-control" } %>
      <div class="field" id="indikator-sasarans">
        <%= sasaran_form.label :indikator, { class: "form-label" } %>
        <%= sasaran_form.fields_for :indikator_sasarans do |indikator_sas| %>
          <%= render 'sasarans/indikator_sasaran_fields', form: indikator_sas %>
        <% end %>
      </div>
      <%= link_to_add_nested(sasaran_form, :indikator_sasarans,
                                '#indikator-sasarans', link_classes: 'btn btn-outline-primary btn-sm', link_text: 'Tambah Indikator',
                                partial: 'sasarans/indikator_sasaran_fields') %>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control', required: true, id: "pohon_keterangan_#{form.object_id.to_s}" %>
    <%= form.hidden_field :pohon_ref_id, value: @pohon_ref_id %>
  </div>
  <div class="actions">
    <%= form.submit 'Simpan' %>
  </div>
<% end %>
