<%= form_with(model: strategi, url: '/pohon_tematik/create_tactical_tematik_baru', local: false,
              data: {
                  controller: 'pohon-tematik',
                  action: 'ajax:success->pohon-tematik#ajaxSuccess'
              }
) do |form| %>
  <% if strategi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategi.errors.count, "error") %> prohibited this tematik from being saved:</h2>
      <ul>
        <% strategi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :opd, class: 'form-label' %>
    <%= form.text_field :opd, class: 'form-control text-center', value: @opd.nama_opd, readonly: true %>
    <%= form.hidden_field :tahun %>
    <%= form.hidden_field :opd_id %>
  </div>
  <div class="field">
    <%= form.label :tactical, class: 'form-label' %>
    <%= form.text_field :strategi, class: 'form-control', required: true %>
    <%= form.hidden_field :role %>
  </div>
  <div class="field" id="indikator-pohon">
    <%= form.fields_for :indikators do |indikator_form| %>
      <%= render 'indikators/indikator_fields', form: indikator_form %>
    <% end %>
  </div>
  <%= link_to_add_nested(form, :indikators, '#indikator-pohon',
                          link_classes: 'btn btn-outline-primary btn-sm',
                          link_text: 'Tambah Indikator',
                          partial: 'indikators/indikator_fields') %>
  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control', required: true %>
    <%= form.hidden_field :pohon_ref_id, value: @pohon_ref_id %>
  </div>
  <div class="actions">
    <%= form.submit 'Simpan' %>
  </div>
<% end %>
