<div class="pohon">
  <div class="pohon-title <%= pohon.pohonable.blank? ? 'bg-danger text-white' : '' %>">
    <h5 class="text-center"><strong>Sub Sub-Tematik Kota</strong></h5>
  </div>
  <div class="pohon-body">
    <table class="table table-bordered <%= pohon.pohonable.blank? ? 'bg-danger text-white' : '' %>">
      <tr>
        <td class="text-start" width="30px">Sub Sub-Tema</td>
        <td class="text-wrap text-start"><%= pohon.sub_tema %></td>
      </tr>
      <% unless pohon.pohonable.blank? %>
        <% pohon.pohonable.indikators.each.with_index(1) do |indikator, i| %>
          <tr>
            <td class="text-start" width="30px">Indikator
              <% if pohon.pohonable.indikators.size > 1  %>
                <%= i %>
              <% end %>
            </td>
            <td class="text-wrap text-start"><%= indikator %></td>
          </tr>
          <tr>
            <td class="text-start" width="30px">Target / Satuan</td>
            <td class="text-wrap text-start"><%= indikator.target %> <%= indikator.satuan %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td class="text-start" width="30px">Keterangan</td>
        <td class="text-wrap text-start"><%= pohon&.pohonable&.keterangan %></td>
      </tr>
    </table>
  </div>
  <% if super_admin? && !guest? %>
    <%= render partial: 'pohon_tematik/item_reviews', locals: { pohon: pohon } %>
    <div class="pohon-tombol mb-3 action-sub-sub-tematik">
      <div class="row">
        <div class="col">
          <%= link_to edit_sub_sub_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 action: 'ajax:complete->pohon-tematik#pindahPohon:prevent',
             },
             class: 'btn btn-outline-info' do %>
            <i class="fas fa-edit me-2"></i>
            <span>Edit</span>
          <% end %>
        </div>
        <div class="col">
          <%= link_to pohon_tematik_path(pohon),
             method: :delete,
             remote: true,
             class: 'btn btn-outline-danger',
             data: { confirm_swal: "Hapus Sub Sub-Tema #{pohon.sub_tema}?",
                  action: 'ajax:success->pohon-tematik#ajaxDelete'
             } do %>
            <i class="fa fa-trash-alt me-2"></i>
            <span>Hapus</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'pohon_tematik/pohon_foot', pohon: pohon, type: 'sub_sub_tematik' %>
</div>
