<div class="pohon">
  <div class="pohon-title">
    <h5 class="text-center"><strong>Tematik Kota</strong></h5>
  </div>
  <div class="pohon-body">
    <table class="table table-bordered">
      <tr>
        <td class="text-start" width="30px">Tema</td>
        <td class="text-wrap text-start"><%= pohon %></td>
      </tr>
      <% unless pohon.blank? %>
        <% pohon.indikators.each.with_index(1) do |indikator, i| %>
          <tr>
            <td class="text-start" width="30px">Indikator <%= i %></td>
            <td class="text-wrap text-start"><%= indikator %></td>
          </tr>
          <tr>
            <td class="text-start" width="30px">Target / Satuan</td>
            <td class="text-wrap text-start"><%= indikator.target %> <%= indikator.satuan %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td class="text-start" width="30px">Keterangan</td>
        <td class="text-wrap text-start"><%= pohon.keterangan %></td>
      </tr>
    </table>
  </div>
  <div class="pohon-tombol mb-3">
    <div class="row">
      <div class="col">
        <%= link_to edit_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 action: 'ajax:complete->pohon-tematik#pindahPohon:prevent',
             },
             class: 'btn btn-outline-info' do %>
          <i class="fas fa-edit me-2"></i>
          <span>Edit</span>
        <% end %>
      </div>
      <div class="col">
        <%= link_to pohon_tematik_path(pohon),
             method: :delete,
             class: 'btn btn-outline-danger',
             data: { confirm_swal: "Hapus Tema #{pohon.tema}?" } do %>
          <i class="fa fa-trash-alt me-2"></i>
          <span>Hapus</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="pohon-foot">
    <div class="d-grid gap-3">
      <%= link_to new_sub_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 pohon_tematik_id_param: "tematik_#{pohon.object_id}",
                 action: 'ajax:complete->pohon-tematik#addSubTematik:prevent',
             },
             class: 'btn btn-success w-100 text-white' do %>
        <i class="fas fa-plus me-2"></i>
        <span>Sub-Tematik Kota</span>
      <% end %>
      <%= link_to new_strategi_tematik_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 pohon_tematik_id_param: "strategi_tematik_#{pohon.object_id}",
                 action: 'ajax:complete->pohon-tematik#addStrategiTematik:prevent',
             },
             class: 'btn btn-info w-100' do %>
        <i class="fas fa-plus me-2"></i>
        <span>Strategi Tematik</span>
      <% end %>
      <%= link_to new_strategi_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 pohon_tematik_id_param: "strategi_tematik_#{pohon.object_id}",
                 action: 'ajax:complete->pohon-tematik#addStrategiTematik:prevent',
             },
             class: 'btn btn-primary w-100' do %>
        <i class="fas fa-plus me-2"></i>
        <span>Strategi Tematik Baru</span>
      <% end %>
    </div>
  </div>
</div>
