<div class="pohon">
    <div class="pohon-title">
        <h5 class="text-center"><strong>OPD Tematik</strong></h5>
    </div>
    <div class="pohon-body">
        <p class="text-center">Nama OPD: <%= pohon.pohonable.nama_opd %></p>
        <p class="text-center">Keterangan: <%= pohon.keterangan %></p>
    </div>
    <div class="pohon-tombol row mb-3">
        <div class="col">
            <%= link_to pindah_opd_tematik_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 action: 'ajax:complete->pohon-tematik#pindahPohon:prevent',
             },
             class: 'btn btn-outline-primary' do %>
                <i class="fas fa-exchange-alt me-2"></i>
                <span>Pindah</span>
            <% end %>
        </div>
        <div class="col">
            <%= link_to edit_opd_tematik_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 action: 'ajax:complete->pohon-tematik#pindahPohon:prevent',
             },
             class: 'btn btn-outline-info' do %>
                <i class="fas fa-edit me-2"></i>
                <span>Edit</span>
            <% end %>
        </div>
        <div class="col">
            <%= link_to pohon_tematik_path(pohon),
             method: :delete,
             class: 'btn btn-outline-danger',
             data: { confirm_swal: "Hapus OPD Tematik #{pohon.pohonable.nama_opd}?" } do %>
                <i class="fa fa-trash-alt me-2"></i>
                <span>Hapus</span>
            <% end %>
        </div>
    </div>
    <div class="pohon-foot">
        <div class="d-grid gap-3">
            <%= link_to new_strategi_tematik_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 pohon_tematik_id_param: "strategi_tematik_#{pohon.object_id}",
                 action: 'ajax:complete->pohon-tematik#addStrategiTematik:prevent',
             },
             class: 'btn btn-info w-100' do %>
                <i class="fas fa-plus me-2"></i>
                <span>Strategi Tematik</span>
            <% end %>
            <%= link_to new_strategi_pohon_tematik_path(pohon),
             remote: true,
             data: {
                 controller: 'pohon-tematik',
                 pohon_tematik_id_param: "strategi_tematik_#{pohon.object_id}",
                 action: 'ajax:complete->pohon-tematik#addStrategiTematik:prevent',
             },
             class: 'btn btn-primary w-100' do %>
                <i class="fas fa-plus me-2"></i>
                <span>Strategi Tematik Baru</span>
            <% end %>
        </div>
    </div>
</div>
