<div class="pohon-foot">
  <div class="row">
    <% if type == 'tematik' %>
      <div class="col">
        <button type="button" class="btn btn-primary w-100" data-action="pohon-tematik#toggleAll" data-pohon-tematik-show-param="false">Tampilkan Semua</button>
      </div>
    <% end %>
    <% if type != 'tematik' %>
      <div class="col">
        <button type="button" class="btn btn-tertiary w-100" data-action="pohon-tematik#toggleChild" data-pohon-tematik-show-param="false">Tampilkan</button>
      </div>
    <% end %>
    <% if super_admin? %>
      <% if type == 'tematik' %>
        <%= render 'pohon_tematik/pohon_foot_tematik', pohon: pohon %>
      <% elsif type == 'sub_tematik' %>
        <%= render 'pohon_tematik/pohon_foot_sub_tematik', pohon: pohon %>
      <% elsif type == 'sub_sub_tematik' %>
        <%= render 'pohon_tematik/pohon_foot_sub_sub_tematik', pohon: pohon %>
      <% elsif type == 'strategic' %>
        <%= render 'pohon_tematik/pohon_foot_strategic', pohon: pohon %>
      <% elsif type == 'tactical' %>
        <%= render 'pohon_tematik/pohon_foot_tactical', pohon: pohon %>
      <% end %>
    <% end %>
  </div>
</div>
