<li>
  <div class="tf-nc" style="width: 450px;">
    <div class="pohon-title">
      <h5 class="text-center"><strong>Tematik Kota</strong></h5>
    </div>
    <div class="pohon-body">
      <p class="text-center">Tema: <%= pohon.pohonable.tema %></p>
      <p class="text-center">Keterangan: <%= pohon.keterangan %></p>
    </div>
    <div class="pohon-tombol row mb-3">
      <div class="col">
        <button class="btn btn-outline-primary">
          <i class="fas fa-exchange-alt me-2"></i>
          <span>Pindah</span>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-outline-info">
          <i class="fas fa-edit me-2"></i>
          <span>Edit</span>
        </button>
      </div>
      <div class="col">
        <button class="btn btn-outline-danger">
          <i class="fas fa-trash me-2"></i>
          <span>Hapus</span>
        </button>
      </div>
    </div>
    <div class="pohon-foot">
      <div class="d-grid gap-3">
        <%= link_to new_sub_pohon_tematik_path(pohon),
                        remote: true,
                        data: {
                                controller: 'pohon-tematik',
                                pohon_tematik_id_param: "tematik_#{pohon.object_id}",
                                action: 'ajax:complete->pohon-tematik#addSubTematik:prevent',
                              },
                        class: 'btn btn-info w-100' do %>
          <i class="fas fa-plus me-2"></i>
          <span>Sub-Tematik Kota</span>
        <% end %>
      </div>
    </div>
  </div>
  <ul id="<%= "tematik_#{pohon.object_id}" %>">
    <% if local_assigns[:sub_tematiks] %>
      <% sub_tematiks.each do |sub_tema| %>
        <%= render partial: 'pohon_tematik/pohon_sub_tematik', locals: {
          pohon: sub_tema,
          opds: opds.select { |opd| opd.pohon_ref_id == sub_tema.id },
          strategics: strategics,
          tacticals: tacticals,
          operationals: operationals
        } %>
      <% end %>
    <% end %>
  </ul>
</li>
