<div class="card border-0 shadow" id="rekap_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Rekap Tahun <%= @tahun %></h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %></span>
        |
        <span><%= current_user.nik %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_rekap_jumlah">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col" rowspan="2">No.</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Opd</th>
            <th class="border-bottom text-center" scope="col" colspan="5">Jumlah Usulan</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Jumlah Sasaran</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Jumlah Sub Kegiatan</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Jumlah Kegiatan</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Jumlah Program</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Total Anggaran</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Jumlah Eselon 4</th>
            <th class="border-bottom text-center" scope="col" rowspan="2">Jumlah Eselon 3</th>
          </tr>
          <tr>
            <th class="border-bottom text-center" scope="col">Jumlah Musrenbang</th>
            <th class="border-bottom text-center" scope="col">Jumlah Pokir</th>
            <th class="border-bottom text-center" scope="col">Jumlah Mandatori</th>
            <th class="border-bottom text-center" scope="col">Jumlah Inovasi</th>
            <th class="border-bottom text-center" scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @rekaps.each.with_index(1) do |rekap, i| %>
            <tr>
              <td class="text-wrap text-center border-bottom"><%= i %></td>
              <td class="text-wrap border-bottom"><%= rekap[:opd] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:musrenbang] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:pokir] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:mandatori] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:inisiatif_walikota] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:total_usulan] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:sasaran] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:subkegiatan] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:kegiatan] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:program] %></td>
              <td class="text-center border-bottom">Rp. <%= number_with_delimiter(rekap[:anggaran]) %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:eselon4] %></td>
              <td class="text-wrap text-center border-bottom"><%= rekap[:eselon3] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
