<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-3">
        <h2 class="fs-5 fw-bold mb-0">Rekap Jumlah</h2>
      </div>
      <div class="col text-end">
        <span>Tahun xxxx</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_laporan_kak">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom text-center" scope="col">Opd</th>
            <th class="border-bottom text-center" scope="col">Jumlah Musrenbang</th>
            <th class="border-bottom text-center" scope="col">Jumlah Pokir</th>
            <th class="border-bottom text-center" scope="col">Jumlah Mandatori</th>
            <th class="border-bottom text-center" scope="col">Jumlah Inovasi</th>
            <th class="border-bottom text-center" scope="col">Jumlah Program</th>
            <th class="border-bottom text-center" scope="col">Jumlah Kegiatan</th>
            <th class="border-bottom text-center" scope="col">Jumlah Sub Kegiatan</th>
            <th class="border-bottom text-center" scope="col">Jumlah Eselon 4</th>
            <th class="border-bottom text-center" scope="col">Jumlah Eselon 3</th>
            <th class="border-bottom text-center" scope="col">Jumlah Sasaran</th>
            <th class="border-bottom text-center" scope="col">Total Anggaran</th>
          </tr>
        </thead>
        <tbody>
          <% @rekaps.each.with_index(1) do |rekap, i| %>
            <tr>
              <td><%= i %></td>
              <td><%= rekap[:opd] %></td>
              <td><%= rekap[:musrenbang] %></td>
              <td><%= rekap[:pokir] %></td>
              <td><%= rekap[:mandatori] %></td>
              <td><%= rekap[:inisiatif_walikota] %></td>
              <td><%= rekap[:program] %></td>
              <td><%= rekap[:kegiatan] %></td>
              <td><%= rekap[:subkegiatan] %></td>
              <td><%= rekap[:eselon4] %></td>
              <td><%= rekap[:eselon3] %></td>
              <td><%= rekap[:sasaran] %></td>
              <td>Rp. <%= number_with_delimiter(rekap[:anggaran]) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
