<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <h4 class="card-title">
      Gambaran Umum
      <span class="ms-2"><%= sesuai?(sasaran.gambaran_umum?) %></span>
    </h4>
    <% unless diajukan? %>
      <div class="link-tambah">
        <%= link_to 'Tambah Gambaran Umum', new_sasaran_latar_belakang_path(sasaran), remote: true, class: 'btn btn-primary',
          data: {'bs-toggle': 'modal', 'bs-target': '#form-gambaranumum'} %>
      </div>
    <% end %>
  </div>
  <% unless sasaran.latar_belakangs.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered counter">
          <thead>
            <tr>
              <th width="20px">No.</th>
              <th>Gambaran Umum</th>
              <th class="text-center align-middle" width="50px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% sasaran.latar_belakangs.order(:updated_at).each do |latarbelakang| %>
              <tr>
                <td class="align-middle"></td>
                <td class="align-middle text-wrap"><%= latarbelakang.gambaran_umum %></td>
                <% unless diajukan? %>
                  <td class="text-center align-middle" width="50px">
                    <%= render(EditButtonComponent.new(path: edit_sasaran_latar_belakang_path(sasaran, latarbelakang))) %>
                    <%= render(DeleteButtonComponent.new(path: sasaran_latar_belakang_path(sasaran, latarbelakang), title: 'Hapus gambaran umum ?')) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
