<%= form_with(model: @tujuan, url: strategi_arah_kebijakan_path(@tujuan),
    method: :patch,
    local: false,
    data: {
      controller: 'form-ajax',
      form_ajax_target_param: 'kebijakans',
      action: 'ajax:complete->form-ajax#processAjax'
    }
) do |form| %>
  <%= form.label :strategi, class: "form-label" %>
  <% @strategi_opds.each do |strategi| %>
  <div class="row">
    <div class="form-check col">
      <%= hidden_field_tag 'uncheck[]', strategi.id %>
      <%= check_box_tag 'check[]', strategi.id, (strategi.tujuan_id == @tujuan.id), class: 'form-check-input' %>
      <%= label_tag 'check', class: 'form-check-label' do %>
        <span class="fw-bolder"><%= strategi %></span>
      <% end %>
    </div>
      <% if strategi.tujuan %>
    <div class="col-auto">
      <p class="align-middle">Tujuan OPD: </p>
    </div>
    <div class="col-auto">
        <p class="btn btn-sm btn-outline-primary"><%= strategi.tujuan %></p>
    </div>
      <% end%>
  </div>
  <% end %>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
