<tr class="strategi">
  <td class="align-middle" rowspan="<%= strategi.sasarans.dengan_nip.size + 1 %>">Tujuan</td>
  <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
  <td class="align-middle" rowspan="<%= strategi.sasarans.dengan_nip.size + 1 %>">
    <p><%= strategi %></p>
    Pilih Tujuan</td>
  <td class="p-0 m-0" rowspan="<%= strategi.sasarans.dengan_nip.size + 1 %>" style="height: 100%; border-color: transparent;">
    <table class="table table-full" style="height: 100%">
      <tbody>
        <% @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == strategi.id }.each do |tactical| %>
          <tr class="arah-kebijakan">
            <td class="border"><%= tactical %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </td>
</tr>
<% strategi.sasarans.dengan_nip.each do |sasaran| %>
  <tr class="sasaran">
    <td class="border align-middle"><%= sasaran %></td>
  </tr>
<% end %>