<table class="table table-flush">
  <thead>
    <tr>
      <th class="border-bottom text-gray-700" scope="col">No.</th>
      <th class="border-bottom text-gray-700" scope="col">Tujuan</th>
      <th class="border-bottom text-gray-700" scope="col">Sasaran</th>
      <th class="border-bottom text-gray-700" scope="col">Strategi</th>
      <th class="border-bottom text-gray-700" scope="col">Arah Kebijakan</th>
    </tr>
  </thead>
  <tbody>
    <% @strategi_opds.each.with_index(1) do |(tujuan, strategis), nomor| %>
      <tr class="strategi">
        <% rowspan_atas = strategis.map { |str| @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == str.id }.size + 1 }.flatten.sum + 1 %>
        <td class="align-middle" rowspan="<%= rowspan_atas %>"><%= nomor %></td>
        <td class="align-middle border <%= tujuan.nil? ? 'bg-danger text-white' : '' %>" rowspan="<%= rowspan_atas %>"><%= tujuan || 'Tujuan belum dipilih' %></td>
      </tr>
      <% strategis.each do |strategi| %>
        <% rowspan_bawah = @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == strategi.id }.size + 1 %>
        <tr>
          <td class="border-end px-0 py-0" rowspan="<%= rowspan_bawah %>">
            <div class="d-grid gap-0 w-100">
            <% strategi.sasarans.dengan_nip.each do |sasaran| %>
              <div class="p-3 w-100 border"><%= sasaran %></div>
            <% end %>
            </div>
          </td>
          <td class="align-middle" rowspan="<%= rowspan_bawah %>"><%= strategi %></td>
        </tr>
        <% @tactical_opds.select { |tact| tact.pohon_ref_id.to_i == strategi.id }.each do |tactical| %>
          <tr class="arah-kebijakan">
            <td class="border"><%= tactical %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
