<%= content_for :html_title, "Pohon Kinerja OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Strategi Arah Kebijakan OPD</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Strategi Arah Kebijakan #{@opd} - Tahun #{@tahun}" do %>
    <div class="table-responsive">
      <table class="table table-flush">
        <thead>
          <tr>
            <th class="border-bottom text-gray-700" scope="col" colspan="5">Isu Strategis:</th>
          </tr>
          <% @isu_strategis_opds.each.with_index(1) do |isu_strategis, no| %>
            <tr>
              <th class="border-bottom text-gray-700" scope="col"><%= no %></th>
              <th class="border-bottom text-gray-700" scope="col" colspan="4"><%= isu_strategis %></th>
            </tr>
          <% end %>
          <tr>
            <th class="border-bottom text-gray-700 bg-gray-200" scope="col" colspan="5">Tujuan OPD:</th>
          </tr>
          <% @tujuan_opds.each.with_index(1) do |tujuan, nom| %>
            <tr>
              <th class="border-bottom text-gray-700 align-middle" scope="col"><%= nom %></th>
              <th class="border-bottom text-gray-700 align-middle" scope="col" colspan="4">
                <%= tujuan %>
                <%= link_to edit_strategi_arah_kebijakan_path(tujuan),
                      remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal'
                      },
                      class: 'btn btn-sm btn-outline-primary ms-3' do %>
                  <i class="fas fa-edit"></i>
                  Pilih Strategi
                <% end %>
              </th>
            </tr>
          <% end %>
        </thead>
      </table>
    </div>
    <div id="kebijakans" class="table-responsive">
      <%= render 'table_kebijakans' %>
    </div>
  <% end %>
<% end %>
