<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Master Urusan</li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Master Urusan</h2>
          </div>
          <div class="col text-end">
            <%= link_to sync_master_urusan_path,
                                                method: :post,
                                                data: { disable_with: 'Memproses....'},
                                                class:"btn btn-sm btn-primary" do %>
              <i class="fas fa-sync me-2"></i>
              Update Master Urusan
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">No.</th>
              <th class="border-bottom" scope="col">Kode Urusan</th>
              <th class="border-bottom" scope="col">Nama Urusan</th>
              <th class="border-bottom" scope="col">Tahun</th>
            </tr>
          </thead>
          <tbody>
            <% @urusans.each.with_index(1) do |urusan, i| %>
              <tr>
                <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= urusan.kode_urusan %></td>
                <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= urusan.nama_urusan %></td>
                <td class="fw-bolder text-gray-500" style="white-space: initial !important;"><%= urusan.tahun %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
