<%= form_with model: visi, local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(visi),
                form_ajax_type_param: visi.new_record? ? 'prepend' : '',
                action: 'ajax:complete->form-ajax#processAjax'
              } do |form| %>
  <% if visi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visi.errors.count, "error") %> prohibited this visi from being saved:</h2>

      <ul>
        <% visi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :urutan, class: 'form-label' %>
    <%= form.hidden_field :lembaga_id %>
    <%= form.number_field :urutan, class: 'form-control', min: 1, required: true %>
  </div>

  <div class="field">
    <%= form.label :visi, class: 'form-label' %>
    <%= form.text_field :visi, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tahun_awal, class: 'form-label' %>
    <%= form.text_field :tahun_awal, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :tahun_akhir, class: 'form-label' %>
    <%= form.text_field :tahun_akhir, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
