<tr id="<%= dom_id(visi) %>">
  <td class="text-gray-900 text-wrap" width='20px' scope="row"><%= visi.urutan %></td>
  <td class="text-gray-900" scope="row"><%= visi %></td>
  <td class="text-gray-900" scope="row"><%= visi.periode %></td>
  <td class="text-gray-900" scope="row"><%= visi.keterangan %></td>
  <td class="text-gray-900" scope="row">
    <% unless guest? %>
      <div class="d-grid gap-2">
        <%= render(EditButtonComponent.new(path: edit_visi_path(visi))) %>
        <%= render(DeleteButtonComponent.new(path: visi_path(visi),
                                             title: "Hapus Visi '#{visi}'?" )) %>
      </div>
    <% end %>
  </td>
</tr>
