<% unless pohon.exists? %>
  <% if pohon.role == 'eselon_2' || pohon.role == 'eselon_3' || pohon.role == 'eselon_4' || pohon.role == 'sub_sub_pohon_kota' || pohon.role == 'sub_pohon_kota' || pohon.role == 'pohon_kota' %>
    <div class="pohon-body">
      <table class="table table-bordered">
        <tr>
          <td class="text-start" style="width: 23%;">Pagu</td>
          <td class="rankir-2 text-start"><%= number_to_currency(pohon.pagu, locale: :id) %></td>
        </tr>
      </table>
    </div>
    <% if pohon.program_pohon.any? %>
      <div class="pohon-body">
        <% pohon.program_pohon.each do |program| %>
          <table class="table table-bordered">
            <% if pohon.role == 'eselon_2' %>
              <tr data-controller="table-tematik">
                <td class="text-start">Urusan</td>
                <td class="text-wrap text-start" colspan="2">
                  <p>
                    <%= program&.nama_urusan || '-' %>
                    (<%= program&.kode_urusan || '-' %>)
                  </p>
                </td>
              </tr>
            <% elsif pohon.role == 'eselon_4' %>
              <tr data-controller="table-tematik">
                <td class="text-start">Kegiatan</td>
                <td class="text-wrap text-start" colspan="2">
                  <p>
                    <%= program&.nama_kegiatan || '-' %>
                    (<%= program&.kode_giat || '-' %>)
                  </p>
                </td>
                <% indikator_prg = indikator_keg_rekin(@tahun, @opd, program) %>
                <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:indikator) %></td>
                <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:target) %> <%= indikator_prg.dig(:satuan) %></td>
              </tr>
            <% else %>
              <tr data-controller="table-tematik">
                <td class="text-start">Program</td>
                <td class="text-wrap text-start" colspan="2">
                  <p>
                    <%= program&.nama_program || '-' %>
                    (<%= program&.kode_program || '-' %>)
                  </p>
                </td>
                <% indikator_prg = indikator_prg_rekin(@tahun, @opd, program) %>
                <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:indikator) %></td>
                <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:target) %> <%= indikator_prg.dig(:satuan) %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="pohon-body">
    <% if pohon.rencana_kinerjas %>
      <% pohon.rencana_kinerjas.each.with_index(1) do |sasaran, no| %>
        <%= render 'cetaks/kota/cascading/tabel_sasaran_cascading',
                   sasaran: sasaran,
                   role: pohon.role,
                   no: no,
                   size: pohon.rencana_kinerjas.size %>
      <% end %>
    <% end %>
  </div>
<% end %>
