<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">SBU</li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">SBU</h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Data", new_anggaran_sbus_path, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="table-responsive p-4">
        <table class="table table-flush datatable" data-datatable>
          <thead>
            <tr>
              <th>Tahun</th>
              <th>Kode barang</th>
              <th>Uraian barang</th>
              <th>Spesifikasi</th>
              <th>Satuan</th>
              <th>Harga satuan</th>
            </tr>
          </thead>
          <tbody>
            <% @anggaran_sbus.each do |anggaran_sbu| %>
              <tr>
                <td><%= anggaran_sbu.tahun %></td>
                <td><%= anggaran_sbu.kode_barang %></td>
                <td><%= anggaran_sbu.uraian_barang %></td>
                <td><%= anggaran_sbu.spesifikasi %></td>
                <td><%= anggaran_sbu.satuan %></td>
                <td><%=number_with_delimiter(anggaran_sbu.harga_satuan, delimiter: '.') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
