<%= content_for :html_title, "Anggaran SBU" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Anggaran</li>
  <li class="breadcrumb-item active" aria-current="page">SBU</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">SBU</h2>
        </div>
        <div class="col text-end">
          <%= link_to new_anggaran_sbus_path,
              remote: true,
              data: {
                      controller: 'form-modal',
                      action: 'ajax:complete->form-modal#success:prevent',
                      bs_toggle: 'modal',
                      bs_target: '#form-modal'
                    },
              class: "btn btn-sm btn-info" do %>
            <i class="fas fa-plus me-2"></i>
            <span>Tambah Data</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="table-responsive p-4">
      <table class="table table-flush datatable" data-datatable>
        <thead>
          <tr>
            <th>Tahun</th>
            <th>Kode barang</th>
            <th>Uraian barang</th>
            <th>Spesifikasi</th>
            <th>Satuan</th>
            <th>Harga satuan</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @anggaran_sbus.each do |anggaran_sbu| %>
            <tr>
              <td><%= anggaran_sbu.tahun %></td>
              <td><%= anggaran_sbu.kode_barang %></td>
              <td><%= anggaran_sbu.uraian_barang %></td>
              <td><%= anggaran_sbu.spesifikasi %></td>
              <td><%= anggaran_sbu.satuan %></td>
              <td><%=number_with_delimiter(anggaran_sbu.harga_satuan, delimiter: '.') %></td>
              <td class="fw-bolder text-gray-500 text-center align-middle">
                <div class="d-grid gap-2">
                  <%= link_to edit_anggaran_sbus_path(anggaran_sbu),
                                remote: true,
                                data: {
                                  controller: 'form-modal',
                                  action: 'ajax:complete->form-modal#success:prevent',
                                  bs_toggle: 'modal',
                                  bs_target: '#form-modal'
                                },
                                class: "btn btn-sm btn-info"  do %>
                    <i class="fas fa-edit" data-bs-toggle="tooltip"></i>
                    Edit
                  <% end %>
                  <%= link_to anggaran_sbu,
                      method: :delete,
                      class: 'btn btn-sm btn-outline-danger',
                      data: { confirm_swal: "Hapus anggaran?" } do %>
                    <i class="fa fa-trash-alt me-2"></i>
                    <span>Hapus</span>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>