<p id="notice"><%= notice %></p>

<p>
  <strong>Kode kelompok barang:</strong>
  <%= @anggaran_sbus.kode_kelompok_barang %>
</p>

<p>
  <strong>Uraian kelompok barang:</strong>
  <%= @anggaran_sbus.uraian_kelompok_barang %>
</p>

<p>
  <strong>Kode barang:</strong>
  <%= @anggaran_sbus.kode_barang %>
</p>

<p>
  <strong>Uraian barang:</strong>
  <%= @anggaran_sbus.uraian_barang %>
</p>

<p>
  <strong>Spesifikasi:</strong>
  <%= @anggaran_sbus.spesifikasi %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @anggaran_sbus.satuan %>
</p>

<p>
  <strong>Harga satuan:</strong>
  <%= @anggaran_sbus.harga_satuan %>
</p>

<%= link_to 'Edit', edit_anggaran_sbus_path(@anggaran_sbus) %> |
<%= link_to 'Back', anggaran_sbus_path %>
