<p id="notice"><%= notice %></p>

<p>
  <strong>Kode kelompok barang:</strong>
  <%= @anggaran_hspk.kode_kelompok_barang %>
</p>

<p>
  <strong>Uraian kelompok barang:</strong>
  <%= @anggaran_hspk.uraian_kelompok_barang %>
</p>

<p>
  <strong>Kode barang:</strong>
  <%= @anggaran_hspk.kode_barang %>
</p>

<p>
  <strong>Uraian barang:</strong>
  <%= @anggaran_hspk.uraian_barang %>
</p>

<p>
  <strong>Spesifikasi:</strong>
  <%= @anggaran_hspk.spesifikasi %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @anggaran_hspk.satuan %>
</p>

<p>
  <strong>Harga satuan:</strong>
  <%= @anggaran_hspk.harga_satuan %>
</p>

<%= link_to 'Edit', edit_anggaran_hspk_path(@anggaran_hspk) %> |
<%= link_to 'Back', anggaran_hspks_path %>
