<%= form_with(model: kebutuhan, local: false,
             data: { controller: 'form-ajax',
                    action: 'ajax:complete->form-ajax#afterSubmitRefresh'}) do |form| %>
  <% if kebutuhan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kebutuhan.errors.count, "error") %> prohibited this kebutuhan from being saved:</h2>

      <ul>
        <% kebutuhan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kebutuhan, class: 'form-label' %>
    <%= form.text_field :kebutuhan, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.text_field :tahun, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
