<table>
  <thead>
    <tr>
      <th>Sasaran kinerja</th>
      <th>Indikator kinerja</th>
      <th>Target</th>
      <th>Satuan</th>
      <th>Penerima manfaat</th>
      <th>Anggaran</th>
      <th colspan="3">actions</th>
    </tr>
  </thead>

  <tbody>
    <% user.sasarans.each do |sasaran| %>
      <tr>
        <td><%= sasaran.sasaran_kinerja %></td>
        <td><%= sasaran.indikator_kinerja %></td>
        <td><%= sasaran.target %></td>
        <td><%= sasaran.satuan %></td>
        <td><%= sasaran.penerima_manfaat %></td>
        <td><%= number_with_delimiter(sasaran.pagus.sum(:uang) , :delimiter => ',') %></td>
        <td><%= link_to 'Show', sasaran_path(sasaran) %></td>
      </tr>
    <% end %>
  </tbody>
</table>