<%= form_with(url: update_nip_sasaran_path(@sasaran), local: false) do |form| %>
  <div class="field">
    <strong>Sasran Kinerja: <%= @sasaran %></p>
  </div>
  <div class="field">
    <%= form.label :nip_lama, class: "form-label" %>
    <%= form.text_field :nip_lama, class: "form-control", value: @nip, readonly: true %>
  </div>
  <div class="field">
    <%= form.label :nip_baru, class: "form-label" %>
    <%= form.select :nip_baru, [],{include_blank: true},
     { required: true,
       data: { "placeholder": "Pilih ASN",
         controller: 'dropdown',
         dropdown_jenis_value: 'ajax',
         dropdown_parent_value: '#form-modal',
         dropdown_url_value: user_opd_users_path(format: :json)
       } }  %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
