<%= form_with(model: [@user, sasaran], local: true) do |form| %>
  <% if sasaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sasaran.errors.count, "error") %> prohibited this sasaran from being saved:</h2>
      <ul>
        <% sasaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :sasaran_kinerja, { class: "form-label" } %>
    <%= form.text_field :sasaran_kinerja, { class: "form-control" } %>
  </div>
  <h4><strong>Indikator Sasaran : </strong></h4>
  <div class="field">
    <%= form.fields_for :indikator_sasarans_attributes, IndikatorSasaran.new do |f| %>
      <%= render 'indikator_sasaran_fields', f: f %>
    <% end %>
  </div>
  <div class="field mt-3">
    <%= form.label :tahun, { class: "form-label" } %>
    <%= form.select(:tahun, (['',2021,2022,2023,2024]), {}, {:class => 'select2-waw',data: {"placeholder": "Pilih Tahun",}}) %>
  </div>
  <div class="actions my-4">
    <%= form.submit "Simpan", :class => "btn btn-tertiary" %>
  </div>
<% end %>
