<%= form_with(model: [@user, sasaran], local: true) do |form| %>
  <% if sasaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sasaran.errors.count, "error") %> prohibited this sasaran from being saved:</h2>
      <ul>
        <% sasaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% random_number = sasaran.id_rencana.nil? ? (SecureRandom.random_number(9e5) + 1e5).to_i : sasaran.id_rencana %>
  <%= form.hidden_field :id_rencana, :value => random_number, readonly: true %>
  <div class="field">
    <%= form.label :sasaran_kinerja, { class: "form-label" } %>
    <%= form.text_field :sasaran_kinerja, { class: "form-control" } %>
  </div>
  <h4><strong>Indikator Sasaran : </strong></h4>
  <div class="field">
    <%= form.fields_for :indikator_sasarans do |f| %>
      <%= render 'indikator_sasaran_fields', f: f %>
    <% end %>
    <div class="action mt-3">
      <%= add_koefisiens "Tambah Indikator", form, :indikator_sasarans, sasaran.id %>
    </div>
  </div>
  <div class="field mt-3">
    <%= form.label :tahun, { class: "form-label" } %>
    <%= form.select(:tahun, (['',2021,2022,2023,2024]), {}, {:class => 'select2-waw',data: {"placeholder": "Pilih Tahun",}}) %>
  </div>
  <div class="actions my-4">
    <%= form.submit "Simpan", :class => "btn btn-tertiary" %>
  </div>
<% end %>
<script>
  $(function() {
    $('form').on('click', '.remove-field', function(event) {
      $(this).prev('input[type=hidden]').val('1')
      $(this).closest('fieldset').remove()
      return event.preventDefault();
    });

    $('form').on('click', '.add_fields_<%= sasaran.id %>', function(event) {
      let regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g')
      $(this).before($(this).data('fields').replace(regexp, time))
      return event.preventDefault()
    });

  });
</script>
