<%= form.fields_for :sasarans do |sasaran_form| %>
  <%# <% random_number = sasaran.id_rencana.nil? ? (SecureRandom.random_number(9e5) + 1e5).to_i : sasaran.id_rencana %1> %>
  <%# <%= form.hidden_field :id_rencana, :value => random_number, readonly: true %1> %>
  <%# <%= form.hidden_field :sasaran_milik, :value => @tipe, readonly: true %1> %>
  <div class="field">
    <%= sasaran_form.label :sasaran_kinerja, { class: "form-label" } %>
    <%= sasaran_form.text_field :sasaran_kinerja, { class: "form-control" } %>
  </div>
  <%# <%= render 'sasarans/form_indikator_sasarans', form: form %1> %>
<% end %>
