<div class="card border-2 shadow mb-3" id="<%= dom_id(sasaran, 'hasil-inovasi') %>">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">
            Inovasi Rencana Kinerja
            <span class="ms-2"><%= sesuai?(sasaran.output_inovasi_terisi?) %></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <% unless diajukan? || sasaran.output_inovasi_terisi? %>
    <div class="card-body" id="inovasi-sasaran">
      <%= form_with(model: sasaran, url: inovasi_sasaran_path,
                    local: false,
                    id: 'form-inovasi',
                    data: {
                      controller: 'form-ajax',
                      form_ajax_target_param: dom_id(sasaran, 'hasil-inovasi'),
                      form_ajax_type_param: 'total_replace',
                      form_ajax_with_modal_value: 'false',
                      action: 'ajax:complete->form-ajax#processAjax'
                    }
      ) do |f| %>
        <div class="field">
          <%= f.label :hasil_inovasi, class: "form-label" %>
          <%= f.select(:hasil_inovasi,
                       ['Bukan Inovasi', 'Inovasi'],
                       {selected: f.object.hasil_inovasi_sasaran},
                       {
                         id: 'pilihan-inovasi',
                         data: {
                           controller: 'dropdown',
                           dropdown_parent_value: '#inovasi-sasaran',
                           dropdown_jenis_value: 'chain',
                           dropdown_event_name_value: 'toggle-inovasi-fields',
                         } } )%>
        </div>
        <div class="field d-none" id="nama_inovasi" data-controller="field" data-action="toggle-inovasi-fields@document->field#toggle_visible">
          <%= f.label :inovasi_sasaran,'Judul Inovasi', class: "form-label" %>
          <%= f.text_area :inovasi_sasaran, {class: "form-control", placeholder: 'tuliskan inovasi...', value: f.object.inovasi_sasaran} %>
        </div>
        <div class="field d-none" id="jenis_inovasi" data-controller="field" data-action="toggle-inovasi-fields@document->field#toggle_visible">
          <%= f.label :jenis_inovasi,'Jenis inovasi', class: "form-label" %>
          <%= f.select(:jenis_inovasi,
                       jenis_inovasi,
                       {selected: f.object.jenis_inovasi_sasaran},
                       {
                         id: 'jenis-inovasi',
                         data: {
                           controller: 'dropdown',
                           dropdown_parent_value: '#inovasi-sasaran',
                         } } )%>
        </div>
        <div class="field d-none" id="gambaran_nilai_kebaruan" data-controller="field" data-action="toggle-inovasi-fields@document->field#toggle_visible">
          <%= f.label :gambaran_nilai_kebaruan, class: "form-label" %>
          <%= f.text_area :gambaran_nilai_kebaruan, {class: "form-control", placeholder: 'gambaran tentang nilai kebaruan dalam inovasi',
                                                     value: f.object.gambaran_nilai_kebaruan} %>
        </div>
        <div class="actions">
          <%= f.submit "Simpan Hasil Inovasi Rencana Kinerja",
              name: 'simpan',
              class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="card-body">
    <div class="table-responsive" id="sasaran-inovasi">
      <% if sasaran.output_inovasi_terisi? %>
        <%= render 'sasarans/hasil_inovasi', sasaran: sasaran %>
      <% end %>
    </div>
  </div>
</div>
