<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="fs-5 fw-bold mb-0">Sasaran Kinerja <%= @nama_opd %></h2>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table align-items-center">
    <thead class="thead-light">
      <tr>
        <th class="border-bottom" scope="col">No.</th>
        <th class="border-bottom" scope="col">Pemilik</th>
        <th class="border-bottom" scope="col">NIP Sekarang</th>
        <th class="border-bottom" scope="col">NIP Lama</th>
        <th class="border-bottom text-center" scope="col">Strategi</th>
        <th class="border-bottom text-center" scope="col">Sasaran Kinerja</th>
        <th class="border-bottom text-center" scope="col">Tahun</th>
        <th class="border-bottom text-center" scope="col">Indikator Kinerja</th>
        <th class="border-bottom text-center" scope="col">Target</th>
        <th class="border-bottom text-center" scope="col">Satuan</th>
        <th class="border-bottom text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @sasarans.each.with_index(1) do |sasaran, i| %>
        <tr>
          <td class="text-gray-900 fw-bolder" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= i %></td>
          <td class="text-gray-900 text-wrap" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.pemilik %></td>
          <td class="text-gray-900 text-wrap" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.nip_asn %></td>
          <td class="text-gray-900 text-wrap" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.nip_asn_sebelumnya %></td>
          <td class="text-gray-900 text-wrap" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.strategi.strategi %></td>
          <td class="text-gray-900 text-wrap" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.sasaran_kinerja %></td>
          <td class="text-gray-900 text-wrap" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.tahun %></td>
          <td class="p-0 m-0 border-start border-end" style="height: 0px !important; border-color: transparent;"></td>
          <td class="p-0 m-0 border-start border-end" style="height: 0px !important; border-color: transparent;"></td>
          <td class="p-0 m-0 border-start border-end" style="height: 0px !important; border-color: transparent;"></td>
          <td class="fw-bolder text-gray-500 text-center" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>" id="<%= dom_id(sasaran) %>">
            <div class="d-grid gap-3">
              <%= link_to edit_nip_sasaran_path(sasaran),remote: true,
               data: {
                 bs_toggle: 'modal',
                 bs_target: '#form-sasaran-nip',
                 controller: 'form-modal',
                 action: 'form-modal#appendForm',
                 form_modal_location_param: 'form-sasaran-nip-body',
               },
               class: "btn btn-sm btn-outline-info" do %>
                Ganti Pemilik
              <% end %>
            </div>
          </td>
          <% sasaran.indikator_sasarans.each do |indikator| %>
            <tr>
              <td class="fw-bolder border-start border-end text-wrap"><%= indikator.indikator_kinerja %></td>
              <td class="fw-bolder border-start border-end text-wrap"><%= indikator.target %></td>
              <td class="fw-bolder border-start border-end text-wrap"><%= indikator.satuan %></td>
            </tr>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
