<div class="card-header">
  <div class="row align-items-center">
    <div class="col">
      <% opd = Opd.find_by(kode_unik_opd: @kode_opd) %>
      <h2 class="fs-5 fw-bold mb-0">Sasaran Kinerja <%= @nama_opd %></h2>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table align-items-center">
    <thead class="thead-light">
      <tr>
        <th class="border-bottom" scope="col">No.</th>
        <th class="border-bottom" scope="col">ASN Eselon 4</th>
        <th class="border-bottom text-center" scope="col">Sasaran Kinerja</th>
        <th class="border-bottom text-center" scope="col">Indikator Kinerja</th>
        <th class="border-bottom text-center" scope="col">Target</th>
        <th class="border-bottom text-center" scope="col">Satuan</th>
        <th class="border-bottom text-center" scope="col">Status</th>
        <th class="border-bottom text-center" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% sasarans.each.with_index(1) do |sasaran, i| %>
        <tr>
          <td class="text-gray-900 fw-bolder" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= i %></td>
          <td class="text-gray-900 text-wrap" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.user.nama %></td>
          <td class="text-gray-900 text-wrap" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.sasaran_kinerja %></td>
          <td class="p-0 m-0 border-start border-end"></td>
          <td class="p-0 m-0 border-start border-end"></td>
          <td class="p-0 m-0 border-start border-end"></td>
          <td class="text-gray-900 border-end" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.status %></td>
          <td class="fw-bolder text-gray-500 text-center" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>" id="<%= dom_id(sasaran) %>">
            <% if current_user.has_role? :super_admin %>
              <% if sasaran.status == 'draft' %>
                <%= link_to setujui_semua_sasaran_path(sasaran_diajukans: [sasarans.pluck(:id)], dom: dom_id(sasaran), rowspan: sasaran.indikator_sasarans.count + 1),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-primary" do %>
                  <i class="fas fa-lock me-2"></i>
                  Kunci
                <% end %>
              <% elsif sasaran.status == 'pengajuan' %>
                <%= link_to revisi_semua_sasaran_path(sasaran_diajukans: [sasarans.pluck(:id)], dom: dom_id(sasaran), rowspan: sasaran.indikator_sasarans.count + 1),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-info" do %>
                  <i class="fas fa-lock-open me-2"></i>
                  Buka Kuncian
                <% end %>
              <% end %>
              <%= link_to user_sasaran_path(current_user, sasaran), class: "m-3" do %>
                <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
              <% end %>
              <%= link_to edit_user_sasaran_path(current_user, sasaran), class: "m-3" do %>
                <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
              <% end %>
              <%= link_to user_sasaran_path(current_user, sasaran), method: :delete, data: { confirm_swal: "Hapus #{sasaran.sasaran_kinerja} ?"}, class: "m-3" do %>
                <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
              <% end %>
            <% end %>
          </td>
          <% sasaran.indikator_sasarans.each do |indikator| %>
            <tr>
              <td class="fw-bolder border-start border-end" style="white-space: initial !important;"><%= indikator.indikator_kinerja %></td>
              <td class="fw-bolder border-start border-end" style="white-space: initial !important;"><%= indikator.target %></td>
              <td class="fw-bolder border-start border-end" style="white-space: initial !important;"><%= indikator.satuan %></td>
            </tr>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
