<div class="card border-2 shadow mb-3" id="<%= dom_id(sasaran, 'hasil-output') %>">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">
            Hasil Output Sasaran
            <span class="ms-2"><%= sesuai?(sasaran.output_terisi?) %></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <% unless diajukan? || sasaran.output_terisi? %>
    <div class="card-body" id="raperda-sasaran">
      <%= form_with(model: sasaran, url: hasil_output_sasaran_path,
                    local: false,
                    id: 'form-raperda',
                    data: {
                      controller: 'form-ajax',
                      form_ajax_target_param: dom_id(sasaran, 'hasil-output'),
                      form_ajax_type_param: 'total_replace',
                      form_ajax_with_modal_value: 'false',
                      action: 'ajax:complete->form-ajax#processAjax'
                    }
      ) do |f| %>
        <div class="field">
          <%= f.label :hasil_output, class: "form-label" %>
          <%= f.select(:hasil_output,
                       Sasaran::HASIL_OUTPUT,
                       {selected: f.object.output_sasaran},
                       {
                         id: 'pilihan-raperda',
                         data: {
                           controller: 'dropdown',
                           dropdown_parent_value: '#raperda-sasaran',
                           dropdown_jenis_value: 'chain',
                           dropdown_event_name_value: 'toggle-raperda-fields',
                         } } )%>
        </div>
        <div class="field d-none" id="nama_raperda" data-controller="field" data-action="toggle-raperda-fields@document->field#toggle_visible">
          <%= f.label :nama_output,'Nama output', class: "form-label" %>
          <%= f.text_area :nama_output, {class: "form-control",  placeholder: 'tuliskan nama perda / perwal / SK', value: f.object.nama_output_sasaran} %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="card-body">
    <div class="table-responsive" id="sasaran-raperda">
      <% if sasaran.output_terisi? %>
        <%= render 'sasarans/hasil_output', sasaran: sasaran %>
      <% end %>
    </div>
  </div>
</div>
