<div class="card border-2 shadow mb-3" id="musrenbang-card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Usulan Musrenbang</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Pilih Musrenbang</p>
    <%= form_with(url: '/update_sasaran_asn', local: false) do |form| %>
      <div class="field">
        <%= form.hidden_field :sasaran_id, value: sasaran.id   %>
        <%= form.hidden_field :usulan_type  %>
        <%= form.select :usulan_id, [], {include_blank: true}, {id: "select2-musrenbang", "data-placeholder": "Pilih Usulan"} %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="musrenbang-table">
        <thead>
          <tr>
            <th>No</th>
            <th>Usulan</th>
            <th>Alamat</th>
            <th>Permasalahan</th>
            <th>Jenis Usulan</th>
            <th>Status</th>
            <th class="text-center align-middle">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% sasaran.my_usulan.filter { |g| g.instance_of?(Musrenbang) }.each.with_index(1) do |sas, i| %>
            <tr>
              <td class="text-wrap align-middle"><%= i %></td>
              <td class="text-wrap align-middle"><%= sas.usulan %></td>
              <td class="text-wrap align-middle"><%= sas.try(:alamat) || sas.try(:peraturan_terkait) %></td>
              <td class="text-wrap align-middle"><%= sas.uraian %></td>
              <td class="text-wrap align-middle"><%= sas.class.name %></td>
              <td class="text-wrap align-middle"><%= sas.status %></td>
              <td class="text-center align-middle"><%= button_to 'Hapus', hapus_usulan_dari_sasaran_path, params: { usulan_id: sas.id, usulan_type: sas.class.name } ,remote: true, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
