<div class="card border-2 shadow mb-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col p-3 border border-danger">
        <h5>Harap Input Kekurangan Sasaran</h5>
        <ol>
          <li>Manual IK</li>
          <li>Rencana Aksi</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="card border-2 shadow mb-3">
  <% if sasaran.tahun.blank? %>
    <div class="card-body">
      <%= render 'form_tahun_sasaran', sasaran: sasaran %>
    </div>
  <% elsif !sasaran.indikator_sasarans.all? { |ss| ss.manual_ik } %>
    <div class="card-body">
      <ul>
        <li>Sasaran Kinerja : <%= sasaran.sasaran_kinerja %></li>
        <% sasaran.indikator_sasarans.each do |indikator| %>
          <li>Indikator Kinerja : <%= indikator.indikator_kinerja %></li>
          <li>Target Indikator Kinerja: <%= indikator.target %> <%= indikator.satuan %></li>
          <li>Manual IK:
            <% if indikator.manual_ik.present? %>
              <%= link_to edit_indikator_sasaran_manual_ik_path(indikator, indikator.manual_ik),
               class: "m-3 btn btn-sm btn-outline-info" do %>
                <i class="fa fa-edit me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                <span>Edit Manual IK</span>
              <% end %>
            <% else %>
              <%= link_to new_indikator_sasaran_manual_ik_path(indikator),
               class: "m-3 btn btn-sm btn-outline-danger" do %>
                <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                <span>Buat Manual IK</span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <ul>
      <li>Sasaran Kinerja : <%= sasaran.sasaran_kinerja %></li>
      <% sasaran.indikator_sasarans.each do |indikator| %>
        <li>Indikator Kinerja : <%= indikator.indikator_kinerja %></li>
        <li>Target Indikator Kinerja: <%= indikator.target %> <%= indikator.satuan %></li>
        <li>Manual IK:
          <span class="badge bg-success p-2">Sudah Terisi</span>
          <% if indikator.manual_ik.present? %>
            <%= link_to edit_indikator_sasaran_manual_ik_path(indikator, indikator.manual_ik),
               class: "m-3 btn btn-sm btn-outline-info" do %>
              <i class="fa fa-edit me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
              <span>Edit Manual IK</span>
            <% end %>
          <% else %>
            <%= link_to new_indikator_sasaran_manual_ik_path(indikator),
               class: "m-3 btn btn-sm btn-outline-danger" do %>
              <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
              <span>Buat Manual IK</span>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= button_to 'Clone Renaksi', clone_tahapan_sebelum_sasaran_path(sasaran),
           data: { disable_with: 'Sedang Cloning...' },
           class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
    <hr />
    <div class="card-body">
      <span class="badge bg-danger p-2">Belum Terisi</span>
      <div id="<%= dom_id(sasaran) %>">
        <p>Rencana Kinerja <b><%= sasaran.sasaran_kinerja %></b> Belum Terdapat Rencana Aksi</p>
        <% if current_user.eselon_user == 'eselon_2' %>
          <%= link_to 'Otomatis', otomatis_sasaran_tahapan_path(sasaran), method: :post, remote: true, class: 'btn btn-danger mb-4' %>
        <% elsif current_user.eselon_user == 'eselon_3' %>
          <%= link_to 'Otomatis', otomatis_sasaran_tahapan_path(sasaran), method: :post, remote: true, class: 'btn btn-danger mb-4' %>
          <%= link_to 'Manual', new_sasaran_tahapan_path(sasaran), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'}, class: 'btn btn-danger mb-4' %>
        <% else %>
          <%= link_to 'Manual', new_sasaran_tahapan_path(sasaran), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'}, class: 'btn btn-danger mb-4' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to sasarans_path, class: 'btn btn-info w-100 text-white' do %>
  <span class="fas fa-arrow-left"></span>
  <span>Kembali</span>
<% end %>
