<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <h4 class="card-title">
      <span class="fs-5 fw-bold mb-0">Rencana Kinerja</span>
      <span class="ms-2"><%= sasaran_check(sasaran.sasaran_sesuai?) %></span>
    </h4>
    <div class="row">
      <div class="col">
        <%= link_to 'Edit Sasaran', edit_sasaran_path(sasaran), class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="<%= dom_id(sasaran) %>">
      <% jenis_strategi = jenis_strategi_sasaran(sasaran.role_strategi_sasaran) %>
      <% if complete %>
        <ul class="list mb-0 d-grid gap-3 pl-1" style="padding-left: 5px;">
          <%= render 'detail_rekin', sasaran: sasaran %>
        </ul>
      <% else %>
        <ul class="list mb-0 d-grid gap-3" style="padding-left: 5px;">
          <%= render 'detail_rekin', sasaran: sasaran %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
