<tr class="<%= tahapan.rtp_mr? && 'tahapan-rtp' %>">
  <td class="fw-bolder text-gray-500 text-center border-end">
    <div class="radio-selector">
      <%= radio_button_tag 'is_rtp', tahapan, tahapan.rtp_mr?, class: 'form-check-input' %>
    </div>
  </td>
  <td class="text-gray-900 fw-bolder border-start border-end" scope="row"><%= tahapan.urutan %></td>
  <td class="text-gray-900 border text-wrap"><%= tahapan.tahapan_kerja %> <span class='fw-bolder'><%= tahapan.tagging == "RTP-MR" ? "- [#{tahapan.tagging}]" : '' %></span></td>
  <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.jumlah_target or '-'  %></td>
  <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.keterangan  %></td>
</tr>
