<div class="table-responsive">
  <table class="table align-items-center border-start border-end" id="tabel_laporan_kak">
    <thead class="thead-light">
      <tr>
        <th class="border-bottom" rowspan="2" scope="col">No.</th>
        <th class="border-bottom text-center" rowspan="2" scope="col">Pemilik Rencana</th>
        <th class="border-bottom text-center" rowspan="2" scope="col">Status</th>
        <th class="border-bottom text-center border-start border-end" rowspan="2" scope="col">Sub Kegiatan</th>
        <th class="border-bottom text-center border-start border-end" scope="col" colspan="5">Informasi KaK</th>
      </tr>
      <tr>
        <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
        <th class="border-bottom text-center border-start border-end">Tahun</th>
        <th class="border-bottom text-center border-start border-end">Pagu Anggaran</th>
        <th class="border-bottom text-center border-start border-end">Status</th>
        <th class="border-bottom text-center border-start border-end">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% users.each.with_index(1) do |user, i| %>
        <% jumlah_sasaran = user.sasarans.count %>
        <% jumlah_program = user.sasaran_program.count %>
        <% row_atas = jumlah_sasaran + jumlah_program %>
        <% row_atas = row_atas.zero? ? 1 : row_atas %>
        <tr class="border-bottom">
          <td class="text-gray-900 fw-bolder border-end border-bottom text-center" style="vertical-align: top !important;" rowspan="<%= row_atas %>" scope="rowgroup"><%= i %></td>
          <td class="text-wrap border-end border-bottom" style="vertical-align: top !important;" rowspan="<%= row_atas %>" scope="rowgroup"><%= user.nama %></td>
          <td class="border-start border-end text-center" style="vertical-align: top !important;" rowspan="<%= row_atas %>" scope="rowgroup">
            <%= render 'shared/user_sasaran_status_table', user: user %>
          </td>
          <% if user.sasaran_program.any? %>
            <% user.sasaran_program.each do |program_kegiatan, sasarans| %>
              <% row_dalam = sasarans.count + 1 %>
              <td class="text-wrap" style="vertical-align: top !important;" rowspan="<%= row_dalam %>"><%= program_kegiatan&.nama_subkegiatan || '-' %></td>
              <% sasarans.each do |show_sasaran| %>
                <tr class="<%= warna_sasaran(show_sasaran.status_sasaran) %>">
                  <td class="text-wrap border-start border-end" width="450px">
                    <%= show_sasaran.sasaran_kinerja %>
                  </td>
                  <td class="text-wrap border-start border-end" width="50px">
                    <%= show_sasaran.tahun %>
                  </td>
                  <td class="border-start border-end border-bottom text-center">
                    Rp. <%= number_with_delimiter(show_sasaran.total_anggaran_dengan_komentar) or 0 %>
                  </td>
                  <td class="border-start border-end border-bottom text-center">
                    <% show_sasaran.petunjuk_status.select { |s, v| v == false }.each do |key, value| %>
                      - <%= key.to_s.humanize %>
                      <br>
                    <% end %>
                    <hr>
                    <% if show_sasaran.status == 'disetujui' %>
                      Terkunci
                    <% else %>
                      Terbuka
                    <% end %>
                    <%= button_to 'Sync Total Renaksi', renaksi_update_path,
                        remote: true, method: :post, class: 'btn btn-sm btn-primary',
                        params: {id: show_sasaran.id},
                        data: { disable_with: 'Memproses....'}
                        %>
                  </td>
                  <td class="fw-bolder text-gray-500 text-center border-start border-end" id="<%= dom_id(show_sasaran) %>">
                    <%= link_to clone_sasaran_path(id: show_sasaran.id, dom: dom_id(show_sasaran), rowspan: 1),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-secondary" do %>
                      <i class="fas fa-clone me-2"></i>
                      Cloning
                    <% end %>
                    <% if show_sasaran.status == 'draft' %>
                      <%= link_to setujui_sasaran_path(id: show_sasaran.id, dom: dom_id(show_sasaran), rowspan: 1),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-primary" do %>
                        <i class="fas fa-lock me-2"></i>
                        Kunci
                      <% end %>
                    <% else %>
                      <%= link_to revisi_sasaran_path(id: show_sasaran.id, dom: dom_id(show_sasaran), rowspan: 1),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-info" do %>
                        <i class="fas fa-lock-open me-2"></i>
                        Buka Kuncian
                      <% end %>
                    <% end %>
                    <%= link_to detail_sasaran_path(show_sasaran),
                      target: "_blank", rel: "nofollow",
                      class:"btn btn-sm btn-info" do %>
                      <i class="fas fa-book-open me-2"></i>
                      Lihat Detail
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <td class="text-wrap">Kosong</td>
            <td class="text-wrap border-start border-end" width="450px">Kosong</td>
            <td class="border-start border-end border-bottom text-center">Kosong</td>
            <td class="border-start border-end border-bottom text-center">Kosong</td>
            <td class="fw-bolder text-gray-500 text-center border-start border-end">Kosong</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
