<tr id="<%= dom_id(sasaran) %>">
  <td class="text-gray-900 text-wrap border" rowspan="<%= rowspan_sasaran(sasaran) %>" width='20px'></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.tahun %></td>
  <% if sasaran.indikator_sasarans.any? %>
    <%= indikator_sasaran(sasaran) %>
  <% else %>
    <td class="border" colspan="3">
      <h2 class="banner bg-danger">INDIKATOR BELUM TERISI</h2>
    </td>
  <% end %>
  <td class="border text-wrap jenis-layanan" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.jenis_layanan %></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.inovasi_sasaran %></td>
  <td class="border text-wrap jenis-inovasi" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.jenis_inovasi_sasaran %></td>
  <td class="border text-wrap gambaran-kebaruan-td" rowspan="<%= rowspan_sasaran(sasaran) %>" width="500px"><%= sasaran.gambaran_nilai_kebaruan_sasaran %></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.nama_pemilik %></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>">
    <div class="d-grid gap-3">
      <%= link_to laporan_inovasi_sasaran_path(sasaran),
                  target: "_blank",
                  class: "btn btn-sm btn-info text-white" do %>
        <i class="fas fa-chart-line me-2"></i>
        <span>Laporan Inovasi</span>
      <% end %>
      <%= link_to show_pokin_user_sasaran_path(sasaran), target: "_blank", rel: "nofollow",
                  class: "btn btn-sm btn-primary" do %>
        <i class="fas fa-tree"></i>
        <span>Pohon Kinerja</span>
      <% end %>
      <%= link_to show_kak_user_sasaran_path(sasaran), target: "_blank", rel: "nofollow",
                  class: "btn btn-sm btn-info" do %>
        <i class="fas fa-book-open"></i>
        <span>KAK</span>
      <% end %>
      <%= link_to rincian_belanja_path(sasaran),
                  target: "_blank",
                  class: "btn btn-sm btn-primary text-white" do %>
        <i class="fas fa-journal-whills me-2"></i>
        <span>Rincian Belanja</span>
      <% end %>
      <%= link_to show_manrisk_sasaran_program_opd_path(sasaran),
                  target: "_blank",
                  class: "btn btn-sm btn-info text-white" do %>
        <i class="fas fa-chart-line me-2"></i>
        <span>ManRisk</span>
      <% end %>
    </div>
  </td>
</tr>
<% row_indikator_sasaran(sasaran).each do |indikator| %>
  <%= indikator %>
<% end %>
