<tr class="renaksi-opd skip" id="<%= dom_id(sasaran) %>">
  <td class="text-wrap"><%= sasaran %></td>
  <td class="text-wrap"><%= sasaran.nama_nip_pemilik %></td>
  <td class="text-wrap"><%= sasaran.bpmn_spbe %></td>
  <td class="p-3">
    <div class="d-grid gap-3">
      <%= render ModalButtonComponent.new(path: tambah_bpmn_sasaran_path(sasaran, tahun: @tahun, kode_opd: @kode_opd), title: 'Pilih BPMN') %>
    </div>
  </td>
</tr>
