<tr id="<%= dom_id(sasaran) %>">
  <td class="text-gray-900 text-wrap border" rowspan="<%= rowspan_sasaran_x(sasaran) %>" width='20px'></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran_x(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
  <td class="border text-wrap" rowspan="<%= rowspan_sasaran_x(sasaran) %>"><%= sasaran.tahun %></td>
</tr>
<% sasaran.indikator_sasarans.each do |indikator| %>
  <tr>
    <td class='border text-wrap'><%= indikator.indikator_kinerja %></td>
    <td class='border text-wrap'><%= indikator.target %></td>
    <td class='border text-wrap'><%= indikator.satuan %></td>
    <td class='border text-wrap'>
      <div class="d-grid gap-3">
        <% indikator.manual_ik.output_data.each do |output| %>
          <div>
            <%= label_tag 'check', class: 'form-check-label' do %>
              <span class="fw-bolder"><%= output.capitalize %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
