<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>SubKegiatan </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Tambah SubKegiatan</p>
    <%= form_with(model: sasaran) do |f| %>
      <%= f.select(:program_kegiatan_id, ProgramKegiatan.where(id: sasaran.program_kegiatan_id).pluck(:nama_subkegiatan, :id), {}, {:id => 'dropdown', data: {'ajax--url': "/program_kegiatans.json", "ajax--cache": "true", "placeholder": "Pilih SubKegiatan"}} )%>
      <div class="actions">
        <%= f.submit "Tambah Sub kegiatan" %>
      </div>
    <% end %>
  </div>
  <% unless sasaran.program_kegiatan.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>SubKegiatan</th>
              <th>Indikator</th>
              <th>Pagu</th>
              <th class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle text-wrap"><%= sasaran.program_kegiatan.nama_subkegiatan %></td>
              <td class="align-middle"><%= sasaran.program_kegiatan.indikator_kinerja %></td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.total_anggaran, :delimiter => ".") %>
              </td>
              <td class="text-center align-middle">
                <%= button_to 'X', "/hapus_program_from_sasaran", remote: true, method: :post, class: 'btn btn-danger text-center', data: {confirm: "Hapus sub kegiatan?"}, params: {id_sasaran: sasaran.id} %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  <% end %>
</div>
