<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">
            SubKegiatan
            <span class="ms-2"><%= sesuai?(sasaran.subkegiatan?) %></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <% unless sasaran.status == 'pengajuan' || sasaran.status == 'disetujui' %>
    <div class="card-body">
      <% if sasaran.program_kegiatan.present? %>
        <p>SubKegiatan terpilih :</p>
      <% else %>
        <p>Pilih SubKegiatan</p>
      <% end %>
      <%= form_with(model: sasaran, local: false) do |f| %>
        <%= f.select(:program_kegiatan_id, [],
                     {include_blank: true},
                     { class: 'form-control',
                       data: { placeholder: "Pilih Subkegiatan",
                         controller: 'dropdown',
                         dropdown_jenis_value: 'ajax_preselect',
                         dropdown_url_value: "/program_kegiatans.json",
                         dropdown_item_value: sasaran.program_kegiatan_id
                     }} )%>
        <div class="actions">
          <%= f.submit "Simpan" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if sasaran.program_kegiatan.present? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SubKegiatan</th>
              <th>Indikator</th>
              <th>Pagu Ranwal <%= @tahun %></th>
              <th>Pagu Rankir <%= @tahun %></th>
              <th>Pagu Penetapan <%= @tahun %></th>
              <% unless diajukan? %>
                <th class="text-center align-middle" width="50px">Aksi</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle text-wrap"><%= sasaran.program_kegiatan.nama_subkegiatan %></td>
              <td class="align-middle text-wrap"><%= sasaran.program_kegiatan.indikator_subkegiatan %></td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.program_kegiatan.pagu_ranwal_tahun(tahun)) %>
              </td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.program_kegiatan.pagu_rankir_tahun(tahun)) %>
              </td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.program_kegiatan.pagu_penetapan_tahun(tahun)) %>
              </td>
              <% unless diajukan? %>
                <td class="text-center align-middle" width="50px">
                  <%= link_to hapus_program_from_sasaran_sasaran_path(sasaran), remote: true,
                              method: :post, class: 'btn btn-sm btn-outline-danger text-center', data: {confirm_swal: "Hapus sub kegiatan?"} do %>
                    <i class="fa fa-trash-alt me-2"></i>
                    <span>Hapus</span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
          <caption class="text-danger"><%= status_subkegiatan(sasaran&.program_kegiatan) %></caption>
        </table>
      </div>
    </div>
  <% end %>
</div>
