<div class="card border-2 shadow mb-3" id="<%= dom_id(sasaran, 'subkegiatan') %>">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h4 class="card-title">
            Subkegiatan
            <span class="ms-2"><%= sesuai?(sasaran.subkegiatan?) %></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <% unless sasaran.status == 'pengajuan' || sasaran.status == 'disetujui' %>
    <div class="card-body">
      <%= form_with(url: update_subkegiatan_sasaran_path(sasaran),
                    model: sasaran, local: false, method: :patch,
                    data: {
                      controller: 'form-ajax',
                      form_ajax_target_param: dom_id(sasaran, 'subkegiatan'),
                      form_ajax_type_param: 'total_replace',
                      form_ajax_with_modal_value: 'false',
                      action: 'ajax:complete->form-ajax#processAjax'
                    }
      ) do |f| %>
        <div class="field">
          <%= f.select(:program_kegiatan_id, [],
                       {include_blank: true},
                       { class: 'form-control',
                         data: { placeholder: "Pilih Subkegiatan",
                           controller: 'dropdown',
                           dropdown_jenis_value: 'ajax',
                           dropdown_url_value: "/program_kegiatans.json",
                       }} )%>
        </div>
        <div class="actions">
          <%= f.submit "Tambahkan subkegiatan ke rencana kinerja",
              name: 'simpan',
              class: 'btn btn-outline-primary mt-4'
          %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if sasaran.program_kegiatan.present? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SubKegiatan</th>
              <th>Indikator</th>
              <th>Pagu Ranwal <%= @tahun %></th>
              <th>Pagu Rankir <%= @tahun %></th>
              <th>Pagu Penetapan <%= @tahun %></th>
              <% unless diajukan? %>
                <th class="text-center align-middle" width="50px">Aksi</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle text-wrap"><%= sasaran.program_kegiatan.nama_subkegiatan %></td>
              <td class="align-middle text-wrap"><%= sasaran.program_kegiatan.indikator_subkegiatan %></td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.program_kegiatan.pagu_ranwal_tahun(tahun)) %>
              </td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.program_kegiatan.pagu_rankir_tahun(tahun)) %>
              </td>
              <td class="align-middle">
                Rp.  <%= number_with_delimiter(sasaran.program_kegiatan.pagu_penetapan_tahun(tahun)) %>
              </td>
              <% unless diajukan? %>
                <td class="text-center align-middle" width="50px">
                  <%= button_to hapus_program_from_sasaran_sasaran_path(sasaran),
                                remote: true,
                                class: 'btn btn-sm btn-danger',
                                form: {
                                  data: {
                                    controller: 'form-ajax',
                                    skip_check: 'false',
                                    form_ajax_target_param: dom_id(sasaran, 'subkegiatan'),
                                    form_ajax_type_param: 'total_replace',
                                    form_ajax_with_modal_value: 'false',
                                    form_ajax_confirm_title_value: 'Subkegiatan akan dihapus.',
                                    action: 'ajax:beforeSend->form-ajax#confirmAction ajax:complete->form-ajax#processAjax'
                                  }
                                } do %>
                    <i class="fas fa-trash"></i>
                    <span>Hapus</span>
                  <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
          <caption class="text-danger"><%= status_subkegiatan(sasaran&.program_kegiatan) %></caption>
        </table>
      </div>
    </div>
  <% end %>
</div>
