<%= form_with(model: [sasaran, tahapan ], remote: true, :html => {:id => "new-renaksi"} ) do |form| %>
  <% if tahapan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tahapan.errors.count, "error") %> prohibited this tahapan from being saved:</h2>

      <ul>
        <% tahapan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="card">
  <div class="card-body">
    <div class="mb-3">
      <%= form.label :tahapan_kerja , {class: "form-label"} %>
      <%= form.text_field :tahapan_kerja , {class: "form-control "} %>
    </div>

    <div class="mb-3">
      <%= form.label :keterangan , {class: "form-label"} %>
      <%= form.text_field :keterangan , {class: "form-control "} %>
    </div>
  </div>
</div>

<% end %>