<% if type == 'setuju' %>
  <td class="fw-bolder text-gray-500 text-center border-start border-end" rowspan="<%= rowspan %>" id="<%= dom %>">
    <%= link_to revisi_semua_sasaran_path(sasaran_diajukans: [sasarans], dom: dom, rowspan: rowspan),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-info" do %>
      <i class="fas fa-lock-open me-2"></i>
      Buka Kuncian
    <% end %>
  </td>
<% else %>
  <td class="fw-bolder text-gray-500 text-center border-start border-end" rowspan="<%= rowspan %>" id="<%= dom %>">
    <%= link_to setujui_semua_sasaran_path(sasaran_diajukans: [sasarans], dom: dom, rowspan: rowspan ),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-primary" do %>
      <i class="fas fa-lock me-2"></i>
      Kunci
    <% end %>
  </td>
<% end %>
