 
<tr class="border-bottom" id="<%= dom_id(user) %>">
  <td class="text-gray-900 fw-bolder border-bottom" rowspan="<%= user.program_kegiatan_sasarans.count + row %>" scope="rowgroup"><%= i %></td>
  <td class="<%= 'bg-danger text-white' if row_awal.empty? %> text-wrap border-end border-bottom" rowspan="<%= user.program_kegiatan_sasarans.count + row %>" scope="rowgroup"><%= user.nama %></td>
  <td class="border-start border-end text-center" rowspan="<%= user.program_kegiatan_sasarans.count + row %>" scope="rowgroup">
    <table>
      <tr>
        <td class="m-0 p-0 text-success">
          <i class="fas fa-battery-full"></i>
        </td>
        <td class="text-success">
          <%= user.petunjuk_sasaran[:hijau] || 0 %>
        </td>
      </tr>
      <tr>
        <td class="m-0 p-0 text-info">
          <i class="fas fa-battery-half"></i>
        </td>
        <td class="text-info">
          <%= user.petunjuk_sasaran[:biru] %>
        </td>
      </tr>
      <tr>
        <td class="m-0 p-0 text-warning">
          <i class="fas fa-battery-quarter"></i>
        </td>
        <td class="text-warning">
          <%= user.petunjuk_sasaran[:kuning] %>
        </td>
      </tr>
      <tr>
        <td class="m-0 p-0 text-danger">
          <i class="fas fa-battery-empty"></i>
        </td>
        <td class="text-danger">
          <%= user.petunjuk_sasaran[:merah] %>
        </td>
      </tr>
    </table>
  </td>
  <% user.program_kegiatan_sasarans.each do |kak| %>
    <td class="text-gray-900 text-wrap" rowspan="<%= kak.sasarans.count + 1 %>"><%= kak.nama_subkegiatan %></td>
    <td class="p-0 m-0"></td>
    <td class="p-0 m-0"></td>
    <td class="fw-bolder text-gray-500 text-center border-start border-end" rowspan="<%= kak.sasarans.count + 1 %>">
      <%= link_to setujui_semua_sasaran_path(sasaran_diajukans: [kak.sasarans.pluck(:id)], user_id: user),
                      method: :post, remote: true,
                      data: { disable_with: 'Memproses....'},
                      class:"btn btn-sm btn-primary" do %>
        <i class="fas fa-check me-2"></i>
        Verifikasi
      <% end %>
    </td>
    <td class="fw-bolder text-gray-500 text-center" rowspan="<%= kak.sasarans.count + 1 %>">
      <%= link_to "/acuan_kerja_new/#{kak.id}", class: "m-3" do %>
        <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
      <% end %>
      <%= link_to "/pdf_kak/#{kak.id}.pdf", class: "m-3" do %>
        <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak KaK"></span>
      <% end %>
    </td>
    <% kak.sasarans.each do |show_sasaran| %>
      <tr class="<%= warna_sasaran(show_sasaran.status_sasaran) %>">
        <td class="text-wrap border-start border-end" width="450px">
          <%= show_sasaran.sasaran_kinerja %>
        </td>
        <td class="border-start border-end border-bottom text-center">
          Rp. <%= number_with_delimiter(show_sasaran.total_anggaran_dengan_komentar, delimiter: '.') or 0 %>
        </td>
      </tr>
    <% end %>
  <% end %>
