<nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Daftar Sub Kegiatan OPD</li>
  </ol>
</nav>
<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Daftar Sub Kegiatan OPD</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-flush">
        <thead class="thead-light">
          <tr>
            <th class="border-start">No.</th>
            <th class="text-center">Sub Kegiatan</th>
            <th class="text-center">Sasaran Kinerja</th>
            <th class="text-center">Pejabat</th>
            <th colspan="3" class="text-center">Usulan</th>
            <th class="text-center">Pagu Anggaran</th>
            <th class="border-end text-center">Keterangan</th>
          </tr>
          <tr class="text-center">
            <th colspan="4" class="border-start"></th>
            <th class="border-start border-end">nama</th>
            <th class="border-start border-end">jenis</th>
            <th class="border-start border-end">keterangan</th>
            <th colspan="2" class="border-end"></th>
          </tr>
        </thead>
        <tbody>
          <% @sasarans.each.with_index(1) do |sasaran, index| %>
            <tr class="border-bottom">
              <td class="border-start align-middle"><%= index %></td>
              <td class="align-middle"><%= sasaran.program_kegiatan.nama_subkegiatan %></td>
              <td class="align-middle"><%= sasaran.sasaran_kinerja %></td>
              <td class="align-middle" ><%= sasaran.user.nama %></td>
              <td class="border p-0">
                <table class="table table-bordered px-0 text-center">
                  <% sasaran.my_usulan.each do |usulan|  %>
                    <tr>
                      <td class="border-bottom"><%= usulan.usulan %></td>
                    </tr>
                  <% end %>
                </table>
              </td>
              <td class="border p-0">
                <table class="table table-bordered px-0 text-center">
                  <% sasaran.my_usulan.each do |usulan|  %>
                    <tr>
                      <td class="border-bottom"><%= usulan.class.try(:type) || usulan.class.name %></td>
                    </tr>
                  <% end %>
                </table>
              </td>
              <td class="border p-0">
                <table class="table table-bordered px-0 text-center">
                  <% sasaran.my_usulan.each do |usulan|  %>
                    <tr>
                      <td class="border-bottom"><%= usulan.try(:alamat) || usulan.try(:peraturan_terkait) || usulan.try(:manfaat) %></td>
                    </tr>
                  <% end %>
                </table>
              </td>
              <td class="align-middle text-center">Rp. <%= number_with_delimiter(sasaran.total_anggaran, delimiter: '.') or '-' %></td>
              <td class="border-end"></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
