<p id="notice"><%= notice %></p>

<h1>Sasarans</h1>

<table>
  <thead>
    <tr>
      <th>Sasaran kinerja</th>
      <th>Indikator kinerja</th>
      <th>Target</th>
      <th>Satuan</th>
      <th>Penerima manfaat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sasarans.each do |sasaran| %>
      <tr>
        <td><%= sasaran.sasaran_kinerja %></td>
        <td><%= sasaran.indikator_kinerja %></td>
        <td><%= sasaran.target %></td>
        <td><%= sasaran.satuan %></td>
        <td><%= sasaran.penerima_manfaat %></td>
        <td><%= link_to 'Show', user_sasarans_path(@user) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
