<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Laporan Sasaran</li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Laporan Sasaran <%= current_user.opd.nama_opd %></h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush table-hover">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom align-middle" rowspan="2" scope="col">No.</th>
                <th class="border-bottom align-middle" rowspan="2" scope="col">ASN</th>
                <th class="border-bottom text-center" scope="col" colspan="4">Status Sasaran</th>
              </tr>
              <tr>
                <th class="text-success text-center"> jumlah sasaran tahun <%= Date.today.year + 1 %> (lengkap)</th>
                <th class="text-warning bg-gray-600 text-center"> jumlah sasaran tahun <%= Date.today.year + 1 %> (rincian blm lengkap)</th>
                <th class="text-center"> jumlah sasaran tahun <%= Date.today.year %></th>
              </tr>
            </thead>
            <tbody>
              <% @sasarans.each.with_index(1) do |sasaran, i| %>
                <tr>
                  <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                  <td class="fw-bolder text-gray-500"><%= sasaran.nama %></td>
                  <td class="fw-bolder text-success text-center"><%= sasaran.sasarans.total_sudah_lengkap %></td>
                  <td class="fw-bolder text-warning bg-gray-600 text-center"><%= sasaran.sasarans.total_belum_lengkap %></td>
                  <td class="fw-bolder text-center"><%= sasaran.sasarans.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
