<%= content_for :html_title, "Laporan Inovasi" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item active" aria-current="page">Laporan Inovasi</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Laporan Inovasi #{@inovasi}" do %>
    <div class="accordion accordion-flush" id="accordionTimKerja">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button">
            Tim Kerja - <%= @tim[:nama_tim] %>
          </button>
        </h2>
        <div class="accordion-body">
          <div class="cetak mb-2">
            <%= link_to custom_tanggal_cetak_laporans_path(params: { dl_path: tim_inovasi_asn_pdf_laporan_path(@sasaran, format: :pdf) }),remote: true,
                        data: {
                          controller: 'form-modal',
                          action: 'ajax:complete->form-modal#success:prevent',
                          bs_toggle: 'modal',
                          bs_target: '#medium-modal'
                        }, class: "btn btn-sm btn-primary" do %>
              <span>Unduh Laporan</span>
              <i class="fas fa-file-pdf ms-2"></i>
            <% end %>
          </div>

          <!-- Dasar Hukum -->
          <div class="card">
            <div class="card-body dasar-hukum-tim-kerja">
              <table class="table table-bordered caption-top">
                <caption>
                  Dasar Hukum
                </caption>
                <tbody>
                  <% @tim[:dasar_hukum].each.with_index(1) do |dasar_hukum, no| %>
                    <%= render 'tim_kerja/dasar_hukum', no: no, dasar_hukum: dasar_hukum %>
                  <% end %>
                </tbody>
              </table>
            </div>

            <%= render 'tim_kerja/susunan_tim',  tim: @tim[:susunan_tim], sasaran_id: @sasaran.id, with_inovator: true %>

            <!-- Tugas Tim -->
            <div class="card-body rincian-tugas-tim-kerja">
              <table class="table table-bordered caption-top">
                <caption>
                  Rincian Tugas
                </caption>
                <tbody>
                  <tr>
                    <td class="row-number" width="5%">No.</td>
                    <td class="text-wrap" width="90%">Tugas</td>
                    <td></td>
                  </tr>
                  <% @tim[:rincian_tugas].each.with_index(1) do |tugas, no| %>
                    <%= render 'tim_kerja/rincian_tugas', no: no, tugas: tugas %>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- Nilai kebaruan -->
            <%= render 'tim_kerja/nilai_kebaruan',  inovasi: @inovasi, kebaruan: @kebaruan %>

            <!-- Jenis Standar Pelayanan -->
            <div class="card-body rincian-tugas-tim-kerja">
              <table class="table table-bordered caption-top">
                <caption>
                  Jenis Standar Pelayanan
                </caption>
                <tbody>
                  <tr>
                    <td class="row-number" width="5%">No.</td>
                    <td class="text-wrap">Jenis Layanan</td>
                    <td class="text-wrap">Model Layanan</td>
                    <td class="text-wrap">Penjelasaan Pelayanan Online (alat yang digunakan)</td>
                  </tr>
                  <tr>
                    <td class="row-number" width="5%">1</td>
                    <td class="text-wrap"><%= @sasaran.jenis_layanan %></td>
                    <td class="text-wrap"><%= @sasaran.rincian&.model_layanan %></td>
                    <td class="text-wrap"><%= @sasaran.rincian&.jalur_layanan %></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Tujuan Inovasi -->
            <div class="card-body rincian-tugas-tim-kerja">
              <table class="table table-bordered caption-top">
                <caption>
                  Tujuan Inovasi
                </caption>
                <tbody>
                  <tr>
                    <th class="text-wrap fw-bolder"><%= @strategi_atasan.strategi_atasan.strategi %></th>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render 'shared/medium_modal' %>
