<%= content_for :html_title, "Rencana Kinerja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan</li>
  <li class="breadcrumb-item active" aria-current="page">Rencana Kinerja</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Rekap Rencana Kinerja Tahun <%= @tahun %></h2>
        </div>
        <div class="col-auto">
          <div class="text-end">
            <strong><%= @opd.nama_opd %></strong>
          </div>
          <div class="text-end">
            <span><%= @user.nama %></span>
            |
            <span><%= @user.nik %></span>
          </div>
        </div>
      </div>
      <hr>
      <%# filter tahun %>
      <%= render partial: 'shared/filter_user_tahun', locals: { user: @user, tahun: @tahun, url: rekap_sasaran_sasarans_path } %>
      <%# end %>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border text-center" scope="col">No</th>
              <th class="border text-center" scope="col">Pemilik Rencana</th>
              <th class="border text-center" scope="col">Strategi</th>
              <th class="border text-center" scope="col">Rencana Kinerja</th>
              <th class="border text-center" scope="col">Tahun</th>
              <th class="border text-center" scope="col">Indikator Kinerja</th>
              <th class="border text-center" scope="col">Target</th>
              <th class="border text-center" scope="col">Satuan</th>
              <th class="border text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @sasarans.each.with_index(1) do |(subkegiatan, sasarans), i| %>
              <tr>
                <td class="border fw-bolder text-wrap"><%= i %></td>
                <td class="border fw-bolder text-wrap" colspan="8">Subkegiatan: <%= subkegiatan %></td>
              </tr>
              <% sasarans.each.with_index(1) do |sasaran, no| %>
                <tr>
                  <td class="border" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= "#{i}.#{no}" %></td>
                  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.nama_pemilik %></td>
                  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.strategi_sasaran %></td>
                  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
                  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.tahun %></td>
                  <% if sasaran.indikator_sasarans.any? %>
                    <%= indikator_sasaran(sasaran) %>
                  <% else %>
                    <td class="border" colspan="3">
                      <%= link_to 'ISI INDIKATOR SASARAN', edit_sasaran_path(sasaran), class: 'btn btn-outline-danger w-100' %>
                    </td>
                  <% end %>
                  <td class="border" rowspan="<%= rowspan_sasaran(sasaran) %>">
                    <div class="row justify-content-center w-100">
                      <div class="col">
                        <%= link_to detail_sasaran_path(sasaran), target: "_blank", rel: "nofollow",
                                class: "m-3 btn btn-sm btn-info w-100" do %>
                          <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preview KaK"></i>
                          KAK
                        <% end %>
                      </div>
                      <div class="col">
                        <%= link_to edit_admin_sasaran_path(sasaran),
                        class: "btn btn-sm btn-outline-info" do %>
                          <i class="fas fa-pencil-alt me-2"></i>
                          <span>Edit</span>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
                <% row_indikator_sasaran(sasaran).each do |indikator| %>
                  <%= indikator %>
                <% end %>
                <% row_tahapan_sasaran(sasaran, colspan: 9).each do |tahapan| %>
                  <%= tahapan %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
