<%= content_for :html_title, "Review KAK" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Review</li>
  <li class="breadcrumb-item" aria-current="page">Rencana Kinerja (KAK)</li>
  <li class="breadcrumb-item active" aria-current="page"><%= @sasaran.sasaran_kinerja %></li>
<% end %>
<% content_for :view_utama do %>
  <div class="px-3">
    <!-- SECTION - render anggaran here -->
    <% unless @sasaran.tahapans.any? %>
      <%= render 'rencana_aksi_card', sasaran: @sasaran %>
    <% else %>
      <%= render 'reviews/subkegiatan_card', sasaran: @sasaran, tahun: @tahun %>
      <%= render 'reviews/sasaran_card', sasaran: @sasaran %>
      <%= render 'reviews/renaksi', sasaran: @sasaran %>
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title">
                Rincian Sasaran
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-3">
            <div class="table-responsive">
              <table class="table align-items-center">
                <thead>
                  <tr>
                    <th>Penerima Manfaat</th>
                    <th>Data Terpilah</th>
                    <th>Resiko</th>
                    <th>Lokasi Pelaksanaan</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @sasaran.rincian? %>
                    <tr>
                      <td class='border '><%= @sasaran.penerima_manfaat %></td>
                      <td class='border '><%= @sasaran.rincian.data_terpilah %></td>
                      <td class='border '><%= @sasaran.rincian.resiko %></td>
                      <td class='border '><%= @sasaran.rincian.lokasi_pelaksanaan %></td>
                    </tr>
                  <% else %>
                    <tr>
                      <td class='border text-wrap'>-</td>
                      <td class='border text-wrap'>-</td>
                      <td class='border text-wrap'>-</td>
                      <td class='border text-wrap'>-</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title">
                Permasalahan
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-3">
            <div class="table-responsive">
              <table class="table align-items-center">
                <thead>
                  <tr>
                    <th>Jenis</th>
                    <th>Permasalahan</th>
                    <th>Penyebab Internal</th>
                    <th>Penyebab External</th>
                  </tr>
                </thead>
                <tbody>
                  <% @sasaran.permasalahans.order(:updated_at).each do |permasalahan| %>
                    <tr>
                      <td class="align-middle text-wrap"><%= permasalahan.jenis %></td>
                      <td class="align-middle text-wrap"><%= permasalahan.permasalahan %></td>
                      <td class="align-middle text-wrap"><%= permasalahan.penyebab_internal %></td>
                      <td class="align-middle text-wrap"><%= permasalahan.penyebab_external %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title">
                Dasar Hukum
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-3">
            <div class="table-responsive">
              <table class="table align-items-center">
                <thead>
                  <tr>
                    <th>Peraturan terkait</th>
                    <th>Uraian</th>
                  </tr>
                </thead>
                <tbody>
                  <% @sasaran.dasar_hukums.order(:updated_at).each do |dashu| %>
                    <tr>
                      <td class="align-middle text-wrap"><%= dashu.judul %></td>
                      <td class="align-middle text-wrap"><%= dashu.peraturan %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title">
                Gambaran Umum
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-3">
            <div class="table-responsive">
              <table class="table align-items-center">
                <thead>
                  <tr>
                    <th>Gambaran Umum</th>
                  </tr>
                </thead>
                <tbody>
                  <% @sasaran.latar_belakangs.order(:updated_at).each do |latarbelakang| %>
                    <tr>
                      <td class="align-middle text-wrap"><%= latarbelakang.gambaran_umum %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="card-title">
                Tematik
              </h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center mb-3">
            <div class="table-responsive">
              <table class="table align-items-center">
                <thead>
                  <tr>
                    <th>Tematik</th>
                  </tr>
                </thead>
                <tbody>
                  <% @sasaran.subkegiatan_tematiks.each do |tematik| %>
                    <tr>
                      <td class="align-middle text-wrap"><%= tematik.nama_tematik %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- SECTION - Modal-->
    <!-- TODO - DRY-->
  </div>
<% end %>
