<%= content_for :html_title, "Review KAK" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Review</li>
  <li class="breadcrumb-item" aria-current="page">Rencana Kinerja (KAK)</li>
  <li class="breadcrumb-item active" aria-current="page"><%= @sasaran.sasaran_kinerja %></li>
<% end %>
<% content_for :view_utama do %>
  <div class="px-3">
    <!-- SECTION - render anggaran here -->
    <% unless @sasaran.tahapans.any? %>
      <%= render 'rencana_aksi_card', sasaran: @sasaran %>
    <% else %>
      <%= render 'reviews/subkegiatan_card', sasaran: @sasaran, tahun: @tahun %>
      <%= render 'reviews/sasaran_card', sasaran: @sasaran, display_review: true %>
      <%= render 'reviews/rincian_card', sasaran: @sasaran %>
      <%= render 'reviews/permasalahan_card', sasaran: @sasaran %>
      <%= render 'reviews/dasar_hukum_card', sasaran: @sasaran %>
      <%= render 'reviews/gambaran_umum_card', sasaran: @sasaran %>
      <%= render 'reviews/tematik_card', sasaran: @sasaran %>
      <%= render 'reviews/renaksi_card', sasaran: @sasaran %>
    <% end %>
    <!-- SECTION - Modal-->
    <!-- TODO - DRY-->
  </div>
<% end %>
