<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Sasarans', user_sasarans_path(current_user) %></li>
      </ol>
    </nav>
    <% flash.each do |type, msg| %>
      <% tipe = type == 'error' ? 'danger' : type %>
      <div class="alert alert-<%= tipe %>">
        <%= msg %>
      </div>
    <% end %>
    <div class="card border-0 shadow mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2 class="mb-0">
              Filter
            </h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% filter_value =  '' if local_assigns[:filter_file].nil? %>
        <% filter_jenis = local_assigns[:jenis] || '' %>
        <%= form_with url: '/filter_sasaran', local: false do |form| %>
          <%= form.hidden_field :filter_file, value: filter_value %>
          <%= form.hidden_field :jenis, value: filter_jenis %>
          <%= form.label :kode_opd %>
          <% dropdown = options_for_select(Opd.where.not(kode_opd: nil).pluck(:nama_opd, :kode_opd), current_user.opd.kode_unik_opd) %>
          <%= form.select :kode_opd, dropdown ,{include_blank: true},
            { class: "form-control", required: true,
              data: { "placeholder": "Pilih Opd",
                      controller: 'dropdown',
                      dropdown_jenis_value: 'chain'
              } }  %>
          <br>
          <%= form.label :nip_asn %>
          <%= form.select :nip_asn, [''] ,{include_blank: true},
          { class: "form-control", required: true,
            data: { "placeholder": "Pilih ASN",
                    controller: 'dropdown',
                    dropdown_jenis_value: 'ajax',
                    dropdown_url_value: '/user_search.json',
                    action: 'change-select@document->dropdown#chain_value_to_target'
            } }  %>
          <%= form.submit 'filter' %>
        <% end %>
      </div>
    </div>
    <div class="card border-0 shadow" id="sasaran_filter">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Sasaran Kinerja</h2>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        ...
      </div>
    </div>
  </div>
</div>
