<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="icon icon-xs text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"></path><path d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"></path></svg>
        <strong class="me-auto">E-KaK</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= msg %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Sasarans', user_sasarans_path(current_user) %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Sasaran Kinerja</h2>
          </div>
          <div class="col-2 text-end">
            <%= link_to sync_sasaran_path(kode_opd: current_user.opd.kode_unik_opd, tahun: Date.today.year, bulan: Date.today.month), class:"btn btn-sm btn-primary" do %>
              <i class="fas fa-sync me-2"></i>
              Sync Sasaran
            <% end %>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">No.</th>
              <th class="border-bottom" scope="col">ASN Eselon 4</th>
              <th class="border-bottom" scope="col">OPD</th>
              <th class="border-bottom" scope="col">Sasaran Kinerja Output</th>
              <th class="border-bottom" scope="col">Indikator Kinerja</th>
              <th class="border-bottom" scope="col">Target</th>
              <th class="border-bottom" scope="col">Satuan</th>
              <th class="border-bottom text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @sasarans.each.with_index(1) do |sasaran, i| %>
              <tr>
                <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
                <td class="text-gray-900" scope="row"><%= sasaran.user.nama %></td>
                <td class="text-gray-900" scope="row"><%= sasaran.user.opd.nama_opd %></td>
                <td class="text-gray-900" scope="row"><%= sasaran.sasaran_kinerja %></td>
                <td class="fw-bolder text-gray-500"><%= sasaran.indikator_kinerja %></td>
                <td class="fw-bolder text-gray-500"><%= sasaran.target %></td>
                <td class="fw-bolder text-gray-500"><%= sasaran.satuan %></td>
                <td class="fw-bolder text-gray-500 text-center">
                  <%= link_to user_sasaran_path(current_user, sasaran), class: "m-3" do %>
                    <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                  <% end %>
                  <%= link_to edit_user_sasaran_path(current_user, sasaran), class: "m-3" do %>
                    <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                  <% end %>
                  <%= link_to user_sasaran_path(current_user, sasaran), method: :delete, data: { confirm_swal: "Hapus #{sasaran.sasaran_kinerja} ?"}, class: "m-3" do %>
                    <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
