<%= content_for :html_title, "Rencana Kinerja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Rencana Kinerja</li>
  <li class="breadcrumb-item active" aria-current="page">Input Rincian</li>
<% end %>
<% content_for :view_utama do %>
  <div class="rekin-card px-3">
    <%= render 'sasarans/status_sasaran', sasaran: @sasaran %>
    <!-- SECTION - incomplete sasaran -->
    <% if !@sasaran.manual_ik? %>
      <%= render 'sasarans/belum_lengkap_card' %>
      <%= render 'rencana_kinerja_card', sasaran: @sasaran, complete: false %>
    <% else %>
      <!-- SECTION - complete sasaran -->
      <% if @sasaran.wajib_manrisk %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'musrenbang')) %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'pokpir')) %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'mandatori')) %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'inovasi')) %>
        <%= render 'subkegiatan_card', sasaran: @sasaran, tahun: @tahun %>
        <%= render 'rencana_kinerja_card', sasaran: @sasaran, complete: true %>
        <%= render 'tahapans/renaksi_card', sasaran: @sasaran, complete: true %>
        <%= render 'rincians/rincian_card', sasaran: @sasaran %>
        <%= render 'permasalahans/permasalahan_card', sasaran: @sasaran %>
        <%= render 'dasar_hukums/dasar_hukum_card', sasaran: @sasaran %>
        <%= render 'latar_belakangs/gambaran_umum_card', sasaran: @sasaran %>
        <%#= render 'subkegiatan_tematiks/tematik_card', sasaran: @sasaran %>
        <%= render 'hasil_output_card', sasaran: @sasaran %>
        <%= render 'hasil_output_inovasi_card', sasaran: @sasaran %>
      <% else %>
        <%= render 'rencana_kinerja_card', sasaran: @sasaran, complete: true %>
        <%= render 'tahapans/renaksi_card', sasaran: @sasaran, complete: true %>
      <% end %>
    <% end %>
    <!-- SECTION - Kembali-->
    <%= link_to sasarans_path, class: 'btn btn-info w-100 text-white mb-5' do %>
      <span class="fas fa-arrow-left"></span>
      <span>Kembali ke Rencana Kinerja</span>
    <% end %>
  </div>
<% end %>
