<p id="notice"><%= notice %></p>

<p>
  <strong>Sasaran kinerja:</strong>
  <%= @sasaran.sasaran_kinerja %>
</p>

<p>
  <strong>Indikator kinerja:</strong>
  <%= @sasaran.indikator_kinerja %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sasaran.target %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @sasaran.satuan %>
</p>

<p>
  <strong>Penerima manfaat:</strong>
  <%= @sasaran.penerima_manfaat %>
</p>

<% unless @sasaran.rincian %>
<p>
  <strong>Harap isi Rincian Sasaran</strong>
  <hr>
  <%= render 'rincians/form', rincian: @sasaran.build_rincian %>
</p>
<% else %>
  <p>
    <strong>rincian :</strong>
    <%= @sasaran.rincian.data_terpilah %>
  </p>
<% end %>


