<%= content_for :html_title, "Rencana Kinerja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Rencana Kinerja</li>
  <li class="breadcrumb-item active" aria-current="page">Input Rincian</li>
<% end %>
<% content_for :view_utama do %>
  <div class="rekin-card px-3">
    <div class="card border-2 shadow mb-3">
      <div class="card-body">
        <h5>Status Sasaran</h5>
        <hr />
        <div class="d-grid gap-2">
          <div class="status_sasaran">
            <%= status_sasaran_pokin(@sasaran&.status_sasaran) %>
          </div>
          <% if @sasaran.wajib_manrisk %>
            <div class="status_manrisk">
              <%= status_manrisk(@sasaran&.status_manrisk) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- SECTION - incomplete sasaran -->
    <% unless @sasaran.tahapans.any? %>
      <div class="card border border-danger mb-3">
        <div class="card-body border-danger">
          <h4 class="alert alert-danger">
            <i class="fas fa-exclamation-triangle me-2"></i>
            Rencana Kinerja Belum lengkap
          </h4>
          <h5>Kekurangan: </h5>
          <ol class="">
            <% if !@sasaran.manual_ik? %>
              <li>Manual IK</li>
              <li>Rencana Aksi</li>
            <% else %>
              <li>Rencana Aksi</li>
            <% end %>
          </ol>
        </div>
      </div>
      <%= render 'rencana_kinerja_card', sasaran: @sasaran, complete: false %>
      <%= render 'tahapans/renaksi_card', sasaran: @sasaran, complete: false %>
    <% else %>
      <!-- SECTION - complete sasaran -->
      <% if @sasaran.wajib_manrisk %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'musrenbang')) %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'pokpir')) %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'mandatori')) %>
        <%= render(UsulanCardComponent.new(sasaran: @sasaran, jenis: 'inovasi')) %>
        <%= render 'subkegiatan_card', sasaran: @sasaran, tahun: @tahun %>
        <%= render 'rencana_kinerja_card', sasaran: @sasaran, complete: true %>
        <%= render 'tahapans/renaksi_card', sasaran: @sasaran, complete: true %>
        <%= render 'rincians/rincian_card', sasaran: @sasaran %>
        <%= render 'permasalahans/permasalahan_card', sasaran: @sasaran %>
        <%= render 'dasar_hukums/dasar_hukum_card', sasaran: @sasaran %>
        <%= render 'latar_belakangs/gambaran_umum_card', sasaran: @sasaran %>
        <%#= render 'subkegiatan_tematiks/tematik_card', sasaran: @sasaran %>
        <%= render 'hasil_output_card', sasaran: @sasaran %>
        <%= render 'hasil_output_inovasi_card', sasaran: @sasaran %>
      <% else %>
        <%= render 'rencana_kinerja_card', sasaran: @sasaran, complete: true %>
        <%= render 'tahapans/renaksi_card', sasaran: @sasaran, complete: true %>
      <% end %>
    <% end %>
    <!-- SECTION - Kembali-->
    <%= render 'aksis/modal_target' %>
    <%= link_to sasarans_path, class: 'btn btn-info w-100 text-white mb-5' do %>
      <span class="fas fa-arrow-left"></span>
      <span>Kembali ke Rencana Kinerja</span>
    <% end %>
  </div>
<% end %>
