<nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Sasaran Kinerja', user_sasarans_path(current_user.id) %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to @sasaran.sasaran_kinerja, user_sasarans_path(current_user.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Rencana Aksi</li>
  </ol>
</nav>
<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Rincian Sasaran</h5>
        </div>
        <% unless @sasaran.rincian %>
          <div>
            <%= link_to "Tambah Rincian Sasaran", new_sasaran_rincian_path(@sasaran), class: "btn btn-warning " %>
          </div>
        <% else %>
          <div>
            <%= link_to "Lihat Rincian", sasaran_rincian_path(@sasaran, @sasaran.rincian), class: "btn btn-info text-white"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% unless @sasaran.tahapans.any? %>
  <%= render 'rencana_aksi_card' %>
<% else %>
  <%= render 'rincians/renaksi', sasaran: @sasaran %>
<% end %>
<!-- SECTION - musrenbang -->
<%= render 'musrenbang_card', sasaran: @sasaran %>
<!-- SECTION - render anggaran here -->
<%= render 'subkegiatan_card', sasaran: @sasaran %>
<!-- !!SECTION - end anggaran-->
<!-- SECTION - Modal-->
<%= render 'modal' %>
<%= render 'modal_perhitungans' %>
<%= render 'aksis/modal_target'  %>
<%= render 'aksis/modal_realisasi'  %>
