<p id="notice"><%= notice %></p>
<h2>User : <%= @sasaran.user.nama %></h2>
<h2>NIK : <%= link_to @sasaran.user.nik, user_path(@sasaran.user) %></h2>
<hr>
<% unless @sasaran.program_kegiatan %>
<h3>Tambah Sub Kegiatan</h3>
<% program = ProgramKegiatan.all %>
<%= form_with(model: @sasaran, local: true) do |form| %>
  <div class="field">
    <% options = options_from_collection_for_select(program, 'id', 'nama_subkegiatan') %>
    <%= form.label :program_kegiatan_id, 'Sub Kegiatan : ' %>
    <%= form.select :program_kegiatan_id, options %>
  </div>
   <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
<% else %>
<p>
  <strong>Sub Kegiatan :</strong>
  <%= link_to @sasaran.program_kegiatan.nama_subkegiatan, program_kegiatan_path(@sasaran.program_kegiatan) %>
</p>
<% end %>
<hr>
<p>
  <strong>Sasaran kinerja:</strong>
  <%= @sasaran.sasaran_kinerja %>
</p>

<p>
  <strong>Indikator kinerja:</strong>
  <%= @sasaran.indikator_kinerja %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sasaran.target %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @sasaran.satuan %>
</p>

<p>
  <strong>Penerima manfaat:</strong>
  <%= @sasaran.penerima_manfaat %>
</p>

<% unless @sasaran.rincian %>
<p>
  <strong>Harap isi Rincian Sasaran</strong>
  <hr>
  <%= render 'rincians/form', rincian: @sasaran.build_rincian %>
</p>
<% else %>
  <p>
    <strong>Data Terpilah :</strong>
    <%= @sasaran.rincian.data_terpilah %>
  </p>
<!-- NOTE : Refactor -->
  <p>
    <strong>Penyebab Internal :</strong>
    <%= @sasaran.rincian.penyebab_internal %>
  </p>
  <p>
    <strong>Penyebab External :</strong>
    <%= @sasaran.rincian.penyebab_external %>
  </p>
  
  <p>
    <strong>Permasalahan Umum :</strong>
    <%= @sasaran.rincian.permasalahan_umum %>
  </p>
  <p>
    <strong>Permasalahan Gender :</strong>
    <%= @sasaran.rincian.permasalahan_gender %>
  </p>

  <p>
    <strong>Resiko</strong>
    <%= @sasaran.rincian.resiko  %>
  </p>

  <p>
    <strong>Lokasi Pelaksanaan</strong>
    <%= @sasaran.rincian.lokasi_pelaksanaan  %>
  </p>

  <% unless @sasaran.rincian.tahapans.any? %>
    <%= link_to 'Tambah Renaksi', new_rincian_tahapan_path(@sasaran.rincian) %>
  <% else %>
  <hr>
    <h3>Rencana Aksi ( Tahapan pelaksaanaan ) </h3>
    <%= link_to 'Tambah Tahapan', new_rincian_tahapan_path(@sasaran.rincian) %>
      <hr>
      <!-- TODO - Refactor and Add AJAX -->
      <table class="renaksi">
      <thead>
      <tr>
        <th rowspan="2">No</th>
        <th rowspan="2">Tahapan Kerja</th>
        <% (1..12).each do |i| %>
        <th colspan="2"><%= i %></th>
        <% end %>
        <th colspan="2">Jumlah</th>
        <th rowspan="2">Keterangan</th>
      </tr>
      <tr>
      <% (1..13).each do |item| %>
        <td>T</td>
        <td>R</td>
      <% end %>
      </tr>
      </thead>
      <tbody>
        <% @sasaran.rincian.tahapans.each.with_index(1) do |tahapan, index| %>
          <% aksi = tahapan.aksis %>
            <tr>
              <td><%= index %></td>
              <td class="tahapan"><%= tahapan.tahapan_kerja %></td>
              <!-- Loop Tanggal-->
              <% (1..12).each do |i| %>
              <td><%= aksi.find_by(bulan: i) ? 
              link_to(aksi.find_by(bulan: i).target, edit_rincian_tahapan_aksi_path(tahapan.rincian, tahapan, aksi.find_by(bulan: i).id, :bulan => i))  
              :
              link_to('+', new_rincian_tahapan_aksi_path(@sasaran.rincian, tahapan, :bulan => i)  )   %> </td>
              <td><%= aksi.find_by(bulan: i) ? aksi.find_by(bulan: i).realisasi : ''  %></td>
              <% end %>
              <!-- Sum -->
              <td><%= tahapan.jumlah_target  %></td>
              <td><%= tahapan.jumlah_realisasi %></td>
              <td><%= tahapan.keterangan  %></td>
            </tr>
        <% end %>
        </tbody>
      <tfoot>
      <% total_target_aksi_bulan = Aksi.all.group(:bulan).sum(:target) %>
      <% total_realisasi_aksi_bulan = Aksi.all.group(:bulan).sum(:realisasi) %>
      <% jumlah_target = @sasaran.rincian.tahapans.sum :jumlah_target %>
      <% jumlah_realisasi = @sasaran.rincian.tahapans.sum :jumlah_realisasi %>
        <tr>
          <td colspan="2">Total</td>
          <% (1..12).each do |i| %>
          <td><%= total_target_aksi_bulan[i] %></td>
          <td><%= total_realisasi_aksi_bulan[i] %></td>
          <% end %>
          <td><%= jumlah_target %></td>
          <td><%= jumlah_realisasi %></td>
          <td></td>
        </tr>
      </tfoot>
      </table>
      <p>
        <strong>Waktu yang dibutuhkan :</strong>
        <%= total_target_aksi_bulan.count %> bulan
      </p>
      <p>
        <strong>Progress Pelaksanaan :</strong>
        <% if jumlah_target * jumlah_realisasi != 0 %>
        <%= number_to_percentage((jumlah_realisasi.to_f / jumlah_target.to_f ) * 100, precision: 2) %>
        <% end %>
      </p>
      <hr>

  <% end %>
  <!-- TODO: Add ajax to inline form -->
  <% unless @sasaran.pagus.any? %>
    <%= link_to 'Tambah Pagu', new_sasaran_pagu_path(@sasaran) %>

  <% else %>
    <hr>
    <h3>Pagu  <span>
    <h3>Pagu Total : <%= number_with_delimiter(@sasaran.pagus.sum(:total) , :delimiter => ',') %></h3>
    <%= link_to 'Tambah Pagu', new_sasaran_pagu_path(@sasaran) %>
    </span></h3>
   
    <% @sasaran.pagus.each do |pagu| %>
    <hr>
      <p>
        <strong>Item: </strong>
        <%= pagu.item %>
      </p>
      <p>
        <strong>Uang: </strong>
        <%= number_with_delimiter pagu.uang, :delimiter => ',' %>
      </p>
       <p>
        <strong>Satuan: </strong>
        <%= pagu.satuan %>
      </p>
       <p>
        <strong>Volume: </strong>
        <%= pagu.volume %>
      </p>
      <p>
        <strong>Total :</strong>
        <%= pagu.total %>
      </p>
      <p>
        <%= link_to 'Edit', edit_sasaran_pagu_path(@sasaran, pagu) %>
        <%= link_to 'Delete', sasaran_pagu_path(@sasaran, pagu), method: :delete, data: { confirm: "Hapus Pagu #{pagu.item} ?" } %>
      </p>
      <hr>
    <% end %>
  <% end %>
  

<% end %>


