<p id="notice"><%= notice %></p>
<%= link_to 'Kembali', user_path(@sasaran.user) %>
<h2>User : <%= @sasaran.user.nama %></h2>
<h2>NIK : <%= link_to @sasaran.user.nik, user_path(@sasaran.user) %></h2>
<hr>
<% unless @sasaran.program_kegiatan %>
<h3>Tambah Sub Kegiatan</h3>
<% program = ProgramKegiatan.all %>
<%= form_with(model: @sasaran, local: true) do |form| %>
  <div class="field">
    <% options = options_from_collection_for_select(program, 'id', 'nama_subkegiatan') %>
    <%= form.label :program_kegiatan_id, 'Sub Kegiatan : ' %>
    <%= form.select :program_kegiatan_id, options %>
  </div>
   <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
<% else %>
<p>
  <strong>Sub Kegiatan :</strong>
  <%= link_to @sasaran.program_kegiatan.nama_subkegiatan, program_kegiatan_path(@sasaran.program_kegiatan) %>
</p>
<% end %>
<hr>
<p>
  <strong>Sasaran kinerja:</strong>
  <%= @sasaran.sasaran_kinerja %>
</p>

<p>
  <strong>Indikator kinerja:</strong>
  <%= @sasaran.indikator_kinerja %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sasaran.target %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @sasaran.satuan %>
</p>

<p>
  <strong>Penerima manfaat:</strong>
  <%= @sasaran.penerima_manfaat %>
</p>

<% unless @sasaran.rincian %>
<p>
  <strong>Harap isi Rincian Sasaran</strong>
  <hr>
  <%= render 'rincians/form', rincian: @sasaran.build_rincian %>
</p>
<% else %>
  <p>
    <strong>Data Terpilah :</strong>
    <%= @sasaran.rincian.data_terpilah %>
  </p>
<!-- NOTE : Refactor -->
  <p>
    <strong>Penyebab Internal :</strong>
    <%= @sasaran.rincian.penyebab_internal %>
  </p>
  <p>
    <strong>Penyebab External :</strong>
    <%= @sasaran.rincian.penyebab_external %>
  </p>
  
  <p>
    <strong>Permasalahan Umum :</strong>
    <%= @sasaran.rincian.permasalahan_umum %>
  </p>
  <p>
    <strong>Permasalahan Gender :</strong>
    <%= @sasaran.rincian.permasalahan_gender %>
  </p>

  <p>
    <strong>Resiko</strong>
    <%= @sasaran.rincian.resiko  %>
  </p>

  <p>
    <strong>Lokasi Pelaksanaan</strong>
    <%= @sasaran.rincian.lokasi_pelaksanaan  %>
  </p>

  <% unless @sasaran.rincian.tahapans.any? %>
    <%= link_to 'Tambah Renaksi', new_rincian_tahapan_path(@sasaran.rincian) %>
  <% else %>
  <hr>
    <h3>Rencana Aksi ( Tahapan pelaksaanaan ) </h3>
    <%= link_to 'Tambah Tahapan', new_rincian_tahapan_path(@sasaran.rincian) %>
      <hr>
      <!-- TODO - Refactor and Add AJAX -->
      <table class="renaksi">
      <thead>
      <tr>
        <th rowspan="2">No</th>
        <th rowspan="2">Tahapan Kerja</th>
        <% (1..12).each do |i| %>
        <th colspan="2"><%= i %></th>
        <% end %>
        <th colspan="2">Jumlah</th>
        <th rowspan="2">Keterangan</th>
        <th rowspan="2">Anggaran</th>
      </tr>
      <tr>
      <% (1..13).each do |item| %>
        <td>T</td>
        <td>R</td>
      <% end %>
      </tr>
      </thead>
      <tbody>
        <% @sasaran.rincian.tahapans.each.with_index(1) do |tahapan, index| %>
          <% aksi = tahapan.aksis %>
            <tr>
              <td><%= index %></td>
              <td class="tahapan"><%= tahapan.tahapan_kerja %></td>
              <!-- Loop Tanggal-->
              <% (1..12).each do |i| %>
              <td><%= aksi.find_by(bulan: i) ? 
              link_to(aksi.find_by(bulan: i).target, edit_rincian_tahapan_aksi_path(tahapan.rincian, tahapan, aksi.find_by(bulan: i).id, :bulan => i))  
              :
              link_to('+', new_rincian_tahapan_aksi_path(@sasaran.rincian, tahapan, :bulan => i)  )   %> </td>
              <td><%= aksi.find_by(bulan: i) ? aksi.find_by(bulan: i).realisasi : ''  %></td>
              <% end %>
              <!-- Sum -->
              <td><%= tahapan.jumlah_target  %></td>
              <td><%= tahapan.jumlah_realisasi %></td>
              <td><%= tahapan.keterangan  %></td>
              <% unless tahapan.anggarans.any? %>
              <td><%= link_to 'Tambah Anggaran', new_rincian_tahapan_anggaran_path(@sasaran.rincian, tahapan)  %></td>
                <% else %>
              <td><%= link_to tahapan.anggarans.first.uraian, rincian_tahapan_anggaran_path(@sasaran.rincian, tahapan, tahapan.anggarans.first.id)  %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      <tfoot>
      <% total_target_aksi_bulan = Aksi.all.group(:bulan).sum(:target) %>
      <% total_realisasi_aksi_bulan = Aksi.all.group(:bulan).sum(:realisasi) %>
      <% jumlah_target = @sasaran.rincian.tahapans.sum :jumlah_target %>
      <% jumlah_realisasi = @sasaran.rincian.tahapans.sum :jumlah_realisasi %>
        <tr>
          <td colspan="2">Total</td>
          <% (1..12).each do |i| %>
          <td><%= total_target_aksi_bulan[i] %></td>
          <td><%= total_realisasi_aksi_bulan[i] %></td>
          <% end %>
          <td><%= jumlah_target %></td>
          <td><%= jumlah_realisasi %></td>
          <td></td>
        </tr>
      </tfoot>
      </table>
      <p>
        <strong>Waktu yang dibutuhkan :</strong>
        <%= total_target_aksi_bulan.count %> bulan
      </p>
      <p>
        <strong>Progress Pelaksanaan :</strong>
        <% if jumlah_target * jumlah_realisasi != 0 %>
        <%= number_to_percentage((jumlah_realisasi.to_f / jumlah_target.to_f ) * 100, precision: 2) %>
        <% end %>
      </p>
      <hr>

  <% end %>
  <!-- TODO: Add ajax to inline form -->
<!-- SECTION - anggaran baru -->
  <table>
    <thead>
      <tr>
        <th rowspan="2">Kode Rekening</th>
        <th rowspan="2">Uraian</th>
        <th rowspan="2">Tahapan Kerja</th>
        <th colspan="10">Rincian Perhitungan</th>
        <th rowspan="2">Jumlah</th>
      </tr>
      <tr>
      <% (1..3).each do |i| %>
        <th>Koefisien</th>
        <th>Satuan</th>
        <th>Harga</th>
      <% end %>
        <th>PPN (10%)</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>5.1.0.1.0.1.01</td>
        <td>Belanja gaji pokok asn</td>
        <td></td>
        <% (1..3).each do |i| %>
        <td></td>
        <td></td>
        <td></td>
        <% end %>
        <td></td>
        <td>Rp. 45.600.000</td>
      </tr>
      <tr>
        <td>5.1.0.1.0.1.0.0001</td>
        <td>Belanja gaji pokok pns</td>
        <td></td>
        <% (1..3).each do |i| %>
        <td>12 bulan</td>
        <td>Laut <%= i %></td>
        <td>3.800.000</td>
        <% end %>
        <td>380.000</td>
        <td>Rp. 45.600.000</td>
      </tr>
      <tr>
        <td></td>
        <td>Belanja Gaji Pokok PNS
[Belanja Gaji dan Tunjangan]</td>
        <td>Architecto et at aut</td>
        <% (1..3).each do |i| %>
        <td>12 bulan</td>
        <td>Laut <%= i %></td>
        <td>3.800.000</td>
        <% end %>
        <td>380.000</td>
        <td>Rp. 45.600.000</td>
      </tr>
    </tbody>
  </table>
<!-- !!SECTION - end anggaran-->
<br>
<br>
<hr>

<% end %>


