<nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Sasaran Kinerja', user_sasarans_path(current_user.id) %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to @sasaran.sasaran_kinerja, user_sasarans_path(current_user.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Rencana Aksi</li>
  </ol>
</nav>
<!-- SECTION - musrenbang -->
<%= render 'musrenbang_card', sasaran: @sasaran %>
<%= render 'pokpirs/pokpir_card', sasaran: @sasaran %>
<%= render 'mandatoris/mandatori_card', sasaran: @sasaran %>
<%= render 'inovasis/inovasi_card', sasaran: @sasaran %>
<!-- SECTION - render anggaran here -->
<%= render 'subkegiatan_card', sasaran: @sasaran %>
<% unless @sasaran.tahapans.any? %>
  <%= render 'rencana_aksi_card', sasaran: @sasaran %>
<% else %>
  <%= render 'rincians/renaksi', sasaran: @sasaran %>
<% end %>
<%= render 'rincians/rincian_card', sasaran: @sasaran %>
<!-- SECTION - Modal-->
<!-- TODO - DRY-->
<%= render 'modal' %>
<%= render 'modal_perhitungans' %>
<%= render 'aksis/modal_target'  %>
<%= render 'aksis/modal_realisasi'  %>
<%= render 'rincians/modal_rincian' %>
