<nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Sasaran Kinerja', user_sasarans_path(current_user.id) %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to @sasaran.sasaran_kinerja, user_sasarans_path(current_user.id) %></li>
    <li class="breadcrumb-item active" aria-current="page">Rencana Aksi</li>
  </ol>
</nav>
<% if @sasaran.musrenbangs.any? %>
  <%= render 'musrenbang_card', sasaran: @sasaran %>
<% else %>
  <p>Belum Terhubung Dengan Musrenbang</p>
<% end %>
<% unless @sasaran.rincian %>
  <p>
    <strong>Harap isi Rincian Sasaran</strong>
    <hr>
    <%= render 'rincians/form', rincian: @sasaran.build_rincian %>
  </p>
<% else %>
  <% unless @sasaran.rincian.tahapans.any? %>
    <%= link_to 'Tambah Renaksi', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'} %>
  <% else %>
    <%= render 'rincians/renaksi', sasaran: @sasaran %>
  <% end %>
  <!-- SECTION - render anggaran here -->
    <%= render 'subkegiatan_card', sasaran: @sasaran %>
  <!-- !!SECTION - end anggaran-->
<% end %>
<!-- SECTION - Modal-->
<%= render 'modal' %>
