<p id="notice"><%= notice %></p>

<p>
  <strong>Sasaran kinerja:</strong>
  <%= @sasaran.sasaran_kinerja %>
</p>

<p>
  <strong>Indikator kinerja:</strong>
  <%= @sasaran.indikator_kinerja %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sasaran.target %>
</p>

<p>
  <strong>Satuan:</strong>
  <%= @sasaran.satuan %>
</p>

<p>
  <strong>Penerima manfaat:</strong>
  <%= @sasaran.penerima_manfaat %>
</p>

<p>
  <strong>Data Terpilah:</strong>
  <%= @sasaran.rincians.first.data_terpilah %>
</p>

<p>
  <strong>Permasalahan gender:</strong>
  <%= @sasaran.rincians.first.permasalahan_gender %>
</p>

<p>
  <strong>Resiko:</strong>
  <%= @sasaran.rincians.first.resiko %>
</p>

<p>
  <strong>lokasi_pelaksanaan:</strong>
  <%= @sasaran.rincians.first.lokasi_pelaksanaan %>
</p>


<%= link_to 'Edit', edit_sasaran_path(@sasaran) %> |
<%= link_to 'Back', sasarans_path %>
