<p id="notice"><%= notice %></p>
<h4>Rencana Aksi</h4>
<hr>
<p>
    <strong>Nama OPD:</strong>
    <%= @sasaran.user.opd.nama_opd %>
</p>
<p>
    <strong>Jabatan :</strong>
    Eselon III / IV
</p>
<% unless @sasaran.program_kegiatan %>
<h3>Tambah Sub Kegiatan</h3>
<% program = ProgramKegiatan.all %>
<%= form_with(model: @sasaran, local: true) do |form| %>
  <div class="field">
    <% options = options_from_collection_for_select(program, 'id', 'nama_subkegiatan') %>
    <%= form.label :program_kegiatan_id, 'Sub Kegiatan : ' %>
    <%= form.select :program_kegiatan_id, options %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
<% else %>
<p>
  <strong>Program :</strong>
  <%= @sasaran.program_kegiatan.nama_program %>
</p>
<p>
  <strong>Kegiatan :</strong>
  <%= @sasaran.program_kegiatan.nama_kegiatan %>
</p>
<p>
  <strong>Sub Kegiatan :</strong>
  <%= link_to @sasaran.program_kegiatan.nama_subkegiatan, program_kegiatan_path(@sasaran.program_kegiatan) %>
</p>
<% end %>
<hr>
<div class="sasaran">
  <p>
    <strong>Sasaran kinerja:</strong>
    <%= @sasaran.sasaran_kinerja %>
  </p>

  <p>
    <strong>Indikator kinerja:</strong>
    <%= @sasaran.indikator_kinerja %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= @sasaran.target %>
  </p>

  <p>
    <strong>Satuan:</strong>
    <%= @sasaran.satuan %>
  </p>

  <p>
    <strong>Kualitas :</strong>
    <%= @sasaran.kualitas %>
  </p>
</div>

<% unless @sasaran.rincian %>
<p>
  <strong>Harap isi Rincian Sasaran</strong>
  <hr>
  <%= render 'rincians/form', rincian: @sasaran.build_rincian %>
</p>
<% else %>

  <% unless @sasaran.rincian.tahapans.any? %>
    <%= link_to 'Tambah Renaksi', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'} %>
  <% else %>
  <hr>
    <%= link_to 'Tambah Tahapan', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'} %>
    <% jumlah_target = @sasaran.rincian.tahapans.sum :jumlah_target %>
    <% jumlah_realisasi = @sasaran.rincian.tahapans.sum :jumlah_realisasi %>
      <!-- TODO - Refactor and Add AJAX -->
      <table class="renaksi">
        <thead>
          <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Tahapan Kerja</th>
            <% (1..12).each do |i| %>
            <th colspan="2"><%= i %></th>
            <% end %>
            <th colspan="2">Jumlah</th>
            <th rowspan="2">Keterangan</th>
            <th rowspan="2">Anggaran</th>
            <th rowspan="2">Aksi</th>
          </tr>
          <tr>
          <% (1..13).each do |item| %>
            <td>T</td>
            <td>R</td>
          <% end %>
          </tr>
        </thead>
        <tbody>
          <% @sasaran.rincian.tahapans.each.with_index(1) do |tahapan, index| %>
            <% aksi = tahapan.aksis %>
              <tr>
                <td><%= index %></td>
                <td class="tahapan"><%= tahapan.tahapan_kerja %></td>
                <!-- Loop Tanggal-->
                <% (1..12).each do |i| %>
                <td><%= aksi.find_by(bulan: i) ? 
                link_to(aksi.find_by(bulan: i).target, edit_rincian_tahapan_aksi_path(tahapan.rincian, tahapan, aksi.find_by(bulan: i).id, :bulan => i))  
                :
                link_to('+', new_rincian_tahapan_aksi_path(@sasaran.rincian, tahapan, :bulan => i)  )   %> </td>
                <td><%= aksi.find_by(bulan: i) ? aksi.find_by(bulan: i).realisasi : ''  %></td>
                <% end %>
                <!-- Sum -->
                <td><%= tahapan.jumlah_target  %></td>
                <td><%= tahapan.jumlah_realisasi %></td>
                <td><%= tahapan.keterangan  %></td>
                <% unless tahapan.anggarans.any? %>
                <td><%= link_to 'Tambah Anggaran', new_rincian_tahapan_anggaran_path(@sasaran.rincian, tahapan)  %></td>
                  <% else %>
                  <% total_anggaran = tahapan.anggarans.find_by(level: 0) %>
                <td><%= link_to total_anggaran.uraian, rincian_tahapan_anggaran_path(@sasaran.rincian, tahapan, tahapan.anggarans.first.id)  %></td>
                <td><%= link_to 'Destroy', rincian_tahapan_path(@sasaran.rincian, tahapan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
          <% end %>
        </tbody>
        <tfoot>
            <tr>
              <% target_bulan = @sasaran.rincian.tahapans.map{|t| t.aksis.group(:bulan).sum(:target)} %>
              <% realisasi_bulan = @sasaran.rincian.tahapans.map{|t| t.aksis.group(:bulan).sum(:realisasi)} %>
              <% total_target_aksi_bulan = target_bulan.inject{|bln, val| bln.merge(val) { |k, old_v, new_v| old_v + new_v} } %>
              <% total_realisasi_aksi_bulan = realisasi_bulan.inject{|bln, val| bln.merge(val) { |k, old_v, new_v| old_v + new_v} } %>
              <td colspan="2">Total</td>
              <% (1..12).each do |i| %>
              <td><%= total_target_aksi_bulan[i] %></td>
              <td><%= total_realisasi_aksi_bulan[i] %></td>
              <% end %>
              <td><%= jumlah_target %></td>
              <td><%= jumlah_realisasi %></td>
              <td colspan="3"></td>
            </tr>
        </tfoot>
      </table>
      <p class="waktu-renaksi">
        <strong>Waktu yang dibutuhkan :</strong>
        <%= @sasaran.rincian.waktu_total == 0 ? "-" : @sasaran.rincian.waktu_total %> bulan
      </p>
      <p class="progress-renaksi">
        <strong>Progress Pelaksanaan :</strong>
        <%=  @sasaran.rincian.progress_total.nan? ? 0 :  number_to_percentage( @sasaran.rincian.progress_total, precision: 2) %>
      </p>
      <hr>

  <% end %>
  <!-- TODO: Add ajax to inline form -->
<!-- SECTION - anggaran baru -->

<!-- !!SECTION - end anggaran-->
<% end %>
<!-- SECTION - Modal-->
<%= render 'modal' %>

<%= link_to 'Kembali', user_path(@sasaran.user) %>