<p id="notice"><%= notice %></p>

<h1>Perhitungan Anggaran "<%= @anggaran.uraian %>"</h1>
<% balik = @anggaran.parent.parent.parent.parent.parent %>
<table>
  <thead>
    <tr>
     <th>Deskripsi</th>
      <th>Satuan</th>
      <th>Harga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perhitungans.each do |perhitungan| %>
      <tr>
        <td><%= perhitungan.deskripsi %></td>
        <td><%= perhitungan.satuan %></td>
        <td><%= perhitungan.harga %></td>
        <td><%= link_to 'Show', perhitungan %></td>
        <td><%= link_to 'Edit', edit_perhitungan_path(perhitungan) %></td>
        <td><%= link_to 'Destroy', perhitungan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Kembali', rincian_tahapan_anggaran_path(balik.tahapan.rincian, balik.tahapan, balik) %>
