<div id="form-dampak">
  <%= form_with model: sasaran,
                url: update_dampak_sasaran_path(sasaran, nomor_sasaran: nomor),
                local: false,
                method: :patch,
                data: {
                  controller: 'form-ajax',
                  form_ajax_target_param: dom_id(sasaran),
                  action: 'ajax:complete->form-ajax#processAjax'
                } do |form| %>
    <div class="field">
      <%= form.label :sasaran_kinerja, { class: "form-label" } %>
      <%= form.text_area :sasaran_kinerja, {class: "form-control", readonly: true} %>
    </div>
    <div class="field">
      <%= label_tag 'penyebab_permasalahan', 'Penyebab permasalahan', class: 'form-label'  %>
      <%= text_area_tag 'penyebab_permasalahan', sasaran.penyebab_permasalahan, class: 'form-control', disabled: true %>
    </div>
    <div class="field">
      <%= form.label :permasalahan, { class: "form-label" } %>
      <%= form.text_area :permasalahan_sasaran, {class: "form-control", readonly: true, disabled: true} %>
    </div>
    <%= form.fields_for :rincian do |rincian_fields| %>
      <div class="field">
        <%= rincian_fields.label :resiko, "Risiko", { class: "form-label" } %>
        <%= rincian_fields.text_area :resiko, { class: "form-control" } %>
      </div>
      <div class="field">
        <%= rincian_fields.label :skala_kemungkinan, { class: 'form-label' } %>
      </div>
      <div class="field">
        <%= rincian_fields.collection_radio_buttons :kemungkinan_id, Kemungkinan.pilihan, :id, :deskripsi do |kemungkinan_b| %>
          <div class="form-check">
            <%= kemungkinan_b.radio_button class: 'form-check-input' %>
            <%= kemungkinan_b.label class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
      <div class="field">
        <%= rincian_fields.label :dampak, { class: "form-label" } %>
        <%= rincian_fields.text_area :dampak, { class: "form-control" } %>
      </div>
      <div class="field">
        <%= rincian_fields.label :skala_dampak, { class: 'form-label' } %>
      </div>
      <div class="field">
        <%= rincian_fields.collection_radio_buttons :skala_id, Dampak.pilihan, :id, :deskripsi do |skala_b| %>
          <div class="form-check">
            <%= skala_b.radio_button class: 'form-check-input' %>
            <%= skala_b.label class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit "Simpan" %>
    </div>
  <% end %>
</div>
