<%= form_with(url: sasaran_rincian_path(@sasaran.id, @rincian.id), local: false, method: :patch) do |form| %>
  <% if rincian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rincian.errors.count, "error") %> prohibited this rincian from being saved:</h2>
      <ul>
        <% rincian.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :sasaran, @sasaran do |sasaran_fields|  %>
    <div class="field">
      <%= sasaran_fields.label :sasaran_kinerja, { class: "form-label" } %>
      <%= sasaran_fields.text_area :sasaran_kinerja, {class: "form-control", readonly: true} %>
    </div>
  <% end %>
  <%= form.fields_for :rincian, @rincian do |rincian_fields|  %>
    <div class="field">
      <%= rincian_fields.label :resiko, { class: "form-label" } %>
      <%= rincian_fields.text_area :resiko, { class: "form-control" } %>
    </div>
    <div class="field">
      <%= rincian_fields.label :dampak, { class: 'form-label' } %>
          <%= rincian_fields.select :dampak, [], {},
            { class: 'form-control',
              data: { placeholder: 'Skala Resiko',
                      controller: 'dropdown',
                      dropdown_jenis_value: 'ajax',
                      dropdown_url_value: skalas_path(:json)
                    }} %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "Simpan" %>
  </div>
<% end %>
