<div class="card-body">
  <div class="table-responsive">
    <table class="table align-items-center border-start border-end" id="tabel_daftar_resiko">
      <thead class="thead-light">
        <tr>
          <th class="border" scope="col">No</th>
          <th class="border text-center">Rencana Kinerja</th>
          <th class="border text-center">Indikator</th>
          <th class="border text-center">Target</th>
          <th class="border text-center">Satuan</th>
          <th class="border text-center">Anggaran</th>
          <th class="border text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @subkegiatan_sasarans.each do |subkegiatan, sasarans| %>
          <% pagu = sasarans.map(&:total_anggaran).compact.sum %>
          <tr>
            <td class="border text-wrap fw-bolder text-gray-900" scope="row" colspan="5">Subkegiatan: <%= subkegiatan.nama_subkegiatan %></td>
            <td class="border" scope="row">Rp. <%= number_with_delimiter(pagu) %></td>
            <td class="border"></td>
          </tr>
          <% sasarans.each.with_index(1) do |sasaran, i| %>
            <tr>
              <td class="border" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= i %></td>
              <td class="border text-wrap" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.sasaran_kinerja %></td>
              <td class="p-0 m-0" colspan="3"></td>
              <td class="border" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>">Rp. <%= number_with_delimiter(sasaran.total_anggaran) %></td>
              <td class="border" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>">
                <div class="row justify-content-center w-100">
                  <div class="col">
                    <%= link_to sasaran_program_opd_add_dampak_resiko_path(sasaran),
                        { remote: true, class: 'm-3 btn btn-sm btn-outline-info w-100',
                          data: { 'bs-toggle': 'modal', 'bs-target': '#form-dampak-daftar-resiko'}, } do %>
                      Edit
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <% sasaran.indikator_sasarans.each do |indikator| %>
              <tr>
                <td class="border text-wrap"><%= indikator.indikator_kinerja %></td>
                <td class="border text-center"><%= indikator.target %></td>
                <td class="border"><%= indikator.satuan %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <th class="border">Permasalahan</th>
              <td class="text-wrap" colspan="6"><%= sasaran.permasalahan_sasaran %></td>
            </tr>
            <tr>
              <td></td>
              <th class="border">Pernyataan Resiko</th>
              <td class="text-wrap" colspan="6"><%= sasaran.rincian&.resiko %></td>
            </tr>
            <tr>
              <td></td>
              <th class="border">Skala Kemungkinan</th>
              <td class="text-wrap" colspan="6"><%= sasaran.rincian&.kemungkinan %></td>
            </tr>
            <tr>
              <td></td>
              <th class="border">Dampak</th>
              <td class="text-wrap" colspan="6"><%= sasaran.rincian&.dampak %></td>
            </tr>
            <tr>
              <td></td>
              <th class="border">Skala Dampak</th>
              <td class="text-wrap" colspan="6"><%= sasaran.rincian&.skala_dampak&.deskripsi %></td>
            </tr>
            <tr>
              <td></td>
              <th class="border">Peta Resiko</th>
              <td class="fw-bolder text-wrap" colspan="6">A</td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
