<h5>Verifikasi Manajemen Risiko Sasaran Kinerja</h5>
<%= form_with model: sasaran,
              url: verifikasi_risiko_sasaran_path(sasaran, nomor: @nomor, laporan: @laporan, butuh_verifikasi: @butuh_verifikasi),
              local: false,
              method: :patch,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(sasaran),
                action: 'ajax:complete->form-ajax#processAjax'} do |form| %>
  <div class="field">
    <%= form.label :sasaran_kinerja, { class: "form-label" } %>
    <%= form.text_area :sasaran_kinerja, {class: "form-control", readonly: true, disabled: true} %>
  </div>
  <div class="field">
    <%= form.label :permasalahan, { class: "form-label" } %>
    <%= form.text_area :permasalahan_sasaran, {class: "form-control", readonly: true, disabled: true} %>
  </div>
  <%= form.fields_for :rincian do |rincian_fields| %>
    <div class="field">
      <%= rincian_fields.label :resiko, "Risiko", { class: "form-label" } %>
      <%= rincian_fields.text_area :resiko, { class: "form-control", readonly: true, disabled: true} %>
    </div>
    <div class="field">
      <%= rincian_fields.label :skala_kemungkinan, { class: 'form-label' } %>
    </div>
    <div class="field">
      <%= rincian_fields.collection_radio_buttons :kemungkinan_id, [[rincian_fields.object.kemungkinan_id, rincian_fields.object.kemungkinan.deskripsi]], :first, :last do |kemungkinan_b| %>
        <div class="form-check">
          <%= kemungkinan_b.radio_button class: 'form-check-input' %>
          <%= kemungkinan_b.label class: 'form-check-label' %>
        </div>
      <% end %>
    </div>
    <div class="field">
      <%= rincian_fields.label :dampak, { class: "form-label" } %>
      <%= rincian_fields.text_area :dampak, { class: "form-control", readonly: true, disabled: true } %>
    </div>
    <div class="field">
      <%= rincian_fields.label :skala_dampak, { class: 'form-label' } %>
    </div>
    <div class="field">
      <%= rincian_fields.collection_radio_buttons :skala_id, [[rincian_fields.object.skala_id, rincian_fields.object.skala_dampak.deskripsi]], :first, :last do |skala_b| %>
        <div class="form-check">
          <%= skala_b.radio_button class: 'form-check-input' %>
          <%= skala_b.label class: 'form-check-label' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :status_dampak_resiko, "Verifikasi", { class: "form-label" } %>
  </div>
  <div class="field">
    <%= form.collection_radio_buttons :status_dampak_resiko, [['Setuju', 'Setuju'], ['Tolak', 'Tolak']], :first, :last, required: true do |setuju_b| %>
      <div class="form-check">
        <%= setuju_b.radio_button class: 'form-check-input' %>
        <%= setuju_b.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <% verifikator = current_user.id %>
    <%= form.hidden_field :verifikator_dampak_resiko, value: verifikator %>
    <%= form.label :komentar_dampak_resiko, "Komentar dampak risiko", { class: "form-label" } %>
    <%= form.text_area :komentar_dampak_resiko, {class: "form-control", required: true} %>
  </div>
  <div class="actions">
    <%= form.submit "Verifikasi" %>
  </div>
<% end %>
