<h5>Verifikasi Manajemen Resiko Sasaran Kinerja</h5>
<%= form_with(url: sasaran_path(@sasaran), local: false,
              method: :patch,
              data: {
                controller: 'form-ajax',
                action: 'ajax:complete->form-ajax#processAjax'
              }) do |form| %>
  <%= form.fields_for :sasaran, @sasaran do |sasaran_fields| %>
    <div class="field">
      <%= sasaran_fields.label :sasaran_kinerja, { class: "form-label" } %>
      <%= sasaran_fields.text_area :sasaran_kinerja, {class: "form-control", readonly: true, disabled: true} %>
    </div>
    <div class="field">
      <%= sasaran_fields.label :permasalahan, { class: "form-label" } %>
      <%= sasaran_fields.text_area :permasalahan_sasaran, {class: "form-control", readonly: true, disabled: true} %>
    </div>
  <% end %>
  <%= form.fields_for :rincian, @rincian do |rincian_fields| %>
    <div class="field">
      <%= rincian_fields.label :resiko, { class: "form-label" } %>
      <%= rincian_fields.text_area :resiko, { class: "form-control", readonly: true, disabled: true} %>
    </div>
    <div class="field">
      <%= rincian_fields.label :skala_kemungkinan, { class: 'form-label' } %>
      <%= rincian_fields.select :kemungkinan_id, raw("<option value='#{@rincian.kemungkinan&.id}' selected='selected'>#{@rincian.kemungkinan&.deskripsi}</option>"), {include_blank: true},
       { class: 'form-control',
         disabled: true,
         data: { placeholder: 'Skala Kemungkinan',
           controller: 'dropdown',
           dropdown_jenis_value: 'ajax',
           dropdown_url_value: kemungkinans_path(:json)
       }} %>
    </div>
    <div class="field">
      <%= rincian_fields.label :dampak, { class: "form-label" } %>
      <%= rincian_fields.text_area :dampak, { class: "form-control", readonly: true, disabled: true } %>
    </div>
    <div class="field">
      <%= rincian_fields.label :skala_dampak, { class: 'form-label' } %>
      <%= rincian_fields.select :skala_id, raw("<option value='#{@rincian.skala_dampak&.id}' selected='selected'>#{@rincian.skala_dampak&.deskripsi}</option>"), {include_blank: true},
       { class: 'form-control',
         disabled: true,
         data: { placeholder: 'Skala Dampak',
           controller: 'dropdown',
           dropdown_jenis_value: 'ajax',
           dropdown_url_value: dampaks_path(:json)
       }} %>
    </div>
  <% end %>
  <%= form.fields_for :sasaran, @sasaran do |sasaran_fields| %>
    <div class="field">
      <%= sasaran_fields.label :status_dampak_resiko, { class: "form-label" } %>
      <%= sasaran_fields.select :status_dampak_resiko,['Setuju', 'Tolak'] , {include_blank: true},
       { class: 'form-control',
         data: { placeholder: 'Status Dampak Resiko Sasaran',
           controller: 'dropdown',
           dropdown_parent_value: '#form-modal'
       }} %>
    </div>
    <div class="field">
      <%= sasaran_fields.label :komentar_dampak_resiko, { class: "form-label" } %>
      <%= sasaran_fields.text_area :komentar_dampak_resiko, {class: "form-control"} %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "Verifikasi" %>
  </div>
<% end %>
