<%= content_for :html_title, "Manajemen Resiko" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan</li>
  <li class="breadcrumb-item active" aria-current="page">Manajemen Resiko</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Manajemen Resiko <%= @opd.nama_opd %></h2>
        </div>
        <div class="col-auto text-end">
          <h2 class="fs-5 fw-bold"><%= @tahun %></h2>
        </div>
      </div>
    </div>
    <%= render 'filter/daftar_resiko' %>
  </div>
  <%= render 'shared/modal_template', modal_name: 'dampak-daftar-resiko' %>
<% end %>
