<%= form_with(model: isu_strategis_opd) do |form| %>
  <% if isu_strategis_opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(isu_strategis_opd.errors.count, "error") %> prohibited this isu_strategis_opd from being saved:</h2>

      <ul>
        <% isu_strategis_opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode %>
    <%= form.text_field :kode %>
  </div>

  <div class="field">
    <%= form.label :isu_strategis %>
    <%= form.text_field :isu_strategis %>
  </div>

  <div class="field">
    <%= form.label :tahun %>
    <%= form.text_field :tahun %>
  </div>

  <div class="field">
    <%= form.label :kode_opd %>
    <%= form.text_field :kode_opd %>
  </div>

  <div class="field">
    <%= form.label :tujuan %>
    <%= form.text_field :tujuan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
