<%= form_with(model: isu_strategis_opd,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: 'isu-strategis',
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <% if isu_strategis_opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(isu_strategis_opd.errors.count, "error") %> prohibited this isu_strategis_opd from being saved:</h2>

      <ul>
        <% isu_strategis_opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode_bidang_urusan, class: 'form-label' %>
    <%= form.text_field :kode_bidang_urusan, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :bidang_urusan, class: 'form-label' %>
    <%= form.text_field :bidang_urusan, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :kode_opd, class: 'form-label' %>
    <%= form.text_field :kode_opd, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :isu_strategis, class: 'form-label' %>
    <%= form.text_area :isu_strategis, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.select :tahun, selected_tahun(form.object.tahun),
     {include_blank: true},
     { class: "form-control",
       data: {
         placeholder: "Pilih Tahun Isu Strategis",
         controller: 'dropdown',
         dropdown_jenis_value: 'ajax',
         dropdown_url_value: kelompok_anggarans_path(:json),
         dropdown_parent_value: '#form-modal'
       }
     } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
