<%= form_with(model: isu_strategis_opd,
              local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: 'isu-strategis',
                action: 'ajax:complete->form-ajax#afterSubmitRefresh'
              }
) do |form| %>
  <% if isu_strategis_opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(isu_strategis_opd.errors.count, "error") %> prohibited this isu_strategis_opd from being saved:</h2>

      <ul>
        <% isu_strategis_opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :kode_bidang_urusan, class: 'form-control', readonly: true %>
    <%= form.hidden_field :kode_opd, class: 'form-control', readonly: true %>
    <%= form.hidden_field :tahun, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :bidang_urusan, class: 'form-label' %>
    <%= form.text_field :bidang_urusan, required: true, class: 'form-control', readonly: true %>
  </div>

  <div class="field">
    <%= form.label :isu_strategis, class: 'form-label' %>
    <%= form.text_area :isu_strategis, class: 'form-control', required: true %>
  </div>

  <div class="field mt-0" id="permasalahan-opds">
    <%= form.fields_for :permasalahan_opds do |permasalahan| %>
      <%= render 'isu_strategis_opds/permasalahan_opd_fields', form: permasalahan %>
    <% end %>
  </div>
  <%= link_to_add_nested(form, :permasalahan_opds, "#permasalahan-opds",
                             link_classes: 'btn btn-outline-primary w-25',
                             link_text: 'Tambah Permasalahan',
                             partial: 'isu_strategis_opds/permasalahan_opd_fields') %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
