<fieldset class="mb-3">
  <div class="field mt-0">
    <%= form.hidden_field :kode_opd, { class: "form-control" } %>
    <%= form.hidden_field :tahun, { class: "form-control" } %>
  </div>

  <div class="field mt-0">
    <%= form.label :permasalahan, { class: "form-label" } %>
    <%= form.text_area :permasalahan, { class: "form-control" } %>
  </div>

  <% if form.object.data_dukungs.empty? %>
    <div class="field row mt-0" id="data-dukung">
      <%= form.fields_for :data_dukungs, DataDukung.new(tahun: @tahun, data_dukungable: form.object) do |f_target| %>
        <%= render 'data_dukungs/data_dukung_fields', form: f_target %>
      <% end %>
    </div>
  <% else %>
    <div class="field row mt-0" id="data-dukung">
      <%= form.fields_for :data_dukungs do |f_target| %>
        <%= render 'data_dukungs/data_dukung_fields_edit', form: f_target %>
      <% end %>
    </div>
  <% end %>
  <%= link_to_add_nested(form, :data_dukungs, "#data-dukung",
                         link_classes: 'btn btn-outline-info',
                         link_text: 'Tambah data',
                         partial: 'data_dukungs/data_dukung_fields') %>

  <%= link_to_remove_nested(form, link_text: 'Hapus Permasalahan',
                            link_classes: 'btn btn-outline-danger w-100 mt-2') %>
</fieldset>
