<tr>
  <td class="text-gray-900 fw-bolder" scope="row"><%= i %></td>
  <td class="fw-bolder text-gray-500"><%= isu_strategis_opd.isu_strategis %></td>
  <td class="fw-bolder text-gray-500"><%= isu_strategis_opd.tujuan %></td>
  <td class="fw-bolder text-gray-500"><%= isu_strategis_opd.tahun %></td>
  <td class="fw-bolder text-gray-500 text-center"><%= isu_strategis_opd.opd.nama_opd %></td>
  <td class="fw-bolder text-gray-500 text-center">
    <%= link_to edit_isu_strategis_opd_path(isu_strategis_opd),
      class: "m-3" do %>
        <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
    <% end %>
    <%= link_to isu_strategis_opd, method: :delete,
      data: { confirm_swal: "Hapus #{isu_strategis_opd.isu_strategis} ?"},
      class: "m-3" do %>
        <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
    <% end %>
  </td>
</tr>
