<p id="notice"><%= notice %></p>

<p>
  <strong>Kode:</strong>
  <%= @isu_strategis_opd.kode %>
</p>

<p>
  <strong>Isu strategis:</strong>
  <%= @isu_strategis_opd.isu_strategis %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @isu_strategis_opd.tahun %>
</p>

<p>
  <strong>Kode opd:</strong>
  <%= @isu_strategis_opd.kode_opd %>
</p>

<p>
  <strong>Tujuan:</strong>
  <%= @isu_strategis_opd.tujuan %>
</p>

<%= link_to 'Edit', edit_isu_strategis_opd_path(@isu_strategis_opd) %> |
<%= link_to 'Back', isu_strategis_opds_path %>
