<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <h4 class="card-title">
      Permasalahan 
    </h4>
    <div class="link-tambah">
      <%= link_to 'Tambah Permasalahan', new_sasaran_permasalahan_path(sasaran), remote: true, class: 'btn btn-primary',
          data: {'bs-toggle': 'modal', 'bs-target': '#form-permasalahan'} %>
    </div>
  </div>
  <% unless sasaran.permasalahans.nil? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Jenis</th>
              <th>Permasalahan</th>
              <th>Penyebab Internal</th>
              <th>Penyebab External</th>
              <th class="text-center align-middle">Action</th>
            </tr>
          </thead>
          <tbody>
            <% sasaran.permasalahans.order(:updated_at).each do |permasalahan| %>
              <tr>
                <td class="align-middle text-wrap"><%= permasalahan.jenis %></td>
                <td class="align-middle text-wrap"><%= permasalahan.permasalahan %></td>
                <td class="align-middle text-wrap"><%= permasalahan.penyebab_internal %></td>
                <td class="align-middle text-wrap"><%= permasalahan.penyebab_external %></td>
                <td class="text-center align-middle">
                  <%= link_to 'Edit permasalahan', edit_sasaran_permasalahan_path(sasaran,permasalahan), remote: true, class: 'btn btn-outline-info text-center',
                  data: {'bs-toggle': 'modal', 'bs-target': '#form-permasalahan'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
