<p id="notice"><%= notice %></p>

<h1>Dampaks</h1>

<table>
  <thead>
    <tr>
      <th>Deskripsi</th>
      <th>Nilai</th>
      <th>Tipe Nilai</th>
      <th>Kode Skala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dampaks.each do |dampak| %>
      <tr>
        <td><%= dampak.deskripsi %></td>
        <td><%= dampak.nilai %></td>
        <td><%= dampak.tipe_nilai %></td>
        <td><%= dampak.kode_skala %></td>
        <td><%= link_to 'Show', dampak %></td>
        <td><%= link_to 'Edit', edit_dampak_path(dampak) %></td>
        <td><%= link_to 'Destroy', dampak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dampak', new_dampak_path %>
