<%= form_with(model: skala, local: false ) do |form| %>
  <% if skala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skala.errors.count, "error") %> prohibited this skala from being saved:</h2>

      <ul>
        <% skala.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode_skala, class: 'form-label' %>
    <%= form.text_field :kode_skala , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :jenis, class: 'form-label' %>
    <%= form.text_field :jenis , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :pilihan, class: 'form-label'  %>
    <%= form.text_field :pilihan, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :jenis_skor, class: 'form-label'  %>
    <%= form.text_field :jenis_skor, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :skor, class: 'form-label' %>
    <%= form.text_field :skor, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
