<%= form_with(model: skala, local: false ) do |form| %>
  <% if skala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skala.errors.count, "error") %> prohibited this skala from being saved:</h2>

      <ul>
        <% skala.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode, class: 'form-label' %>
    <%= form.text_field :kode_skala , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tipe, class: 'form-label' %>
    <%= form.select :type , [['Dampak', 'Dampak'],['Kemungkinan', 'Kemungkinan']],{},class: 'form-control', data: { controller: 'dropdown' } %>
  </div>

  <div class="field">
    <%= form.label :deskripsi_nilai, class: 'form-label' %>
    <%= form.text_field :deskripsi , class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :nilai, class: 'form-label'  %>
    <%= form.number_field :nilai, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :tipe_nilai, class: 'form-label'  %>
    <%= form.text_field :tipe_nilai, class: 'form-control', placeholder: 'skor'  %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
