<%= form_with(model: skala, local: false, data: {
   controller: 'form-ajax',
   form_ajax_target_param: dom_id(skala),
   form_ajax_type_param: skala.new_record? ? 'prepend' : '',
   action: 'ajax:complete->form-ajax#processAjax'
} ) do |form| %>
  <% if skala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skala.errors.count, "error") %> prohibited this skala from being saved:</h2>

      <ul>
        <% skala.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kode, class: 'form-label' %>
    <%= form.select :kode_skala , [['dampak', 'dampak'],['kemungkinan', 'kemungkinan']],{},class: 'form-control', data: { controller: 'dropdown', dropdown_parent_value: '#form-modal' } %>
  </div>

  <div class="field">
    <%= form.label :tipe, class: 'form-label' %>
    <%= form.select :type , [['Dampak', 'Dampak'],['Kemungkinan', 'Kemungkinan']],{},class: 'form-control', data: { controller: 'dropdown', dropdown_parent_value: '#form-modal' } %>
  </div>

  <div class="field">
    <%= form.label :deskripsi_nilai, class: 'form-label' %>
    <%= form.text_field :deskripsi , class: 'form-control' %>
  </div>

  <div class="field">
    <% nilai_range = (1..5) %>
    <%= form.label :nilai, class: 'form-label'  %>
    <%= form.select :nilai , nilai_range, {},class: 'form-control', data: { controller: 'dropdown', dropdown_parent_value: '#form-modal' } %>
  </div>

  <div class="field">
    <%= form.label :tipe_nilai, class: 'form-label'  %>
    <%= form.select :tipe_nilai , [['skor', 'skor']],{},class: 'form-control', data: { controller: 'dropdown', dropdown_parent_value: '#form-modal' } %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
