<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Skala Dampak Resiko", skalas_path %></li>
      </ol>
    </nav>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Skala Dampak dan Resiko</h2>
          </div>
          <div class="col text-end">
            <%= link_to "Tambah Skala Baru", new_skala_path, remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-skala-dampak'}, class: "btn btn-sm btn-info" %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-flush">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom" scope="col">No.</th>
                <th class="border-bottom" scope="col">Kode</th>
                <th class="border-bottom" scope="col">Jenis</th>
                <th class="border-bottom" scope="col">Deskripsi</th>
                <th class="border-bottom" scope="col">Nilai</th>
                <th class="border-bottom" scope="col">Jenis Nilai</th>
                <th class="border-bottom" scope="col">Keterangan</th>
                <th class="border-bottom text-center" colspan="3">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @skalas.order([:type, :nilai]).each.with_index(1) do |skala, i| %>
                <tr>
                  <td class="fw-bolder" scope="row"><%= i %></td>
                  <td class="fw-bolder"><%= skala.kode_skala %></td>
                  <td class="fw-bolder"><%= skala.type.capitalize %></td>
                  <td class="fw-bolder"><%= skala.deskripsi %></td>
                  <td class="fw-bolder"><%= skala.nilai %></td>
                  <td class="fw-bolder"><%= skala.tipe_nilai %></td>
                  <td class="fw-bolder"><%= skala.keterangan %></td>
                  <td class="fw-bolder"><%= link_to skala do %>
                      <i class="fas fa-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Show item"></i>
                    <% end %>
                  </td>
                  <td class="fw-bolder"><%= link_to edit_skala_path(skala), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-skala-dampak'} do %>
                      <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                    <% end %>
                  </td>
                  <td class="fw-bolder"><%= link_to skala, method: :delete, data: { confirm_swal: "Hapus skala #{skala.type}?" } do %>
                      <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal_template', modal_name: 'skala-dampak' %>
