<%= content_for :html_title, "Master Skala" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Data Master</li>
  <li class="breadcrumb-item active" aria-current="page">Skala</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Master Skala</h2>
        </div>
        <div class="col text-end">
          <%= link_to new_skala_path,
                      remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'ajax:complete->form-modal#success:prevent',
                        bs_toggle: 'modal',
                        bs_target: '#form-modal'
                      },
                      class: 'btn btn-sm btn-outline-primary' do %>
            <i class="fas fa-plus me-2"></i>
            <span>Tambah Skala Baru</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered counter">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom" scope="col">No.</th>
              <th class="border-bottom" scope="col">Kode</th>
              <th class="border-bottom" scope="col">Jenis</th>
              <th class="border-bottom" scope="col">Deskripsi</th>
              <th class="border-bottom" scope="col">Nilai</th>
              <th class="border-bottom" scope="col">Jenis Nilai</th>
              <th class="border-bottom" scope="col">Keterangan</th>
              <th class="border-bottom text-center">Action</th>
            </tr>
          </thead>
          <tbody id="new_skala">
            <%= render partial: 'skalas/skala', collection: @skalas %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= render 'shared/modal_template', modal_name: 'skala-dampak' %>
<% end %>
