<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h2 class="fs-5 fw-bold mb-0">Rekap Pohon Kinerja</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row gy-4">
      <div class="card pb-3 shadow border-tertiary table-responsive">
        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
          <h2 class="fs-5 fw-bold mb-0">Pohon Kinerja <%= @nama_opd %> - Tahun <%= @tahun %></h2>
          <a href="#" class="btn btn-sm btn-primary"><i class="fa fa-print me-2"></i>Cetak</a>
        </div>
        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
          <ul>
            <li>Jumlah Isu Strategis: <%= @isu_opd.size %></li>
            <li>Jumlah Strategi Kota: <%= @isu_opd.map { |_, strategis| strategis.count }.inject(:+) %></li>
            <li>Jumlah Tactical Objective : <%= @rekap_jumlah[:tactical] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_tactical] %></li>
            <li>Jumlah Strategic Objective : <%= @rekap_jumlah[:strategic] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_strategic] %></li>
            <li>Jumlah Operational Objective : <%= @rekap_jumlah[:operational] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_operational] %></li>
            <li>Jumlah Operational Objective 2 : <%= @rekap_jumlah[:operational_staff] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_staff] %></li>
          </ul>
        </div>
        <table class="table table-bordered border-primary rounded">
          <thead>
            <tr>
              <th class="fw-bolder">No</th>
              <th class="fw-bolder">Strategi</th>
              <th class="fw-bolder">Indikator</th>
              <th class="fw-bolder">Target / Satuan</th>
            </tr>
          </thead>
          <tbody>
            <% @isu_opd.each do |isu, strategis| %>
              <tr>
                <th colspan="4" class="text-wrap"><%= isu.class.name.pluralize.underscore.titleize %>: <%= isu.isu_strategis %>
                &nbsp;
                <%= link_to clone_list_opd_pohon_kinerja_index_path(isu_strategis: isu.id,
                                                                    opd_id: @opd.id,
                                                                    tahun_sekarang: @tahun,
                                                                    jenis: 'opd'), remote: true, 
                    data: { 
                      controller: 'form-modal',
                      action: 'form-modal#appendForm',
                      form_modal_location_param: 'form-clone-body',
                      bs_toggle: 'modal',
                      bs_target: '#form-clone'
                    },
                    class: "btn btn-sm btn-primary" do %>
                    <i class="fa fa-clone me-2"></i>Clone
                  <% end %>
                </th>
              </tr>
              <% strategis.each.with_index(1) do |(strategi, strategi_kaopds), no_str| %>
                <tr style="background-color: #E5FDD1;">
                  <th rowspan="<%= strategi.indikators_tahun(@tahun).size + 1 %>" class="align-middle"><%= no_str %></th>
                  <th rowspan="<%= strategi.indikators_tahun(@tahun).size + 1 %>" class="align-middle text-wrap"><%= strategi.strategi %> </th>
                </tr>
                <% strategi.indikators_tahun(@tahun).each do |ind_kota| %>
                  <tr style="background-color: #E5FDD1;">
                    <td class="text-wrap"><%= ind_kota.indikator %></td>
                    <td class="text-wrap"><%= "#{ind_kota.target} #{ind_kota.satuan}" %></td>
                  </tr>
                <% end %>
                <% strategi_kaopds.each do |str_kaopd, strategi| %>
                    <tr class="">
                      <th colspan="4">Nama: <%= str_kaopd.nama_pemilik %> | 
                        NIP: <%= str_kaopd.nip_pemilik %> | 
                        Jabatan: <%= str_kaopd.jabatan_pemilik %> </th>
                    </tr>
                    <tr style="background-color: #C8B6A6">
                      <td rowspan="<%= str_kaopd.indikators.size + 1%>">Tactical</td>
                      <td rowspan="<%= str_kaopd.indikators.size + 1%>" class="text-wrap"><%= str_kaopd.strategi %></td>
                    </tr>
                    <% str_kaopd.indikators.each do |ind_kaopd| %>
                      <tr style="background-color: #C8B6A6">
                        <td class="text-wrap"><%= ind_kaopd.indikator_kinerja %></td>
                        <td class="text-wrap"><%= "#{ind_kaopd.target} #{ind_kaopd.satuan}" %></td>
                      </tr>
                    <% end %>
                    <% strategi.each do |str_kabid, str_kasis| %>
                      <tr class="">
                        <th colspan="4">Nama: <%= str_kabid.nama_pemilik %> | 
                          NIP: <%= str_kabid.nip_pemilik %> | 
                          Jabatan: <%= str_kabid.jabatan_pemilik %> </th>
                      </tr>
                      <% str_kabid.programs_strategi.each do |program, subkegiatans| %>
                        <tr class="program">
                          <th colspan="4">Program: <%= program %></th>
                        </tr>
                      <% end %>
                      <tr style="background-color: #CCD5AE">
                        <td rowspan="<%= str_kabid.indikators.size + 1 %>">Strategic</td>
                        <td rowspan="<%= str_kabid.indikators.size + 1 %>" class="text-wrap"><%= str_kabid.strategi %></td>
                      </tr>
                      <% str_kabid.indikators.each do |ind_kabid| %>
                        <tr style="background-color: #CCD5AE">
                          <td class="text-wrap"><%= ind_kabid.indikator_kinerja %></td>
                          <td class="text-wrap"><%= "#{ind_kabid.target} #{ind_kabid.satuan}" %></td>
                        </tr>
                      <% end %>
                      <% str_kasis.each do |str_kasi, str_staffs| %>
                        <tr class="">
                          <th colspan="4">Nama: <%= str_kasi.nama_pemilik %> | 
                            NIP: <%= str_kasi.nip_pemilik %> | 
                            Jabatan: <%= str_kasi.jabatan_pemilik %> </th>
                        </tr>
                        <tr class="subkegiatan">
                          <th colspan="4">Subkegiatan: <%= str_kasi.subkegiatan_strategi %></th>
                        </tr>
                        <tr style="background-color: #E7AB9A">
                          <td rowspan="<%= str_kasi.indikators.size + 1 %>">Operational</td>
                          <td rowspan="<%= str_kasi.indikators.size + 1 %>"class="text-wrap"><%= str_kasi.strategi %></td>
                        </tr>
                        <% str_kasi.indikators.each do |ind_kasi| %>
                          <tr style="background-color: #E7AB9A">
                            <td class="text-wrap"><%= ind_kasi.indikator_kinerja %></td>
                            <td class="text-wrap"><%= "#{ind_kasi.target} #{ind_kasi.satuan}" %></td>
                          </tr>
                        <% end %>
                        <% str_staffs.each do |str_staff| %>
                          <tr class="">
                            <th colspan="4">Nama: <%= str_staff.nama_pemilik %> | 
                              NIP: <%= str_staff.nip_pemilik %> | 
                              Jabatan: <%= str_staff.jabatan_pemilik %> </th>
                          </tr>
                          <tr style="background-color: #FFF1DC">
                            <td rowspan="<%= str_staff.indikators.size + 1 %>" class="">Opertional 2</td>
                            <td rowspan="<%= str_staff.indikators.size + 1 %>" class="text-wrap"><%= str_staff.strategi %></td>
                          </tr>
                          <% str_staff.indikators.each do |ind_staff| %>
                            <tr style="background-color: #FFF1DC">
                              <td class="text-wrap"><%= ind_staff.indikator_kinerja %></td>
                              <td class="text-wrap"><%= "#{ind_staff.target} #{ind_staff.satuan}" %></td>
                            </tr>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                <tr class="rekap_pokin_separator">
                  <td colspan="4"></td>
                </tr>
                <% end%>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
