<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h2 class="fs-5 fw-bold mb-0">Rekap Pohon Kinerja</h2>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row gy-4">
      <div class="card pb-3 shadow border-tertiary table-responsive">
        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
          <h2 class="fs-5 fw-bold mb-0">Pohon Kinerja <%= @nama_opd %> - Tahun <%= @tahun %></h2>
          <%= link_to excel_opd_pohon_kinerja_index_path(format: :xlsx), class: "btn btn-sm btn-primary" do %>
            <i class="fa fa-print me-2" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
            <span>Cetak Excel</span>
          <% end %>
          <%= link_to pdf_opd_pohon_kinerja_index_path,
          class: "btn btn-sm btn-warning",
          target: "blank",
          data: { pohon_kinerja_target: 'cetak' } do %>
            <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
            <span>Cetak GAMBAR Pohon Kinerja</span>
          <% end %>
        </div>
        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
          <ul>
            <li>Jumlah Strategic Objective : <%= @rekap_jumlah[:strategic] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:strategic_indikator] %></li>
            <li>Jumlah Tactical Objective : <%= @rekap_jumlah[:tactical] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:tactical_indikator] %></li>
            <li>Jumlah Operational Objective : <%= @rekap_jumlah[:operational] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:operational_indikator] %></li>
            <li>Jumlah Operational Objective 2 : <%= @rekap_jumlah[:operational2] %></li>
            <li>Jumlah Indikator : <%= @rekap_jumlah[:operational2_indikator] %></li>
          </ul>
        </div>
        <div class="card-header border-bottom">
          <%= render 'pohon_kinerja/komentar_card', komentars: @opd.komentars %>
          <div class="row">
            <%= render 'shared/komentar_button',
           link: komentar_pokin_komentars_path(kode_opd: @opd.kode_unik_opd,
                                               strategi_id: @opd.id,
                                               jenis: "OPD"),
           form_name: 'form-komentar' %>
          </div>
        </div>
        <table class="table table-bordered border-primary rounded">
          <thead>
            <tr>
              <th class="fw-bolder">Jenis</th>
              <th class="fw-bolder">Strategi</th>
              <th class="fw-bolder">Indikator</th>
              <th class="fw-bolder">Target / Satuan</th>
            </tr>
          </thead>
          <tbody>
            <% @isu_opd.each do |isu| %>
              <tr class="isu-strategis-kota">
                <th colspan="4" class="text-wrap"><%= isu.class.name.pluralize.underscore.titleize %>: <%= isu.isu_strategis %>
                  <% if current_user.nik == 'super_admin' %>
                    &nbsp;
                    <%= link_to clone_list_opd_pohon_kinerja_index_path(isu_strategis: isu.id,
                                                                      opd_id: @opd.id,
                                                                      tahun_sekarang: @tahun,
                                                                      tipe_isu: isu.class.name,
                                                                      jenis: 'opd'), remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'form-modal#appendForm',
                        form_modal_location_param: 'form-clone-body',
                        bs_toggle: 'modal',
                        bs_target: '#form-clone'
                      },
                      class: "btn btn-sm btn-primary" do %>
                      <i class="fa fa-clone me-2"></i>Clone
                    <% end %>
                  <% end %>
                </th>
              </tr>
              <% isu.strategi_kotums.each do |strategi| %>
                <tr class="strategi-kota">
                  <th rowspan="<%= strategi.indikators_tahun(@tahun).size + 1 %>" class="align-middle">Strategi Kota</th>
                  <th rowspan="<%= strategi.indikators_tahun(@tahun).size + 1 %>" class="align-middle text-wrap"><%= strategi.strategi %></th>
                </tr>
                <% strategi.indikators_tahun(@tahun).each do |ind_kota| %>
                  <tr class="strategi-kota">
                    <td class="text-wrap"><%= ind_kota.indikator %></td>
                    <td class="text-wrap"><%= "#{ind_kota.target} #{ind_kota.satuan}" %></td>
                  </tr>
                <% end %>
                <% @strategic.select { |strategic| strategic.pohon.pohonable_id == strategi.id }.each do |strategic| %>
                  <%= render 'row_strategi', strategi: strategic, jenis: "Strategic", class_style: "strategic-objective" %>
                  <% if @tactical2.any? %>
                    <% @tactical2.select{ |tactical2| tactical2.strategi_ref_id.to_i == strategic.id  }.each do |tactical2| %>
                      <%= render 'row_strategi', strategi: tactical2, jenis: "Tactical", class_style: "tactical-objective", show_program: true %>
                      <% @tactical.select{ |tactical| tactical.strategi_ref_id.to_i == tactical2.id  }.each do |tactical| %>
                        <%= render 'row_strategi', strategi: tactical, jenis: "Tactical", class_style: "tactical-objective", show_program: true %>
                        <% @operational.select{ |operational| operational.strategi_ref_id.to_i == tactical.id  }.each do |operational| %>
                          <%= render 'row_strategi', strategi: operational, jenis: "Operational", class_style: "operational-objective", show_sub: true %>
                          <% @operational2.select{ |operational2| operational2.strategi_ref_id.to_i == operational.id  }.each do |operational2| %>
                            <%= render 'row_strategi', strategi: operational2, jenis: "Operational 2", class_style: "operational-objective-2" %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% @tactical.select{ |tactical| tactical.strategi_ref_id.to_i == strategic.id  }.each do |tactical| %>
                      <%= render 'row_strategi', strategi: tactical, jenis: "Tactical", class_style: "tactical-objective", show_program: true %>
                      <% @operational.select{ |operational| operational.strategi_ref_id.to_i == tactical.id  }.each do |operational| %>
                        <%= render 'row_strategi', strategi: operational, jenis: "Operational", class_style: "operational-objective", show_sub: true %>
                        <% @operational2.select{ |operational2| operational2.strategi_ref_id.to_i == operational.id  }.each do |operational2| %>
                          <%= render 'row_strategi', strategi: operational2, jenis: "Operational 2", class_style: "operational-objective-2" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
