<%= form_with model: strategi, url: simpan_teman_pohon_kinerja_path(role: role), method: :post,
              local: false,
              data: { controller: 'form-ajax',
                      form_ajax_modal_param: 'form-panggil-teman',
                      action: 'ajax:success->form-ajax#successResponseNew'
               } do |form| %>
  <div class="field">
    <%= form.label :strategi, { class: "form-label" } %>
    <%= form.text_area :strategi, { class: "form-control", readonly: true } %>
  </div>
  <div class="field">
    <%= form.label :pelaksana, class: "form-label" %>
    <ol>
      <% dibagikan.each do |strategi_asn| %>
        <li>
          <div class="row align-items-center">
            <span class="col">
              <span class="fw-bolder"><%= strategi_asn.dibagikan_ke %></span>
              <small>( role: <%= strategi_asn&.role %> )</small>
            </span>
            <span class="col-auto">
              <%= hidden_field_tag 'tidak_dibagikan[]', strategi_asn.id -%>
              <%= check_box_tag 'dibagikan[]', strategi_asn.id, true %>
            </span>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="field">
    <%= form.label :opd_pelaksana, { class: "form-label" } %>
    <%= form.select :internal_external, ['Internal', 'External'], {include_blank: true},
        { data: { placeholder: 'Lokasi',
                  controller: 'dropdown',
                  dropdown_jenis_value: 'chain',
                  dropdown_event_name_value: 'change-opd',
                  dropdown_parent_value: '#form-pelaksana-body'
                }
        } %>
  </div>
  <div class="field mb-5">
    <%= form.label :opd, { class: "form-label" } %>
    <%= form.select :opd_list, [], {include_blank: true},
     {
       multiple: true,
       data: { placeholder: "OPD Pelaksana",
         controller: 'dropdown',
         dropdown_jenis_value: 'ajax_preselect',
         dropdown_url_value: legit_opd_opds_path(:json),
         dropdown_kode_opd_value: kode_opd,
         dropdown_parent_value: '#form-pelaksana-body',
         action: 'change-opd@document->dropdown#chain_internal_or_external_opd_target'
       }
     } %>
  </div>
  <div class="field">
    <%= form.label :asn, class: "form-label" %>
    <%= form.select :nip, temans.collect{ |asn| [asn.nama_nip, asn.nik] },
      { include_blank: true },
      multiple: true,
      data: {
        controller: 'dropdown',
        placeholder: 'Pilih ASN',
        dropdown_parent_value: '#form-pelaksana'
      },
      class: "form-control" %>
  </div>
  <div class="field mb-5">
    <%= form.label :keterangan, { class: "form-label" } %>
    <%= form.text_area :keterangan, { class: "form-control", required: true } %>
  </div>
  <div class="actions my-4">
    <%= form.submit "Simpan Teman" %>
  </div>
<% end %>
