<%= form_with(url: pohon_kinerja_path(pohon), model: pohon,
              method: :patch, local: false,
              data: { controller: 'form-ajax',
                      form_ajax_modal_param: 'form-edit-pohon',
                      action: 'ajax:success->form-ajax#successResponseStrategiPohon'
              }) do |form| %>
  <div class="field komentars">
    <div class="mt-3">
      <b >Komentar Reviewer:</b>
    </div>
    <div>
      <%= render 'pohon_kinerja/daftar_komentars', komentars: pohon.komentars %>
    </div>
  </div>
  <div class="field">
    <%= form.label :strategi, class: "form-label" %>
    <%= form.text_field :strategi, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.fields_for :sasaran do |sasaran_form| %>
      <div class="field" id="indikator-sasarans">
        <%= sasaran_form.label :indikator, { class: "form-label" } %>
        <%= sasaran_form.fields_for :indikator_sasarans do |indikator_sas| %>
          <%= render 'sasarans/indikator_sasaran_fields', form: indikator_sas %>
        <% end %>
      </div>
      <%= link_to_add_nested(sasaran_form, :indikator_sasarans,
                                '#indikator-sasarans', link_classes: 'btn btn-outline-primary btn-sm', link_text: 'Tambah Indikator',
                                partial: 'sasarans/indikator_sasaran_fields') %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
