<div class="tf-nc">
  <div class="text-center"><strong><%= local_assigns[:judul] %></strong>
    <% if local_assigns[:tipe] != 'kota' %>
      <div class="tombol-edit container py-3">
        <div class="row gx-3">
          <div class="pindah-pohon col">
            <%= link_to pindah_pohon_kinerja_path(strategi, opd_id: strategi.opd_id, role_atasan: role_atasan),
             remote: true,
             class: 'btn btn-outline-primary',
             data: { controller: 'form-modal',
               action: 'form-modal#appendForm',
               form_modal_location_param: 'form-edit-pohon-body',
               bs_target: '#form-edit-pohon',
               bs_toggle: 'modal' } do %>
              <i class="fas fa-exchange-alt me-2"></i>
              <span>Pindah Pohon</span>
            <% end %>
          </div>
          <div class="tambah-pohon col">
            <%= link_to new_pohon_kinerja_path(role: strategi.role, isu_pohon: strategi_atasan, opd_id: strategi.opd_id),
                      remote: true,
                      class: 'btn btn-outline-success',
                      data: { controller: 'form-modal',
                              action: 'form-modal#appendForm',
                              form_modal_location_param: 'form-edit-pohon-body',
                              bs_target: '#form-edit-pohon',
                              bs_toggle: 'modal' } do %>
              <i class="fas fa-plus me-2"></i>
              <span>Tambah Pohon <%= strategi.role %></span>
            <% end %>
          </div>
          <div class="edit-pohon col">
            <%= link_to edit_pohon_kinerja_path(strategi),
                      remote: true,
                      class: 'btn btn-outline-info',
                      data: { controller: 'form-modal',
                              action: 'form-modal#appendForm',
                              form_modal_location_param: 'form-edit-pohon-body',
                              bs_target: '#form-edit-pohon',
                              bs_toggle: 'modal' } do %>
              <i class="fas fa-edit me-2"></i>
              <span>Edit Pohon</span>
            <% end %>
          </div>
          <div class="hapus-pohon col">
            <%= link_to pohon_kinerja_path(strategi),
                      remote: true, method: :delete,
                      class: 'btn btn-outline-danger',
                      data: { confirm_swal: 'Hapus pohon kinerja?' } do %>
              <i class="fas fa-trash me-2"></i>
              <span>Hapus Pohon</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr/>
  <%# INDIKATOR %>
  <% if local_assigns[:tipe] == 'kota' %>
    <div class="strategi-indikator" id="<%= dom_id(strategi) %>">
      <span class="text-center"><%= strategi.strategi %></span>
      <% if strategi.class.name == 'IsuStrategisKotum' %>
        <% strategi.indikators_tahun(@tahun).each do |ind| %>
          <p class="bg-info text-white px-2"><strong>INDIKATOR</strong></p>
          <hr/>
          <p>
            <span><%= ind.indikator %></span>
            <span>[ <%= ind.target %> <%= ind.satuan %> ]</span>
          </p>
          <hr/>
        <% end %>
      <% end %>
    </div>
    <% if strategi.class.name == 'IsuStrategisKotum' %>
      <% strategi.komentars.each do |kom| %>
        <p class="higlighted px-2"><strong>REVIEW</strong></p>
        <hr/>
        <span>Review: <%= kom.komentar %></span>
        <span>Reviewer:<%= kom.komentator %></span>
      <% end %>
    <% end %>
    <% if komentator? %>
      <p class="komentar mt-3">
        <%= link_to "Tambah Komentar", komentar_pokin_komentars_path(kode_opd: 'kota_madiun', strategi_id: strategi.id),
                                  remote: true,
                                  class: 'btn btn-sm btn-outline-gray-900',
                                  data: { controller: 'form-modal',
                                          action: 'form-modal#appendForm',
                                          form_modal_location_param: 'form-komentar-body',
                                          bs_target: '#form-komentar',
                                          bs_toggle: 'modal' } %>
      </p>
    <% end %>
  <% else %>
    <div class="strategi-indikator" id="<%= dom_id(strategi) %>">
      <span class="text-center"><%= strategi.strategi %></span>
      <% strategi.indikators.each do |ind| %>
        <p class="bg-info text-white px-2"><strong>INDIKATOR</strong></p>
        <hr/>
        <p>
          <span><%= ind.indikator_kinerja %></span>
          <span>[ <%= ind.target %> <%= ind.satuan %> ]</span>
        </p>
        <hr/>
        <% if ind.manual_ik.present? %>
          <p class="manual-ik my-3">
            <%= link_to "Manual IK", overview_indikator_sasaran_manual_ik_path(ind, ind.manual_ik),
                                    remote: true,
                                    class: 'btn btn-sm btn-outline-gray-900 w-100',
                                    data: { controller: 'form-modal',
                                            action: 'form-modal#appendForm',
                                            form_modal_location_param: 'form-manual-ik-body',
                                            bs_target: '#form-manual-ik',
                                            bs_toggle: 'modal' } %>
          </p>
        <% end %>
      <% end %>
    </div>
    <% if strategi.strategi_asli.present? %>
      <div class="mt-3">
        <b >Komentar Reviewer:</b>
      </div>
      <div id="<%= dom_id(strategi, :komentar) %>">
        <%= render 'pohon_kinerja/daftar_komentars', komentars: strategi.komentars %>
      </div>
      <p class="komentar mt-3">
        <%= render 'shared/komentar_button',
           link: komentar_pokin_komentars_path(kode_opd: strategi.opd.kode_unik_opd,
                                               strategi_id: strategi.id,
                                               jenis: local_assigns[:tipe]),
           form_name: 'form-komentar' %>
      <% end %>
    <% end %>
  </p>
  <% if local_assigns[:panggil_teman] %>
    <div class="mt-3">
      <b >Dilaksanakan Oleh:</b>
    </div>
    <div id="<%= dom_id(strategi) %>">
      <%= render 'pohon_kinerja/daftar_temans', temans: strategi.pohon_shareds %>
    </div>
    <p class="mt-3">
      <%= link_to panggil_teman_pohon_kinerja_path(strategi, role: local_assigns[:role]), remote: true,
                    class: 'btn btn-outline-gray-900 align-items-center w-100',
                    data: { controller: 'form-modal',
                            action: 'form-modal#appendForm',
                            form_modal_location_param: 'form-panggil-teman-body',
                            bs_target: '#form-panggil-teman',
                            bs_toggle: 'modal' } do %>
        <span class="fas fa-user-plus me-2"></span>
        <span>Panggil Teman</span>
      <% end %>
    </p>
  <% end %>
</div>
