<div class="tf-nc">
  <div class="text-center">
    <div class="text-center"><strong><%= strategi.to_s %></strong></div>
    <div class="text-center"><strong><%= strategi.tahun %></strong></div>
  </div>
  <hr>
  <%# INDIKATOR %>
  <div class="strategi-indikator" id="<%= dom_id(strategi) %>">
    <p class="text-center"><%= strategi.strategi %></p>
    <% if strategi.class.name == 'StrategiKotum' %>
      <% strategi.indikators_tahun(@tahun).each do |ind| %>
        <div class='indikator'>
          <p class="bg-info text-white px-2"><strong>INDIKATOR</strong></p>
          <hr>
          <span><%= ind.indikator %></span>
          <span>[ <%= ind.target %> <%= ind.satuan %> ]</span>
          <hr/>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="komentar-reviewer">
    <div class="mt-3">
      <b >Komentar Reviewer:</b>
    </div>
    <div id="<%= dom_id(strategi, :komentar) %>">
      <%= render 'pohon_kinerja/daftar_komentars', komentars: strategi.komentars %>
    </div>
    <% if komentator? %>
      <p class="komentar mt-3">
        <%= link_to "Tambah Komentar", komentar_pokin_komentars_path(komentar_param(strategi)),
                                  remote: true,
                                  class: 'btn btn-sm btn-outline-gray-900 w-100',
                                  data: { controller: 'form-modal',
                                          action: 'form-modal#appendForm',
                                          form_modal_location_param: 'form-komentar-body',
                                          bs_target: '#form-komentar',
                                          bs_toggle: 'modal' } %>
      </p>
    <% end %>
  </div>
  <div class="tambah-pohon mt-3">
    <%= link_to new_strategic_pohon_kinerja_index_path(role: 'eselon_2', isu_pohon: strategi.id, opd_id: current_user.opd.id),
                      remote: true,
                      class: 'btn btn-outline-success align-items-center w-100',
                      data: { controller: 'form-modal',
                              action: 'form-modal#appendForm',
                              form_modal_location_param: 'form-edit-pohon-body',
                              bs_target: '#form-edit-pohon',
                              bs_toggle: 'modal' } do %>
      <i class="fas fa-plus me-2"></i>
      <span>Tambah Pohon eselon_2</span>
    <% end %>
  </div>
</div>
