<div class="card border-2 shadow mb-3" id="musrenbang-card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="row align-items-center">
        <div class="col">
          <h5>Strategi ASN</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="isu-strategis-kota-table">
        <thead>
          <tr>
            <th>Strategic Objective</th>
            <th>Tactical Objective</th>
            <th>Tahun</th>
            <th>NIP</th>
            <th>Role</th>
            <th class="text-center align-middle">Aksi</th>
          </tr>
        </thead>
        <tbody>
            <% @strategis.each do |strategi| %>
              <% pohon = strategi.strategi_atasan %>
            <tr>
              <td class="text-wrap align-middle"><%= pohon.strategi %></td>
              <td class="text-wrap align-middle"><%= strategi.strategi %></td>
              <td class="text-wrap align-middle"><%= strategi.tahun %></td>
              <td class="text-wrap align-middle"><%= strategi.nip_asn %></td>
              <td class="text-wrap align-middle"><%= strategi.role %></td>
              <td class="text-center align-middle">
                <% if strategi.strategi.blank? %>
                  <%= link_to 'Isi Strategi', edit_strategi_path(strategi) %>
                <% else %>
                  <%= link_to bagikan_pokin_strategi_path(
                    strategi.id,
                    role: local_assigns[:role_bawahan],
                    pohon_id: pohon.id
                  ),
                    remote: true, class: 'btn btn-outline-gray-900',
                    data: { controller: 'form-modal',
                            action: 'form-modal#appendForm',
                            form_modal_location_param: 'form-bagikan-strategi-pokin-body',
                            bs_target: '#form-bagikan-strategi-pokin',
                            bs_toggle: 'modal' } do %>
                      <span class="fas fa-share"></span>
                      <span>Bagikan Strategic Objective</span>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
