<%= render 'pohon_kinerja/pohon_kinerja_box', opd_id: @opd.id, tahun: @tahun %>
<div class="card border-2 shadow mb-3" id="musrenbang-card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5>Pohon Cascading <%= @nama_opd %> Tahun <%= @tahun %></h5>
      </div>
      <div class="col-auto">
        <%= render 'shared/button_cog',
          link: new_strategi_path(nip: @opd.eselon_dua_opd.nik, role: "eselon_2"),
          name: "Buat Strategic Objective" %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="isu-strategis-kota-table">
        <thead>
          <tr>
            <th>Isu Strategis</th>
            <th>Strategi Kota</th>
            <th>Strategic Objective</th>
            <th class="text-center">Tahun</th>
            <th class="text-center">NIP</th>
            <th class="text-center">Role</th>
            <th class="text-center">Aksi</th>
          </tr>
        </thead>
        <tbody>
            <% @strategis.each do |strategi| %>
              <% pohon = strategi.pohon %>
            <tr>
              <td class="text-wrap align-middle">
                <%= render 'nama_pembagi_strategi', strategi: pohon.pohonable.nama_isu, nama_pemilik: "Kota Madiun"  %>
              </td>
              <td class="text-wrap align-middle">
                <%= render 'nama_pembagi_strategi', strategi: pohon.pohonable.strategi, nama_pemilik: pohon.pohonable.nama_pemilik  %>
              </td>
              <td class="text-wrap align-middle"><%= strategi.strategi %></td>
              <td class="text-wrap align-middle"><%= strategi.tahun %></td>
              <td class="text-wrap align-middle"><%= strategi.nip_asn %></td>
              <td class="text-wrap align-middle"><%= nama_eselon(strategi.role) %></td>
              <td class="text-center align-middle">
                <%= render 'tombol_aksi_pohon',
                  strategi: strategi,
                  pohon: pohon.pohonable,
                  judul_tombol: 'Strategic Objective',
                  role: strategi.role,
                  role_bawahan: local_assigns[:role_bawahan]
                %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
