<div class="card-body" data-controller="pohon-kinerja" data-pohon-kinerja-opd-value="<%= @opd.id %>" data-pohon-kinerja-tahun-value="2023">
  <div id="pokin-opd" class="pohon-kinerja" data-pohon-kinerja-target="pokin"></div>
</div>
<hr/>
<div class="card border-2 shadow mb-3" id="musrenbang-card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5>Strategi ASN</h5>
      </div>
      <div class="col-auto">
        <%= render 'shared/button_cog',
          link: new_strategi_path(nip: @opd.eselon_dua_opd.nik, role: "eselon_2"),
          name: "Buat Strategic Objective" %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="isu-strategis-kota-table">
        <thead>
          <tr>
            <th>Isu Strategis</th>
            <th>Strategic Objective</th>
            <th>Tahun</th>
            <th>NIP</th>
            <th>Role</th>
            <th class="text-center align-middle">Aksi</th>
          </tr>
        </thead>
        <tbody>
            <% @strategis.each do |strategi| %>
              <% pohon = strategi.pohon %>
            <tr>
              <td class="text-wrap align-middle">
                <%= render 'nama_pembagi_strategi', pohon: pohon.pohonable %>
              </td>
              <td class="text-wrap align-middle"><%= strategi.strategi %></td>
              <td class="text-wrap align-middle"><%= strategi.tahun %></td>
              <td class="text-wrap align-middle"><%= strategi.nip_asn %></td>
              <td class="text-wrap align-middle"><%= strategi.role %></td>
              <td class="text-center align-middle">
                <%= render 'tombol_aksi_pohon',
                  strategi: strategi,
                  pohon: pohon.pohonable,
                  role: strategi.role,
                  role_bawahan: local_assigns[:role_bawahan]
                %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
