<ul data-pohon-kinerja-target="content">
  <li>
    <div class="tf-nc" >
      <p class="text-center" data-pohon-kinerja-target="opd"><strong>Perangkat Daerah</strong></p>
      <hr/>
      <p class="text-center"><strong><%= @nama_opd %></strong></p>
    </div>
    <ul>
      <% @isu_strategis_pohon.each do |isu| %>
        <li>
          <div class="tf-nc">
            <p class="text-center"><strong>ISU STRATEGIS</strong></p>
            <hr/>
            <span class="text-center"><%= isu.isu_strategis %></span>
          </div>
          <ul>
            <% @strategi_kotas.select { |sk| sk.pohonable.isu_strategis_kota_id.to_i == isu.id }.each do |pohon| %>
              <li>
                pohon id:<%= pohon.id %>
                <%= render 'item_pokin_kota_edit', judul: 'STRATEGI KOTA', strategi: pohon.pohonable, tipe: 'kota' %>
                <ul>
                  <% @strategic.select { |key| key.pohon_id.to_i == pohon.id }.each do |strategi| %>
                    <li>
                      <%= render 'item_pokin_edit', judul: "STRATEGIC OBJECTIVE", strategi: strategi, role_atasan: '', strategi_atasan: '', role_bawahan: 'eselon_3' %>
                      <ul>
                        <% @tactical.select { |key| key.strategi_ref_id.to_i == strategi.id }.each do |str_kabid| %>
                          <li>
                            <%= render 'item_pokin_edit', judul: "TACTICAL OBJECTIVE", strategi: str_kabid, panggil_teman: true, role: 'eselon_3', role_atasan: 'eselon_2', role_bawahan: 'eselon_4', strategi_atasan: strategi.id %>
                            <ul>
                              <% @operational.select { |key| key.strategi_ref_id.to_i == str_kabid.id }.each do |str_kasi| %>
                                <li>
                                  <%= render 'item_pokin_edit', judul: "OPERATIONAL OBJECTIVE", strategi: str_kasi, panggil_teman: true, role: 'eselon_4', role_atasan: 'eselon_3', role_bawahan: 'staff', strategi_atasan: str_kabid.id %>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
