<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5>Pohon Kinerja <%= @nama_opd %> Tahun <%= @tahun %></h5>
      </div>
    </div>
  </div>
  <div class="card-body p-3">
    <div class="tf-tree tf-gap-lg mt-2 show text-center" data-controller="pohon-tematik">
      <ul>
        <li>
          <div class="tf-nc" style="width: 450px;">
            <div class="pohon">
              <div class="pohon-title">
                <h5 class="text-center"><strong>Pohon Kinerja OPD</strong></h5>
              </div>
              <div class="pohon-body">
                <table class="table table-bordered">
                  <tr>
                    <td class="text-start" width="30px">Nama OPD</td>
                    <td class="text-wrap text-start fw-bolder"><%= @nama_opd %></td>
                  </tr>
                  <tr>
                    <td class="text-start" width="30px">Tahun</td>
                    <td class="text-wrap text-start"><%= @tahun %></td>
                  </tr>
                </table>
              </div>
              <div class="pohon-foot">
                <div class="d-grid gap-3">
                  <%= link_to new_strategic_pohon_kinerja_index_path,
                   remote: true,
                   class: 'btn btn-outline-success align-items-center w-100',
                   data: {
                     controller: 'pohon-tematik',
                     action: 'ajax:complete->pohon-tematik#addStrategiTematik:prevent',
                   } do %>
                    <i class="fas fa-plus me-2"></i>
                    <span>Strategi Baru</span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <ul data-pohon-tematik-target='dahan'>
            <% @pohon_opd.each do |pohon| %>
              <%= render partial: 'pohon_kinerja/pohon_strategi',
                         locals: {
                             pohon: pohon,
                             tacticals: @tacticals.select { |tact| tact.pohon_ref_id == pohon.id },
                             operationals: @operationals
                         } %>
            <% end %>
            <% @strategi_opd.each do |str_opd| %>
              <%= render partial: 'pohon_kinerja/pohon_strategi',
                         locals: {
                             pohon: str_opd,
                             tacticals: @tactical_opd.select { |tact| tact.strategi_ref_id.to_i == str_opd.id },
                             operationals: @operational_opd
                         } %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
