<div class="row">
  <div class="col-12" data-controller="filter-render">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Pohon Kinerja</li>
      </ol>
    </nav>
    <div class="card border-0 shadow" id="kotak_usulan" data-filter-render-target="results">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Pohon Kinerja <%= @eselon %></h2>
          </div>
        </div>
      </div>
      <% if @strategis %>
        <%= render 'pohon_kinerja/pohon_kinerja_box', opd_id: @opd.id, tahun: '2023' %>
        <div class="card-body">
          <% eselon = @eselon %>
          <% if eselon == "eselon_2" %>
            <%= render 'pohon_kinerja/kotak_usulan_asn_eselon_2', role: @eselon, role_bawahan: "eselon_3" %>
          <% elsif eselon == "eselon_2b" %>
            <%= render 'pohon_kinerja/kotak_usulan_asn_eselon_2b', role: @eselon, role_bawahan: "eselon_3" %>
          <% elsif eselon == "eselon_3" %>
            <%= render 'pohon_kinerja/kotak_usulan_asn_eselon_3', role: @eselon, role_bawahan: "eselon_4" %>
          <% elsif eselon == "eselon_4" %>
            <%= render 'pohon_kinerja/kotak_usulan_asn_eselon_4', role: @eselon, role_bawahan: "staff" %>
          <% else %>
            <%= render 'pohon_kinerja/kotak_usulan_asn_staff', role: @eselon, role_bawahan: "-" %>
          <% end %>
        </div>
      <% else %>
        <div class="card-body">
          <p class="alert alert-danger">Pohon Kinerja Belum dibagikan!!</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/modal_xl_template', modal_name: 'bagikan-strategi-pokin' %>
<%= render 'shared/modal_xl_template', modal_name: 'list-bagikan' %>
