<%= content_for :html_title, "Pohon Kinerja Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Pohon Kinerja Kota</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <div class="card border-2 shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h5>Pohon Kinerja Kota Tahun <%= @tahun %></h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="tf-tree tf-gap-lg mt-2 show text-center" data-controller="pohon-tematik">
          <ul>
            <li>
              <div class="tf-nc">
                <div class="pohon-title">
                  <h5 class="text-center"><strong>Pohon Kinerja Kota</strong></h5>
                </div>
                <div class="pohon-body">
                  <p class="text-center">Kota Madiun</p>
                </div>
                <div class="pohon-foot">
                  <div class="row gx-3">
                    <%= link_to new_pohon_tematik_path,
                        remote: true,
                        data: {
                                action: 'ajax:complete->pohon-tematik#addPohon:prevent',
                              },
                        class: 'btn btn-primary w-100' do %>
                      <i class="fas fa-plus me-2"></i>
                      <span>Tematik Kota</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <ul data-pohon-tematik-target='dahan'>
                <% @tematik_kota.each do |pohon| %>
                  <%= render partial: 'pohon_tematik/pohon_tematik', locals: { pohon: pohon,
                    sub_tematiks: @sub_tematik_kota.select { |sub| sub.pohon_ref_id == pohon.id  },
                    opds: @opd_tematiks,
                    strategics: @strategi_tematiks,
                    tacticals: @tactical_tematiks,
                    operationals: @operational_tematiks } %>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
<% end %>
