<%= content_for :html_title, "Pohon Kinerja Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Pohon Kinerja Kota</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <div class="card border-2 shadow mb-3">
      <div class="card-body border-5 shadow">
        <h5 class="mb-2">Pohon Kinerja Kota Tahun <%= @tahun %></h5>
        <%= form_with url: pohon_tematik_index_path, method: :get,
            local: false,
            data: {
              controller: 'filter-render',
              action: 'ajax:complete->filter-render#success:prevent',
            } do |form| %>
          <%= content_tag(:label, "Tematik", class: 'form-label') %>
          <%= form.select :tematik,
              select_pohon_tematik(@tematiks),
              {},
              { data: {
                  controller: 'dropdown',
                  placeholder: 'Tema Pohon Kinerja'
                },
                class: 'form-control',
                required: true
              } %>
          <%= button_tag class: "btn btn-tertiary w-100 mt-5",
             data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>  Mencari..." } do %>
            <i class="fa fa-search me-2"></i>
            <span>Filter</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="render-results">
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5>Pilih Tema terlebih dahulu</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
<% end %>
