<%= content_for :html_title, "Pohon Kinerja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Pohon Kinerja</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <div class="card border-2 shadow mb-3">
      <div class="card-body border-5 shadow">
        <h5 class="mb-2">Pohon Kinerja <%= @nama_opd %> Tahun <%= @tahun %></h5>
        <%= form_with url: manual_pohon_kinerja_index_path, method: :get do |form| %>
          <%= form.select :strategi,
              select_strategi(@strategic),
              {},
              { data: {
                  controller: 'dropdown',
                  placeholder: 'Strategi OPD'
                },
                class: 'form-control',
                required: true
              } %>
          <%= button_tag type: 'submit', class: "btn btn-tertiary w-100 mt-5",
             data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>  Mencari..." } do %>
            <i class="fa fa-search me-2"></i>
            <span>Filter</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="render-results">
      <% if @show_result %>
        <div class="card border-2 shadow mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h5>Terpilih </h5>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card border-2 shadow mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h5>Pilih Strategi OPD terlebih dahulu</h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
  <%= render 'shared/modal_xl_template', modal_name: 'edit-pohon' %>
  <%= render 'shared/modal_xl_template', modal_name: 'panggil-teman' %>
  <%= render 'shared/modal_xl_template', modal_name: 'strategi-cascading' %>
  <%= render 'shared/modal_template', modal_name: 'komentar' %>
  <%= render 'shared/modal_xl_template', modal_name: 'manual-ik' %>
<% end %>
