<%= content_for :html_title, "Panggilan Pokin" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item active" aria-current="page">Panggilan Pokin</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <div class='card border-0 shadow mb-3'>
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h5>Panggilan Pokin <%= @nama_opd %> Tahun <%= @tahun %></h5>
          </div>
        </div>
      </div>
      <div class="card-body" style="zoom: 0.5" data-controller="pohon-kinerja">
        <div class="tf-tree tf-gap-lg mt-2">
          <ul data-pohon-kinerja-target="content">
            <li>
              <div class="tf-nc" >
                <p class="text-center" data-pohon-kinerja-target="opd"><strong>Perangkat Daerah</strong></p>
                <hr>
                <p class="text-center"><strong><%= @nama_opd %></strong></p>
              </div>
              <% if @strategis_pohon.any? %>
                <ul>
                  <% @strategis_pohon.each do |opd, strategis| %>
                    <li>
                      <div class="tf-nc">
                        <div class="mb-2">
                          <div class="text-center"><strong>Dipanggil oleh</strong></div>
                          <hr>
                          <div class="text-left"><%= opd %></div>
                        </div>
                      </div>
                      <ul>
                        <% strategis.each do |strategi| %>
                          <li>
                            <div class="tf-nc pokin-box px-3">
                              <div class="strategi mb-2">
                                <div class="text-center"><strong><%= map_eselon_strategi(strategi.pohonable.role) %> Objective</strong></div>
                                <div class="text-center"><%= strategi.pohonable.strategi %></div>
                              </div>
                              <div class="strategi-indikator mb-2">
                                <div class="text-center bg-info text-white"><strong>Indikator</strong></div>
                                <% strategi.pohonable.indikators.each do |indikator| %>
                                  <div class="text-left">- <%= indikator.indikator_kinerja %></div>
                                <% end %>
                              </div>
                              <hr>
                              <div class="keterangan">
                                <div class="text-left"><strong>Keterangan:</strong></div>
                                <div class="text-left"><%= strategi.keterangan %></div>
                              </div>
                              <hr>
                              <div class="tombol-panggil">
                                <div class="text-left my-3">
                                  <%= link_to panggil_teman_pohon_kinerja_path(strategi.pohonable, role: 'eselon_3'), remote: true,
                    class: 'btn btn-outline-gray-900 align-items-center w-100',
                    data: { controller: 'form-modal',
                            action: 'form-modal#appendForm',
                            form_modal_location_param: 'form-panggil-teman-body',
                            bs_target: '#form-panggil-teman',
                            bs_toggle: 'modal' } do %>
                                    <span class="fas fa-user-plus me-2"></span>
                                    <span>Pilih Pelaksana</span>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                            <ul>
                              <% strategi.pohonable.pohon_shareds.where.not(role: 'opd').each.with_index(1) do |teman, no| %>
                                <li>
                                  <div class="tf-nc pokin-user-box px-3">
                                    <div class="mb-2">
                                      <div class="text-left"><strong>Dilaksanakan Oleh:</strong></div>
                                      <div class="text-left">
                                        <p><%= "#{no}. #{teman.dibagikan_ke}" %></p>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <ul>
                  <li>
                    <div class="tf-nc">
                      <div class="mb-2">
                        <div class="text-center"><strong>Kosong</strong></div>
                      </div>
                    </div>
                  </li>
                </ul>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
  <%= render 'shared/modal_xl_template', modal_name: 'edit-pohon' %>
  <%= render 'shared/modal_xl_template', modal_name: 'panggil-teman' %>
  <%= render 'shared/modal_xl_template', modal_name: 'strategi-cascading' %>
  <%= render 'shared/modal_template', modal_name: 'komentar' %>
  <%= render 'shared/modal_xl_template', modal_name: 'manual-ik' %>
<% end %>
