<%= content_for :html_title, "POHON CASCADING OPD" %>
<div  class="mb-5">
  <button id="cetak" class="btn btn-tertiary w-100"
          data-controller="pohon-kinerja"
          data-pohon-kinerja-nama-opd-value="<%= @nama_opd %>"
          data-pohon-kinerja-tahun-value="<%= @tahun %>"
          data-action="click->pohon-kinerja#cetakOpd">DOWNLOAD POHON CASCADING</button>
</div>

<div class="tf-tree tf-gap-lg mt-2 show text-center" data-controller="pohon-tematik" id='pokin-opd'>
  <ul>
    <li>
      <%= render 'laporans/parent' %>
      <ul data-pohon-tematik-target='dahan'>
        <%= render partial: 'cetaks/cascading_cetak', collection: @strategi_opd, as: :pohon %>
      </ul>
    </li>
  </ul>
</div>
