<%= content_for :html_title, "POHON KINERJA KOTA MADIUN" %>
<div  class="mb-5">
  <button id="cetak" class="btn btn-tertiary w-100"
          data-controller="pohon-kinerja"
          data-pohon-kinerja-nama-opd-value="KOTA"
          data-pohon-kinerja-tahun-value="<%= @tahun %>"
          data-pohon-kinerja-nama-pohon-value="<%= @tematik_kota.pohonable.to_s.truncate(10) %>"
          data-action="click->pohon-kinerja#cetakOpd">DOWNLOAD POHON KINERJA KOTA</button>
</div>

<div class="tf-tree tf-gap mt-2 show text-center" data-controller="pohon-kinerja" id='pokin-opd'>
  <ul>
    <li>
      <div class="tf-nc bg-white" style="width: 450px;" data-pohon-kinerja-target="opd">
        <div class="pohon">
          <div class="pohon-title">
            <h5 class="text-center"><strong>Tematik Kota</strong></h5>
          </div>
          <div class="pohon-body">
            <table class="table table-bordered">
              <tr>
                <td class="text-start" width="30px">Tema</td>
                <td class="text-wrap text-start fw-bolder"><%= @tematik_kota.pohonable.to_s %></td>
              </tr>
              <tr>
                <td class="text-start" width="30px">Tahun</td>
                <td class="text-wrap text-start"><%= @tahun %></td>
              </tr>
              <% unless @tematik_kota.pohonable.blank? %>
                <% @tematik_kota.pohonable.indikators.each.with_index(1) do |indikator, i| %>
                  <tr>
                    <td class="text-start" width="30px">Indikator
                      <% if @tematik_kota.pohonable.indikators.size > 1  %>
                        <%= i %>
                      <% end %>
                    </td>
                    <td class="text-wrap text-start"><%= indikator %></td>
                  </tr>
                  <tr>
                    <td class="text-start" width="30px">Target / Satuan</td>
                    <td class="text-wrap text-start"><%= indikator.target %> <%= indikator.satuan %></td>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <td class="text-start" width="30px">Keterangan</td>
                <td class="text-wrap text-start"><%= @tematik_kota.pohonable.keterangan %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <ul data-pohon-tematik-target='dahan'>
        <%= render partial: 'cetaks/kota/pokin/pokin_sub', locals: { pohon: @sub_tematik_kota } %>
      </ul>
    </li>
  </ul>
</div>
