<%= content_for :html_title, "POHON KINERJA OPD" %>
<div  class="mb-5">
  <button id="cetak" class="btn btn-tertiary w-100"
          data-controller="pohon-kinerja"
          data-pohon-kinerja-nama-opd-value="<%= @nama_opd %>"
          data-pohon-kinerja-tahun-value="<%= @tahun %>"
          data-pohon-kinerja-nama-pohon-value="<%= @strategi_opd.first.to_s.truncate(10) %>"
          data-action="click->pohon-kinerja#cetakOpd">DOWNLOAD POHON KINERJA</button>
</div>

<div class="tf-tree tf-gap mt-2 show text-center" data-controller="pohon-kinerja" id='pokin-opd'>
  <ul>
    <li>
      <div class="tf-nc bg-white" style="width: 450px;" data-pohon-kinerja-target="opd">
        <div class="pohon">
          <div class="pohon-title">
            <h5 class="text-center"><strong>Pohon Kinerja OPD</strong></h5>
          </div>
          <div class="pohon-body">
            <table class="table table-bordered">
              <tr>
                <td class="text-start" width="30px">OPD</td>
                <td class="text-wrap text-start fw-bolder"><%= @nama_opd %></td>
              </tr>
              <% size_tujuan = @tujuan_opds.size %>
              <% @tujuan_opds.each.with_index(1) do |tujuan, no| %>
                <tr>
                  <td class="text-start" width="30px">Tujuan <%= size_tujuan > 1  ? no : ''  %></td>
                  <td class="text-wrap text-start"><%= tujuan %></td>
                </tr>
                <% tujuan.indikators.each do |indikator_tujuan|  %>
                  <tr>
                    <td class="text-start" width="30px">Indikator</td>
                    <td class="text-wrap text-start"  ><%= indikator_tujuan || '-' %></td>
                  </tr>
                  <tr>
                    <% target = indikator_tujuan.targets.find_by(tahun: @tahun) %>
                    <td class="text-start" width="30px">Target</td>
                    <td class="text-wrap text-start"  ><%= target.target_satuan %></td>
                  </tr>
                <% end %>
              <% end %>
              <tr>
                <td class="text-start" width="30px">Tahun</td>
                <td class="text-wrap text-start"><%= @tahun %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <ul data-pohon-tematik-target='dahan'>
        <%= render partial: 'cetaks/opd/pokin/pokin_cetak', collection: @strategi_opd, as: :pohon %>
      </ul>
    </li>
  </ul>
</div>
