<%= content_for :html_title, "POHON CASCADING OPD" %>
<div  class="mb-5">
  <button id="cetak" class="btn btn-tertiary w-100"
          data-controller="pohon-kinerja"
          data-pohon-kinerja-nama-opd-value="<%= @nama_opd %>"
          data-pohon-kinerja-tahun-value="<%= @tahun %>"
          data-action="click->pohon-kinerja#cetakOpd">DOWNLOAD POHON CASCADING</button>
</div>
<div class="mb-3">
  <%= render 'pohon_kinerja/komentar_card', komentars: @opd.komentars %>
</div>
<%= render 'shared/komentar_button',
           link: komentar_pokin_komentars_path(kode_opd: @opd.kode_unik_opd,
                                               strategi_id: @opd.id,
                                               jenis: "OPD"),
           form_name: 'form-komentar' %>
<div class="table-responsive">
  <h1>Pohon Kinerja <%= @nama_opd %> Tahun <%= @tahun %></h1>
  <p><%= @itungan.size %></p>
  <table class="table">
    <thead>
      <tr>
        <td>No.</td>
        <td>Strategi</td>
        <td>Tahun</td>
        <td>ISU KOTA</td>
        <td>Nama POHON</td>
        <td>Pohon</td>
        <td>Pohon ID</td>
        <td>Role</td>
        <td>ID</td>
        <td>Ref ID</td>
      </tr>
    </thead>
    <tbody>
      <% @strategic.each.with_index(1) do |(pohon, strategics), i| %>
          <tr class="bg-primary text-white">
            <td><%= pohon %></td>
            <td class="text-wrap"><%= pohon.pohonable.nama_isu %></td>
            <td><%= pohon.pohonable.isu.tahun %></td>
            <td class="text-wrap">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td><%= pohon.pohonable.isu.id %></td>
            <td>--</td>
          </tr>
          <tr class="bg-success text-white">
            <td><%= i %></td>
            <td class="text-wrap"><%= pohon.strategi %></td>
            <td><%= pohon.tahun %></td>
            <td class="text-wrap">-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td></td>
            <td><%= pohon.id %></td>
            <td><%= pohon.pohonable.isu_strategis_kota_id %></td>
          </tr>
        <% strategics.each do |strategic| %>
          <tr class="bg-danger text-white">
            <td><%= i %></td>
            <td class="text-wrap"><%= strategic.strategi.truncate(70) %></td>
            <td><%= strategic.tahun %></td>
            <td class="text-wrap"><%= strategic.pohon.pohonable.nama_isu %></td>
            <td><%= strategic.pohon.strategi_opd %></td>
            <td><%= strategic.pohon_id %></td>
            <td><%= strategic.pohon %></td>
            <td><%= strategic.role %></td>
            <td><%= strategic.id %></td>
            <td><%= strategic.strategi_ref_id %></td>
          </tr>
          <% @tactical.select { |key| key.strategi_ref_id.to_i == strategic.id }.each do |tactical| %>
            <tr class="bg-info text-white">
              <td><%= i %></td>
              <td class="text-wrap"><%= tactical.strategi.truncate(70) %></td>
              <td><%= tactical.tahun %></td>
              <td class="text-wrap"><%= tactical.pohon.pohonable.nama_isu %></td>
              <td><%= tactical.pohon.strategi_opd %></td>
              <td><%= tactical.pohon_id %></td>
              <td><%= tactical.pohon %></td>
              <td><%= tactical.role %></td>
              <td><%= tactical.id %></td>
              <td><%= tactical.strategi_ref_id %></td>
            </tr>
            <% @operational.select { |key| key.strategi_ref_id.to_i == tactical.id }.each do |operational| %>
              <tr>
                <td><%= i %></td>
                <td class="text-wrap"><%= operational.strategi.truncate(70) %></td>
                <td><%= operational.tahun %></td>
                <td class="text-wrap"><%= operational.pohon.pohonable.nama_isu %></td>
                <td><%= operational.pohon.strategi_opd %></td>
                <td><%= operational.pohon_id %></td>
                <td><%= operational.pohon %></td>
                <td><%= operational.role %></td>
                <td><%= operational.id %></td>
                <td><%= operational.strategi_ref_id %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</ul>
</div>
</div>
<%= render 'shared/modal_template', modal_name: 'komentar' %>
<%= render 'shared/modal_xl_template', modal_name: 'manual-ik' %>
