<%= content_for :html_title, "Rekap Pohon Kinerja Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item active" aria-current="page">Rekap Pohon Kinerja Kota</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow" id="user_filter" data-controller="page-ajax"
             data-page-ajax-opd-value="<%= cookies[:opd] %>"
             data-page-ajax-url-value="<%= filter_rekap_pohon_kinerja_index_path %>"
             data-page-ajax-tahun-value="<%= cookies[:tahun] %>" >
    <div data-page-ajax-target="results">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Rekap Pohon Kinerja Kota</h2>
          </div>
        </div>
      </div>
      <div class="loader text-center">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>memuat data..</p>
      </div>
    </div>
  </div>
  <%= render 'shared/modal_template', modal_name: 'clone' %>
  <%= render 'shared/modal_template', modal_name: 'komentar' %>
  <%= render 'shared/modal_xl_template', modal_name: 'manual-ik' %>
<% end %>
