<%= content_for :navigation do %>
  <li class="breadcrumb-item">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </li>
  <li class="breadcrumb-item active" aria-current="page">Rekap Pohon Kinerja</li>
<% end %>
<% content_for :view_utama do %>
    <% if cookies[:tahun] && cookies[:opd] %>
      <div class="card border-0 shadow" id="user_filter" data-controller="page-ajax"
             data-page-ajax-opd-value="<%= cookies[:opd] %>"
             data-page-ajax-url-value="<%= filter_rekap_pohon_kinerja_index_path %>"
             data-page-ajax-tahun-value="<%= cookies[:tahun] %>" >
        <div data-page-ajax-target="results">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Rekap Pohon Kinerja</h2>
            </div>
          </div>
        </div>
          <div class="loader text-center">
            <div class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <p>memuat data..</p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card border-0 shadow" id="user_filter">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Rekap Pohon Kinerja</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="alert alert-info">Pilih Tahun dan OPD</p>
        </div>
      </div>
    <% end %>
<% end %>
