<%= content_for :html_title, "Rekap Pohon Kinerja OPD" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item active" aria-current="page">Rekap Pohon Kinerja OPD</li>
<% end %>
<% content_for :view_utama do %>
  <% if current_user.has_role?(:reviewer) %>
    <div class="card border-0 shadow mb-4">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2 class="mb-0">
              Filter
            </h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <%= form_with url: review_opd_pohon_kinerja_index_path,
         method: :get,
         data: {
                      controller: 'form-ajax',
                      action: 'ajax:success->form-ajax#changeOpd'
         } do |form| %>
          <div class="field mt-3">
            <%= form.label :tahun, { class: "form-label" } %>
            <%= form.select(:tahun, (['',2020,2021,2022,2023,2024]), {},
    {data: {"placeholder": "Pilih Tahun",
            controller: 'dropdown',
    }}) %>
          </div>
          <div class="fields my-3">
            <%= form.label :perangkat_daerah, class: 'form-label' %>
            <%= form.select :kode_opd, dropdown_opd ,{include_blank: true},
        { class: "form-control",
          data: {placeholder: "Pilih Opd",
                 controller: "dropdown",
                 dropdown_jenis_value: "opd"}, required: true }  %>
          </div>
          <%= form.submit 'filter' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @opd_params %>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h2 class="fs-5 fw-bold mb-0">Rekap Pohon Kinerja</h2>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row gy-4">
          <div class="card pb-3 shadow border-tertiary table-responsive">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
              <h2 class="fs-5 fw-bold mb-0">Pohon Kinerja <%= @nama_opd %> - Tahun <%= @tahun %></h2>
              <%= link_to excel_opd_pohon_kinerja_index_path(kode_opd: @opd_params, tahun: @tahun,format: :xlsx), class: "btn btn-sm btn-primary" do %>
                <i class="fa fa-print me-2" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
                <span>Cetak Excel</span>
              <% end %>
              <%= link_to pdf_opd_pohon_kinerja_index_path(kode_opd: @opd_params, tahun: @tahun),
          class: "btn btn-sm btn-warning",
          target: "blank",
          data: { pohon_kinerja_target: 'cetak' } do %>
                <i class="fa fa-edit" data-bs-toggle="tooltip" data-bs-placement="bottom"></i>
                <span>Cetak GAMBAR Pohon Kinerja</span>
              <% end %>
            </div>
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
              <ul>
                <li>Jumlah Isu Strategis: <%= @isu_opd.size %></li>
                <li>Jumlah Strategi Kota: <%= @isu_opd.map { |_, strategis| strategis.count }.inject(:+) %></li>
                <li>Jumlah Strategic Objective : <%= @rekap_jumlah[:strategic] %></li>
                <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_strategic] %></li>
                <li>Jumlah Tactical Objective : <%= @rekap_jumlah[:tactical] %></li>
                <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_tactical] %></li>
                <li>Jumlah Operational Objective : <%= @rekap_jumlah[:operational] %></li>
                <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_operational] %></li>
                <li>Jumlah Operational Objective 2 : <%= @rekap_jumlah[:operational_staff] %></li>
                <li>Jumlah Indikator : <%= @rekap_jumlah[:indikator_staff] %></li>
              </ul>
            </div>
            <table class="table table-bordered border-primary rounded">
              <thead>
                <tr>
                  <th class="fw-bolder">Jenis</th>
                  <th class="fw-bolder">Strategi</th>
                  <th class="fw-bolder">Indikator</th>
                  <th class="fw-bolder">Target / Satuan</th>
                </tr>
              </thead>
              <tbody>
                <% @isu_opd.each do |isu, strategis| %>
                  <tr class="isu-strategis-kota">
                    <th colspan="4" class="text-wrap"><%= isu.class.name.pluralize.underscore.titleize %>: <%= isu.isu_strategis %>
                      <% if current_user.nik == 'super_admin' %>
                        &nbsp;
                        <%= link_to clone_list_opd_pohon_kinerja_index_path(isu_strategis: isu.id,
                                                                      opd_id: @opd.id,
                                                                      tahun_sekarang: @tahun,
                                                                      tipe_isu: isu.class.name,
                                                                      jenis: 'opd'), remote: true,
                      data: {
                        controller: 'form-modal',
                        action: 'form-modal#appendForm',
                        form_modal_location_param: 'form-clone-body',
                        bs_toggle: 'modal',
                        bs_target: '#form-clone'
                      },
                      class: "btn btn-sm btn-primary" do %>
                          <i class="fa fa-clone me-2"></i>Clone
                        <% end %>
                      <% end %>
                    </th>
                  </tr>
                  <% strategis.each do |strategi, strategi_kaopds| %>
                    <tr class="strategi-kota">
                      <th rowspan="<%= strategi.indikators_tahun(@tahun).size + 1 %>" class="align-middle">Strategi Kota</th>
                      <th rowspan="<%= strategi.indikators_tahun(@tahun).size + 1 %>" class="align-middle text-wrap"><%= strategi.strategi %> </th>
                    </tr>
                    <% strategi.indikators_tahun(@tahun).each do |ind_kota| %>
                      <tr class="strategi-kota">
                        <td class="text-wrap"><%= ind_kota.indikator %></td>
                        <td class="text-wrap"><%= "#{ind_kota.target} #{ind_kota.satuan}" %></td>
                      </tr>
                    <% end %>
                    <% strategi_kaopds.each do |str_kaopd, strategi| %>
                      <%= render 'row_strategi', strategi: str_kaopd, jenis: "Strategic", class_style: "strategic-objective" %>
                      <% strategi.each do |str_kabid, str_kasis| %>
                        <%= render 'row_strategi', strategi: str_kabid, jenis: "Tactical", class_style: "tactical-objective", show_program: true %>
                        <% str_kasis.each do |str_kasi, str_staffs| %>
                          <%= render 'row_strategi', strategi: str_kasi, jenis: "Operational", class_style: "operational-objective", show_sub: true %>
                          <% str_staffs.each do |str_staff| %>
                            <%= render 'row_strategi', strategi: str_staff, jenis: "Operational 2", class_style: "operational-objective-2" %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <tr class="rekap_pokin_separator">
                        <td colspan="4"></td>
                      </tr>
                    <% end%>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'shared/modal_template', modal_name: 'clone' %>
  <%= render 'shared/modal_template', modal_name: 'renaksi' %>
  <%= render 'shared/modal_template', modal_name: 'komentar' %>
  <%= render 'shared/modal_xl_template', modal_name: 'manual-ik' %>
<% end %>
