<%= form_with(model: [@spbe], local: false) do |form| %>
  <% if spbe.errors.any? %>
    <div id="error_explanation">
      <h2>Tidak dapat menyimpan <%= pluralize(spbe.errors.count, "error") %></h2>
      <ul>
        <% spbe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <%= form.hidden_field :kode_opd, readonly: true, value: @kode_opd %>
    <%= form.hidden_field :kode_program, readonly: true, value: @program.kode_program %>
    <%= form.hidden_field :program_kegiatan_id, readonly: true, value: @program.id %>
    <div class="card-body">
      <%= form.label :sasaran_tactical, {class: "form-label"} %>
      <%= form.select :strategi_ref_id, [], {include_blank: true},
        { data: { placeholder: "Pilih Sasaran Tactical",
                  controller: 'dropdown',
                  dropdown_jenis_value: 'ajax',
                  dropdown_kode_opd_value: @kode_opd,
                  dropdown_url_value: sasaran_tactical_opds_path(format: :json),
                }
        } %>
    </div>
    <div class="card-body">
      <div class="field">
        <%= form.label :jenis_pelayanan, {class: "form-label"} %>
        <%= form.text_area :jenis_pelayanan, {class: "form-control "}%>
      </div>
      <div class="field">
        <%= form.label :nama_aplikasi, {class: "form-label"} %>
        <%= form.text_field :nama_aplikasi, {class: "form-control "}%>
      </div>
      <h5>Kebutuhan SPBE:</h5>
      <hr/>
      <div class="field" id="spbe-rincians">
        <%= form.fields_for :spbe_rincians do |rincian| %>
          <%= render 'spbe_rincian_fields', form: rincian %>
        <% end %>
      </div>
      <%= link_to_add_nested(form, :spbe_rincians, '#spbe-rincians', link_classes: 'btn btn-primary btn-sm', link_text: 'Tambah Rincian') %>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
