<%= form_with(model: [@spbe], local: true) do |form| %>
  <% if spbe.errors.any? %>
    <div id="error_explanation">
      <h2>Tidak dapat menyimpan <%= pluralize(spbe.errors.count, "error") %></h2>
      <ul>
        <% spbe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <% if @spbe.new_record? %>
      <%= form.hidden_field :kode_opd, readonly: true, value: @kode_opd %>
      <%= form.hidden_field :kode_program, readonly: true, value: @program.kode_program %>
      <%= form.hidden_field :program_kegiatan_id, readonly: true, value: @program.id %>
    <% end %>
    <div class="card-body">
      <div class="field">
        <%= form.label :sasaran_tactical, {class: "form-label"} %>
        <%= form.select :strategi_ref_id, [], {include_blank: true},
        { data: { placeholder: "Pilih Sasaran Tactical",
                  controller: 'dropdown',
                  dropdown_jenis_value: 'ajax_preselect',
                  dropdown_kode_opd_value: @kode_opd,
                  dropdown_item_value: form.object.strategi_ref_id,
                  dropdown_url_value: sasaran_tactical_opds_path(format: :json),
                }
        } %>
      </div>
      <div class="field">
        <%= form.label :jenis_pelayanan, {class: "form-label"} %>
        <%= form.text_area :jenis_pelayanan, {class: "form-control", placeholder: 'jenis pelayanan apa yang ditangani aplikasi'}%>
      </div>
      <div class="field">
        <%= form.label :nama_aplikasi, {class: "form-label"} %>
        <%= form.text_field :nama_aplikasi, {class: "form-control"}%>
      </div>
      <div class="field">
        <%= form.label :pemilik_aplikasi, {class: "form-label"} %>
        <%= form.select :pemilik_aplikasi, ['Pusat/Nasional', 'Provinsi/Jawa Timur', 'Kota Madiun'],
         {},
         {data: { controller: 'dropdown' }}%>
      </div>
      <div class="field">
        <%= form.label :output_aplikasi, {class: "form-label"} %>
        <%= form.text_field :output_aplikasi, {class: "form-control", placeholder: "keluaran aplikasi"}%>
      </div>
      <div class="field">
        <%= form.label :terintegrasi_dengan, {class: "form-label"} %>
        <%= form.text_field :terintegrasi_dengan, {class: "form-control", placeholder: "apakah aplikasi tersebut terhubung dengan aplikasi lainnya ?"}%>
      </div>
      <h5>Kebutuhan SPBE:</h5>
      <hr/>
      <div class="field" id="spbe-rincians">
        <%= form.fields_for :spbe_rincians do |rincian| %>
          <%= render 'spbe_rincian_fields', form: rincian %>
        <% end %>
      </div>
      <%= link_to_add_nested(form, :spbe_rincians, '#spbe-rincians', link_classes: 'btn btn-primary btn-sm', link_text: 'Tambah kebutuhan SPBE') %>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
