<fieldset class="mb-5">
  <%= form.hidden_field :kode_program, readonly: true, value: @program.kode_program %>
  <div class="field">
    <%= form.label :kebutuhan_spbe, { class: "form-label" } %>
    <%= form.select(:kebutuhan_spbe, (['Rancangan Aplikasi','Sarpras', 'Jaringan', 'SDM']), {},
      {data: { controller: 'dropdown' }}) %>
  </div>
  <div class="field">
    <%= form.label :detail_kebutuhan, { class: "form-label" } %>
    <%= form.text_area :detail_kebutuhan, { class: "form-control" } %>
  </div>
  <div class="field">
    <%= form.label :opd_pelaksana, { class: "form-label" } %>
    <%= form.select :internal_external, ['Internal', 'External'], {},
        { data: {
                  controller: 'dropdown',
                  dropdown_jenis_value: 'chain',
                  dropdown_event_name_value: 'change-opd',
                }
        } %>
  </div>
  <div class="field mb-5">
    <%= form.select :kode_opd, [], {include_blank: true},
        { data: { placeholder: "OPD Pelaksana",
                  controller: 'dropdown',
                  dropdown_jenis_value: 'ajax',
                  dropdown_display_value: false,
                  dropdown_url_value: legit_opd_opds_path(@opd, :json),
                  action: 'change-opd@document->dropdown#chain_internal_or_external_opd_target'
                }
        } %>
  </div>
  <%= link_to_remove_nested(form, link_text: 'Hapus Rincian', link_classes: 'btn btn-outline-danger') %>
</fieldset>
