<fieldset class="mb-5">
  <%= form.hidden_field :kode_program, readonly: true, value: @program.kode_program %>
  <div class="field">
    <%= form.label :domain_spbe, { class: "form-label" } %>
    <%= form.select(:domain_spbe, (Domain.pluck(:domain)), {include_blank: true},
      {data: { controller: 'dropdown', placeholder: 'Pilih Domain SPBE' }}) %>
  </div>
  <div class="field">
    <%= form.label :kebutuhan_spbe, { class: "form-label" } %>
    <%= form.select(:kebutuhan_spbe, (Kebutuhan.pluck(:kebutuhan)), {include_blank: true},
      {data: { controller: 'dropdown', placeholder: 'Pilih Kebutuhan SPBE' }}) %>
  </div>
  <div class="field">
    <%= form.label :kondisi_sekarang, { class: "form-label" } %>
    <%= form.text_area :kondisi_sekarang, { class: "form-control", placeholder: 'terangkan kondisi kebutuhan pada saat ini' } %>
  </div>
  <div class="field">
    <%= form.label :detail_kebutuhan, { class: "form-label" } %>
    <%= form.text_area :detail_kebutuhan, { class: "form-control", placeholder: 'jabarkan kebutuhan spbe dari pilihan diatas' } %>
  </div>
  <div class="field">
    <%= form.label :opd_pelaksana, { class: "form-label" } %>
    <%= form.select :internal_external, ['Internal', 'External'], {include_blank: true},
        { data: { placeholder: 'Lokasi',
                  controller: 'dropdown',
                  dropdown_jenis_value: 'chain',
                  dropdown_event_name_value: 'change-opd',
                }
        } %>
  </div>
  <div class="field mb-5">
    <%= form.select :kode_opd, [], {include_blank: true,},
        { disabled: form.object.internal_external.eql?('Internal'),
          data: { placeholder: "Pilih OPD Pelaksana",
                  controller: 'dropdown',
                  dropdown_jenis_value: 'ajax_preselect',
                  dropdown_url_value: legit_opd_opds_path(format: :json),
                  dropdown_item_value: form.object.kode_opd,
                  dropdown_kode_opd_value: @kode_opd,
                  action: 'change-opd@document->dropdown#chain_internal_or_external_spbe'
                }
        } %>
  </div>
  <% if form.object.internal_external == 'External' || @spbe.new_record? %>
    <% disabled = @kode_opd == @spbe.kode_opd %>
    <%= render 'sasaran_spbe_opd', form: form, disabled: disabled %>
  <% end %>
  <%= link_to_remove_nested(form, link_text: 'Hapus kebutuhan spbe', link_classes: 'btn btn-outline-danger') %>
</fieldset>
