<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">SPBE <%= @opd.nama_opd %> - Tahun <%= @tahun %></h2>
      </div>
      <div class="col text-end">
        <%= link_to spbe_laporans_path, class: "btn btn-sm btn-info" do %>
          Buat SPBE
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" rowspan="2" scope="col">No</th>
            <th class="border text-center" rowspan="2" scope="col">Urusan</th>
            <th class="border text-center" rowspan="2" scope="col">Program</th>
            <th class="border text-center" rowspan="2" scope="col">Jenis Pelayanan</th>
            <th class="border text-center" rowspan="2" scope="col">Aplikasi</th>
            <th class="border text-center" rowspan="2" scope="col">Sasaran Kinerja Tactical</th>
            <th class="border text-center" rowspan="2" scope="col">Kebutuhan SPBE</th>
            <th class="border text-center" rowspan="2" scope="col">Detail Kebutuhan</th>
            <th class="border text-center" rowspan="2" scope="col">Sasaran Kinerja Operasional</th>
            <th class="border text-center" rowspan="2" scope="col">Detail Sasaran Kinerja</th>
            <th class="border text-center" rowspan="2" scope="col">Indikator</th>
            <th class="border text-center" rowspan="2" scope="col">Target</th>
            <th class="border text-center" rowspan="2" scope="col">Satuan</th>
            <th class="border text-center" rowspan="2" scope="col">Anggaran</th>
            <th class="border text-center" rowspan="2" scope="col">SubKegiatan</th>
            <th class="border text-center" colspan= "5" scope="col">Tahun Pelaksanaan</th>
            <th class="border text-center" rowspan="2" scope="col">OPD Pelaksana</th>
            <th class="border text-center" rowspan="2" scope="col">Keterangan</th>
            <th class="border text-center" rowspan="2" scope="col">Action</th>
          </tr>
          <tr>
            <% (2020..2024).each do |tahun| %>
              <th class="border text-center" scope="col"><%= tahun %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @spbes.each.with_index(1) do |(program, spbes), i| %>
            <tr>
              <td class="border fw-bolder" rowspan="<%= rowspan_spbe(spbes) %>"><%= i %></td>
              <td class="border text-wrap fw-bolder" rowspan="<%= rowspan_spbe(spbes) %>"><%= program.nama_urusan %></td>
              <td class="border text-wrap fw-bolder" rowspan="<%= rowspan_spbe(spbes) %>"><%= program.nama_program %></td>
            </tr>
            <% spbes.each do |spbe| %>
              <% rowspan_sas = spbe.spbe_rincians.length + 1 %>
              <tr>
                <td class="border text-wrap fw-bolder" rowspan="<%= rowspan_sas %>">
                  <%= spbe.jenis_pelayanan %>
                </td>
                <td class="border text-wrap fw-bolder" rowspan="<%= rowspan_sas %>">
                  <%= spbe.nama_aplikasi %>
                </td>
                <td class="border text-wrap" rowspan="<%= rowspan_sas %>"><%= spbe.sasaran.sasaran_kinerja %></td>
                <td class="p-0 m-0" colspan="16"></td>
                <td class="border" rowspan="<%= rowspan_sas %>">
                  <div class="d-grid gap-2">
                    <%= link_to edit_spbe_path(spbe,program_id: program.id), target: "_blank", rel: "nofollow",
                class: "btn btn-sm btn-outline-info" do %>
                      Edit SPBE
                    <% end %>
                    <%= link_to spbe_path(spbe), method: :delete, data: {confirm_swal: "Hapus SPBE Layanan '#{spbe.jenis_pelayanan}' ?"},
                class: "btn btn-sm btn-outline-danger" do %>
                      Hapus SPBE
                    <% end %>
                  </div>
                </td>
              </tr>
              <% spbe.spbe_rincians.each do |rincian| %>
                <% sas_kasi = rincian.sasaran %>
                <tr class="spbe">
                  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sas_kasi) %>"><%= rincian.kebutuhan_spbe %></td>
                  <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sas_kasi) %>"><%= rincian.detail_kebutuhan %></td>
                  <td class="border text-wrap spbe-kebutuhan" rowspan="<%= rowspan_sasaran(sas_kasi) %>"><%= sas_kasi&.sasaran_kinerja %></td>
                  <td class="border text-wrap spbe-kebutuhan" rowspan="<%= rowspan_sasaran(sas_kasi) %>"><%= rincian.detail_sasaran_kinerja %></td>
                  <%= indikator_sasaran(sas_kasi) %>
                  <td class="border text-wrap spbe-kebutuhan" rowspan="<%= rowspan_sasaran(sas_kasi) %>">Rp. <%= number_with_delimiter(sas_kasi&.total_anggaran) %></td>
                  <td class="border text-wrap spbe-kebutuhan" rowspan="<%= rowspan_sasaran(sas_kasi) %>" data-subkegiatan="<%= sas_kasi&.subkegiatan&.downcase %>"><%= sas_kasi&.subkegiatan %></td>
                  <% (2020..2024).each do |th| %>
                    <% tah = rincian.tahun_awal == th.to_s || rincian.tahun_akhir == th.to_s ? "<i class='fa fa-check text-success'></i>".html_safe : '' %>
                    <td class="text-center" rowspan="<%= rowspan_sasaran(sas_kasi) %>" data-tahun-pelaksanaan="<%= tah %>"><%= tah %></td>
                  <% end %>
                  <td class="border" rowspan="<%= rowspan_sasaran(sas_kasi) %>"><%= rincian.opd&.nama_opd %></td>
                  <td class="border" rowspan="<%= rowspan_sasaran(sas_kasi) %>"><%= rincian.keterangan %></td>
                </tr>
                <% unless sas_kasi.nil? %>
                  <% sas_kasi.indikator_sasarans.drop(1).each do |indikator_s| %>
                    <tr>
                      <td class="border text-wrap"><%= indikator_s.indikator_kinerja %></td>
                      <td class="border text-wrap"><%= indikator_s.target %></td>
                      <td class="border text-wrap"><%= indikator_s.satuan %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
