<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-10">
        <h2 class="fs-5 fw-bold mb-0">SPBE <%= @opd.nama_opd %> - Tahun <%= @tahun %></h2>
      </div>
      <div class="col">
        <%= link_to excel_opd_spbes_path(format: :xlsx), class: "btn btn-sm btn-primary" do %>
          <i class="fa fa-print me-2"></i>
          <span>Cetak Excel</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <nav class="mb-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#spbe-internal" type="button" role="tab" aria-controls="spbe-internal" aria-selected="true">Internal</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#spbe-external" type="button" role="tab" aria-controls="spbe-external" aria-selected="false">External</button>
      </div>
    </nav>
    <div class="table-responsive tab-content" id="nav-tabContent">
      <%= render 'spbes/internal_table' %>
      <%= render 'spbes/external_table' %>
    </div>
  </div>
</div>
