<%= content_for :html_title, "Usulan SPBE" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan OPD</li>
  <li class="breadcrumb-item" aria-current="page">Peta Rencana SPBE</li>
  <li class="breadcrumb-item active" aria-current="page">Usulan SPBE</li>
<% end %>
<% content_for :view_utama do %>
  <div class="px-3">
    <div class="card border-2 shadow mb-1">
      <div class="card-header">
        <div class="row align-items-center">
          <table class="table align-items-center">
            <thead>
              <tr>
                <th class="border text-center" scope="col" colspan="2">Program</th>
                <th class="border text-center" scope="col">Indikator</th>
                <th class="border text-center" scope="col">Target</th>
                <th class="border text-center" scope="col">Satuan</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-info">
                <td class="border fw-bolder text-wrap" colspan="2"><%= @program.nama_program %></td>
                <%= indikator_prg(@program, @tahun, @kode_opd) %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card border-2 shadow mb-3">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="row align-items-center">
              <div class="col">
                <h4 class="card-title">
                  Form Usulan SPBE
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= render 'spbes/form', spbe: @spbe %>
        </div>
      </div>
    </div>
    <%= render 'shared/modal_template', modal_name: 'sasaran' %>
    <%= render 'shared/modal_template', modal_name: 'subkegiatan' %>
<% end %>
