<%= form_with(model: pindah_pohon_kinerja, url: pindah_pohon_kinerja_path, method: :put) do |form| %>
  <% if pindah_pohon_kinerja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pindah_pohon_kinerja.errors.count, "error") %> prohibited this pindah_pohon_kinerja from being saved:</h2>

      <ul>
        <% pindah_pohon_kinerja.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :level_pohon, { class: "form-label" } %>
    <%= form.select :level_pohon, @roles, {include_blank: true, required: true},
     { data: { placeholder: "Pilih level",
       controller: 'dropdown',
       dropdown_jenis_value: 'chain',
       dropdown_event_name_value: 'change-target-pohon',
       dropdown_parent_value: '#form-modal'
     } } %>
  </div>

  <div class="field">
    <%= form.label :target_pohon, { class: "form-label" } %>
    <%= form.select :strategi_ref_id, [], {required: true},
     { data: { placeholder: "Pilih Pohon",
       controller: 'dropdown',
       dropdown_jenis_value: 'ajax',
       dropdown_parent_value: '#form-modal',
       dropdown_role_value: pindah_pohon_kinerja.role,
       action: 'change-target-pohon@document->dropdown#chain_role_to_pelaksana',
       dropdown_url_value: pindah_pohon_kinerja_path(pindah_pohon_kinerja,:json)
     } } %>
  </div>

  <div class="field">
    <%= form.label :pohon_kinerja, { class: "form-label" } %>
    <%= form.text_field :strategi, { class: "form-control", readonly: true } %>
  </div>

  <div class="actions">
    <%= form.submit "Simpan Perubahan"%>
  </div>
<% end %>
