<p id="notice"><%= notice %></p>

<h1>Pindah Pohon Kinerjas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pindah_pohon_kinerjas.each do |pindah_pohon_kinerja| %>
      <tr>
        <td><%= link_to 'Show', pindah_pohon_kinerja %></td>
        <td><%= link_to 'Edit', edit_pindah_pohon_kinerja_path(pindah_pohon_kinerja) %></td>
        <td><%= link_to 'Destroy', pindah_pohon_kinerja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pindah Pohon Kinerja', new_pindah_pohon_kinerja_path %>
