<% sub_tematiks.each do |sub_tema| %>
  <% rowspan = sub_tema.indikators.size + 1 %>
  <tr>
    <td rowspan="<%= rowspan %>"><%= sub_tema.tematik %></td>
    <td rowspan="<%= rowspan %>"><%= sub_tema %></td>
    <td colspan="3" class="p-0 m-0 border-0"></td>
    <td rowspan="<%= rowspan %>"><%= sub_tema.keterangan %></td>
    <td class="text-center" rowspan="<%= rowspan %>">
      <%= link_to edit_sub_tematik_path(sub_tema), remote: true,
         data: {
             controller: 'form-modal',
             action: 'ajax:complete->form-modal#success:prevent',
             bs_toggle: 'modal',
             bs_target: '#form-modal'
         },
         class: 'btn btn-outline-info' do %>
        <i class="fa fa-edit me-2"></i>
        <span>Edit Sub-Tema</span>
      <% end %>
      <%= link_to tematik_path(sub_tema),
           method: :delete,
            remote: true,
           class: 'btn btn-outline-danger',
           data: {
               confirm_swal: "Hapus #{sub_tema}?",
               controller: 'form-modal',
               action: 'ajax:complete->form-modal#success:prevent',
           } do %>
        <i class="fa fa-trash-alt me-2"></i>
        <span>Hapus Tema</span>
      <% end %>
    </td>
  </tr>
  <% sub_tema.indikators.each do |indikator| %>
    <tr>
      <td><%= indikator %></td>
      <td><%= indikator.target %></td>
      <td><%= indikator.satuan %></td>
    </tr>
  <% end %>
<% end %>
