<% sub_tematiks.each do |sub_tema| %>
  <tr>
    <td><%= sub_tema.tematik %></td>
    <td><%= sub_tema %></td>
    <td><%= sub_tema.keterangan %></td>
    <td class="text-center">
      <%= link_to edit_sub_tematik_path(sub_tema), remote: true,
         data: {
             controller: 'form-modal',
             action: 'ajax:complete->form-modal#success:prevent',
             bs_toggle: 'modal',
             bs_target: '#form-modal'
         },
         class: 'btn btn-outline-info' do %>
        <i class="fa fa-edit me-2"></i>
        <span>Edit Sub-Tema</span>
      <% end %>
      <%= link_to tematik_path(sub_tema),
           method: :delete,
            remote: true,
           class: 'btn btn-outline-danger',
           data: {
               confirm_swal: "Hapus #{sub_tema}?",
               controller: 'form-modal',
               action: 'ajax:complete->form-modal#success:prevent',
           } do %>
        <i class="fa fa-trash-alt me-2"></i>
        <span>Hapus Tema</span>
      <% end %>
    </td>
  </tr>
  <% sub_tema.indikators.each do |ind| %>
  <tr>
    <td><%= ind.indikator %></td>
    <td><%= ind.target_satuan %></td>
  </tr>
    <% end %>
<% end %>
