<%= content_for :html_title, "Sub-Tematik Kota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan Kota</li>
  <li class="breadcrumb-item active" aria-current="page">Sub-Tematik Kota</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Sub-Tematik Kota Tahun <%= @tahun %></h2>
        </div>
        <div class="col text-end">
          <%= link_to new_sub_tematiks_path,
           remote: true,
           data: {
                   controller: 'form-modal',
                   action: 'ajax:complete->form-modal#success:prevent',
                   bs_toggle: 'modal',
                   bs_target: '#form-modal'
                 },
           class: 'btn btn-sm btn-primary' do %>
            <i class="fas fa-plus me-2"></i>
            <span>Tambah Sub-Tema</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered align-items-center counter border">
          <thead class="thead-light sticky-top">
            <tr>
              <th class="text-gray-700">No</th>
              <th class="text-center text-gray-700">Tema</th>
              <th class="text-center text-gray-700">Sub-Tema</th>
              <th class="text-center text-gray-700">Indikator</th>
              <th class="text-center text-gray-700">Target</th>
              <th class="text-center text-gray-700">Satuan</th>
              <th class="text-center text-gray-700">Keterangan</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody id="sub-tematik">
            <%= render 'tematiks/sub_tematik', sub_tematiks: @sub_tematiks %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
