<fieldset class="data-dukung-tahun col">
  <div class="field">
    <%= form.hidden_field :data_dukungable_type %>
    <%= form.hidden_field :data_dukungable_id %>
  </div>
  <div class="field">
    <%= form.label :nama_data, { class: "form-label" } %>
    <%= form.text_area :nama_data, { class: "form-control" } %>
  </div>
  <div class="field">
    <%= form.label :jumlah, { class: "form-label" } %>
    <%= form.number_field :jumlah, { class: "form-control" } %>
  </div>
  <div class="field">
    <%= form.label :satuan, { class: "form-label" } %>
    <%= form.text_field :satuan, { class: "form-control" } %>
  </div>
  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.text_field :tahun, { class: 'form-control' } %>
  </div>
</fieldset>
