<fieldset class="mb-3">
  <div class="field">
    <%= form.hidden_field :data_dukungable_type %>
    <%= form.hidden_field :data_dukungable_id %>
  </div>
  <div class="field">
    <%= form.label :nama_data, { class: "form-label" } %>
    <%= form.text_area :nama_data, { class: "form-control" } %>
  </div>
  <div class="field row mt-0" id="jumlah">
    <% @range_tahun.each do |tahun| %>
      <%= form.fields_for :jumlahs, Jumlah.new(tahun: tahun, data_dukung: form.object, jumlah: 0, satuan: '-') do |f_jumlah| %>
        <%= render 'jumlahs/jumlah_fields', form: f_jumlah %>
      <% end %>
    <% end %>
  </div>

  <%= link_to_remove_nested(form, link_text: 'Hapus data dukung',
                            link_classes: 'btn btn-outline-danger mt-2') %>
</fieldset>
