<p id="notice"><%= notice %></p>

<p>
  <strong>Nama data:</strong>
  <%= @data_dukung.nama_data %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @data_dukung.keterangan %>
</p>

<%= link_to 'Edit', edit_data_dukung_path(@data_dukung) %> |
<%= link_to 'Back', data_dukungs_path %>
