<%= form_with url: pelaksana_path(pelaksana.id),
              local: false,
              method: :patch,
              data: {
                controller: 'form-ajax',
                form_ajax_modal_param: 'form-pelaksana',
                form_ajax_pohon_param: dom_id(pelaksana.strategi),
                action: 'ajax:complete->form-ajax#successResponseNew'
              } do |form| %>
  <div class="field">
    <%= form.label :pelaksana, class: "form-label" %>
    <% pelaksana.cascading.each do |cross| %>
      <div class="form-check">
        <%= hidden_field_tag 'uncheck[]', cross.id %>
        <% if cross.pohonable.sasarans.select { |s| s.nip_asn == cross.user.nik }.any? %>
          <span class="badge bg-success">Rencana Kinerja sudah terisi</span>
          <%= hidden_field_tag 'check[]', cross.id %>
        <% else %>
          <%= check_box_tag 'check[]', cross.id, true, class: 'form-check-input' %>
        <% end %>
        <%= label_tag 'check', class: 'form-check-label' do %>
          <span class="fw-bolder"><%= cross.user.nama %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label :role, { class: "form-label" } %>
    <%= form.select :role, options_for_select(@roles), {include_blank: true, required: true},
     { data: { placeholder: "Pilih Role Pelaksana",
       controller: 'dropdown',
       dropdown_jenis_value: 'chain',
       dropdown_event_name_value: 'change-pelaksana',
       dropdown_parent_value: '#form-pelaksana-body'
     } } %>
  </div>
  <div class="field">
    <%= form.label :asn, class: "form-label" %>
    <%= form.select :asn_list, [],
                {include_blank: true},
                { class: "form-control",
                  multiple: true,
                  data: { placeholder: "Pilih Pelaksana",
                          controller: 'dropdown',
                          action: 'change-pelaksana@document->dropdown#chain_role_to_pelaksana',
                          dropdown_jenis_value: 'ajax',
                          dropdown_parent_value: '#form-pelaksana-body',
                          dropdown_kode_opd_value: @kode_opd,
                          dropdown_url_value: teman_pelaksana_path(pelaksana.id,:json) } } %>
  </div>
  <div class="field">
    <%= form.label :keterangan, { class: "form-label" } %>
    <%= form.text_area :keterangan, { class: "form-control", required: true } %>
  </div>
  <div class="actions">
    <%= form.submit "Simpan perubahan" %>
  </div>
<% end %>
