<%= form_with url: pohon_tematik_clone_path(pohon),
              method: :post,
              local: false,
              data: {
                  controller: 'form-ajax',
                  action: 'ajax:complete->form-ajax#responseAfter'
              } do |form| %>
  <div class="field">
    <%= form.label :pohon_tematik, { class: "form-label" } %>
    <%= form.text_field :pohon, { class: "form-control", readonly: true, value: pohon.pohonable } %>
  </div>
  <div class="field">
    <%= form.label :tahun_sekarang, { class: "form-label" } %>
    <%= form.text_field :tahun_asal, { class: "form-control", readonly: true, value: tahun_asal } %>
  </div>
  <div class="field">
    <%= form.label :tahun_tujuan, { class: "form-label" } %>
    <%= form.select :tahun_tujuan, options_for_select(KelompokAnggaran.all.collect { |ka| [ka.nama_sederhana_kelompok_tahun, ka.id] } ), {include_blank: true},
                    { data: { placeholder: "Pilih Tahun Cloning",
                              controller: 'dropdown'
                    } } %>
  </div>
  <div class="actions my-4">
    <%= form.submit "Clone" %>
  </div>
<% end %>
