<%= form_with url: url,
              method: :post,
              local: false,
              data: {
                controller: 'form-ajax',
                action: 'ajax:complete->form-ajax#processAjax'
              } do |form| %>
  <div class="field">
    <%= form.label :tahun_sekarang, class: "form-label" %>
    <%= form.text_field :tahun_asal,
     class: "form-control", readonly: true,
     value: tahun_asal %>
  </div>
  <div class="field">
    <%= form.label :tahun_tujuan, class: "form-label" %>
    <%= form.select :tahun_tujuan,
        options_for_select(kelompok_anggaran_options(tahun_asal)),
     { include_blank: true },
     data: {
       placeholder: "Pilih Tahun Cloning",
       controller: 'dropdown',
       dropdown_parent_value: '#form-modal'
     } %>
  </div>
  <div class="actions my-4">
    <%= form.submit "Clone" %>
  </div>
<% end %>
