<%= form_with(model: [@sasaran, tahapan ], local: false) do |form| %>
  <% if tahapan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tahapan.errors.count, "error") %> prohibited this tahapan from being saved:</h2>
      <ul>
        <% tahapan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :urutan, {class: "form-label"} %>
    <%= form.number_field :urutan, {class: "form-control", required: true}%>
  </div>
  <div class="field">
    <%= form.label :tahapan_kerja, {class: "form-label"} %>
    <%= form.text_field :tahapan_kerja, {class: "form-control", required: true}%>
  </div>
  <div class="field">
    <%= form.label :keterangan, {class: "form-label"} %>
    <%= form.text_field :keterangan, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
