<div class="card border-2 shadow mb-3 <%= complete ? '' : 'border-danger' %>">
  <div class="card-header">
    <h4 class="card-title">
      Rencana Aksi
      <span class="ms-2"><%= target_sesuai?(sasaran.target_sesuai?) %></span>
    </h4>
    <% if complete %>
      <div class="d-flex gap-4">
        <%= link_to new_sasaran_tahapan_path(sasaran),
                    remote: true,
                    class: 'btn btn-primary',
                    data: {
                      controller: 'form-modal',
                      action: 'form-modal#appendForm',
                      form_modal_location_param: 'form-modal-body',
                      bs_target: '#form-modal',
                      bs_toggle: 'modal'
                    } do %>
          <span>Tambah Renaksi</span>
        <% end %>
        <div class="fix-jumlah">
          <%= link_to 'Fix Jumlah Target',renaksi_update_path(id: sasaran.id),
                      remote: true,
                      method: :post,
                      class: 'btn btn-warning' %>
        </div>
      </div>
    <% else %>
      <div class='d-inline-block gap-3'>
        <%= render 'clone_renaksi_button', sasaran: sasaran %>
        <% if current_user.eselon_user == 'eselon_2' %>
          <%= link_to 'Renaksi Otomatis (dari manual ik)', otomatis_sasaran_tahapan_path(sasaran),
                      method: :post, remote: true, class: 'btn btn-info' %>
        <% elsif current_user.eselon_user == 'eselon_3' %>
          <%= link_to 'Renaksi Otomatis (dari manual ik)', otomatis_sasaran_tahapan_path(sasaran),
                      method: :post, remote: true, class: 'btn btn-info' %>
          <%= link_to new_sasaran_tahapan_path(sasaran),
                      remote: true,
                      class: 'btn btn-danger ms-3',
                      data: {
                        controller: 'form-modal',
                        action: 'form-modal#appendForm',
                        form_modal_location_param: 'form-modal-body',
                        bs_target: '#form-modal',
                        bs_toggle: 'modal'
                      } do %>
            <span>Renaksi Manual (buat baru)</span>
          <% end %>
        <% else %>
          <%= link_to new_sasaran_tahapan_path(sasaran),
                      remote: true,
                      class: 'btn btn-danger',
                      data: {
                        controller: 'form-modal',
                        action: 'form-modal#appendForm',
                        form_modal_location_param: 'form-modal-body',
                        bs_target: '#form-modal',
                        bs_toggle: 'modal'
                      } do %>
            <span>Renaksi Manual (buat baru)</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if sasaran.tahapans.any? %>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm align-items-center counter"
               data-controller="renaksi"
               data-action="update-renaksi@document->renaksi#refreshTotals">
          <caption class="waktu-renaksi">
            <strong>Waktu yang dibutuhkan :</strong>
            <span id="waktu-pelaksanaan"><%= waktu = sasaran.waktu_total == 0 ? "-" : sasaran.waktu_total %></span> bulan
            <hr>
            <div class="row">
              <% if current_user.eselon_user == 'eselon_4' or current_user.has_any_role?('eselon_4') %>
                <div class="col-8 align-middle">
                  <%= render 'tahapans/sumber_dana_form', sasaran: sasaran %>
                </div>
              <% end %>
            </div>
          </caption>
          <thead class="thead-light">
            <tr>
              <th class="border-bottom border-end border-start" scope="col" rowspan="2">No.</th>
              <th class="border-bottom text-wrap border-end" scope="col" rowspan="2" colspan="2">Renaksi</th>
              <% (1..12).each do |i| %>
                <th class="border-bottom border-end text-center" scope="col"><%= i %></th>
              <% end %>
              <th class="border-bottom border-end text-center" scope="col">Total</th>
              <th class="border-bottom border-end text-center" scope="col" rowspan="2">Keterangan</th>
            </tr>
            <tr>
              <% (1..13).each do |item| %>
                <td class="border border-gray-900 bg-tertiary text-center text-gray-300" scope="col">T</td>
              <% end %>
            </tr>
          </thead>
          <tbody id="<%= dom_id(sasaran, 'tahapan') %>">
            <% sasaran.tahapan_renaksi.each do |tahapan| %>
              <%= render 'tahapans/tahapan', tahapan: tahapan, sasaran: sasaran %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td class="border-bottom border-start border-end" colspan="3">Total</td>
              <% (1..12).each do |i| %>
                <td id="<%= "total-aksi-bulan-#{i}" %>"  class="border-bottom border-end text-center total-aksi-bulan"><%= sasaran.total_target_aksi_bulan[i] %></td>
              <% end %>
              <td id="total-jumlah-target" class="border-bottom border-end text-center"><%= sasaran.jumlah_target %></td>
              <td class="border-bottom border-end" colspan="2"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  <% end %>
</div>
