<h5>Tahapan Kinerja - <%= tahapan_counter + 1 %></h5>

<table class="renaksi">
        <thead>
          <tr>
            <th rowspan="2">Tahapan Kerja</th>
            <% (1..12).each do |i| %>
            <th colspan="2"><%= i %></th>
            <% end %>
            <th colspan="2">Jumlah</th>
            <th rowspan="2">Keterangan</th>
            <th rowspan="2">Anggaran</th>
            <th rowspan="2">Aksi</th>
          </tr>
          <tr>
          <% (1..13).each do |item| %>
            <td>T</td>
            <td>R</td>
          <% end %>
          </tr>
        </thead>
        <tbody>
            <% aksi = tahapan.aksis %>
              <tr>
                <td class="tahapan"><%= tahapan.tahapan_kerja %></td>
                <!-- Loop Tanggal-->
                <% (1..12).each do |i| %>
                <td><%= aksi.find_by(bulan: i) ? 
                link_to(aksi.find_by(bulan: i).target, edit_rincian_tahapan_aksi_path(tahapan.rincian, tahapan, aksi.find_by(bulan: i).id, :bulan => i))  
                :
                link_to('+', new_rincian_tahapan_aksi_path(tahapan.rincian, tahapan, :bulan => i)  )   %> </td>
                <td><%= aksi.find_by(bulan: i) ? aksi.find_by(bulan: i).realisasi : ''  %></td>
                <% end %>
                <!-- Sum -->
                <td><%= tahapan.jumlah_target  %></td>
                <td><%= tahapan.jumlah_realisasi %></td>
                <td><%= tahapan.keterangan  %></td>
                <% unless tahapan.anggarans.any? %>
                <td><%= link_to 'Tambah Anggaran', new_rincian_tahapan_anggaran_path(tahapan.rincian, tahapan)  %></td>
                <td><%= link_to 'Destroy', rincian_tahapan_path(tahapan.rincian, tahapan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% else %>
                  <% total_anggaran = tahapan.anggarans.find_by(level: 0) %>
                <td><%= link_to total_anggaran.uraian, rincian_tahapan_anggaran_path(tahapan.rincian, tahapan, tahapan.anggarans.first.id)  %></td>
                <td><%= link_to 'Destroy', rincian_tahapan_path(tahapan.rincian, tahapan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
        </tbody>
      </table>
      <br>