<tr class="<%= tahapan.rtp_mr? && 'tahapan-rtp' %>" id="<%= dom_id(tahapan) %>">
  <td class="text-gray-900 fw-bolder border-start border-end" scope="row"></td>
  <td class="text-gray-900 text-wrap">
    <%= tahapan.tahapan_kerja %>
    <span class='fw-bolder'>
      <%= tahapan.tagging == "RTP-MR" ? "- [#{tahapan.tagging}]" : '' %>
    </span>
  </td>
  <td class="fw-bolder text-gray-500 text-center border-end">
    <div class="d-grid gap-2">
      <%= render(EditButtonComponent.new(path: edit_sasaran_tahapan_path(sasaran, tahapan))) %>
      <%= render(DeleteButtonAjaxComponent.new(path: sasaran_tahapan_path(sasaran, tahapan),
                                               model: tahapan,
                                               text: "Hapus renaksi '#{tahapan.tahapan_kerja}'?")) %>
    </div>
  </td>
  <% (1..12).each do |bulan| %>
    <%= aksi_di_bulan(sasaran, tahapan, bulan) %>
  <% end %>
  <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.jumlah_target %></td>
  <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.keterangan %></td>
</tr>
