<%= form_with(model: [@sasaran, @tahapan ], local: false) do |form| %>
  <div class="field">
    <%= form.label :tahapan_kerja, {class: "form-label"} %>
    <%= form.text_field :tahapan_kerja, {class: "form-control-plaintext", required: true, readonly: true}%>
  </div>
  <div class="field">
    <%= form.label :tagging, {class: "form-label"} %>
    <%= form.select :tagging, ['Umum', 'RTP-MR'] , {include_blank: true},
     { class: 'form-control disabled',
       required: true,
       data: { placeholder: 'pilih tagging',
         controller: 'dropdown',
         dropdown_parent_value: '#form-modal-body'
     }} %>
  </div>
  <div class="field">
    <%= form.label :keterangan, {class: "form-label"} %>
    <%= form.text_field :keterangan, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
