<%= content_for :html_title, "Review Rincian Belanja" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Review</li>
  <li class="breadcrumb-item" aria-current="page">Rincian Belanja</li>
  <li class="breadcrumb-item active" aria-current="page"><%= @tahapan %></li>
<% end %>
<% content_for :view_utama do %>
  <div class="px-3">
    <%= render 'reviews/subkegiatan_card', sasaran: @sasaran, tahun: @tahun %>
    <%= render 'reviews/sasaran_card', sasaran: @sasaran, display_review: false %>
    <%= render 'reviews/tahapan_card', tahapan: @tahapan, display_review: false %>
    <% @tahapan.anggarans.each do |anggaran| %>
      <%= render 'reviews/anggaran_card', anggaran: anggaran, display_review: true %>
    <% end %>
  </div>
  <!-- SECTION - Table Anggaran -->
  <!-- !SECTION - End Table Anggaran -->
<% end %>
