<%= form_with(model: [@sasaran, rincian], local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: dom_id(@sasaran, 'rincian'),
                form_ajax_type_param: 'total_replace',
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <% if rincian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rincian.errors.count, "error") %> prohibited this rincian from being saved:</h2>
      <ul>
        <% rincian.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :sasaran_id, value: @sasaran.id  %>
  <div class="field">
    <%= form.label :jenis_layanan, { class: "form-label" } %>
    <%= form.text_area :jenis_layanan, { class: "form-control" ,value: @sasaran.jenis_layanan } %>
    <small class="form-text text-sm">Contoh: Layanan konsultasi perencanaan, layanan pengaduan masyarakat</small>
  </div>
  <div class="model-layanan" data-controller="rincian-layanan"
       data-action="modelLayanan@document->rincian-layanan#aktifkanJalurLayanan"
       data-rincian-layanan-jalur-layanan-value="<%= form.object.jalur_layanan %>">
    <div class="field">
      <%= form.label :model_layanan, { class: "form-label" } %>
      <%= form.select :model_layanan, Rincian::MODEL_LAYANAN , {include_blank: true},
       { class: 'form-control',
         required: true,
         data: {
           controller: 'dropdown',
           placeholder: "Pilih model layanan",
           dropdown_parent_value: '#form-modal-body',
           dropdown_jenis_value: 'chain',
           dropdown_event_name_value: 'modelLayanan',
           rincian_layanan_target: 'modelLayanan'
         }
       } %>
    </div>
    <div class="field d-none" data-rincian-layanan-target="jalurLayanan">
      <%= form.label :jalur_layanan, "Penjelasaan Pelayanan Online (alat yang digunakan)", { class: "form-label" } %>
      <%= form.text_area :jalur_layanan, { class: "form-control",
        placeholder: 'Inputkan alat yang digunakan untuk melakukan pelayanan online',
        data: {rincian_layanan_target: "inputJalur" } } %>
      <small class="form-text text-sm">Contoh: Zoom meeting, Whatsapp, SISTEM INFORMASI PERIZINAN</small>
    </div>

  </div>
  <div class="field">
    <%= form.label :penerima_manfaat, { class: "form-label" } %>
    <%= form.text_area :penerima_manfaat, { class: "form-control" ,value: @sasaran.penerima_manfaat, placeholder: 'Sasaran penerima manfaat' } %>
    <small class="form-text text-sm">Contoh: Masyarakat Kota Madiun, Penduduk Kecamatan Taman, pegawai Badan Kepegawaian</small>
  </div>
  <div class="field">
    <%= form.label :data_terpilah, { class: "form-label" } %>
    <%= form.text_area :data_terpilah, { class: "form-control", placeholder: 'Data penerima manfaat' } %>
    <small class="form-text text-sm">Contoh: data pegawai, statistik pegawai, jumlah asn</small>
  </div>
  <div class="field">
    <%= form.label :lokasi_pelaksanaan, { class: "form-label" } %>
    <%= form.text_area :lokasi_pelaksanaan, { class: "form-control", placeholder: 'Pelaksanaan rencana kinerja' } %>
    <small class="form-text text-sm">Contoh: Kota Madiun, Kecamatan Taman, Badan Kepegawaian</small>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
