<% jumlah_target = sasaran.tahapans.sum :jumlah_target %>
<% jumlah_realisasi = sasaran.tahapans.sum :jumlah_realisasi %>
<div class="card border-2 shadow mb-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col mb-3">
        <span class="fs-5 fw-bold mb-0">1. Sasaran Kinerja </span>
      </div>
      <div class="">
        <ul class="list mb-0">
          <li>OPD : <%= sasaran.user.opd.nama_opd %></li>
          <li>ASN : <%= sasaran.user.nama %></li>
          <li>NIP : <%= sasaran.user.nik %></li>
          <li>Pangkat : -</li>
          <li>Sasaran Kinerja : <%= sasaran.sasaran_kinerja %></li>
          <li>Indikator Kinerja : <%= sasaran.indikator_kinerja %></li>
          <li>Target Indikator Kinerja: <%= sasaran.target %> <%= sasaran.satuan %></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-body">
    <div class="row align-items-center mb-3">
      <div class="col-8">
        <span class="fs-5 fw-bold mb-0">2. Rencana Aksi dan Anggaran</span>
      </div>
      <%# TODO: Implement this logic to touch renaksi to sync total %>
      <div class="col text-end">
        <%= button_to 'Sync Total', renaksi_update_path, remote: true, method: :post, class: 'btn btn-sm btn-primary', params: {id: sasaran.id} %>
      </div>
      <div class="col text-end">
        <%= link_to 'Tambah Tahapan', new_sasaran_tahapan_path(sasaran) ,remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'},  class: "btn btn-sm btn-info"  %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-sm align-items-center">
        <caption class="waktu-renaksi">
          <strong>Waktu yang dibutuhkan :</strong>
          <%= waktu = sasaran.waktu_total == 0 ? "-" : sasaran.waktu_total %> bulan
          <hr>
          <strong>Anggaran yang dibutuhkan :</strong>
          Rp. <%= number_with_delimiter(sasaran.total_anggaran_dengan_komentar, delimiter: '.') %>
        </caption>
        <thead class="thead-light">
          <tr>
            <th class="border-bottom border-end border-start" scope="col" rowspan="2">No.</th>
            <th class="border-bottom border-end" scope="col" rowspan="2">Tahapan Kerja</th>
            <% (1..12).each do |i| %>
              <th class="border-bottom border-end text-center" scope="col"><%= i %></th>
            <% end %>
            <th class="border-bottom border-end text-center" scope="col">Jumlah</th>
            <th class="border-bottom border-end text-center" scope="col" rowspan="2">Anggaran</th>
            <th class="border-bottom border-end" scope="col" rowspan="2">Keterangan</th>
            <th class="border-bottom border-end text-center" scope="col" rowspan="2">Action</th>
          </tr>
          <tr>
            <% (1..13).each do |item| %>
              <td class="border border-gray-900 bg-tertiary text-center text-gray-300" scope="col">T</td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% sasaran.tahapans.includes([:anggarans]).order(:created_at).each.with_index(1) do |tahapan, index| %>
            <tr class="<%= tahapan.ada_komentar? ? 'higlighted' : '' %>">
              <td class="text-gray-900 fw-bolder border-start border-end" scope="row"><%= index %></td>
              <td class="text-gray-900"><%= tahapan.tahapan_kerja %></td>
              <% (1..12).each do |bulan| %>
                <%= aksi_di_bulan(sasaran, tahapan, bulan) %>
              <% end %>
              <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.jumlah_target or '-'  %></td>
              <% unless tahapan.anggarans.any? %>
                <td class="fw-bolder text-gray-500 border">
                  <%= link_to 'Tambah Anggaran', new_sasaran_tahapan_anggaran_path(sasaran, tahapan),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-perhitungan"}, class: "ml-5 btn btn-sm btn-success text-white animate-up-2"   %>
                </td>
              <% else %>
                <td class="fw-bolder text-gray-500 border text-center">
                  <%= link_to number_to_currency(tahapan.anggaran_tahapan, unit: "Rp. ", separator: '.'), sasaran_tahapan_anggarans_path(sasaran, tahapan) %></td>
              <% end %>
              <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.keterangan  %></td>
              <td class="fw-bolder text-gray-500 text-center border-end">
                <%= link_to edit_sasaran_tahapan_path(sasaran, tahapan),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'}, class: "m-3" do %>
                  <i class="fa fa-pencil-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                <% end %>
                <%= link_to sasaran_tahapan_path(sasaran, tahapan), method: :delete, data: { confirm_swal: "Hapus Tahapan #{tahapan.tahapan_kerja}?"}, class: "m-3" do %>
                  <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td class="border-bottom border-start border-end" colspan="2">Total</td>
            <% (1..12).each do |i| %>
              <td class="border-bottom border-end text-center"><%= sasaran.total_target_aksi_bulan[i] %></td>
            <% end %>
            <td class="border-bottom border-end text-center"><%= sasaran.jumlah_target %></td>
            <td class="border-bottom border-end" colspan="3"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
