<% jumlah_target = sasaran.tahapans.sum :jumlah_target %>
<% jumlah_realisasi = sasaran.tahapans.sum :jumlah_realisasi %>
<div class="card border-2 shadow mb-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col mb-3">
        <span class="fs-5 fw-bold mb-0">1. Sasaran Kinerja </span>
      </div>
      <div class="col text-end">
        <%= link_to 'Edit Sasaran', edit_sasaran_path(sasaran), class: 'btn btn-sm btn-primary' %>
      </div>
      <div id="<%= dom_id(sasaran) %>">
        <ul class="list mb-0">
          <li>OPD : <%= sasaran.user.opd.nama_opd %></li>
          <li>ASN : <%= sasaran.user.nama %></li>
          <li>NIP : <%= sasaran.user.nik %></li>
          <li>Pangkat : <%= sasaran.user.pangkat %></li>
          <li>Sasaran Kinerja : <%= sasaran.sasaran_kinerja %></li>
          <% sasaran.indikator_sasarans.each do |indikator| %>
            <li>Indikator Kinerja : <%= indikator.indikator_kinerja %></li>
            <li>Target Indikator Kinerja: <%= indikator.target %> <%= indikator.satuan %></li>
            <li>Manual IK: 
              <% if indikator.manual_ik.present? %>
                 <%= link_to edit_indikator_sasaran_manual_ik_path(indikator, indikator.manual_ik),
                     class: "m-3 btn btn-sm btn-outline-info" do %>
                       <i class="fa fa-edit me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                       <span>Edit Manual IK</span>
                 <% end %>
              <% else %>
                 <%= link_to new_indikator_sasaran_manual_ik_path(indikator),
                     class: "m-3 btn btn-sm btn-outline-danger" do %>
                       <i class="fa fa-cog me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                       <span>Buat Manual IK</span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="card-body">
    <div class="row align-items-center mb-3">
      <div class="col-8">
        <span class="fs-5 fw-bold mb-0">2. Rencana Aksi <%= current_user.eselon_user == 'eselon_4' ? 'dan Anggaran' : '' %></span>
      </div>
      <div class="col text-end">
        <%= button_to 'Sync Total', renaksi_update_path, remote: true, method: :post, class: 'btn btn-sm btn-primary', params: {id: sasaran.id} %>
      </div>
      <% unless diajukan? %>
        <div class="col text-end">
          <%= link_to 'Tambah Tahapan', new_sasaran_tahapan_path(sasaran) ,remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'},  class: "btn btn-sm btn-info" %>
        </div>
      <% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-sm align-items-center">
        <caption class="waktu-renaksi">
          <strong>Waktu yang dibutuhkan :</strong>
          <%= waktu = sasaran.waktu_total == 0 ? "-" : sasaran.waktu_total %> bulan
          <hr>
        <% if current_user.eselon_user == 'eselon_4' %>
          <div class="row">
            <div class="col-4 align-middle">
              <strong>Anggaran yang dibutuhkan :</strong>
              Rp. <%= number_with_delimiter(sasaran.total_anggaran_dengan_komentar) %>
          </div>
        <% end %>
        <% if current_user.eselon_user == 'eselon_4' %>
          <% unless diajukan? %>
            <div class="col-8 align-middle">
              <%= form_with(model: [current_user, sasaran], local:false, html: { class: 'd-flex flex gap-3' }) do |f| %>
                <select name="sasaran[sumber_dana]" data-controller="dropdown" data-placeholder="<%= sasaran.sumber_dana || 'Sumber Dana' %>" data-width="25%">
                  <option value=""></option>
                  <% SumberDana.all.each do |sumber_dana| %>
                    <option value='<%= sumber_dana.sumber_dana %>'><%= sumber_dana.sumber_dana %></option>
                  <% end %>
                </select>
                <input type="submit" value="<%= sasaran.sumber_dana.nil? ? 'Simpan' : 'Ubah' %>" data-disable-with="memproses.." class="btn btn-sm btn-tertiary ml-3">
              <% end %>
            </div>
          <% else %>
            <div class="col-8 align-middle">
              Sumber Dana: <%= sasaran.sumber_dana %>
          </div>
        <% end %>
        <% end %>
        </caption>
        <thead class="thead-light">
          <tr>
            <th class="border-bottom border-end border-start" scope="col" rowspan="2">No.</th>
            <th class="border-bottom border-end" scope="col" rowspan="2">Tahapan Kerja</th>
            <% (1..12).each do |i| %>
              <th class="border-bottom border-end text-center" scope="col"><%= i %></th>
            <% end %>
            <th class="border-bottom border-end text-center" scope="col">Jumlah</th>
          <% if current_user.eselon_user == 'eselon_4' %>
            <th class="border-bottom border-end text-center" scope="col" rowspan="2">Anggaran</th>
          <% end %>
            <th class="border-bottom border-end" scope="col" rowspan="2">Keterangan</th>
            <% unless diajukan? %>
              <th class="border-bottom border-end text-center" scope="col" rowspan="2">Action</th>
            <% end %>
          </tr>
          <tr>
            <% (1..13).each do |item| %>
              <td class="border border-gray-900 bg-tertiary text-center text-gray-300" scope="col">T</td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% sasaran.tahapans.includes([:anggarans]).order(:created_at).each.with_index(1) do |tahapan, index| %>
            <tr class="<%= tahapan.ada_komentar? ? 'higlighted' : 'clean' %>">
              <td class="text-gray-900 fw-bolder border-start border-end" scope="row"><%= index %></td>
              <td class="text-gray-900"><%= tahapan.tahapan_kerja %></td>
              <% (1..12).each do |bulan| %>
                <% unless diajukan? %>
                  <%= aksi_di_bulan(sasaran, tahapan, bulan) %>
                <% else %>
                  <%= aksi_di_bulan(sasaran, tahapan, bulan, disabled: true) %>
                <% end %>
              <% end %>
              <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.jumlah_target or '-' %></td>
          <% if current_user.eselon_user == 'eselon_4' %>
              <% unless tahapan.anggarans.any? %>
                <% unless diajukan? %>
                  <td class="fw-bolder text-gray-500 border text-center">
                    <%= link_to 'Tambah Anggaran', new_sasaran_tahapan_anggaran_path(sasaran, tahapan),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-perhitungan"}, class: "ml-5 btn btn-sm btn-success text-white animate-up-2" %>
                  </td>
                <% end %>
              <% else %>
                <td class="fw-bolder text-gray-500 border text-end">
                  Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan) %>
                <% unless diajukan? %>
                  | <%= link_to 'Edit Anggaran', sasaran_tahapan_anggarans_path(sasaran, tahapan), class: 'btn btn-info btn-sm' %>
              <% end %>
                </td>
            <% end %>
          <% end %>
              <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.keterangan %></td>
              <% unless diajukan? %>
                <td class="fw-bolder text-gray-500 text-center border-end">
                  <%= link_to edit_sasaran_tahapan_path(sasaran, tahapan),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-renaksi'}, class: "m-3" do %>
                    <i class="fa fa-pencil-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit item"></i>
                  <% end %>
                  <%= link_to sasaran_tahapan_path(sasaran, tahapan), method: :delete, data: { confirm_swal: "Hapus Tahapan #{tahapan.tahapan_kerja}?"}, class: "m-3" do %>
                    <i class="fa fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hapus item"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td class="border-bottom border-start border-end" colspan="2">Total</td>
            <% (1..12).each do |i| %>
              <td class="border-bottom border-end text-center"><%= sasaran.total_target_aksi_bulan[i] %></td>
            <% end %>
            <td class="border-bottom border-end text-center"><%= sasaran.jumlah_target %></td>
          <% if current_user.eselon_user == 'eselon_4' %>
            <td class="border-bottom border-end text-end">Rp. <%= number_with_delimiter(sasaran.total_anggaran_dengan_komentar) %></td>
          <% end %>
            <td class="border-bottom border-end" colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
