<div class="card border-2 shadow mb-3" id="<%= dom_id(sasaran, 'rincian') %>">
  <div class="card-header">
    <h4 class="card-title">
      Rincian Sasaran
      <span class="ms-2"><%= sesuai?(sasaran.rincian?) %></span>
    </h4>
    <% unless diajukan? %>
      <% unless sasaran.rincian %>
        <div class="row">
          <div class="col">
            <%= link_to new_sasaran_rincian_path(sasaran),
                        remote: true,
                        class: 'btn btn-primary rincian',
                        data: {
                          controller: 'form-modal',
                          action: 'form-modal#appendForm',
                          form_modal_location_param: 'form-modal-body',
                          bs_target: '#form-modal',
                          bs_toggle: 'modal'
                        } do %>
              <span>Tambah Rincian Sasaran</span>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col">
            <%= link_to edit_sasaran_rincian_path(sasaran, sasaran.rincian),
                        remote: true,
                        class: 'btn btn-primary rincian',
                        data: {
                          controller: 'form-modal',
                          action: 'ajax:complete->form-modal#success:prevent',
                          bs_toggle: 'modal',
                          bs_target: '#form-modal'
                        } do %>
              <span>Edit Rincian Sasaran</span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Jenis Layanan</th>
            <th>Model Layanan</th>
            <% if sasaran.rincian&.model_layanan == 'Online' %>
              <th>Penjelasaan Pelayanan Online (alat yang digunakan)</th>
            <% end %>
            <th>Penerima Manfaat</th>
            <th>Data terpilah</th>
            <th>Lokasi Pelaksanaan</th>
          </tr>
        </thead>
        <tbody>
          <% if sasaran.rincian %>
            <tr>
              <td class="align-middle text-wrap"><%= sasaran.jenis_layanan %></td>
              <td class="align-middle text-wrap"><%= sasaran.rincian.model_layanan %></td>
              <% if sasaran.rincian.model_layanan == 'Online' %>
                <td class="align-middle text-wrap"><%= sasaran.rincian.jalur_layanan %></td>
              <% end %>
              <td class="align-middle text-wrap"><%= sasaran.penerima_manfaat %></td>
              <td class="align-middle text-wrap"><%= sasaran.rincian.data_terpilah %></td>
              <td class="align-middle text-wrap"><%= sasaran.rincian.lokasi_pelaksanaan %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
