<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center mb-3">
      <div class="row align-items-center">
        <div class="col">
          <h5>Rincian</h5>
        </div>
      </div>
    </div>
    <% unless sasaran.rincian %>
      <div class="row">
        <div class="col">
          <%= link_to "Tambah Rincian Sub Kegiatan", new_sasaran_rincian_path(sasaran), remote: true, 
                  class: "btn btn-primary rincian", data: {'bs-toggle': 'modal', 'bs-target': '#form-rincian', 'title': 'Form Rincian Sub Kegiatan'} %>
        </div>
        <div class="col">
          <%= link_to "Tambah Rincian Sasaran", edit_user_sasaran_path(current_user, sasaran), remote: true,
                  class: "btn btn-secondary rincian", data: {'bs-toggle': 'modal', 'bs-target': '#form-rincian'} %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col">
          <%= link_to "Edit Rincian Sub Kegiatan", edit_sasaran_rincian_path(sasaran, sasaran.rincian), remote: true, 
                  class: "btn btn-primary rincian", data: {'bs-toggle': 'modal', 'bs-target': '#form-rincian', 'title': 'Form Rincian Sub Kegiatan'} %>
        </div>
        <div class="col">
          <%= link_to "Edit Rincian Sasaran", edit_user_sasaran_path(current_user, sasaran), remote: true,
                  class: "btn btn-secondary rincian", data: {'bs-toggle': 'modal', 'bs-target': '#form-rincian'} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <% if sasaran.rincian %>
      <div class="row">
        <div class="col">
          <span class="fs-5 fw-bold mb-0">Rincian Sub Kegiatan</span>
          <ul class="list mb-0">
            <li><strong>Penerima manfaat</strong> : <%= sasaran.penerima_manfaat %></li>
            <li><strong>Data terpilah</strong> : <%= sasaran.rincian.data_terpilah %></li>
            <li><strong>Penyebab internal</strong> : <%= sasaran.rincian.penyebab_internal %></li>
            <li><strong>Penyebab external</strong> : <%= sasaran.rincian.penyebab_external %></li>
            <li><strong>Permasalahan umum</strong> : <%= sasaran.rincian.permasalahan_umum %></li>
            <li><strong>Permasalahan gender</strong> : <%= sasaran.rincian.permasalahan_gender %></li>
            <li><strong>Resiko</strong> : <%= sasaran.rincian.resiko %></li>
            <li><strong>Lokasi pelaksanaan</strong> : <%= sasaran.rincian.lokasi_pelaksanaan %></li>
          </ul>
        </div>
        <div class="col">
          <span class="fs-5 fw-bold mb-0">Rincian Sasaran</span>
          <ul class="list mb-0">
            <li><strong>Penerima manfaat</strong> : <%= sasaran.penerima_manfaat %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
