<p id="notice"><%= notice %></p>
<h1>Rincians</h1>
<table>
  <thead>
    <tr>
      <th>Sasaran</th>
      <th>Data terpilah</th>
      <th>Penyebab internal</th>
      <th>Penyebab external</th>
      <th>Permasalahan umum</th>
      <th>Permasalahan gender</th>
      <th>Resiko</th>
      <th>Lokasi pelaksanaan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @rincians.sasaran.sasaran_kinerja %></td>
      <td><%= @rincians.data_terpilah %></td>
      <td><%= @rincians.penyebab_internal %></td>
      <td><%= @rincians.penyebab_external %></td>
      <td><%= @rincians.permasalahan_umum %></td>
      <td><%= @rincians.permasalahan_gender %></td>
      <td><%= @rincians.resiko %></td>
      <td><%= @rincians.lokasi_pelaksanaan %></td>
    </tr>
  </tbody>
</table>
<br>
