<li>
  <div class="tf-nc tactical-pohon" style="width: 450px;">
    <div class="pohon">
      <div class="pohon-title">
        <h5 class="text-center"><strong>Tactical Kota</strong></h5>
      </div>
      <div class="pohon-body">
        <table class="table table-bordered">
          <tr>
            <td class="text-start" width="30px">Tactical Kota</td>
            <td class="text-wrap text-start"><%= pohon.pohonable.strategi %></td>
          </tr>
          <% unless pohon.pohonable.blank? %>
            <% pohon.pohonable.indikators.each.with_index(1) do |indikator, i| %>
              <tr>
                <td class="text-start" width="30px">Indikator
                  <% if pohon.pohonable.indikators.size > 1  %>
                    <%= i %>
                  <% end %>
                </td>
                <td class="text-wrap text-start"><%= indikator %></td>
              </tr>
              <tr>
                <td class="text-start" width="30px">Target / Satuan</td>
                <td class="text-wrap text-start"><%= indikator.target %> <%= indikator.satuan %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td class="text-start" width="30px">Keterangan</td>
            <td class="text-wrap text-start"><%= pohon.pohonable.keterangan %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <% collections = @operational_tematiks.select { |str| str.pohon_ref_id == pohon.id } %>
  <% if collections.any? %>
    <ul class='childs'>
      <%= render partial: 'cetaks/kota/pokin_operational',
                 collection: collections,
                 as: :pohon %>
    </ul>
  <% end %>
</li>
