<div class="modal fade " id=<%= "form-aksi-target-#{tahapan.id}-#{bulan}"%> data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id=<%= "form-aksi-target-#{tahapan.id}-#{bulan}-title" %>%>Target Bulan <%= bulan %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id=<%= "form-aksi-target-#{tahapan.id}-#{bulan}-body"%> >
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" id=<%= "form-aksi-target-#{tahapan.id}-#{bulan}-submit-btn" %> >Submit</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $("<%= "#form-aksi-target-#{tahapan.id}-#{bulan}-body" %>").html("<%= j render "aksis/target_form", sasaran: sasaran, tahapan: tahapan, aksi: aksi , bulan: bulan %>")

    $("<%= "#form-aksi-target-#{tahapan.id}-#{bulan}-submit-btn" %>").on('click', () => {
      $("<%= "#new-aksi-#{tahapan.id}-#{bulan}" %>").submit();
    });
  });
</script>
