<p id="notice"><%= notice %></p>

<h1>Aksis</h1>

<table>
  <thead>
    <tr>
      <th>Target</th>
      <th>Realisasi</th>
      <th>Bulan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aksis.each do |aksi| %>
      <tr>
        <td><%= aksi.target %></td>
        <td><%= aksi.realisasi %></td>
        <td><%= aksi.bulan %></td>
        <td><%= link_to 'Show', aksi %></td>
        <td><%= link_to 'Edit', edit_aksi_path(aksi) %></td>
        <td><%= link_to 'Destroy', aksi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aksi', new_aksi_path %>
