<p id="notice"><%= notice %></p>
<h1>Aksis</h1>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Target</th>
        <th>Realisasi</th>
        <th>Bulan</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% @aksis.each do |aksi| %>
        <tr>
          <td><%= aksi.target %></td>
          <td><%= aksi.realisasi %></td>
          <td><%= aksi.bulan %></td>
          <td><%= link_to 'hapus', sasaran_tahapan_aksi_path(@sasaran, @tahapan, aksi), method: :delete, data: {confirm_swal: 'Hapus tahapan ?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
