<%= form_with(model: kelompok_anggaran, local: false) do |form| %>
  <% if kelompok_anggaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kelompok_anggaran.errors.count, "kesalahan") %> pengisian:</h2>
      <ul>
        <% kelompok_anggaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :tahun, class: 'form-label' %>
    <%= form.select(:tahun, options_for_select(Tahun.pluck(:tahun), form.object.tahun), {},
    { data: {"placeholder": "Pilih Tahun",
              controller: 'dropdown',
              dropdown_parent_value: '#form-kelompok-anggaran'
    }}) %>
  </div>
  <div class="field">
    <%= form.label :kelompok, class: 'form-label' %>
    <%= form.select(:kelompok, (KelompokAnggaran::JENIS_KELOMPOK), {},
    { data: { controller: 'dropdown',
              dropdown_parent_value: '#form-kelompok-anggaran'
    }}) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
