<%= form_with(model: pk) do |form| %>
  <% if pk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pk.errors.count, "error") %> prohibited this pk from being saved:</h2>

      <ul>
        <% pk.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sasaran %>
    <%= form.text_field :sasaran %>
  </div>

  <div class="field">
    <%= form.label :indikator_kinerja %>
    <%= form.text_field :indikator_kinerja %>
  </div>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  <div class="field">
    <%= form.label :satuan %>
    <%= form.text_field :satuan %>
  </div>

  <div class="field">
    <% options = options_from_collection_for_select(users, 'id', 'nama') %>
    <%= form.label :user_id %>
    <%= form.select :user_id, options %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
