<div class="form-group">
  <p class="form-label">Rencana Kinerja OPD</p>
  <p class="form-control disabled"><%= @sasaran %></p>
</div>

<!-- INDIKATOR   -->
<% @sasaran.indikator_sasarans.each.with_index(1) do |indikator, index| %>
  <div class="row">
    <div class="form-group col-7">
      <p class="form-label">Indikator <%= @sasaran.indikator_sasarans.size > 1 ? index : '' %></p>
      <p class="form-control disabled"><%= indikator %></p>
    </div>
    <div class="form-group col-3">
      <p class="form-label">Target</p>
      <p class="form-control disabled"><%= indikator.target %></p>
    </div>
    <div class="form-group col-2">
      <p class="form-label">Satuan</p>
      <p class="form-control disabled"><%= indikator.satuan %></p>
    </div>
  </div>
<% end %>

<%= form_with model: rencana_aksi_opd, local: false,
              data: {
                controller: 'form-ajax periode',
                form_ajax_target_param: dom_id(@sasaran),
                form_ajax_type_param: '',
                action: 'ajax:complete->form-ajax#processAjax'
              } do |form| %>
  <% if rencana_aksi_opd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rencana_aksi_opd.errors.count, "error") %> prohibited this rencana_aksi_opd from being saved:</h2>

      <ul>
        <% rencana_aksi_opd.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden-field">
    <%= form.hidden_field :tahun %>
    <%= form.hidden_field :kode_opd %>
    <%= form.hidden_field :sasaran_id %>
    <%= form.hidden_field :i, value: @i %>
  </div>

  <div class="field">
    <%= form.label :id_rencana_renaksi, "Renaksi OPD", class: "form-label" %>
    <%= form.select :id_rencana_renaksi, [],
     { include_blank: true },
     { class: "form-control",
       data: { placeholder: "Pilih Rencana Aksi OPD",
         controller: 'dropdown',
         dropdown_jenis_value: 'ajax_preselect',
         dropdown_tahun_value: @tahun,
         dropdown_parent_value: '#form-modal',
         dropdown_kode_opd_value: @kode_opd,
         dropdown_url_value: renaksi_opd_list_sasarans_path(format: :json),
       } } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
