<%= render 'shared/card_layout_subtitle', title: "Jumlah Rencana Aksi OPD",
           sub_title: 'Kota Madiun', sub_title_2: @tahun do %>
  <div class="cetak d-grid gap-3 put-it-here">
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-bordered counter">
      <thead class="thead-light">
        <tr>
          <th class="border text-center" rowspan="2">No</th>
          <th class="border text-center" rowspan="2" style="min-width: 250px;">Nama OPD</th>
          <th class="border text-center" colspan="2">Jumlah</th>
        </tr>
        <tr>
          <th class="border text-center">Renaksi OPD</th>
          <th class="border text-center">Perintah Walikota</th>
        </tr>
      </thead>
      <tbody>
        <% @renaksi_opd.each do |opd, renaksis| %>
          <% jumlah_renaksi = renaksis.size %>
          <% jumlah_perintah_walikota =  renaksis.select { |rn| rn.perintah_walikota? }.size %>
          <tr>
            <td class=""></td>
            <td class="text-wrap"><%= opd %></td>
            <td class="text-center <%= jumlah_renaksi.positive? ? '' : 'tanda-kosong' %>"><%= jumlah_renaksi %></td>
            <td class="text-center <%= jumlah_perintah_walikota.positive? ? '' : 'tanda-kosong' %>"><%= jumlah_perintah_walikota %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
