<%= render 'shared/card_layout_subtitle', title: "Jumlah Rencana Aksi OPD",
           sub_title: 'Kota Madiun', sub_title_2: @tahun do %>
  <div class="cetak d-grid gap-3 put-it-here">
    <%= link_to cetak_rekap_jumlah_rencana_aksi_opds_path(tahun: @tahun),
                class:"m-3 btn btn-outline-danger",
                target: "_blank", rel: "noopener" do %>
      <span class="far fa-file-pdf me-2"></span>
      Cetak PDF Laporan Jumlah Rencana Aksi OPD
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-bordered counter">
      <thead class="thead-light">
        <tr>
          <th class="border text-center" rowspan="2">No</th>
          <th class="border text-center" rowspan="2" style="min-width: 250px;">Nama OPD</th>
          <th class="border text-center" rowspan="2">Jumlah Renaksi OPD</th>
          <th class="border text-center" colspan="3">Jumlah Renaksi</th>
        </tr>
        <tr>
          <th class="border text-center">Perintah Walikota</th>
          <th class="border text-center">Program Unggulan Walikota</th>
          <th class="border text-center">Inovasi</th>
        </tr>
      </thead>
      <tbody>
        <% @renaksi_opd.each do |opd, jumlah_renaksi| %>
          <tr>
            <td class=""></td>
            <td class="text-wrap"><%= opd %></td>
            <td class="text-center <%= jumlah_renaksi[:total].positive? ? '' : 'tanda-kosong' %>"><%= jumlah_renaksi[:total] %></td>
            <td class="text-center <%= jumlah_renaksi[:perintah_walikota].positive? ? '' : 'tanda-kosong' %>"><%= jumlah_renaksi[:perintah_walikota] %></td>
            <td class="text-center <%= jumlah_renaksi[:program_unggulan].positive? ? '' : 'tanda-kosong' %>"><%= jumlah_renaksi[:program_unggulan] %></td>
            <td class="text-center <%= jumlah_renaksi[:inovasi].positive? ? '' : 'tanda-kosong' %>"><%= jumlah_renaksi[:inovasi] %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="skip">
          <td colspan="2">Total:</td>
          <td class="text-center"><%= @total[:total] %></td>
          <td class="text-center"><%= @total[:perintah_walikota] %></td>
          <td class="text-center"><%= @total[:program_unggulan] %></td>
          <td class="text-center"><%= @total[:inovasi] %></td>
        </tr>
      </tfoot>
    </table>
  </div>
<% end %>
