<tbody id="<%= dom_id(sasaran) %>">
  <tr>
    <td class="border" rowspan="<%= rowspan_renaksi_opd(sasaran) %>"><%= i %></td>
    <td class="border text-wrap" rowspan="<%= rowspan_renaksi_opd(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
    <% if sasaran.indikator_sasarans.any? %>
      <%= indikator_rencana_aksi_opd(sasaran) %>
    <% else %>
      <td class="border" colspan="3">
        <%= link_to 'ISI INDIKATOR SASARAN', edit_sasaran_path(sasaran), class: 'btn btn-outline-danger w-100' %>
      </td>
    <% end %>
    <td class="border text-wrap" rowspan="<%= rowspan_renaksi_opd(sasaran) %>">
      <div class="d-grid gap-2">
        <%= render ModalButtonComponent.new(path: new_rencana_aksi_opd_path(tahun: @tahun,
                                                                            kode_opd: @kode_opd,
                                                                            i: i,
                                                                            sasaran_id: sasaran.id), title: 'Pilih Renaksi') %>
      </div>
    </td>
    <% renaksi_rowspan = sasaran.indikator_sasarans.length %>
    <% if sasaran.rencana_aksi_opds.any? %>
      <% renaksi_opd = sasaran.rencana_aksi_opds.first %>
      <td class="border text-wrap" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.aksi %></td>
      <td class="border text-wrap" rowspan="<%= renaksi_rowspan %>">10</td>
      <td class="border text-wrap" rowspan="<%= renaksi_rowspan %>">20</td>
      <td class="border text-wrap" rowspan="<%= renaksi_rowspan %>">30</td>
      <td class="border text-wrap" rowspan="<%= renaksi_rowspan %>">40</td>
    <% else %>
      <td class="border" colspan="5" rowspan="<%= renaksi_rowspan %>">
        -
      </td>
    <% end %>
  </tr>
  <% row_indikator_rencana_aksi_opd(sasaran).each do |indikator| %>
    <%= indikator %>
  <% end %>
  <% sasaran.rencana_aksi_opds.drop(1).each do |renaksi_opd| %>
    <tr class="renaksi-opd">
      <td class="border text-wrap"><%= renaksi_opd.aksi %></td>
      <td class="border text-wrap">10</td>
      <td class="border text-wrap">20</td>
      <td class="border text-wrap">30</td>
      <td class="border text-wrap">40</td>
    </tr>
  <% end %>
</tbody>
