<div data-controller="print" data-print-title-value="RENSTRA">
  <button class="m-3 btn btn-outline-danger no-print" data-action="click->print#print">
    <span class="far fa-file-pdf me-2"></span>
    Cetak PDF
  </button>
  <div data-print-target="document" class="w-100" id="cetak">
    <div class="kop">
      <div class="kop-judul">
        <h3>REKAPITULASI RENCANA AKSI <%= @jenis_renaksi.upcase %> PERANGKAT DAERAH</h3>
      </div>
      <div class="kop-tahun">
        <h5>TAHUN <%= @tahun %></h5>
      </div>
    </div>
    <table class="table align-items-center table-bordered counter">
      <thead class="thead-light">
        <tr>
          <th class="border text-center" rowspan="2" scope="col">No</th>
          <th class="border text-center" rowspan="2" scope="col" style="min-width: 250px;">Aksi/Kegiatan</th>
          <th class="border text-center" rowspan="2" scope="col">Indikator</th>
          <th class="border text-center" rowspan="2" scope="col">Target</th>
          <th class="border text-center" rowspan="2" scope="col">Satuan</th>
          <th class="border text-center" rowspan="2" scope="col" style='min-width: 200px;'>Subkegiatan</th>
          <th class="border text-center" rowspan="2" scope="col">Anggaran</th>
          <th class="border text-center" rowspan="2" scope="col">Nama Pemilik</th>
          <th class="border text-center" scope="col" colspan="4">Jadwal Pelaksanaan</th>
          <th class="border text-center" rowspan="2" scope="col" style="min-width: 300px;">Sasaran Strategis Perangkat Daerah</th>
          <th class="border text-center" rowspan="2" scope="col">Indikator</th>
          <th class="border text-center" rowspan="2" scope="col">Target</th>
          <th class="border text-center" rowspan="2" scope="col">Satuan</th>
          <th class="border text-center" rowspan="2" scope="col">Keterangan</th>
          <th class="border text-center" rowspan="2" scope="col">Nama OPD</th>
        </tr>
        <tr>
          <th class="border text-center">tw1</th>
          <th class="border text-center">tw2</th>
          <th class="border text-center">tw3</th>
          <th class="border text-center">tw4</th>
        </tr>
      </thead>
      <% @sasaran_opds.each do |sasaran| %>
        <tbody id="<%= dom_id(sasaran) %>">
          <% renaksi_rowspan = sasaran.indikator_sasarans.length %>
          <tr>
            <td class="" rowspan="<%= renaksi_rowspan %>"></td>
            <% if sasaran.rencana_aksi_opds_filter(@jenis_renaksi).any? %>
              <% renaksi_opd = sasaran.rencana_aksi_opds_filter(@jenis_renaksi).first %>
              <td class="text-wrap" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.aksi %></td>
              <td class="text-wrap"><%= renaksi_opd&.indikators_rencana_renaksi.first %></td>
              <td class="text-wrap text-center"><%= renaksi_opd&.indikators_rencana_renaksi.first&.target %></td>
              <td class="text-wrap"><%= renaksi_opd&.indikators_rencana_renaksi.first&.satuan %></td>
              <td class="text-wrap" rowspan="<%= renaksi_rowspan %>">
                <%= subkegiatan_indikator_renaksi_cetak(renaksi_opd, @tahun, @kode_opd) %>
              </td>
              <td class="text-gray-900" rowspan="<%= renaksi_rowspan %>"><%= number_to_currency(renaksi_opd&.anggaran_renaksi, unit: "Rp. ", separator: ".") %></td>
              <td class="text-wrap" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.nama_pemilik %></td>
              <td class="text-center" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.tw1 %></td>
              <td class="text-center" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.tw2 %></td>
              <td class="text-center" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.tw3 %></td>
              <td class="text-center" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.tw4 %></td>
            <% else %>
              <td class="text-center" colspan="8" rowspan="<%= renaksi_rowspan %>">
                -
              </td>
            <% end %>
            <td class="text-wrap" rowspan="<%= rowspan_renaksi_opd(sasaran) %>"><%= sasaran.sasaran_kinerja %> - <%= sasaran.nama_nip_pemilik %></td>
            <% if sasaran.indikator_sasarans.any? %>
              <%= indikator_rencana_aksi_opd(sasaran) %>
            <% else %>
              <td class="text-center" colspan="3">
                <p class="alert alert-danger">
                  INDIKATOR SASARAN BELUM TERISI
                </p>
              </td>
            <% end %>
            <td class="text-wrap" rowspan="<%= renaksi_rowspan %>"><%= renaksi_opd&.keterangan %></td>
            <td class="text-wrap" rowspan="<%= rowspan_renaksi_opd(sasaran) %>"><%= sasaran.opd %></td>
          </tr>
          <% row_indikator_rencana_aksi_opd(sasaran).each do |indikator| %>
            <%= indikator %>
          <% end %>
          <% sasaran.rencana_aksi_opds_filter(@jenis_renaksi).drop(1).each do |renaksi_opd| %>
            <tr class="renaksi-opd">
              <td class=""></td>
              <td class="text-wrap"><%= renaksi_opd.aksi %></td>
              <td class="text-wrap"><%= renaksi_opd&.indikators_rencana_renaksi&.first %></td>
              <td class="text-wrap text-center"><%= renaksi_opd&.indikators_rencana_renaksi&.first&.target %></td>
              <td class="text-wrap"><%= renaksi_opd&.indikators_rencana_renaksi&.first&.satuan %></td>
              <td class="text-wrap" rowspan="<%= renaksi_rowspan %>">
                <%= subkegiatan_indikator_renaksi_cetak(renaksi_opd, @tahun, @kode_opd) %>
              </td>
              <td class="text-gray-900"><%= number_to_currency(renaksi_opd&.anggaran_renaksi, unit: "Rp. ", separator: ".") %></td>
              <td class="text-wrap"><%= renaksi_opd.nama_pemilik %></td>
              <td class="text-center"><%= renaksi_opd.tw1 %></td>
              <td class="text-center"><%= renaksi_opd.tw2 %></td>
              <td class="text-center"><%= renaksi_opd.tw3 %></td>
              <td class="text-center"><%= renaksi_opd.tw4 %></td>
              <td class="text-wrap"><%= renaksi_opd.keterangan %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      <caption class="bottom">
        <p class="mb-0"><span class="renaksi-opd-bintang-merah">*</span> perintah walikota</p>
        <p class="mb-0"><span class="renaksi-opd-bintang-biru">*</span> terkait program unggulan walikota</p>
        <p class="mt-0"><span class="renaksi-opd-bintang">*</span> terdapat inovasi</p>
      </caption>
    </table>
    <div class="ttd">
      <div class="title-ttd">
        <%= @jabatan_kepala_opd %> <%= @nama_opd %>
      </div>
      <div class="nama-kepala-opd">
        <%= @nama_kepala_opd %>
      </div>
      <div class="jabatan-kepala-opd">
        <%= @pangkat_kepala_opd %>
      </div>
      <div class="nip-kepala-opd">
        NIP <%= @nip_kepala_opd %>
      </div>
    </div>
  </div>
</div>
