<div class="form-group">
  <p class="form-label">Rencana Kinerja OPD</p>
  <p class="form-control disabled"><%= @sasaran %></p>
</div>

<!-- INDIKATOR   -->
<% @sasaran.indikator_sasarans.each.with_index(1) do |indikator, index| %>
  <div class="row">
    <div class="form-group col-7">
      <p class="form-label">Indikator <%= @sasaran.indikator_sasarans.size > 1 ? index : '' %></p>
      <p class="form-control disabled"><%= indikator %></p>
    </div>
    <div class="form-group col-3">
      <p class="form-label">Target</p>
      <p class="form-control disabled"><%= indikator.target %></p>
    </div>
    <div class="form-group col-2">
      <p class="form-label">Satuan</p>
      <p class="form-control disabled"><%= indikator.satuan %></p>
    </div>
  </div>
<% end %>

<%= render 'form', rencana_aksi_opd: @rencana_aksi_opd %>
