<p id="notice"><%= notice %></p>

<p>
  <strong>Tw1:</strong>
  <%= @rencana_aksi_opd.tw1 %>
</p>

<p>
  <strong>Tw2:</strong>
  <%= @rencana_aksi_opd.tw2 %>
</p>

<p>
  <strong>Tw3:</strong>
  <%= @rencana_aksi_opd.tw3 %>
</p>

<p>
  <strong>Tw4:</strong>
  <%= @rencana_aksi_opd.tw4 %>
</p>

<p>
  <strong>Is hidden:</strong>
  <%= @rencana_aksi_opd.is_hidden %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @rencana_aksi_opd.tahun %>
</p>

<p>
  <strong>Sasaran:</strong>
  <%= @rencana_aksi_opd.sasaran_id %>
</p>

<%= link_to 'Edit', edit_rencana_aksi_opd_path(@rencana_aksi_opd) %> |
<%= link_to 'Back', rencana_aksi_opds_path %>
