<%= form_with(model: review, local: false,
              data: {
                controller: 'form-ajax',
                form_ajax_target_param: @target,
                form_ajax_type_param: @type,
                action: 'ajax:complete->form-ajax#processAjax'
              }
) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :reviewable_type %>
    <%= form.hidden_field :reviewable_id %>
    <%= form.hidden_field :reviewer_id %>
  </div>

  <div class="field">
    <%= form.label :review, class: 'form-label' %>
    <%= form.text_area :penilaian, class: 'form-control text-bolder' %>
  </div>

  <div class="field">
    <%= form.label :keterangan, class: 'form-label' %>
    <%= form.text_field :keterangan, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
