<div class="card border-2 shadow mb-3">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="card-title">
          Rencana Aksi
        </h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-center mb-3">
      <div class="table-responsive">
        <table class="table table-sm align-items-center">
          <caption class="waktu-renaksi">
            <strong>Waktu yang dibutuhkan :</strong>
            <%= waktu = sasaran.waktu_total == 0 ? "-" : sasaran.waktu_total %> bulan
            <hr>
            <div class="row">
              <div class="col-4 align-middle">
                <strong>Anggaran yang dibutuhkan :</strong>
                Rp. <%= number_with_delimiter(sasaran.total_anggaran_dengan_komentar) %>
              </div>
              <div class="col-8 align-middle">
                Sumber Dana: <%= sasaran.sumber_dana %>
              </div>
            </div>
          </caption>
          <thead class="thead-light">
            <tr>
              <th class="border-bottom border-end border-start" scope="col" rowspan="2">No.</th>
              <th class="border-bottom border-end" scope="col" rowspan="2">Tahapan Kerja</th>
              <% (1..12).each do |i| %>
                <th class="border-bottom border-end text-center" scope="col"><%= i %></th>
              <% end %>
              <th class="border-bottom border-end text-center" scope="col">Jumlah</th>
              <th class="border-bottom border-end text-center" scope="col" rowspan="2">Anggaran</th>
              <th class="border-bottom border-end text-center" scope="col" rowspan="2">Keterangan</th>
              <% unless diajukan? %>
                <th class="border-bottom border-end text-center" scope="col" rowspan="2">Action</th>
              <% end %>
            </tr>
            <tr>
              <% (1..13).each do |item| %>
                <td class="border border-gray-900 bg-tertiary text-center text-gray-300" scope="col">T</td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% sasaran.tahapan_renaksi.each.with_index(1) do |tahapan, index| %>
              <tr class="<%= tahapan.ada_komentar? ? 'higlighted' : 'clean' %>">
                <td class="text-gray-900 fw-bolder border-start border-end" scope="row"><%= index %></td>
                <td class="text-gray-900"><%= tahapan.tahapan_kerja %></td>
                <% (1..12).each do |bulan| %>
                  <% unless diajukan? %>
                    <%= aksi_di_bulan(sasaran, tahapan, bulan) %>
                  <% else %>
                    <%= aksi_di_bulan(sasaran, tahapan, bulan, disabled: true) %>
                  <% end %>
                <% end %>
                <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.jumlah_target or '-' %></td>
                <td class="fw-bolder text-gray-500 border text-end">
                  <span class="me-2">Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan) %></span>
                  <% if tahapan.anggaran_tahapan > 0 %>
                    <%= link_to review_anggaran_sasaran_tahapan_path(sasaran, tahapan), target: "_blank", rel: "nofollow",
                       class: "btn btn-sm btn-success text-white" do %>
                      <i class="far fa-eye me-2"></i>
                      <span>Lihat</span>
                    <% end %>
                  <% end %>
                </td>
                <td class="fw-bolder text-gray-500 border text-center"><%= tahapan.keterangan %></td>
                <td class="border">
                  <div class="d-grid gap-2">
                    <% if reviewer? %>
                      <%= link_to review_sasaran_tahapan_path(sasaran, tahapan), target: "_blank", rel: "nofollow",
                       class: "btn btn-sm btn-primary text-white" do %>
                        <i class="far fa-sticky-note me-2"></i>
                        <span>Review</span>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tr>
            <td class="border-bottom border-start border-end" colspan="2">Total</td>
            <% (1..12).each do |i| %>
              <td class="border-bottom border-end text-center"><%= sasaran.total_target_aksi_bulan[i] %></td>
            <% end %>
            <td class="border-bottom border-end text-center"><%= sasaran.jumlah_target %></td>
            <td class="border-bottom border-end text-end">Rp. <%= number_with_delimiter(sasaran.total_anggaran_dengan_komentar) %></td>
            <td class="border-bottom border-end" colspan="2"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
