<tr class="border" id="<%= dom_id(review) %>">
  <th class="text-gray-900" scope="row"><%= review.kriterium %></th>
  <td class="fw-bolder text-gray-500"><%= review.skor %></td>
  <td class="fw-bolder text-gray-500"><%= review.keterangan %></td>
  <td class="fw-bolder text-gray-500">
    <div class="d-grid gap-2">
      <% if reviewer? %>
        <%= link_to edit_review_path(review, target: dom_id(review)), remote: true,
                        data: {
                            controller: 'form-modal',
                            action: 'ajax:complete->form-modal#success:prevent',
                            bs_toggle: 'modal',
                            bs_target: '#form-modal'
                        },
                        class: 'btn btn-outline-info' do %>
          <i class="fa fa-edit me-2"></i>
          <span>Edit</span>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
