<table class="table table-bordered mb-3" id="<%= dom_id(review) %>">
  <tr>
    <td class="text-start" width="20px">Review</td>
    <td class="fw-bolder text-gray-500 text-wrap text-start"><%= review.penilaian %></td>
    <% if reviewer? %>
      <td class="fw-bolder text-gray-500" width="50px">
        <div class="d-grid gap-2">
          <%= link_to edit_review_path(review, target: dom_id(review)),
           remote: true,
           data: {
             controller: 'form-modal',
             action: 'ajax:complete->form-modal#success:prevent',
             bs_toggle: 'modal',
             bs_target: '#form-modal'
           },
           class: 'btn btn-outline-info' do %>
            <i class="fa fa-edit me-2"></i>
            <span>Edit</span>
          <% end %>
        </div>
      </td>
    <% end %>
  </tr>
  <tr>
    <td class="text-start" width="20px">Keterangan</td>
    <td class="fw-bolder text-gray-500 text-wrap text-start" colspan="2"><%= review.keterangan %> (<%= review.user.nama %>)</td>
  </tr>
</table>
