<div class="card border-0 shadow" id="daftar_resiko">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5>Manajemen Resiko <%= @opd.nama_opd %> Tahun <%= @tahun %></h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-end mb-3">
      <div class="col">
      </div>
      <div class="col-auto text-end">
        <%= link_to "/cetak_daftar_resiko/#{@opd.id}/#{@tahun_bener}.pdf", class: 'btn btn-sm btn-primary', target: :_blank do %>
          PDF Daftar Resiko OPD
          <i class="fas fa-file-pdf ms-2"></i>
        <% end %>
      </div>
      <div class="col-auto text-end">
        <%= link_to "/cetak_daftar_resiko/#{@opd.id}/#{@tahun_bener}.xlsx", class: 'btn btn-sm btn-primary', target: :_blank do %>
          Excel Daftar Resiko OPD
          <i class="fas fa-file-excel ms-2"></i>
        <% end %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered align-items-center border" id="tabel_daftar_resiko">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom" scope="col">Status</th>
            <th class="border-bottom text-center border">Pelaksana</th>
            <th class="border-bottom text-center border">Rencana Kinerja</th>
            <th class="border-bottom text-center border">Indikator</th>
            <th class="border-bottom text-center border">Target</th>
            <th class="border-bottom text-center border">Satuan</th>
            <th class="border-bottom text-center border">Anggaran</th>
            <th class="border-bottom text-center border">Permasalahan</th>
            <th class="border-bottom text-center border text-wrap">Pernyataan Resiko</th>
            <th class="border-bottom text-center border text-wrap">Skala Kemungkinan</th>
            <th class="border-bottom text-center border">Dampak</th>
            <th class="border-bottom text-center border">Skala Dampak</th>
            <th class="border-bottom text-center border text-wrap">Peta Resiko</th>
            <th class="border-bottom text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |(program_kegiatan, sasarans), i| %>
            <% pagu = sasarans.map(&:total_anggaran).compact.sum %>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder"><%= i %></td>
              <td class="text-gray-900 text-wrap fw-bolder" colspan="3">Subkegiatan: <%= program_kegiatan.nama_subkegiatan %></td>
              <td class="text-gray-900 text-wrap fw-bolder"><%= program_kegiatan.indikator_program_tahun(@tahun, @opd.kode_unik_opd)[:indikator] %></td>
              <td class="text-gray-900 text-wrap fw-bolder"><%= program_kegiatan.indikator_program_tahun(@tahun, @opd.kode_unik_opd)[:target] %></td>
              <td class="text-gray-900 text-wrap fw-bolder"><%= program_kegiatan.indikator_program_tahun(@tahun, @opd.kode_unik_opd)[:satuan] %></td>
              <td class="border">Rp. <%= number_with_delimiter(pagu) %></td>
              <td class="border" colspan="7"></td>
            </tr>
            <tr class="border-bottom">
              <% sasarans.each.with_index(1) do |show_sasaran, no| %>
                <% row_indikator = show_sasaran.indikator_sasarans.size + 1 %>
                <% rincian = show_sasaran.rincian %>
                <% nilai_kemungkinan =  rincian&.kemungkinan&.nilai || 0 %>
                <% nilai_skala_dampak =  rincian&.skala_dampak&.nilai || 0 %>
                <% peta_resiko_ha = peta_resiko(nilai_kemungkinan, nilai_skala_dampak) %>
                <% nilai_peta_resiko_ha = nilai_peta_resiko(peta_resiko_ha) %>
                <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= "#{i}.#{no}" %></td>
                <td class="text-wrap border" rowspan="<%= row_indikator %>">
                  <% if show_sasaran.dampak_resiko_setuju? %>
                    <button class="btn btn-success text-white">
                      <%= show_sasaran.status_dampak_resiko %>
                    </button>
                  <% else %>
                    <button class="btn btn-danger text-white">
                      Belum Diverifikasi
                    </button>
                  <% end %>
                </td>
                <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.nama_pemilik %></td>
                <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.sasaran_kinerja %></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="text-wrap border" rowspan="<%= row_indikator %>">Rp. <%= number_with_delimiter(show_sasaran.total_anggaran || 0) %></td>
                <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= show_sasaran.permasalahan_sasaran %></td>
                <td class="text-wrap border" rowspan="<%= row_indikator %>"><%= rincian&.resiko || '-' %></td>
                <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= rincian&.kemungkinan&.deskripsi || '-' %></td>
                <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= rincian&.dampak || '-' %></td>
                <td class="text-wrap text-center border" rowspan="<%= row_indikator %>"><%= rincian&.skala_dampak&.deskripsi || '-' %></td>
                <td class="text-center border" rowspan="<%= row_indikator %>"><%= "(#{peta_resiko_ha}) #{nilai_peta_resiko_ha}"  %></td>
                <td class="border" rowspan="<%= row_indikator %>">
                  <% unless guest? %>
                    <div class="d-grid gap-3">
                      <% unless @laporan == "admin" %>
                        <%= link_to sasaran_program_opd_add_dampak_resiko_path(show_sasaran),
                                    { remote: true, class: 'btn btn-tertiary text-light d-inline-flex align-items-center toggle-active',
                                      data: { 'bs-toggle': 'modal', 'bs-target': '#form-dampak-daftar-resiko'}, } do %>
                          <i class="fas fa-pencil-alt text-success icon icon-xs me-2"></i>
                          Edit Dampak
                        <% end %>
                        <% if eselon_x?('eselon_3', 'admin', 'super_admin') %>
                          <%= link_to sasaran_program_opd_verifikasi_dampak_resiko_path(show_sasaran),
                                      remote: true,
                                      data: {
                                        controller: 'form-modal',
                                        action: 'ajax:complete->form-modal#success:prevent',
                                        bs_toggle: 'modal',
                                        bs_target: '#form-modal'
                                      },
                                      class: 'btn btn-success text-white d-inline-flex align-items-center toggle-active' do %>
                            <i class="fas fa-check me-2"></i>
                            <span>Verifikasi</span>
                          <% end %>
                        <% end %>
                      <% end %>
                      <%= link_to show_pokin_user_sasaran_path(show_sasaran), target: "_blank", rel: "nofollow",
                                  class: "btn btn-sm btn-primary" do %>
                        <i class="fas fa-tree" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preview KaK"></i>
                        <span>Pohon Kinerja</span>
                      <% end %>
                      <%= link_to show_kak_user_sasaran_path(show_sasaran), target: "_blank", rel: "nofollow",
                                  class: "btn btn-sm btn-info" do %>
                        <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preview KaK"></i>
                        <span>KAK</span>
                      <% end %>
                      <%= link_to rincian_belanja_path(show_sasaran),
                                  target: "_blank",
                                  class: "btn btn-sm btn-primary text-white" do %>
                        <i class="fas fa-journal-whills me-2"></i>
                        <span>Rincian Belanja</span>
                      <% end %>
                    </div>
                  <% end %>
                </td>
            </tr>
            <% show_sasaran.indikator_sasarans.each do |indikator| %>
              <tr>
                <td class="text-wrap border"><%= indikator.indikator_kinerja %></td>
                <td class="text-wrap border"><%= indikator.target %></td>
                <td class="text-wrap border"><%= indikator.satuan %></td>
              </tr>
            <% end %>
              <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
