<div class="card border-0 shadow" id="daftar_resiko">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5>Manajemen Risiko <%= @opd.nama_opd %> Tahun <%= @tahun %></h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-end mb-3">
      <div class="col">
      </div>
      <% if @laporan == "admin" %>
        <div class="col-auto text-end">
          <%= link_to "/cetak_daftar_resiko/#{@opd.id}/#{@tahun_bener}.pdf?laporan=#{@laporan}", class: 'btn btn-sm btn-primary', target: :_blank do %>
            PDF Daftar Risiko OPD
            <i class="fas fa-file-pdf ms-2"></i>
          <% end %>
        </div>
        <div class="col-auto text-end">
          <%= link_to "/cetak_daftar_resiko/#{@opd.id}/#{@tahun_bener}.xlsx?laporan=#{@laporan}", class: 'btn btn-sm btn-primary', target: :_blank do %>
            Excel Daftar Risiko OPD
            <i class="fas fa-file-excel ms-2"></i>
          <% end %>
        </div>
      <% else %>
        <div class="col-auto text-end">
          <%= link_to "/cetak_daftar_resiko/#{@opd.id}/#{@tahun_bener}.pdf", class: 'btn btn-sm btn-primary', target: :_blank do %>
            PDF Daftar Risiko
            <i class="fas fa-file-pdf ms-2"></i>
          <% end %>
        </div>
        <div class="col-auto text-end">
          <%= link_to "/cetak_daftar_resiko/#{@opd.id}/#{@tahun_bener}.xlsx", class: 'btn btn-sm btn-primary', target: :_blank do %>
            Excel Daftar Risiko
            <i class="fas fa-file-excel ms-2"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered align-items-center border sticky-head" id="tabel_daftar_resiko">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom" scope="col">Status</th>
            <th class="border-bottom text-center border">Pelaksana</th>
            <th class="border-bottom text-center border">Pokin & Pokin Atasan</th>
            <th class="border-bottom text-center border">Rencana Kinerja</th>
            <th class="border-bottom text-center border">Indikator</th>
            <th class="border-bottom text-center border">Target</th>
            <th class="border-bottom text-center border">Satuan</th>
            <th class="border-bottom text-center border">Anggaran</th>
            <th class="border-bottom text-center border">Penyebab Permasalahan</th>
            <th class="border-bottom text-center border">Permasalahan</th>
            <th class="border-bottom text-center border text-wrap">Pernyataan Risiko</th>
            <th class="border-bottom text-center border text-wrap">Skala Kemungkinan</th>
            <th class="border-bottom text-center border">Dampak</th>
            <th class="border-bottom text-center border">Skala Dampak</th>
            <th class="border-bottom text-center border text-wrap">Skala / Peta Risiko</th>
            <th class="border-bottom text-center border text-wrap">Pihak yang terkena</th>
            <th class="border-bottom text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |(program_kegiatan, sasarans), i| %>
            <% pagu = sasarans.map(&:total_anggaran).compact.sum %>
            <tr>
              <td class="text-gray-900 text-wrap fw-bolder"><%= i %></td>
              <td class="text-gray-900 text-wrap fw-bolder" colspan="4">Subkegiatan: <%= program_kegiatan.nama_subkegiatan %></td>
              <td class="text-gray-900 text-wrap fw-bolder"><%= program_kegiatan.indikator_program_tahun(@tahun, @opd.kode_unik_opd)[:indikator] %></td>
              <td class="text-gray-900 text-wrap fw-bolder"><%= program_kegiatan.indikator_program_tahun(@tahun, @opd.kode_unik_opd)[:target] %></td>
              <td class="text-gray-900 text-wrap fw-bolder"><%= program_kegiatan.indikator_program_tahun(@tahun, @opd.kode_unik_opd)[:satuan] %></td>
              <td class="border">Rp. <%= number_with_delimiter(pagu) %></td>
              <td class="border" colspan="7"></td>
            </tr>
            <% sasarans.each.with_index(1) do |show_sasaran, no| %>
              <%= render 'daftar_risiko/row_daftar_risiko', show_sasaran: show_sasaran, nomor: "#{i}.#{no}" %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
