<div class="card border-0 shadow" id="daftar_resiko">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Daftar Resiko -  Tahun <%= @tahun_bener %></h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %></span>
        |
        <span><%= current_user.nik %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= link_to "/cetak_daftar_resiko/#{@opd}/#{@tahun_bener}.pdf", class: 'btn btn-tertiary w-100', target: :_blank do %>
      Cetak Daftar Resiko Tahun <%= @tahun_bener %> 
    <% end %>
    <div class="table-responsive">
      <table class="table align-items-center border-start border-end" id="tabel_daftar_resiko">
        <thead class="thead-light">
          <tr>
            <th class="border-bottom" scope="col">No.</th>
            <th class="border-bottom text-center" scope="col">Sub Kegiatan</th>
            <th class="border-bottom text-center border-start border-end">Rencana Kinerja</th>
            <th class="border-bottom text-center border-start border-end">Indikator</th>
            <th class="border-bottom text-center border-start border-end">Target</th>
            <th class="border-bottom text-center border-start border-end">Satuan</th>
            <th class="border-bottom text-center border-start border-end">Pagu Sasaran</th>
            <th class="border-bottom text-center border-start border-end text-wrap">Pernyataan Resiko</th>
            <th class="border-bottom text-center border-start border-end text-wrap">Skala Kemungkinan</th>
            <th class="border-bottom text-center border-start border-end">Dampak</th>
            <th class="border-bottom text-center border-start border-end">Skala Dampak</th>
            <th class="border-bottom text-center border-start border-end text-wrap">Peta Resiko</th>
            <th class="border-bottom text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |(program_kegiatan, sasarans), i| %>
            <% row_awal = sasarans.map { |sas| sas.indikator_sasarans.size }.compact.reduce(:+) %>
            <% row_dalam = sasarans.size + row_awal %>
            <tr class="border-bottom">
              <td class="text-gray-900 text-wrap border-start border-end" rowspan="<%= row_dalam %>"><%= i %></td>
              <td class="text-gray-900 text-wrap border-start border-end" rowspan="<%= row_dalam %>"><%= program_kegiatan.nama_subkegiatan %></td>
            <% sasarans.each do |show_sasaran| %>
              <% row_indikator = show_sasaran.indikator_sasarans.size + 1 %>
                <td class="text-wrap border-start border-end" rowspan="<%= row_indikator %>"><%= show_sasaran.sasaran_kinerja %></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="p-0 m-0" style="height: 0px !important; border-color: transparent;"></td>
                <td class="text-wrap border-start border-end" rowspan="<%= row_indikator %>"><%= show_sasaran.rincian&.resiko || '-' %></td>
                <td class="text-wrap text-center border-start border-end" rowspan="<%= row_indikator %>"><%= show_sasaran.rincian&.kemungkinan&.deskripsi || '-' %></td>
                <td class="text-wrap text-center border-start border-end" rowspan="<%= row_indikator %>"><%= show_sasaran.rincian&.dampak || '-' %></td>
                <td class="text-wrap text-center border-start border-end" rowspan="<%= row_indikator %>"><%= show_sasaran.rincian&.skala_dampak&.deskripsi || '-' %></td>
                <td class="text-center border-start border-end" rowspan="<%= row_indikator %>"><%= "(#{show_sasaran.rincian&.peta_resiko}) #{show_sasaran.rincian&.nilai_peta_resiko}" %></td>
                <td class="border-start border-end" rowspan="<%= row_indikator %>">
                  <%= link_to sasaran_program_opd_add_dampak_resiko_path(show_sasaran), 
                    { remote: true, class: 'btn btn-tertiary text-light d-inline-flex align-items-center toggle-active',
                      data: { 'bs-toggle': 'modal', 'bs-target': '#form-dampak-daftar-resiko'}, } do %>
                    <i class="fas fa-pencil-alt text-success icon icon-xs me-2"></i>
                    Edit Dampak
                  <% end %>
                </td>
              <% show_sasaran.indikator_sasarans.each do |indikator| %>
                <tr>
                  <td class="text-wrap border-start border-end"><%= indikator.indikator_kinerja %></td>
                  <td class="text-wrap border-start border-end"><%= indikator.target %></td>
                  <td class="text-wrap border-start border-end"><%= indikator.satuan %></td>
                  <td class="text-wrap border-start border-end">Rp. <%= number_with_delimiter(show_sasaran.total_anggaran || 0) %></td>
                </tr>
              <% end %>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
