<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h2 class="fs-5 fw-bold mb-0">Ranwal Renja <%= @nama_opd %> <%= "kode_opd: #{@kode_opd}" if current_user.has_role? :super_admin%></h2>
      </div>
      <div class="col">
        <%= link_to renja_ranwal_cetak_path(format: :xlsx, tahun: @tahun, kode_opd: @kode_opd), class:"m-3 btn btn-outline-success" do %>
          <span class="far fa-file-excel" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak Excel Ranwal Renja"></span>
          Cetak Excel Ranwal Renja
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%# tabel_tujuan_sasaran_opd %>
    <div class="table-responsive">
      <table class="table align-items-center" data-controller='form-modal' data-action='ajax-update@window->form-modal#updateTargetValue'>
        <%= render partial: 'renstra/opd_renstra', locals: { disable_action: true } %>
        <% @program_kegiatans.each.with_index(1) do |(urusan, bid_urusans), nomor_ur| %>
          <%= render partial: 'renstra/urusan_renstra', locals: { urusan: urusan, nomor_ur: nomor_ur, disable_action: true } %>
          <% bid_urusans.each.with_index(1) do |(bid_urusan, programs), nomor_bid| %>
            <%= render partial: 'renstra/bidang_urusan_renstra', locals: { bid_urusan: bid_urusan, nomor_bid: nomor_bid, disable_action: true } %>
            <% programs.each.with_index(1) do |program, nomor| %>
              <%= render partial: 'renstra/head_table_renstra', locals: { periode: @periode, sub_jenis: 'program', disable_action: true } %>
              <%= render partial: 'renstra/program_renstra',
                         locals: {
                           program: program,
                           nomor: nomor,
                           indikators: program.indikator_renstras_new('program', @kode_opd)[:indikator_program],
                           disable_action: true,
                           periode: @periode } %>
              <% program.kegiatans_opd.each.with_index(1) do |kegiatan, no_giat| %>
                <%= render partial: 'renstra/head_table_renstra', locals: { periode: @periode, sub_jenis: 'kegiatan', disable_action: true } %>
                <%= render partial: 'renstra/kegiatan_renstra',
                           locals: {
                             program: kegiatan,
                             nomor: no_giat,
                             indikators: kegiatan.indikator_renstras_new('kegiatan', @kode_opd)[:indikator_kegiatan],
                             disable_action: true,
                             periode: @periode } %>
                <%= render partial: 'renstra/head_table_renstra', locals: { periode: @periode, sub_jenis: 'subkegiatan', disable_action: true } %>
                <% kegiatan.subkegiatans_opd.each.with_index(1) do |subgiat, no_subgiat| %>
                  <%= render partial: 'renstra/subkegiatan_renstra',
                             locals: {
                               program: subgiat,
                               nomor: no_subgiat,
                               indikators: subgiat.indikator_renstras_new('subkegiatan', @kode_opd)[:indikator_subkegiatan],
                               disable_action: true,
                               periode: @periode } %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
