<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Laporan Renstra <%= @nama_opd %></h2>
      </div>
      <div class="col-auto">
        <%= @tahun_awal %> - <%= @tahun_akhir %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center" data-controller='form-modal' data-action='ajax-update@window->form-modal#updateTargetValue'>
        <%= render 'renstra/opd_renstra' %>
        <% @program_kegiatans.each.with_index(1) do |(bid_urusan, programs), nomor_bid| %>
          <%= render partial: 'renstra/bidang_urusan_renstra', locals: { bid_urusan: bid_urusan, nomor_bid: nomor_bid } %>
          <% programs.each.with_index(1) do |program, nomor| %>
            <%= render partial: 'renstra/program_renstra', locals: { program: program, nomor: nomor } %>
            <% program.kegiatans_opd.each.with_index(1) do |kegiatan, no_giat| %>
              <%= render partial: 'renstra/kegiatan_renstra', locals: { kegiatan: kegiatan, no_giat: no_giat } %>
              <thead class="thead-subkegiatan">
                <tr>
                  <th class="border" scope="col" rowspan="2">OPD</th>
                  <th class="border" scope="col" rowspan="2">Kode Subkegiatan</th>
                  <th class="border" scope="col" rowspan="2">No</th>
                  <th class="border" scope="col" rowspan="2">Nama Subkegiatan</th>
                  <th class="border text-center" scope="col" rowspan="2">Aksi</th>
                  <% @periode.each do |tahun| %>
                    <th class="border text-center" scope="col" colspan="8"><%= tahun %></th>
                  <% end %>
                </tr>
                <tr class="sub-table-subkegiatans">
                  <% @periode.each do %>
                    <th class="border" scope="col">Indikator</th>
                    <th class="border" scope="col" width="50px">Target</th>
                    <th class="border" scope="col">Satuan</th>
                    <th class="border" scope="col" width="50px">Realisasi</th>
                    <th class="border" scope="col">Satuan</th>
                    <th class="border" scope="col">Pagu Indikatif</th>
                    <th class="border" scope="col">Realisasi</th>
                    <th class="border" scope="col">Keterangan</th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% kegiatan.subkegiatans_opd.each.with_index(1) do |subgiat, no_subgiat| %>
                  <%= render partial: 'renstra/subkegiatan_renstra', locals: { subgiat: subgiat, no_subgiat: no_subgiat } %>
                <% end %>
              </tbody>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
