<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Isu dan Permasalahan </h2>
      </div>
      <div class="col text-end">
        <span><%= current_user.nama %></span>
        |
        <span><%= current_user.nik %></span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center">
      <thead class="thead-light">
        <tr>
          <th class="border-bottom" scope="col">No.</th>
          <th class="border-bottom" scope="col">Program Kegiatan</th>
          <th class="border-bottom" scope="col">Indikator</th>
          <th class="border-bottom" scope="col">Target</th>
          <th class="border-bottom" scope="col">Satuan</th>
          <th class="border-bottom" scope="col">Subkegiatan</th>
          <th class="border-bottom" scope="col">Indikator</th>
          <th class="border-bottom" scope="col">Target</th>
          <th class="border-bottom" scope="col">Satuan</th>
          <th class="border-bottom" scope="col">Permasalahan</th>
          <th class="border-bottom" scope="col">Isu Strategis</th>
          <th class="border-bottom text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @program_kegiatans.each.with_index(1) do |(kode_program, program_kegiatans), no| %>
          <% rowspan_top = program_kegiatans.map { |pr| pr[:permasalahans].size }.sum %>
          <% rowspan = rowspan_top + program_kegiatans.size  %>
          <% program = ProgramKegiatan.find_by(kode_program: kode_program) %>
          <tr>
            <td class="text-gray-900 fw-bolder" scope="row" rowspan="<%= rowspan %>"><%= no %></td>
            <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= rowspan %>"><%= program.nama_program %></td>
            <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= rowspan %>"><%= program.indikator_program %></td>
            <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= rowspan %>"><%= program.target_program %></td>
            <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= rowspan %>"><%= program.satuan_target_program %></td>
            <% program_kegiatans.each.with_index(1) do |program_kegiatan, i| %>
              <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= program_kegiatan[:permasalahans].size + 1 %>"><%= program_kegiatan[:subkegiatan] %></td>
              <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= program_kegiatan[:permasalahans].size + 1 %>"><%= program_kegiatan[:indikator_sub] %></td>
              <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= program_kegiatan[:permasalahans].size + 1 %>"><%= program_kegiatan[:target_sub] %></td>
              <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= program_kegiatan[:permasalahans].size + 1 %>"><%= program_kegiatan[:satuan_sub] %></td>
              <td class="p-0 m-0"></td>
              <td class="text-gray-900 text-wrap border-start border-end" scope="row" rowspan="<%= program_kegiatan[:permasalahans].size + 1 %>"><%= program_kegiatan[:isu_strategis] || '-' %></td>
              <td class="fw-bolder text-gray-500 text-center" rowspan="<%= program_kegiatan[:permasalahans].size + 1 %>">
              </td>
          </tr>
          <% program_kegiatan[:permasalahans].each do |permasalahan| %>
            <tr>
              <td class="text-wrap border-bottom border-start border-end" width="450px">
                <%= permasalahan || '-' %> 
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
