<%= form_with(model: [@sasaran, @tahapan, anggaran], local: false) do |form| %>
  <% if anggaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anggaran.errors.count, "error") %> prohibited this anggaran from being saved:</h2>
      <ul>
        <% anggaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @level && @parent %>
    <div class="field">
      <%= form.hidden_field :level,:value => @level.to_i %>
    </div>
    <div class="field">
      <%= form.hidden_field :parent_id,:value => @parent.to_i %>
    </div>
    <% parent_rek = Anggaran.find(@parent).kode_rek %>
  <% else %>
    <div class="field">
      <%= form.hidden_field :level %>
    </div>
    <div class="field">
      <%= form.hidden_field :parent_id %>
    </div>
  <% end %>
  <% if @level.to_i == 1 %>
    <div class="field">
      <%= form.label :kode_rek, "Kode Rekening" , {class: "form-label"}%>
      <%= parent_rek || '' %>
      <%= form.select :kode_rek,
       Rekening.where(id: anggaran.kode_rek).pluck(:jenis_rekening, :id),
       {include_blank: true},
    {class: "form-control",
    data: {"placeholder": "Pilih Kode Rekening",
            controller: 'dropdown',
            dropdown_jenis_value: 'ajax',
            dropdown_url_value: '/khusus_rekening_search.json',
            dropdown_parent_value: '#form-perhitungan',
            action: 'change-select@document->dropdown#chain_jenis_rekening_to_target'
          }}  %>
    </div>
  <% else %>
    <div>
      <div class="field">
        <%= form.label :jenis_rekening, "Rekening" , {class: "form-label"}%>
        <%= parent_rek || '' %>
        <%= form.select :jenis_rekening,
       [],
       {include_blank: true},
    {class: "form-control",
    data: {"placeholder": "Jenis Rekening",
            controller: 'dropdown',
            dropdown_parent_value: '#form-perhitungan',
            dropdown_jenis_value: 'extra',
            dropdown_url_value: '/jenis_rekening_search.json',
          }}  %>
      </div>
      <div class="field">
        <%= form.label :kode_rek, "Kode Rekening" , {class: "form-label"}%>
        <%= parent_rek || '' %>
        <%= form.select :kode_rek,
       Rekening.where(id: anggaran.kode_rek).pluck(:jenis_rekening, :id),
       {include_blank: true},
    {class: "form-control",
    data: {"placeholder": "Pilih Kode Rekening",
            controller: 'dropdown',
            dropdown_jenis_value: 'ajax',
            dropdown_url_value: '/rekening_search.json',
            dropdown_parent_value: '#form-perhitungan',
            action: 'change-select@document->dropdown#chain_jenis_rekening_to_target'
          }}  %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
