<%= form_with(model: [@sasaran, @tahapan, anggaran], local: true) do |form| %>
  <% if anggaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anggaran.errors.count, "error") %> prohibited this anggaran from being saved:</h2>
      <ul>
        <% anggaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @level && @parent %>
    <div class="field">
      <%= form.hidden_field :level,:value => @level.to_i %>
    </div>
    <div class="field">
      <%= form.hidden_field :parent_id,:value => @parent.to_i %>
    </div>
    <% parent_rek = Anggaran.find(@parent).kode_rek %>
  <% else %>
    <div class="field">
      <%= form.hidden_field :level %>
    </div>
    <div class="field">
      <%= form.hidden_field :parent_id %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :kode_rek, "Kode Rekening" , {class: "form-label"}%>
    <%= parent_rek || '' %>
    <%= form.select :kode_rek, Rekening.where(id: anggaran.kode_rek).pluck(:jenis_rekening, :id) ,{include_blank: true},{class: "form-control select2-rekenings", data: {"placeholder": "Pilih Kode Rekening"}}  %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
