<%= form_with(model: [@sasaran, @tahapan, anggaran], local: true) do |form| %>
  <% if anggaran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anggaran.errors.count, "error") %> prohibited this anggaran from being saved:</h2>
      <ul>
        <% anggaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @level && @parent %>
    <div class="field">
      <%= form.hidden_field :level,:value => @level.to_i %>
    </div>
    <div class="field">
      <%= form.hidden_field :parent_id,:value => @parent.to_i %>
    </div>
    <% parent_rek = Anggaran.find(@parent).kode_rek %>
  <% else %>
    <div class="field">
      <%= form.hidden_field :level %>
    </div>
    <div class="field">
      <%= form.hidden_field :parent_id %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :kode_rek, "Anggaran" , {class: "form-label"}%>
    <%= parent_rek || '' %>
    <%= form.select :kode_rek, Rekening.where(set_input: 1).collect {|rek| ["#{rek.kode_rekening} - #{rek.jenis_rekening}", rek.id] } ,{include_blank: true},{class: "form-control select2-waw", data: {"placeholder": "Pilih Anggaran"}}  %>
  </div>
  <div class="field">
    <% pajaks = Pajak.all %>
    <% options = options_from_collection_for_select(pajaks, :id, :simple_pajak, anggaran.pajak_id) %>
    <%= form.label :pajak_id , {class: "form-label"}%>
    <%# form.select :pajak_id, options, {} , :disabled => form.object.persisted? %>
    <%= form.select :pajak_id, options, {}, { :class => "form-select"} %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
