<%= form_with(model: [sasaran, tahapan, anggaran], local: false, :html => {:id => "new-anggaran"}) do |form| %>

 <div class="card">
   <div class="card-body">
    <div class="field">
      <%= form.hidden_field :level %>
    </div>

    <div class="field">
      <%= form.hidden_field :parent_id %>
    </div>

    <div class="field">
      <%= form.label :kode_rek, {class: "form-label"} %>

      <%= form.text_field :kode_rek, {class: "form-control"} %>
    </div>


    <div class="field">
      <%= form.label :uraian , {class: "form-label"}%>
      <%= form.text_area :uraian ,  {class: "form-control"} %>
    </div>

    <div class="field">
      <% pajaks = Pajak.all %>
      <% options = options_from_collection_for_select(pajaks, :id, :simple_pajak, @anggaran.pajak_id) %>
      <%= form.label :pajak_id, {class: "form-label"} %>
      <%# form.select :pajak_id, options, {} , :disabled => form.object.persisted? %>
      <%= form.select :pajak_id, options, {},  {class: "form-select"}  %>
    </div>

    <div class="actions">
      <%= form.submit data: { disable_with: "Processing..." }, :style => "display: none;"%>
    </div>
  </div>
</div>
<% end %>
