<h1>Edit Anggaranan <%= @anggaran.uraian %></h1>
<h5>Level : <%= @anggaran.level %></h5>
<%= render 'form', anggaran: @anggaran %>

<%= link_to 'Show', @anggaran %> |
<%= link_to 'Back', rincian_tahapan_anggaran_path(@rincian, @tahapan, @anggaran) %>
