<nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
    <li class="breadcrumb-item">
      <i class="fas fa-home"></i>
    </li>
    <li class="breadcrumb-item" aria-current="page"><%= 'Sasaran Kinerja' %></li>
    <li class="breadcrumb-item" aria-current="page"><%=  @sasaran.sasaran_kinerja  %></li>
    <li class="breadcrumb-item" aria-current="page"><%= 'Tahapan' %></li>
    <li class="breadcrumb-item" aria-current="page"><%=  @tahapan.tahapan_kerja  %></li>
    <li class="breadcrumb-item active" aria-current="page">Anggaran</li>
  </ol>
</nav>
<% flash.each do |type, msg| %>
  <div class="alert alert-success">
    <%= msg %>
  </div>
<% end %>
<div class="card border-2 shadow mb-1">
  <div class="card-header">
    <div class="row align-items-center">
      <p>Subkegiatan : <%= @sasaran.program_kegiatan.nama_subkegiatan %></p>
      <p>Sasaran : <%= @sasaran.sasaran_kinerja %></p>
      <p>Tahapan : <%= @tahapan.tahapan_kerja %></p>
    </div>
  </div>
  <div class="card-body">
    <p>Rincian Anggaran Sub Kegiatan - <strong><%= @sasaran.program_kegiatan&.nama_subkegiatan || 'Belum diisi' %></strong></p>
    <div class="anggaran">
      <%= link_to 'Tambah Rekening', new_sasaran_tahapan_anggaran_path(@sasaran, @tahapan),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-perhitungan"}, class: "ml-5 mb-3 btn btn-outline-success" %>
      <table id="detail-anggaran">
        <thead>
          <tr>
            <th class="text-center">Kode Rekening</th>
            <th class="text-center">Uraian</th>
            <th class="text-center">Jumlah</th>
            <th class="text-center">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% @anggarans.includes([:comments]).order(:created_at).each do |anggaran| %>
            <tr class="level-0 <%= 'higlighted' if anggaran.comments.any? %>">
              <td><%= rekening_anggaran(anggaran.kode_rek) %> </td>
              <td class="mx-auto">
                <div class="row">
                  <div class="text-wrap inline col"><%= anggaran.uraian %></div>
                </div>
              </td>
              <td class="uang text-end pe-2">Rp. <%= number_with_delimiter(anggaran.jumlah) %></td>
              <td class="text-center">
                  <% if current_user.has_any_role? :reviewer, :admin %>
                    <% unless anggaran.comments.any? %>
                      <%= link_to 'Review Anggaran', new_comment_path(anggaran_id: anggaran.id, user_id: current_user.id ),remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-comment" }, class: "btn btn-outline-secondary" %>
                    <% else %>
                      <%= link_to 'Lihat Komentar',anchor: 'komentar' %>
                    <% end %>
                  <% end %>
                  <%= link_to "Edit Anggaran", edit_sasaran_tahapan_anggaran_path(@sasaran, @tahapan, anggaran), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-perhitungan"}, class: 'btn btn-outline-info me-2 ms-2'  %>
                  <%= link_to "Hapus Anggaran", sasaran_tahapan_anggaran_path(@sasaran, @tahapan, anggaran), method: :delete, data: {confirm_swal: "Hapus Anggaran #{anggaran.uraian}"}, class: "btn btn-outline-danger me-2"  %>
                  <%= link_to 'Tambah Rincian', new_anggaran_perhitungan_path(anggaran), remote: true, data: { 'bs-toggle': 'modal', 'bs-target': "#form-perhitungan"}, class: "btn btn-outline-success me-2" %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">Jumlah Anggaran Tahapan :</td>
            <td class="text-end">Rp. <%= number_with_delimiter(@anggarans.compact.sum(&:jumlah)) %></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="card-body">
    <%= link_to sasaran_path(@sasaran), class: 'btn btn-info w-100 text-white' do %>
      <span class="fas fa-arrow-left"></span>
      <span>Kembali</span>
    <% end %>
  </div>
</div>
<% if @tahapan.comments.any? %>
  <div class="card" id="komentar">
    <div class="card-header d-flex align-items-center">
      <h2 class="fs-5 fw-bold mb-0">Daftar Review</h2>
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush list-group-timeline">
        <% @anggarans.includes([:comments]).order(created_at: :asc).each do |anggComm| %>
          <%= render anggComm.comments %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- SECTION - Table Anggaran -->
<!-- !SECTION - End Table Anggaran -->
<%= render 'modal_perhitungans' %>
<%= render 'comments/modal' %>
