<p id="notice"><%= notice %></p>

<h1>Anggarans</h1>

<table>
  <thead>
    <tr>
      <th>Kode rek</th>
      <th>Uraian</th>
      <th>Jumlah</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anggarans.order(:id).each do |anggaran| %>
      <tr>
        <td><%= anggaran.kode_rek %></td>
        <td><%= anggaran.uraian %></td>
        <td><%= anggaran.jumlah %></td>
        <td><%= link_to 'Show', sasaran_tahapan_anggaran_path(@sasaran, @tahapan, anggaran) %></td>
        <td><%= link_to 'Edit', edit_sasaran_tahapan_anggaran_path(@sasaran, @tahapan, anggaran) %></td>
        <td><%= link_to 'Destroy', sasaran_tahapan_anggaran_path(@sasaran, @tahapan, anggaran), method: :delete, data: { confirm: "Menghapus Anggaran '#{anggaran.uraian}' ?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anggaran', new_sasaran_tahapan_anggaran_path(@sasaran, @tahapan) %>
