<p id="notice"><%= notice %></p>
<h2>Sasaran : <%= @rincian.sasaran.sasaran_kinerja %></h2>
<h2>Tahapan : <%= @tahapan.tahapan_kerja %></h2>
<p>
  <strong>Kode rek:</strong>
  <%= @anggaran.kode_rek %>.1
  <strong><%= @anggaran.uraian %></strong>
</p>

<hr>
<h3>Rincian Anggaran</h3>
<%= link_to 'Tambah Induk Anggaran', new_rincian_tahapan_anggaran_path(@rincian, @tahapan) %>
<br>
<!-- SECTION - Table Anggaran -->
<div class="anggaran">
  <table id="detail-anggaran">
    <thead>
      <tr>
        <th rowspan="2">Kode Rekening</th>
        <th rowspan="2">Uraian</th>
        <th colspan="3">Rincian Perhitungan</th>
        <th rowspan="2">PPN (10%)</th>
        <th rowspan="2">Jumlah</th>
      </tr>
      <tr>
        <th>Koefisien</th>
        <th>Satuan</th>
        <th>Harga</th>
      </tr>
    </thead>
    <tbody>
      <tr class="level-0">
        <td><%= @anggaran.kode_rek %></td>
        <td colspan="5"><%= link_to @anggaran.uraian, 
        edit_rincian_tahapan_anggaran_path(@rincian, @tahapan, @anggaran) %>
          <%= link_to '[ + ] 1', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-anggaran', 'level': 1, 'parent': @anggaran.id } %>
        </td>
        <td class="uang"><%= number_with_delimiter(@anggaran.jumlah, :delimiter => '.') %></td>
      </tr>
      <% @anggaran.childs.order(:id).each do |child| %>
        <tr class="level-1">
          <td><%= @anggaran.kode_rek + child.kode_rek %></td>
          <td colspan="5"><%= link_to  child.uraian, edit_rincian_tahapan_anggaran_path(@rincian, @tahapan, child) %>
          <%= link_to '[ + ] 2', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-anggaran', 'level': child.level + 1, 'parent': child.id } %>
          </td>
          <td class="uang"><%= number_with_delimiter(child.jumlah, :delimiter => '.') %></td>
        </tr>
        <% child.childs.order(:id).each do |child2| %>
        <tr>
          <td><%= @anggaran.kode_rek + child.kode_rek + child2.kode_rek %></td>
          <td colspan="5"><%= link_to child2.uraian, edit_rincian_tahapan_anggaran_path(@rincian, @tahapan, child2) %>
          <%= link_to '[ + ] 3', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-anggaran', 'level': child2.level + 1, 'parent': child2.id } %>
          </td>
          <td class="uang"><%= number_with_delimiter(child2.jumlah, :delimiter => '.') %></td>
        </tr>
        <% child2.childs.order(:id).each do |child3| %>
        <tr>
          <td><%= @anggaran.kode_rek + child.kode_rek + child2.kode_rek + child3.kode_rek %></td>
          <td colspan="5"><%= link_to child3.uraian, edit_rincian_tahapan_anggaran_path(@rincian, @tahapan, child3) %>
          <%= link_to '[ + ] 4', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-anggaran', 'level': child3.level + 1 , 'parent': child3.id} %>
          </td>
          <td class="uang"><%= number_with_delimiter(child3.jumlah, :delimiter => '.') %></td>
        </tr>
        <% child3.childs.order(:id).each do |child4| %>
        <tr>
          <td><%= @anggaran.kode_rek + child.kode_rek + child2.kode_rek + child3.kode_rek + child4.kode_rek %></td>
          <td colspan="5"><%= link_to child4.uraian, edit_rincian_tahapan_anggaran_path(@rincian, @tahapan, child4) %>
          <%= link_to '[ + ] 5', '#', remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-anggaran', 'level': child4.level + 1 , 'parent': child4.id}  %>
          </td>
          <td class="uang"><%= number_with_delimiter(child4.jumlah, :delimiter => '.') %></td>
        </tr>
        <tr class="kres-tahapan">
          <td></td>
          <td colspan="6">#<%= @tahapan.tahapan_kerja %></td>
        </tr>
        <% child4.childs.order(:id).each do |child5| %>
        <%= render :partial => 'modal_perhitungans', :locals => { :anggaran => child5 } %>
        <tr>
          <td><%= child5.kode_rek %></td>
          <td colspan="6">[ - ] 
          <%= link_to child5.uraian, edit_rincian_tahapan_anggaran_path(@rincian, @tahapan, child5) %>
          <%= link_to '[ + ]', '#',remote: true, data: { 'bs-toggle': 'modal', 'bs-target': '#form-perhitungan'}   %>
          </td>
        </tr>
        <% if child5.perhitungans.any? %>
          <% child5.perhitungans.order(:id).each do |hitung| %>
            <% pajak = hitung.total * child5.pajak.potongan %>
            <tr class="rincian-anggaran">
              <td></td>
              <td><%= link_to hitung.deskripsi, edit_anggaran_perhitungan_path(child5, hitung) %></td>
              <td><% hitung.koefisiens.each do |koef|%>
                |  <%= koef.volume %> <%= koef.satuan_volume %>  |
                <% end %>
              </td>
              <td><%= hitung.satuan %></td>
              <td><%= number_with_delimiter(hitung.harga, :delimiter => '.') %></td>
              <td><%= number_with_delimiter(pajak.to_i, :delimiter => '.') %> | pajak = <%= (child5.pajak.potongan * 100).to_i %> %</td>
              <td class="uang"><%= number_with_delimiter((hitung.total).to_i, :delimiter => '.') %></td>
            </tr>
          <% end %>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<!-- !SECTION - End Table Anggaran -->
<%= render 'modal' %>
<hr>
<%= link_to 'Kembali', sasaran_path(@tahapan.rincian.sasaran) %>
