<% unless pohon.exists? %>
  <% if pohon.role == 'eselon_2' || pohon.role == 'eselon_3' || pohon.role == 'sub_sub_pohon_kota' || pohon.role == 'sub_pohon_kota' || pohon.role == 'pohon_kota' %>
    <div class="pohon-body">
      <% program_pohon(pohon.pohonable, pohon.role).each do |program| %>
        <table class="table table-bordered mb-3">
          <tr data-controller="table-tematik">
            <td class="text-start">Program</td>
            <td class="text-wrap text-start" colspan="2">
              <p>
              <%= program&.nama_program || '-' %>
              (<%= program&.kode_program || '-' %>)
              </p>

              <button type="button" class="mt-3 btn btn-sm btn-outline-primary" data-action="table-tematik#toggleDetail" data-table-tematik-show-param="false">Tampilkan Indikator</button>
            </td>
            <% indikator_prg = indikator_prg_rekin(@tahun, @opd, program) %>
            <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:indikator) %></td>
            <td class="d-none detail text-start" data-table-tematik-target="indikators"><%= indikator_prg.dig(:target) %> <%= indikator_prg.dig(:satuan) %></td>
          </tr>
        </table>
      <% end %>
      <table class="table table-bordered mb-3">
        <tr>
          <td class="text-start" style="width: 23%;">Pagu</td>
          <td class="rankir-2 text-start">Rp. <%= pagu_pohon(pohon.pohonable, pohon.role) %></td>
        </tr>
      </table>
    </div>
  <% end %>
  <div class="pohon-body">
    <% if pohon.rencana_kinerjas %>
      <div class="pohon-body">
        <% pohon.rencana_kinerjas.each.with_index(1) do |sasaran, no| %>
          <%= render 'laporans/tabel_sasaran_cascading',
                   sasaran: sasaran,
                   role: pohon.role,
                   no: no,
                   size: pohon.rencana_kinerjas.size %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
