<% presenter = PohonKotaPresenter.new(pohon) %>
<div class="pohon">
  <%= render partial: 'laporans/item_cascading_tematik_title', locals: { pohon: presenter } %>
  <% if pohon.role == 'sub_pohon_kota' %>
    <%= link_to pdf_cascading_kota_pohon_kinerja_index_path(tematik: @tematik, sub_tematik: pohon.id),
                class: "btn btn-tertiary w-100 mt-3",
                target: "blank" do %>
      <i class="fa fa-file-image"></i>
      <span>Cetak Pohon Kinerja</span>
    <% end %>
  <% end %>
  <%= render partial: 'laporans/item_cascading_tematik_body', locals: { pohon: presenter } %>
  <%= render partial: 'laporans/item_cascading_subkegiatan_tematik', locals: { pohon: presenter } %>
  <%= render partial: 'laporans/item_cascading_tematik_tombol', locals: { pohon: presenter } %>
  <%= render partial: 'laporans/item_cascading_tematik_foot', locals: { pohon: presenter } %>
</div>
