<% unless pohon.exists? %>
  <% if pohon.pelaksana.any? %>
    <div class="pohon-body">
      <table class="table table-bordered mb-3">
        <% if pohon.role == 'eselon_3' %>
          <%= render 'laporans/tactical_item', pohon: pohon %>
        <% end %>
        <% pohon.pelaksana.each.with_index(1) do |dibagikan, no| %>
          <tr>
            <td class="text-start">Pelaksana
              <% if pohon.pelaksana.size > 1 %>
                - <%= no %>
              <% end %>
            </td>
            <td class="text-wrap text-start" colspan="2"><%= dibagikan.dibagikan_ke %></td>
            <% if pohon.role == 'eselon_4' %>
              <%= render 'laporans/operational_item', pohon: pohon, dibagikan: dibagikan %>
            <% else %>
              <%= render 'laporans/sasarans_item', pohon: pohon, dibagikan: dibagikan %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
