<% unless pohon.exists? %>
  <% if pohon.role == 'eselon_2' || pohon.role == 'eselon_3' || pohon.role == 'sub_sub_pohon_kota' %>
    <div class="pohon-body">
      <table class="table table-bordered mb-3">
        <% program_pohon(pohon.pohonable, pohon.role).each do |program| %>
          <tr>
            <td class="text-start">Program</td>
            <td class="text-wrap text-start" colspan="2">
              <%= program&.nama_program || '-' %>
              (<%= program&.kode_program || '-' %>)
            </td>
          </tr>
          <tr>
            <% indikator_prg = indikator_prg_rekin(@tahun, @opd, program) %>
            <td class="text-wrap text-start">Indikator</td>
            <td class="text-wrap text-start" colspan="2"><%= indikator_prg.dig(:indikator) %></td>
          </tr>
          <tr>
            <td class="text-wrap text-start">Target / Satuan</td>
            <td class="text-wrap text-start" colspan="2"><%= indikator_prg.dig(:target) %> <%= indikator_prg.dig(:satuan) %></td>
          </tr>
        <% end %>
        <tr>
          <td class="text-start">Pagu</td>
          <td class="rankir-2 text-start" colspan="2">Rp. <%= pagu_pohon(pohon.pohonable, pohon.role) %></td>
        </tr>
      </table>
    </div>
  <% end %>
  <div class="pohon-body">
    <% if pohon.rencana_kinerjas %>
      <div class="pohon-body">
        <% pohon.rencana_kinerjas.each.with_index(1) do |sasaran, no| %>
          <%= render 'laporans/tabel_sasaran_cascading',
                   sasaran: sasaran,
                   role: pohon.role,
                   no: no,
                   size: pohon.rencana_kinerjas.size %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
