<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Rincian Belanja Tahun <%= @tahun %></h2>
      </div>
      <div class="col text-end">
        <span><%= @nama_opd %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" scope="col">No</th>
            <th class="border text-center" scope="col">Pemilik Rencana</th>
            <th class="border text-center" scope="col">Rencana Kinerja</th>
            <th class="border text-center" scope="col">Indikator</th>
            <th class="border text-center" scope="col">Target</th>
            <th class="border text-center" scope="col">Satuan</th>
            <th class="border text-center" scope="col" colspan="3">Anggaran</th>
            <th class="border text-center" scope="col">Action</th>
          </tr>
          <tr>
            <th class="border text-center" scope="col" colspan="6"></th>
            <th class="border text-center" scope="col">Rankir-1</th>
            <th class="border text-center" scope="col">Rankir-2</th>
            <th class="border text-center" scope="col">Penetapan</th>
            <th class="border text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |(subkegiatan, sasarans), i| %>
            <% pagu_rankir_1 = sasarans.map(&:total_anggaran_rankir_1).compact.sum %>
            <% pagu_penetapan = sasarans.map(&:total_anggaran_penetapan).compact.sum %>
            <tr>
              <td class="border text-wrap fw-bolder text-gray-900"><%= i %></td>
              <td class="border text-wrap fw-bolder text-gray-900" colspan="2">Subkegiatan: <%= subkegiatan&.nama_subkegiatan || 'Belum terisi' %></td>
              <%= indikator_sub(subkegiatan, @tahun, @kode_opd) %>
              <td class='border rankir-1'>Rp. <%= number_with_delimiter(pagu_rankir_1) %></td>
              <%= pagu_sub(sasarans) %>
              <td class='border penetapan'>Rp. <%= number_with_delimiter(pagu_penetapan) %></td>
              <td class="border">
                <% if subkegiatan %>
                  <div class="d-grid gap-2">
                    <%= link_to show_subkegiatan_rincian_belanja_path(subkegiatan), target: "_blank", rel: "nofollow",
                    class: "btn btn-sm btn-info" do %>
                      <i class="fas fa-book-open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Preview KaK"></i>
                      Tampilkan
                    <% end %>
                    <%= link_to pdf_rka_laporan_path(subkegiatan, format: :pdf),
                     class: "btn btn-sm btn-secondary" do %>
                      <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak Rincian Belanja"></span>
                      Cetak Rincian Belanja
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
            <% sasarans.each.with_index(1) do |sasaran, index| %>
              <tr>
                <td class="border" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= "#{i}.#{index}" %></td>
                <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.nama_pemilik %></td>
                <td class="border text-wrap" rowspan="<%= rowspan_sasaran(sasaran) %>"><%= sasaran.sasaran_kinerja %></td>
                <%= indikator_sasaran(sasaran) %>
                <td class="border rankir-1" rowspan="<%= rowspan_sasaran(sasaran) %>">Rp. <%= number_with_delimiter(sasaran.total_anggaran_rankir_1) %></td>
                <td class="border rankir-2" rowspan="<%= rowspan_sasaran(sasaran) %>">Rp. <%= number_with_delimiter(sasaran.total_anggaran) %></td>
                <td class="border penetapan" rowspan="<%= rowspan_sasaran(sasaran) %>">Rp. <%= number_with_delimiter(sasaran.total_anggaran_penetapan) %></td>
                <td class="border" rowspan="<%= rowspan_sasaran(sasaran) %>">
                  <div class="row justify-content-center w-100">
                    <div class="col">
                    </div>
                  </div>
                </td>
              </tr>
              <% row_indikator_sasaran(sasaran).each do |indikator| %>
                <%= indikator %>
              <% end %>
              <% sasaran.tahapans.each.with_index(1) do |tahapan, no_tah| %>
                <tr>
                  <td class="border text-wrap" colspan="6" >Renaksi <%= no_tah %>: <%= tahapan.tahapan_kerja %></td>
                  <td class="border rankir-1">Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan_rankir_1) %></td>
                  <td class="border rankir-2">Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan) %></td>
                  <td class="border penetapan">Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan_penetapan) %></td>
                  <td class="border"></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
