<div class="card border-0 shadow" id="user_filter">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Rincian Belanja Tahun <%= @tahun %></h2>
      </div>
      <div class="col text-end">
        <span><%= @nama_opd %></span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-items-center table-bordered">
        <thead class="thead-light">
          <tr>
            <th class="border text-center" scope="col">No</th>
            <th class="border text-center" scope="col">Pemilik Rencana</th>
            <th class="border text-center" scope="col">Rencana Kinerja</th>
            <th class="border text-center" scope="col">Indikator</th>
            <th class="border text-center" scope="col">Target</th>
            <th class="border text-center" scope="col">Satuan</th>
            <th class="border text-center" scope="col">Anggaran</th>
            <th class="border text-center" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @program_kegiatans.each.with_index(1) do |(subkegiatan, sasarans), i| %>
            <% pagu = sasarans.map(&:total_anggaran).compact.sum %>
            <% indikator_sub = subkegiatan&.indikator_subkegiatan_tahun(@tahun, @kode_opd) %>
            <tr>
              <td class="border text-wrap fw-bolder text-gray-900"><%= i %></td>
              <td class="border text-wrap fw-bolder text-gray-900" colspan="2">Subkegiatan: <%= subkegiatan&.nama_subkegiatan || 'Belum terisi' %></td>
              <td class="border text-wrap"><%= indikator_sub&.dig(:indikator) %></td>
              <td class="border text-wrap"><%= indikator_sub&.dig(:target) %></td>
              <td class="border"><%= indikator_sub&.dig(:satuan) %></td>
              <td class="border">Rp. <%= number_with_delimiter(pagu) %></td>
              <td class="border">
                <% if subkegiatan %>
                  <div class="d-grid gap-2">
                    <%= link_to "/pdf_rka/#{subkegiatan.id}/#{@tahun}.pdf",
                     class: "btn btn-sm btn-secondary" do %>
                      <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak Rincian Belanja"></span>
                      Cetak Rincian Belanja
                    <% end %>
                  </div>
                <% end %>
              </td>
            </tr>
            <% sasarans.each.with_index(1) do |sasaran, index| %>
              <% indikator = sasaran.indikator_sasarans.first %>
              <% rowspan = sasaran.indikator_sasarans.count.zero? ? 1 : sasaran.indikator_sasarans.count  %>
              <tr>
                <td class="border" rowspan="<%= rowspan  %>"><%= "#{i}.#{index}" %></td>
                <td class="border text-wrap" rowspan="<%= rowspan  %>"><%= sasaran.nama_pemilik %></td>
                <td class="border text-wrap" rowspan="<%= rowspan  %>"><%= sasaran.sasaran_kinerja %></td>
                <td class="border text-wrap"><%= indikator&.indikator_kinerja %></td>
                <td class="border text-wrap"><%= indikator&.target %></td>
                <td class="border text-wrap"><%= indikator&.satuan %></td>
                <td class="border" rowspan="<%= rowspan  %>">Rp. <%= number_with_delimiter(sasaran.total_anggaran) %></td>
                <td class="border" rowspan="<%= rowspan  %>">
                  <div class="row justify-content-center w-100">
                    <div class="col">
                    </div>
                  </div>
                </td>
              </tr>
              <% sasaran.indikator_sasarans.drop(1).each do |indikator_s| %>
                <tr>
                  <td class="border text-wrap"><%= indikator_s.indikator_kinerja %></td>
                  <td class="border text-wrap"><%= indikator_s.target %></td>
                  <td class="border text-wrap"><%= indikator_s.satuan %></td>
                </tr>
              <% end %>
              <% sasaran.tahapans.each.with_index(1) do |tahapan, no_tah| %>
                <tr>
                  <td class="border text-wrap" colspan="6" >Renaksi <%= no_tah %>: <%= tahapan.tahapan_kerja %></td>
                  <td class="border">Rp. <%= number_with_delimiter(tahapan.anggaran_tahapan) %></td>
                  <td class="border"></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
