<% bawah = childs(pohon) %>
<% programs = program_pokins(bawah) %>
<% programs.each.with_index(1) do |program, i| %>
  <tr>
    <td class="text-start">Program
      <% if programs.size > 1 %>
        - <%= i %>
      <% end %>
    </td>
    <td class="text-wrap text-start">
        <%= program&.nama_program || '-' %>
        (<%= program&.kode_program || '-' %>)
    </td>
  </tr>
  <tr>
    <td class="text-start">Pagu</td>
    <td class="text-wrap text-start">Rp. <%=  number_with_delimiter(pagu_program_pokins(bawah, program)) %></td>
  </tr>
  <tr>
    <% indikator_prg = indikator_prg_rekin(@tahun, @opd, program) %>
    <td class="text-wrap text-start">Indikator</td>
    <td class="text-wrap text-start" colspan="2"><%= indikator_prg.dig(:indikator) %></td>
  </tr>
  <tr>
    <td class="text-wrap text-start">Target / Satuan</td>
    <td class="text-wrap text-start" colspan="2"><%= indikator_prg.dig(:target) %> <%= indikator_prg.dig(:satuan) %></td>
  </tr>
<% end %>
