<%= content_for :html_title, "Laporan Indikator SPM" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item" aria-current="page">Indikator</li>
  <li class="breadcrumb-item active" aria-current="page">SPM</li>
<% end %>
<% content_for :view_utama do %>
  <%= render 'shared/card_layout', title: "Laporan Indikator SPM #{@nama_opd} - #{@tahun}" do %>
    <nav class="mb-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-outcome-tab" data-bs-toggle="tab" data-bs-target="#outcome-spm" type="button" role="tab" aria-controls="outcome-spm" aria-selected="true">Outcome</button>
        <button class="nav-link" id="nav-output-tab" data-bs-toggle="tab" data-bs-target="#output-spm" type="button" role="tab" aria-controls="output-spm" aria-selected="false">Output</button>
      </div>
    </nav>
    <div class="table-responsive tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="outcome-spm" role="tabpanel" aria-labelledby="outcome-spm" tabindex="0">
        <table class="table align-items-center counter">
          <%= render 'indikators/header_table_indikator' %>
          <tbody>
            <%= render partial: 'indikators/indikator', collection: @spm_outcome, as: :indikator %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="output-spm" role="tabpanel" aria-labelledby="output-spm" tabindex="1">
        <table class="table align-items-center counter">
          <%= render 'indikators/header_table_indikator' %>
          <tbody>
            <%= render partial: 'indikators/indikator', collection: @spm_output, as: :indikator %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
