<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item" aria-current="page">Laporan</li>
        <li class="breadcrumb-item active" aria-current="page">Laporan KAK</li>
      </ol>
    </nav>
    <% if cookies[:tahun] && cookies[:opd] %>
      <% if current_user.has_role?(:admin) || current_user.has_role?(:reviewer) %>
        <div class="card border-0 shadow" id="laporan-kak-admin"
             data-controller="page-ajax"
             data-page-ajax-opd-value="<%= cookies[:opd] %>"
             data-page-ajax-url-value="<%= laporan_kak_admin_laporans_path %>"
             data-page-ajax-tahun-value="<%= cookies[:tahun] %>" >
          <div data-page-ajax-target="results">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="fs-5 fw-bold mb-0">Laporan KAK</h2>
                </div>
              </div>
            </div>
            <div class="loader text-center">
              <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <p>memuat data..</p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card border-0 shadow" id="user_filter">
          <%= render 'laporan_kak_row_user', program_kegiatans: @program_kegiatans, tahun: cookies[:tahun] %>
        </div>
      <% end %>
    <% else %>
      <div class="card border-0 shadow" id="user_filter">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="fs-5 fw-bold mb-0">Laporan KAK</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="alert alert-info">Pilih Tahun dan OPD</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
