<%= content_for :html_title, "Rekapitulasi Rencana Aksi OPD - Perintah Walikota" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item active" aria-current="page">Rekapitulasi Rencana Aksi OPD - Perintah Walikota</li>
<% end %>
<% content_for :view_utama do %>
  <%= content_tag :div,
                  class: 'd-grid gap-3',
                  data: {
                    controller: 'page-ajax',
                    page_ajax_reqtype_value: 'GET',
                    page_ajax_url_value: filter_rekapitulasi_rencana_aksi_opds_path(tahun: @tahun, opd: @kode_opd, jenis_renaksi: 'perintah-walikota')
                  }  do %>
    <div class="card border-0 shadow">
      <div class="card-header">
        <h2 class="fs-5 fw-bold mb-0">Filter</h2>
        <hr />
        <div class="filter-form row w-100">
          <%= form_with url: filter_rekapitulasi_rencana_aksi_opds_path,
                        local: false,
                        method: :get,
                        data: {
                          controller: 'filter-render',
                          filter_render_target_id_value: 'filter-renaksi-results',
                          filter_render_text_value: 'memuat data...',
                          filter_render_field_disabled_value: 'false',
                          action: 'filter-render#loading
                                   ajax:beforeSend->filter-render#toggleDisableField
                                   ajax:success->filter-render#append
                                   ajax:complete->filter-render#toggleDisableField'
                        } do |form| %>
            <div class="col">
              <%= form.hidden_field :jenis_renaksi, value: 'perintah-walikota' %>
              <%= form.label :opd, class: 'form-label' %>
              <%= form.select :opd, [],
               { include_blank: true },
               data: {
                 placeholder: 'Opd',
                 controller: 'dropdown',
                 dropdown_jenis_value: 'extra',
                 dropdown_url_value: '/opds/filter_selected.json',
                 dropdown_selected_value: @kode_opd,
                 dropdown_scope_value: 'all'
               }  %>
            </div>
            <div class="col">
              <%= form.label :tahun, class: 'form-label' %>
              <%= form.select :tahun, [],
               { include_blank: true },
               data: {
                 placeholder: 'Tahun',
                 controller: 'dropdown',
                 dropdown_jenis_value: 'extra',
                 dropdown_url_value: '/tahuns.json',
                 dropdown_selected_value: @tahun
               }  %>
            </div>
            <div class="col-auto mt-4">
              <%= button_tag class: "btn btn-primary w-100",
                             data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>  Mencari..." } do %>
                <span>Filter</span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card" data-page-ajax-target="results" id="filter-renaksi-results">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h5>Rekapitulasi Rencana Aksi OPD Perintah Walikota</h5>
          </div>
        </div>
      </div>
      <%= render(LoaderComponent.new())%>
    </div>
  <% end %>
<% end %>
