<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Laporan Tim Kerja <%= @opd.nama_opd %> - Tahun <%= @tahun %></h2>
      </div>
      <div class="col-auto buat-cetak-nanti">
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if @tim_kerja.any? %>
      <div class="accordion accordion-flush" id="accordionTimKerja">
        <% @tim_kerja.each.with_index(1) do |tim, no| %>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target='<%= "#collapse-#{no}" %>' aria-expanded="true" aria-controls='<%= "#collapse-#{no}" %>'>
                Tim Kerja - <%= tim[:nama_tim] %>
              </button>
            </h2>
            <div id='<%= "collapse-#{no}" %>' class="accordion-collapse collapse">
              <div class="accordion-body">
                <div class="cetak mb-2">
                  <%= link_to tim_kerja_pdf_laporan_path(tim[:id_tim], format: :pdf), class:"btn btn-outline-danger" do %>
                    <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak Excel Ranwal Renja"></span>
                    Unduh PDF
                  <% end %>
                </div>
                <div class="card">
                  <div class="card-body dasar-hukum-tim-kerja">
                    <table class="table table-bordered caption-top">
                      <caption>
                        Dasar Hukum
                      </caption>
                      <tbody>
                        <% tim[:dasar_hukum].each.with_index(1) do |dasar_hukum, no| %>
                          <tr>
                            <td width="5%"><%= no %></td>
                            <td><%= dasar_hukum %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                  <div class="card-body pelaksana-tim-kerja">
                    <table class="table table-bordered caption-top">
                      <caption>
                        Susunan Tim Kerja
                      </caption>
                      <tbody>
                        <% tim[:susunan_tim].each do |role, susunans| %>
                          <tr>
                            <th width="15%" rowspan="<%= susunans.size + 1 %>"><%= role[:role] %></th>
                          </tr>
                          <% susunans.each.with_index(1) do |susunan, urut| %>
                            <tr>
                              <td class="<%= susunan[:sasaran_terisi] ? 'text-success' : 'text-danger' %>">
                                <%= urut %> - <%= susunan[:pelaksana] %>
                              </td>
                            </tr>
                          <% end %>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                  <div class="card-body rincian-tugas-tim-kerja">
                    <table class="table table-bordered caption-top">
                      <caption>
                        Rincian Tugas
                      </caption>
                      <tbody>
                        <% tim[:rincian_tugas].each.with_index(1) do |tugas, no| %>
                          <tr>
                            <td width="5%"><%= no %></td>
                            <td><%= tugas %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="alert alert-warning">
        <i class="fas fa-exclamation-triangle me-2"></i>
        Tim Kerja belum disusun
      </p>
      <p class="alert alert-info">
        Susun Tim Kerja pada menu Perencanaan OPD / Pohon Cascading
      </p>
    <% end %>
  </div>
</div>
