<div class="card border-0 shadow">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="fs-5 fw-bold mb-0">Laporan Tim Kerja <%= @opd.nama_opd %> - Tahun <%= @tahun %></h2>
      </div>
      <div class="col-auto buat-cetak-nanti">
      </div>
    </div>
  </div>
  <div class="card-body">
    <% if @tim_kerja.any? %>
      <% @tim_kerja.each do |tim| %>
        <div class="tim-kerja-card">
          <div class="nama-tim-kerja">
            <h5 class="my-3">Tim Kerja - <%= tim[:nama_tim] %></h5>
          </div>
          <hr />

          <div class="dasar-hukum-tim-kerja">
            <caption>
              Dasar Hukum
            </caption>
            <table class="table table-bordered mb-3">
              <tbody>
                <% tim[:dasar_hukum].each do |dasar_hukum| %>
                  <tr>
                    <td><%= dasar_hukum %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <hr />

          <div class="pelaksana-tim-kerja">
            <caption>
              Susunan Tim Kerja
            </caption>
            <table class="table table-bordered mb-3">
              <tbody>
                <% tim[:susunan_tim].each do |role, susunans| %>
                  <tr>
                    <th width="15%" rowspan="<%= susunans.size + 1 %>"><%= role[:role] %></th>
                  </tr>
                  <% susunans.each do |susunan| %>
                    <tr>
                      <td class="<%= susunan[:sasaran_terisi] ? 'text-success' : 'text-danger' %>">
                        <%= susunan[:pelaksana] %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <hr />

          <div class="rincian-tugas-tim-kerja">
            <caption>
              Rincian Tugas
            </caption>
            <table class="table table-bordered mb-3">
              <tbody>
                <% tim[:rincian_tugas].each do |tugas| %>
                  <tr>
                    <td><%= tugas %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="alert alert-warning">
        <i class="fas fa-exclamation-triangle me-2"></i>
        Tim Kerja belum disusun
      </p>
      <p class="alert alert-info">
        Susun Tim Kerja pada menu Perencanaan OPD / Pohon Cascading
      </p>
    <% end %>
  </div>
</div>
