<p id="notice"><%= notice %></p>

<p>
  <strong>Volume:</strong>
  <%= @koefisien.volume %>
</p>

<p>
  <strong>Satuan volume:</strong>
  <%= @koefisien.satuan_volume %>
</p>

<%= link_to 'Edit', edit_koefisien_path(@koefisien) %> |
<%= link_to 'Back', koefisiens_path %>
