<p id="notice"><%= notice %></p>

<p>
  <strong>Volume:</strong>
  <%= @koefisien.volume %>
</p>

<p>
  <strong>Satuan volume:</strong>
  <%= @koefisien.satuan_volume %>
</p>

<%= link_to 'Edit', edit_koefisien_path(@koefisien) %> |
<%= link_to 'Back', rincian_tahapan_anggarans_path(@koefisien.perhitungan.anggaran.tahapan.rincian, @koefisien.perhitungan.anggaran.tahapan) %>
