<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item">OPD</li>
        <li class="breadcrumb-item active" aria-current="page"><%= link_to "Strategi OPD", strategi_opds_path %></li>
      </ol>
    </nav>
    <div class="card border-0 shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Strategi OPD <%= @tahun %></h2>
          </div>
          <%= render "shared/get_tahun_filter", action_url: strategi_opds_path %>
        </div>
      </div>
      <div class="card-body">
        <%= render 'strategis/strategi_eselon2' %>
      </div>
      <div class="card-body">
        <%= render 'strategis/strategi_eselon3' %>
      </div>
      <div class="card-body">
        <%= render 'strategis/strategi_eselon4' %>
      </div>
      <div class="card-body">
        <%= render 'strategis/strategi_staff' %>
      </div>
    </div>
  </div>
</div>
