<%= form_with(model: gender,
  local: false,
  data: { controller: 'form-ajax',
          action: 'ajax:success->form-ajax#successWithoutModal ajax:error->form-ajax#errorWithoutModal',
  } ) do |form| %>
    <% if gender.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(gender.errors.count, "error") %> prohibited this gender from being saved:</h2>

        <ul>
          <% gender.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="header my-3">
      <%= form.hidden_field :program_kegiatan_id,class: 'form-control', readonly: true, value: @program_kegiatan.id %>
      <%= form.hidden_field :sasaran_id,class: 'form-control', readonly: true, value: sasaran.id %>
      <div class="field">
        <%= form.label :sasaran_subkegiatan, class: 'form-label' %>
        <%= form.text_field :sasaran_kinerja,class: 'form-control', disabled: true, value: sasaran.sasaran_kinerja %>
      </div>
      <div class="field">
        <%= form.label :tahun, class: 'form-label' %>
        <%= form.text_field :tahun,class: 'form-control', readonly: true, value: sasaran.tahun %>
      </div>
      <div class="field">
        <%= form.label :penerima_manfaat, class: 'form-label' %>
        <%= form.text_field :penerima_manfaat_sasaran, class: 'form-control', disabled: true, value: sasaran.penerima_manfaat %>
      </div>
      <div class="field">
        <%= form.label :data_terpilah, class: 'form-label' %>
        <%= form.text_field :data_terpilah_sasaran, class: 'form-control', disabled: true, value: sasaran.rincian.data_terpilah %>
      </div>
      <% sasaran.permasalahans.each do |permasalahan| %>
      <div class="field">
        <%= form.label :permasalahan, class: 'form-label' %>
        <%= form.text_field :permasalahan, class: 'form-control', disabled: true, value: permasalahan.permasalahan %>
      </div>
    <% end %>

    <%= render 'genders/akses_kontrol_manfaat_gender', form: form, sasaran: sasaran, gender: gender %>

      <div class="field">
        <%= form.label :reformulasi_tujuan, class: 'form-label' %>
        <%= form.text_area :reformulasi_tujuan, class: 'form-control', rows: 3, value: sasaran.sasaran_kinerja %>
      </div>
    </div>

    <div data-gender-form-target="data_baseline" data-controller="gender-form" data-gender-form-sasaran-value="<%= sasaran.id %>">
      <%= render 'genders/baseline', form: form, gender: gender, form_count: form_count  %>
    </div>

    <div data-gender-form-target="rencana_aksi" data-controller="gender-form" data-gender-form-sasaran-value="<%= sasaran.id %>">
    </div>


    <div data-gender-form-target="indikator_data" data-controller="gender-form" data-gender-form-sasaran-value="<%= sasaran.id %>">
      <%= render 'genders/indikator_gender', form: form %>
    </div>

    <div class="actions">
      <%= form.submit "Simpan Gender Analysis Pathway" %>
    </div>

  <% end %>
