<%= form_with(model: gender) do |form| %>
  <% if gender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gender.errors.count, "error") %> prohibited this gender from being saved:</h2>

      <ul>
        <% gender.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="gender_analysis" data-controller="gender-form" data-action='change-select@document->gender-form#find_data'>
    <div class="field">
      <%= render 'templates/subkegiatan_card', form: form, opd: opd %>
    </div>
    <div class="field">
      <%= render 'templates/sasarans_card', form: form %>
    </div>

    <div class="card border-2 shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="row align-items-center">
            <div class="col">
              <h5>Data Pembuka Wawasan</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.label :sasaran_subkegiatan, class: 'form-label' %>
          <%= form.text_field :sasaran_subkegiatan, class: 'form-control', data: { gender_form_target: "sasaran" } %>
        </div>
        <div class="field">
          <%= form.label :penerima_manfaat, class: 'form-label' %>
          <%= form.text_field :penerima_manfaat, class: 'form-control', data: { gender_form_target: "penerima_manfaat" } %>
        </div>
        <div class="field">
          <%= form.label :data_terpilah, class: 'form-label' %>
          <%= form.text_field :data_terpilah, class: 'form-control', data: { gender_form_target: "data_terpilah" } %>
        </div>
      </div>
    </div>


    <div class="card border-2 shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="row align-items-center">
            <div class="col">
              <h5>Isu Gender</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card border-2 shadow mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Faktor Kesenjangan </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="field">
              <%= form.label :akses, class: 'form-label' %>
              <%= form.text_field :akses, class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :partisipasi, class: 'form-label' %>
              <%= form.text_field :partisipasi, class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :kontrol, class: 'form-label' %>
              <%= form.text_field :kontrol, class: 'form-control' %>
            </div>
            <div class="field">
              <%= form.label :manfaat, class: 'form-label' %>
              <%= form.text_field :manfaat, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :penyebab_internal, class: 'form-label' %>
          <%= form.text_field :penyebab_internal, class: 'form-control', data: { gender_form_target: 'penyebab_internal' }  %>
        </div>
        <div class="field">
          <%= form.label :penyebab_external, class: 'form-label' %>
          <%= form.text_field :penyebab_external, class: 'form-control', data: { gender_form_target: 'penyebab_external' } %>
        </div>
      </div>
    </div>

    <div class="card border-2 shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="row align-items-center">
            <div class="col">
              <h5>Reformulasi Tujuan</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.label :reformulasi_tujuan, class: 'form-label' %>
          <%= form.text_area :reformulasi_tujuan, class: 'form-control', rows: 8, data: { gender_form_target: 'sasaran' } %>
        </div>
      </div>
    </div>
 <%# TODO: make ajax call for rencana_aksi %>
    <%= render 'templates/rencana_aksi_card', sasaran: Sasaran.find(284) %>

    <div class="card border-2 shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="row align-items-center">
            <div class="col">
              <h5>Baseline</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.label :sasaran_subkegiatan, class: 'form-label' %>
          <%= form.text_field :sasaran_subkegiatan, class: 'form-control', data: { gender_form_target: "sasaran" } %>
        </div>
        <div class="field">
          <%= form.label :penerima_manfaat, class: 'form-label' %>
          <%= form.text_field :penerima_manfaat, class: 'form-control', data: { gender_form_target: "penerima_manfaat" } %>
        </div>
        <div class="field">
          <%= form.label :data_terpilah, class: 'form-label' %>
          <%= form.text_field :data_terpilah, class: 'form-control', data: { gender_form_target: "data_terpilah" }  %>
        </div>
      </div>
    </div>
    <%# TODO: indikator sasarans %>
    <div class="card border-2 shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="row align-items-center">
            <div class="col">
              <h5>Indikator</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.label :indikator, class: 'form-label' %>
          <%= form.text_field :indikator, class: 'form-control' %>
        </div>
        <div class="field">
          <%= form.label :target, class: 'form-label' %>
          <%= form.text_field :target, class: 'form-control' %>
        </div>
        <div class="field">
          <%= form.label :satuan, class: 'form-label' %>
          <%= form.text_field :satuan, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Simpan Gender Analysis Pathway" %>
  </div>
<% end %>
