<div class="card-body">
  <div class="row mb-3">
    <div class="col">
    </div>
    <div class="col-auto text-end">
      <%= link_to new_gender_path,
          class: 'btn btn-sm btn-primary' do %>
        <i class="fas fa-plus me-2"></i>
        <span>GAP Baru</span>
      <% end %>
    </div>
  </div>
  <div class="table-responsive mb-5">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="border" scope="col">No</th>
          <th class="border text-center">Rencana Kinerja</th>
          <th class="border text-center">Indikator</th>
          <th class="border text-center">Target</th>
          <th class="border text-center">Satuan</th>
          <th class="border text-center">Anggaran Gender</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @genders.each do |subkegiatan, sasarans| %>
          <% pagu = sasarans.map(&:anggaran_genders).compact.sum %>
          <tr>
            <td class="border text-wrap fw-bolder text-gray-900" scope="row" colspan="2">Subkegiatan: <%= subkegiatan&.nama_subkegiatan || 'Belum terisi' %></td>
            <%= indikator_sub(subkegiatan, @tahun, @kode_opd) %>
            <td class="border" scope="row">Rp. <%= number_with_delimiter(pagu) %></td>
            <td class="border">
              <div class="row justify-content-center w-100">
              </div>
            </td>
          </tr>
          <% sasarans.each.with_index(1) do |sasaran, i| %>
            <tr>
              <td class="border" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= i %></td>
              <td class="border text-wrap" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>"><%= sasaran.sasaran_kinerja %></td>
              <td class="p-0 m-0" colspan="3"></td>
              <td class="border" scope="row" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>">Rp. <%= number_with_delimiter(sasaran.anggaran_genders) %></td>
              <td class="border" rowspan="<%= sasaran.indikator_sasarans.count + 1 %>">
              </td>
            </tr>
            <% sasaran.indikator_sasarans.each do |indikator| %>
              <tr>
                <td class="border text-wrap"><%= indikator.indikator_kinerja %></td>
                <td class="border"><%= indikator.target %></td>
                <td class="border"><%= indikator.satuan %></td>
              </tr>
            <% end %>
            <% sasaran.genders.each do |gender| %>
              <tr>
                <th></th>
                <th>Penerima Manfaat</th>
                <td class="text-wrap" colspan="4"><%= gender.penerima_manfaat.to_sentence %></td>
                <td rowspan="9">
                  <div class="row justify-content-center w-100">
                    <div class="col">
                      <%= link_to pdf_gbs_gender_path(gender,tahun: @tahun,format: :pdf), class:"btn btn-sm btn-primary m-3 w-100" do %>
                        <i class="far fa-file-pdf"></i>
                        <span>Cetak GBS</span>
                      <% end %>
                    </div>
                    <div class="col">
                      <%= link_to pdf_gap_gender_path(gender,tahun: @tahun,format: :pdf), class:"btn btn-sm btn-secondary m-3 w-100" do %>
                        <i class="far fa-file-pdf"></i>
                        <span>Cetak GAP</span>
                      <% end %>
                    </div>
                    <div class="col">
                      <%= link_to edit_gender_path(gender),
                       class: 'm-3 btn btn-sm btn-outline-info w-100' do %>
                        Edit
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th></th>
                <th>Data Terpilah</th>
                <td class="text-wrap" colspan="4"><%= gender.data_terpilah.to_sentence %></td>
              </tr>
              <tr>
                <th rowspan="5"></th>
                <th rowspan="5">Faktor Kesenjangan</th>
              </tr>
              <tr class="faktor-kesenjangan">
                <td>Akses</td>
                <td class="text-wrap" colspan="3"><%= gender.akses %></td>
              </tr>
              <tr class="faktor-kesenjangan">
                <td>Partisipasi</td>
                <td class="text-wrap" colspan="3"><%= gender.partisipasi %></td>
              </tr>
              <tr class="faktor-kesenjangan">
                <td>Kontrol</td>
                <td class="text-wrap" colspan="3"><%= gender.kontrol %></td>
              </tr>
              <tr class="faktor-kesenjangan">
                <td>Manfaat</td>
                <td class="text-wrap" colspan="3"><%= gender.manfaat %></td>
              </tr>
              <tr>
                <th></th>
                <th>Penyebab Internal</th>
                <td class="text-wrap" colspan="4"><%= gender.penyebab_internal.to_sentence %></td>
              </tr>
              <tr>
                <th></th>
                <th>Penyebab External</th>
                <td class="text-wrap" colspan="4"><%= gender.penyebab_external.to_sentence %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
