<table class="table table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>SubKegiatan</th>
      <th>Sasaran SubKegiatan</th>
      <th>Penerima Manfaat</th>
      <th>Data Terpilah</th>

      <th>Faktor Kesenjangan</th>
      <th>Penyebab Internal</th>
      <th>Penyebab External</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% @genders.each.with_index(1) do |gender, index| %>
      <tr>
        <td class=" "><%= index %></td>
        <td class="text-wrap"><%= gender.program_kegiatan.nama_subkegiatan %></td>
        <td class="text-wrap"><%= gender.sasaran.sasaran_kinerja %></td>
        <td class=" "><%= gender.penerima_manfaat %></td>
        <td class=" "><%= gender.data_terpilah %></td>
        <td class="p-0"><%= render 'table_penerima_manfaat', gender: gender %></td>
        <td><%= gender.penyebab_internal_gender %></td>
        <td><%= gender.penyebab_external_gender %></td>
        <td class=""><%= link_to "/genders/pdf_gap_gender/#{gender.id}/2022.pdf" do %>
          <span class="far fa-file-pdf" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cetak GAB"></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
