<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mb-3">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">GAP Gender</li>
      </ol>
    </nav>
    <div class="card border-0 shadow" id="gap_gender_filter">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Laporan Gender</h2>
          </div>
          <div class="col text-end">
            <span><%= current_user.nama %></span>
            |
            <span><%= current_user.nik %></span>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive mb-5">
          <%= render 'table_gender_analysis', genders: @genders %>
        </div>
        <%= link_to "Buat Analisis Gender",new_gender_path, class: "btn btn-info w-100" %>
      </div>
    </div>
  </div>
</div>
