<%= content_for :html_title, "Gender Analysis Pathway (GAP)" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Perencanaan</li>
  <li class="breadcrumb-item active" aria-current="page">Gender</li>
<% end %>
<% content_for :view_utama do %>
  <div class="card border-0 shadow">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="fs-5 fw-bold mb-0">Gender Analysis Pathway (GAP)  <%= @tahun %></h2>
        </div>
        <div class="col text-end">
          <span><%= current_user.nama %></span>
          |
          <span><%= current_user.nik %></span>
        </div>
      </div>
    </div>
    <%= render 'table_gender_analysis' %>
  </div>
<% end %>
