<%= content_for :html_title, "Laporan GAP" %>
<%= content_for :navigation do %>
  <li class="breadcrumb-item" aria-current="page">Laporan</li>
  <li class="breadcrumb-item active" aria-current="page">GAP</li>
<% end %>
<% content_for :view_utama do %>
  <% if cookies[:tahun] && cookies[:opd] %>
    <div class="card border-0 shadow" id="genders">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h2 class="fs-5 fw-bold mb-0">Laporan GAP</h2>
          </div>
          <div class="col text-end">
            <div class="row">

              <p><%= @nama_opd %></p>
              <p><%= @tahun %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="genders" class="table-responsive">
          <%= render 'genders/table_gender_admin' %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'shared/pilih_tahun_dan_opd' %>
  <% end %>
<% end %>
