<li class="nav-item">
  <%= active_link_to(root_path, wrap_tag: :li, wrap_class: 'nav-item', active: :exact, class: "nav-link") do %>
    <span class="sidebar-icon">
      <i class="fas fa-chart-pie icon icon-xs me-2"></i>
    </span>
    <span class="sidebar-text">Dashboard</span>
  <% end %>
</li>
<%= render 'shared/item_data_master' %>
<%= render 'shared/item_perencanaan_kota' %>
<%= render 'shared/item_perencanaan_opd' %>
<%= render 'shared/item_laporan' %>
