<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <%= link_to(root_path, class: "nav-link d-flex align-items-center") do %>
          <span class="mt-1 ms-1 sidebar-text">Dashboard KaK</span>
        <% end %>
      </li>
      <li class="nav-item  <%= request.path == '/' ? "active" : "" %> ">
        <%= link_to(root_path, class: "nav-link") do %>
          <span class="sidebar-icon">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
              <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
            </svg>
          </span>
          <span class="sidebar-text">Dashboard</span>
        <% end %>
      </li>
      <li class="nav-item"><span class="nav-link d-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#submenu-app" aria-expanded="false"><span><span class="sidebar-icon"><svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg> </span>
            <span class="sidebar-text">Musrenbang Kota</span> </span><span class="link-arrow"><svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></span></span>
        <div class="multi-level collapse" role="list" id="submenu-app" aria-expanded="false" style="">
          <ul class="flex-column nav">
            <li class="nav-item <%= request.path.match(/\bmusrenbang/) ? "active" : "" %>" >
              <% path_musrenbang = (current_user.has_role? :admin) ? musrenbangs_path : "/asn_musrenbangs/#{current_user.nik}"  %>
              <%= link_to(path_musrenbang, class: "nav-link") do %>
                <span>
                  <span class="sidebar-text">Usulan Musrenbang</span>
                </span>
              <% end %>
            </li>
            <li class="nav-item <%= request.path.match(/\bmusrenbang/) ? "active" : "" %>" >
              <%= link_to(musrenbangs_path, class: "nav-link d-flex justify-content-between") do %>
                <span>
                  <span class="sidebar-text">Usulan Pokok Pikiran</span>
                </span>
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item <%= request.path.match(/\bsasaran/) ? "active" : "" %>">
        <%= link_to( user_sasarans_path(current_user.id), class: "nav-link d-flex justify-content-between") do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-bullseye icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Sasaran Kinerja</span>
          </span>
        <% end %>
      </li>
      <li class="nav-item <%= request.path.match(/\bprogram_kegiatan/) ? "active" : "" %>" >
        <%= link_to(program_kegiatans_path, class: "nav-link d-flex justify-content-between") do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-tasks icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Sub Kegiatan</span>
          </span>
        <% end %>
      </li>
      <li class="nav-item <%= request.path.match(/\bacuan_kerja/) ? "active" : "" %>" >
        <%= link_to(kaks_path, class: "nav-link d-flex justify-content-between") do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-tasks icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">KaK</span>
          </span>
        <% end %>
      </li>
      <li class="nav-item <%= request.path.match(/\bacuan_kerja/) ? "active" : "" %>" >
        <%= link_to(kaks_path, class: "nav-link d-flex justify-content-between") do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-tasks icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Laporan KaK</span>
          </span>
        <% end %>
      </li>
      <li class="nav-item <%= request.path.match(/\bacuan_kerja/) ? "active" : "" %>" >
        <%= link_to(kaks_path, class: "nav-link d-flex justify-content-between") do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-tasks icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Rekomendasi</span>
          </span>
        <% end %>
      </li>
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, {method: :delete, class: "nav-link d-flex justify-content-between"}  do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-sign-out-alt icon icon-xs me-2 text-danger"></i>
            </span>
            <span class="sidebar-text">Logout</span>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
