<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse mr-1" data-simplebar>
  <div class="sidebar-inner px-2 pt-3">
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item">
        <%= link_to(root_path, class: "nav-link d-flex align-items-center") do %>
          <span class="mt-1 ms-1 sidebar-text">Dashboard KaK</span>
        <% end %>
      </li>
      <li class="nav-item <%= request.path == '/' ? "active" : "" %> ">
        <%= link_to(root_path, class: "nav-link") do %>
          <span class="sidebar-icon">
            <i class="fas fa-chart-pie icon icon-xs me-2"></i>
          </span>
          <span class="sidebar-text">Dashboard</span>
        <% end %>
      </li>
      <% collapsed_item_usulan = collapse_class('(\binovasi|\basn_musrenbang|\bmusrenbang|\bpokpir|\bmandatori)') %>
      <% collapsed_item_usulan_user = collapse_class('(\busulan_inisiatif|\busulan_musrenbang|\busulan_pokpir|\busulan_mandatori)') %>
      <% collapsed_item_anggaran = collapse_class('(\banggaran_ssh|\banggaran_sbu|\banggaran_hspk|\brekening)') %>
      <% if current_user.has_role? :admin %>
        <hr>
        <p>Data Master</p>
        <li class="nav-item">
          <span class="nav-link d-flex justify-content-between align-items-center <%= collapsed_item_usulan[:menu] %>" data-bs-toggle="collapse" data-bs-target="#usulan-master" aria-expanded="<%= collapsed_item_usulan[:aria] %>">
            <span>
              <span class="sidebar-icon">
                <i class="fas fa-book-open icon icon-xs me-2"></i>
              </span>
              <span class="sidebar-text">Usulan</span>
            </span>
            <span class="link-arrow">
              <i class="fas fa-angle-right icon icon-sm"></i>
            </span>
          </span>
          <div class="multi-level <%= collapsed_item_usulan[:sub_menu] %>" role="list" id="usulan-master" aria-expanded="<%= collapsed_item_usulan[:aria] %>">
            <ul class="flex-column nav">
              <% usulan_items.each do |usulan| %>
                <li class="nav-item<%= navigation_class(usulan[:identifier]) %>" >
                  <%= link_to(usulan[:href], class: "nav-link") do %>
                    <span>
                      <span class="sidebar-text"><%= usulan[:title] %></span>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <span class="nav-link d-flex justify-content-between align-items-center <%= collapsed_item_anggaran[:menu] %>" data-bs-toggle="collapse" data-bs-target="#anggaran-master" aria-expanded="<%= collapsed_item_anggaran[:aria] %>">
            <span>
              <span class="sidebar-icon">
                <i class="fas fa-coins icon icon-xs me-2"></i>
              </span>
              <span class="sidebar-text">Anggaran</span>
            </span>
            <span class="link-arrow">
              <i class="fas fa-angle-right icon icon-sm"></i>
            </span>
          </span>
          <div class="multi-level <%= collapsed_item_anggaran[:sub_menu] %>" role="list" id="anggaran-master" aria-expanded="<%= collapsed_item_anggaran[:aria] %>">
            <ul class="flex-column nav">
              <% anggaran_items.each do |anggaran| %>
                <li class="nav-item<%= navigation_class(anggaran[:identifier]) %>" >
                  <%= link_to(anggaran[:href], class: "nav-link") do %>
                    <span>
                      <span class="sidebar-text"><%= anggaran[:title] %></span>
                    </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
        <% master_data_items.each do |master_item| %>
          <li class="nav-item<%= navigation_class(master_item[:identifier]) %>">
            <%= link_to( master_item[:href], class: "nav-link d-flex justify-content-between") do %>
              <span>
                <span class="sidebar-icon">
                  <i class="<%= master_item[:icon] %> icon icon-xs me-2"></i>
                </span>
                <span class="sidebar-text"><%= master_item[:title] %></span>
              </span>
            <% end %>
          </li>
        <% end %>
        <hr>
      <% end %>
      <%# usulan user %>
      <li class="nav-item">
        <span class="nav-link d-flex justify-content-between align-items-center <%= collapsed_item_usulan_user[:menu] %>" data-bs-toggle="collapse" data-bs-target="#usulan-user" aria-expanded="<%= collapsed_item_usulan_user[:aria] %>">
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-book-open icon icon-xs me-2"></i>
            </span>
            <span class="sidebar-text">Usulan</span>
          </span>
          <span class="link-arrow">
            <i class="fas fa-angle-right icon icon-sm"></i>
          </span>
        </span>
        <div class="multi-level <%= collapsed_item_usulan_user[:sub_menu] %>" role="list" id="usulan-user" aria-expanded="<%= collapsed_item_usulan_user[:aria] %>">
          <ul class="flex-column nav">
            <% usulan_users.each do |usulan_user| %>
              <li class="nav-item<%= navigation_class(usulan_user[:identifier]) %>" >
                <%= link_to(usulan_user[:href], class: "nav-link") do %>
                  <span>
                    <span class="sidebar-text"><%= usulan_user[:title] %></span>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% asn_sidebar_items.each do |item| %>
        <li class="nav-item<%= navigation_class(item[:identifier]) %>">
          <%= link_to( item[:href], class: "nav-link d-flex justify-content-between") do %>
            <span>
              <span class="sidebar-icon">
                <i class="<%= item[:icon] %> icon icon-xs me-2"></i>
              </span>
              <span class="sidebar-text"><%= item[:title] %></span>
            </span>
          <% end %>
        </li>
      <% end %>
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, {method: :delete, class: "nav-link d-flex justify-content-between"}  do %>
          <span>
            <span class="sidebar-icon">
              <i class="fas fa-sign-out-alt icon icon-xs me-2 text-danger"></i>
            </span>
            <span class="sidebar-text">Logout</span>
          </span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
