<% if current_user.has_any_role?(:eselon_2, :eselon_3, :eselon_4, :staff) %>
  <%= active_link_to(root_path, wrap_tag: :li, wrap_class: 'nav-item', active: :exact, class: "nav-link") do %>
    <span class="sidebar-icon">
      <i class="fas fa-chart-pie icon icon-xs me-2"></i>
    </span>
    <span class="sidebar-text">Dashboard</span>
  <% end %>
  <%= render partial: 'shared/sidebar_item', locals: { title: "Perencanaan", items: perencanaan_items, target: 'perencanaan-items' }, cached: true %>
  <%= render partial: 'shared/sidebar_item', locals: { title: "Laporan ASN", items: laporan_items , target: 'laporan-items' }, cached: true %>
<% end %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Review", items: reviewer_items , target: 'reviewer-items' }, cached: true %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Laporan Review", items: laporan_reviewer_items , target: 'laporan-reviewer-items' }, cached: true %>
<%= render partial: 'shared/sidebar_item', locals: { title: "Substansi Renstra", items: substansi_renstra_items , target: 'substansi-renstra-items' }, cached: true %>
