<li class="nav-item">
  <%= active_link_to(root_path, wrap_tag: :li, wrap_class: 'nav-item', active: :exact, class: "nav-link") do %>
    <span class="sidebar-icon">
      <i class="fas fa-chart-pie icon icon-xs me-2"></i>
    </span>
    <span class="sidebar-text">Dashboard</span>
  <% end %>
</li>
<li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
<li class="nav-item">
  <span class="sidebar-text">Data Master</span>
</li>
<li class="nav-item">
  <span class="nav-link d-flex justify-content-between align-items-center <%= collapsed_item_usulan[:menu] %>" data-bs-toggle="collapse">
    <span>
      <span class="sidebar-icon">
        <i class="fas fa-book-open icon icon-xs me-2"></i>
      </span>
      <span class="sidebar-text">Usulan</span>
    </span>
    <span class="link-arrow">
      <i class="fas fa-angle-right icon icon-sm"></i>
    </span>
  </span>
  <div class="multi-level <%= collapsed_item_usulan[:sub_menu] %>" role="list" id="usulan-master" aria-expanded="<%= collapsed_item_usulan[:aria] %>">
    <ul class="flex-column nav">
      <% usulan_items.each do |usulan| %>
        <li class="nav-item" >
          <%= active_link_to(usulan[:href], wrap_tag: :li, wrap_class: 'nav-item',class: "nav-link") do %>
            <span>
              <span class="sidebar-text"><%= usulan[:title] %></span>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</li>
<li class="nav-item">
  <span class="nav-link d-flex justify-content-between align-items-center <%= collapsed_item_anggaran[:menu] %>" data-bs-toggle="collapse" data-bs-target="#anggaran-master" aria-expanded="<%= collapsed_item_anggaran[:aria] %>">
    <span>
      <span class="sidebar-icon">
        <i class="fas fa-coins icon icon-xs me-2"></i>
      </span>
      <span class="sidebar-text">Anggaran</span>
    </span>
    <span class="link-arrow">
      <i class="fas fa-angle-right icon icon-sm"></i>
    </span>
  </span>
  <div class="multi-level <%= collapsed_item_anggaran[:sub_menu] %>" role="list" id="anggaran-master" aria-expanded="<%= collapsed_item_anggaran[:aria] %>">
    <ul class="flex-column nav">
      <% anggaran_items.each do |anggaran| %>
        <li class="nav-item" >
          <%= active_link_to(anggaran[:href], wrap_tag: :li, wrap_class: 'nav-item',class: "nav-link") do %>
            <span>
              <span class="sidebar-text"><%= anggaran[:title] %></span>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</li>
<li class="nav-item">
  <span class="nav-link d-flex justify-content-between align-items-center <%= collapsed_item_sipd_master[:menu] %>" data-bs-toggle="collapse" data-bs-target="#sipd-item-master" aria-expanded="<%= collapsed_item_sipd_master[:aria] %>">
    <span>
      <span class="sidebar-icon">
        <i class="fas fa-coins icon icon-xs me-2"></i>
      </span>
      <span class="sidebar-text">Master SIPD</span>
    </span>
    <span class="link-arrow">
      <i class="fas fa-angle-right icon icon-sm"></i>
    </span>
  </span>
  <div class="multi-level <%= collapsed_item_sipd_master[:sub_menu] %>" role="list" id="sipd-item-master" aria-expanded="<%= collapsed_item_sipd_master[:aria] %>">
    <ul class="flex-column nav">
      <% master_sipd_items.each do |sipd| %>
        <li class="nav-item" >
          <%= active_link_to(sipd[:href], wrap_tag: :li, wrap_class: 'nav-item',class: "nav-link") do %>
            <span>
              <span class="sidebar-text"><%= sipd[:title] %></span>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</li>
<% super_admin_items.each do |super_admin_item| %>
  <li class="nav-item">
    <%= active_link_to(super_admin_item[:href], wrap_tag: :li, wrap_class: 'nav-item',class: "nav-link d-flex justify-content-between") do %>
      <span>
        <span class="sidebar-icon">
          <i class="<%= super_admin_item[:icon] %> icon icon-xs me-2"></i>
        </span>
        <span class="sidebar-text"><%= super_admin_item[:title] %></span>
      </span>
    <% end %>
  </li>
<% end %>
