<!DOCTYPE html>
<html>
  <head>
    <title>PrototypeKak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
  <!-- edit top -->
  <%= render "layouts/navbar-top" %>

  <div class="container">

<%# user sign in checker %>
    <% unless user_signed_in? %>
      <%= link_to "Sign In", new_user_session_path %>
      <span> Or </span>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% else %>
      <%= link_to  "Profil #{current_user.email}", edit_user_registration_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <p class="notice mt-3"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

  </body>
</html>
