<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "E-Kak" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_pack_path("media/images/favicon/favicon.ico") %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-visit-control" content="reload">
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= yield :priority_blocking_js %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <% if user_signed_in? %>
      <!-- edit top -->
      <%= render "layouts/sidebar" %>
      <main class="content d-flex flex-column min-vh-100">
        <%= render 'layouts/navbar' %>
        <%# !ANCHOR WARNING %>
        <div class="row p-2">
          <%= yield %>
        </div>
        <%# ANCHOR %>
        <!-- ANCHOR footer -->
      </main>
    <% else %>
      <%= yield :login %>
    <% end %>
    <%= any_login_here if Rails.env.to_s == 'development' && defined?(AnyLogin) %>
  </body>
  <div id="notice">
    <%= render 'shared/flash' %>
  </div>
</html>
