<!DOCTYPE html>
<html>
  <head>
    <title>PrototypeKak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>

  <% if user_signed_in? %>
    
  <!-- edit top -->
  <%= render "layouts/sidebar" %>

  <main class="content">
    <%= render 'layouts/navbar' %>
    
    <%# !ANCHOR WARNING %>
    <div class="py-4">
      <%= render 'layouts/dropdown_action' %>
    </div>

    <div class="row">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    <%# ANCHOR %>
  </main>
  <% else %>
    <%= yield :homepage %>
    <%= yield :login %>
  <% end %>

  </body>
</html>
