<!DOCTYPE html>
<html>
  <head>
    <title>PrototypeKak</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- TODO: Update with path and dynamic class active -->
    <div class="topnav">
      <a class="active" href="/lembagas">Lembaga</a>
      <a href="/opds">OPD</a>
      <a href="/program_kegiatans">Program Kegiatan</a>
      <a href="/users">User</a>
      <a href="/kaks">KAK</a>
    </div>
    <%= yield %>
  </body>
</html>
